<template>
  <div class="moduleContainer">
    <div class="moduleName">Deployed Applicants</div>
    <div class="moduleContent2" ref="rowDeter">
      <!-- HEADER TOOLS -->
      <div class="tabTools">

        <!-- CLEAR SELECTION -->
        <div class="tabToolsDiv">
          <button class="btn-edit" v-b-tooltip.hover title="Clear Selection" v-show="exportt" @click="clrSelect()">
            <fa :icon="['fa', 'times-circle']" /> &ensp; Clear Selection
          </button>
        </div>

        <!-- ADD NEW DEPARTMENT -->
        <div class="tabToolsDiv">
          <button class="btn-positive2" v-b-tooltip.hover title="Enter Employee Code" v-show="exportt" @click="enterCode()">
            <fa :icon="['fa', 'clipboard']" /> &ensp; Enter Employee Code
          </button>
        </div>

        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>

        <!-- SEARCH -->
        <div class="tabToolsDiv">
          <button class="toolSearchIco" disabled>
            <fa :icon="['fa', 'search']" />
          </button>
          <input
            class="toolSearch fa"
            type="text"
            name=""
            placeholder="Type to search"
            v-model="find"
          />
          <b-button
            class="toolClear"
            @click="find = ''"
            v-b-tooltip.hover
            title="Clear Search"
          >
            <fa :icon="['fa', 'eraser']" />
          </b-button>
        </div>
        <!-- RELOAD DATA -->
        <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
          <button class="btn-keep" @click="getData(token)">
            <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
          </button>
        </div>
      </div>

      <!-- TABLE @row-clicked="rowData"  -->
      <div class="tabTable">
        <b-table
          hover
          class="table"
          id="allApplicantsTable"
          select-mode="single"
          :filter="find"
          :items="tableDataComputed"
          :per-page="perPage"
          :fields="fieldHeaders"
          :busy="isBusy"
          :current-page="computedCurrentPage"
          show-empty
        >
          <!-- LOADERS IF isBusy == true -->
          <template #table-busy>
            <div class="text-center text-secondary">
              <b-spinner small class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <!-- Custom display for Email -->
          <template #cell(email)="row">
            <div class="text-sub">
              <b>{{ row.value }}</b>
            </div>
          </template>

          <!-- Custom display for First Name -->
          <template #cell(firstname)="row">
            <div class="text-main">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for Mid Name -->
          <template #cell(middlename)="row">
            <div class="text-main">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for Last Name -->
          <template #cell(lastname)="row">
            <div class="text-main">
              <b>{{ row.value }}</b>
            </div>
          </template>

          <!-- Custom display for is_exported -->
          <template #cell(is_exported)="row">
            <div class="text-pos2-pill" v-if="row.value == true"> Yes </div>
            <div class="text-alert-pill" v-else-if="row.value == false"> No </div>
            <div class="text-reject-pill" v-else> {{ row.value }} </div>
          </template>

          <!-- CHECKBOX per row -->
          <template #cell(extra)="row">
            <!-- <button :class="'butn '+ (act.status == 'active' ? 'actv':'inactv')"> -->
            <button :id="'box'+row.index" class="butn inactv" @click="checkRow(row.item, row.index, 'box'+row.index)">
                <fa :icon="['fa', 'check']" />
            </button>
          </template>
          
        </b-table>
      </div>

      <!-- FOOTER TOOLS -->
      <div class="footer">
        <div class="tabTools">
          <div class="tabToolsDiv">
            Total no. of records: {{ records }} | Page
            {{ computedCurrentPage }} of {{ computedTotalPage }}
          </div>
          <div class="tabToolsDiv tabToolsDivX"></div>
          <div class="tabToolsDiv tabEx">
            <div class="overflow-auto">
              <div>
                <b-pagination
                  size="sm"
                  v-model="currentPage"
                  :total-rows="records"
                  :per-page="perPage"
                  aria-controls="allApplicantsTable"
                ></b-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ENTER EMPLOYEE CODE -->
    <ViewEnterCode v-show="!closeFullInfo"/>

    <!-- ALERT -->
    <div>
      <b-alert
        :show="alert.showAlert"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <fa
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>

  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import ViewEnterCode from "../../../components/viewEnterCode";
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  layout: "sideBar",
  components: {
    ViewEnterCode
  },
  data() {
    return {
        isBusy: false,
        token: "",
        find: "",
        tableData: [],
        forExport: [],
        exportt: false,
        perPage: 1,
        currentPage: 1,
        rowIndex: -1,
        prevIndex: -1,
        showMenu: false,
        screenHeight: 0,
        tableHeight: 0,
        rowDeterm: 0,
        alert: {
            showAlert: 0,
            variant: "success",
            message: "The username and / or password is Incorrect"
        },
        fieldHeaders: [
            // TABLE HEADERS
            {
            key: "extra",
            label: "",
            sortable: false
            },
            {
            key: "email",
            label: "Email",
            sortable: true,
            thClass: "sam"
            },
            {
            key: "firstname",
            label: "First Name",
            sortable: true
            },
            {
            key: "middlename",
            label: "Middle Name",
            sortable: true
            },
            {
            key: "lastname",
            label: "Last Name",
            sortable: true
            },
            {
            key: "is_exported",
            label: "Exported",
            sortable: false
            }
        ]
    };
  },
  methods: {
    clrSelect() {
        // UNSELECT CHECKBOX
        for(var c=0; c < this.forExport.length; c++) {
            this.forExport[c].el
            // console.log(this.forExport[c].el);
            document.getElementById(String(this.forExport[c].el)).classList.add("inactv");
            document.getElementById(String(this.forExport[c].el)).classList.remove("actv");
        }

        // EMPTY ARRAY
        this.forExport.length = 0;

        // HIDE BUTTONS
        if(this.forExport.length > 0) {
            this.exportt = true;
        }
        else {
            this.exportt = false;
        }
    },
    enterCode() {
        console.log("==========================================");
        console.log("Enter Employee Code");
        console.log("==========================================");
        console.log(this.forExport);
        console.log("==========================================");
        // UNHIDE MODAL
        this.$store.commit("closeEnterEmployeeID", false);

        // PASS DATA
        var temp = this.forExport;
        console.log(this.forExport);
        // console.log(temp);

        // PASS DATA (this.forExport) TO MODAL
        this.$store.dispatch("enterEmployeeCode", { data: temp } );
    },
    checkRow(data, ind, el) {
        console.log("==========================================");
        console.log("Index: " + ind);
        console.log("Element ID: " + el);
        // console.log(data.length);
        console.log("==========================================");
        if(document.getElementById(String(el)).classList[1] == 'actv') {
            document.getElementById(String(el)).classList.add("inactv");
            document.getElementById(String(el)).classList.remove("actv");

            // REMOVE UNCHECKED ROW
            this.forExport = this.forExport.filter(cont => cont.id !== data.id);
            // console.log(this.forExport);
        }
        else if(document.getElementById(String(el)).classList[1] == 'inactv') {
            document.getElementById(String(el)).classList.remove("inactv");
            document.getElementById(String(el)).classList.add("actv");

            // PUSH CHECKED ROW
            this.forExport.push({...data, el: el});
            // console.log(this.forExport);
        }
        if(this.forExport.length > 0) {
            this.exportt = true;
        }
        else {
            this.exportt = false;
        }
        console.log("==========================================");
    },
    selectRow(row, ind) {
      this.rowIndex = ind;
      // console.log(row);
      row.toggleDetails();
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    rowDet() {
      // INITIALIZE perPage
      this.perPage = 1;

      // DETERMINE HOW MANY ROWS TO SHOW DEPENDING ON moduleContent HEIGHT
      var rowCounter = setInterval(() => {
        if (this.$refs.rowDeter == undefined) {
          clearInterval(rowCounter);
        } else {
          this.screenHeight = screen.height; // SCREEN HEIGHT / MONITOR HEIGHT
          this.rowDeterm = this.$refs.rowDeter.clientHeight; // moduleContent HEIGHT (px)
          this.tableHeight = ((this.rowDeterm - 50) / screen.height) * 100; // moduleContent HEIGHT (%)

          if (this.tableHeight < 65) {
            this.perPage++;
            // console.log(this.perPage);
          } else {
            // SET DEFAULT ROWS PER PAGE IN ALL TABS
            this.$store.commit("setPerPage", this.perPage);

            // STOP INTERVAL AFTER this.tableHeight == 60
            clearInterval(rowCounter);
          }
        }
      }, 1);
    },
    getData(token) {
      this.isBusy = true;
      // FETCH DEPARTMENTS
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/users/jeonsoft`,
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + token
        }
      }).then(
        res => {
          console.log("=======================================");
          console.log("Successfully fetched jeonsoft export");
          console.log("=======================================");
          
          this.tableData = res.data[Object.keys(res.data)[0]];

          this.isBusy = false;
          // console.log(this.tableData);

          // IMPORTANT!
          this.rowDet();
        },
        error => {
          console.log("=======================================");
          console.log("Failed to fetch jeonsoft export");
          console.log("=======================================");
          console.log(error);
          this.showAlert(error, "danger");
          console.log("=======================================");
        }
      );
    },
  },
  created() {
    // SET DEFAULT OPEN TAB IN SIDEBAR
    if(localStorage.activeN) {
        var open = [];
        open.push({ id: 4, subID: 4.2, colID: "collapse-exports", open: false});
        this.$store.commit("openPage", open);
    }
    var user_access = localStorage.role;
    setTimeout(() => {
      // CHECK IF USER IS ALLOWED TO ACCESS THIS PAGE
      console.log("User Role: " + user_access);
      if (user_access.toLowerCase().includes("admin") || user_access.toLowerCase().includes('people') || user_access.toLowerCase().includes('operation')) {
        console.log("Welcome, admin " + localStorage.fname);

        this.token = localStorage.token;
        // FETCH DEPARTMENTS
        this.getData(localStorage.token);

        // ADD TO doneLoader STATE
        this.$store.commit("doneLoad", 13);
      } else {
        this.$router.push({ path: "../../dashboard" });
      }
    }, 501);
  },
  computed: {
    closeFullInfo() {
      return this.$store.state.closeEnterEmployeeID;
    },
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      console.log(this.find);
      return this.tableData
      // return this.tableData.filter(data => {
      //     return (
      //       String(data.email).toLowerCase().includes(this.find.toLowerCase()) ||
      //       String(data.firstname).toLowerCase().includes(this.find.toLowerCase()) ||
      //       String(data.middlename).toLowerCase().includes(this.find.toLowerCase()) ||
      //       String(data.lastname).toLowerCase().includes(this.find.toLowerCase())
      //     );
      // });
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
