<template>
  <div class="moduleContainer">
    <div class="moduleContent" ref="rowDeter">
      <!-- HEADER TOOLS -->
      <div class="tabTools">
        <!-- EXPORT -->
        <div class="tabToolsDiv">
          <button
            class="btn-positive2"
            v-b-tooltip.hover
            :title="`${datePicker.startDate} - ${datePicker.endDate}`"
            @click="generateReport()"
          >
            <fa :icon="['fa', 'file']" /> &nbsp; Generate Report
          </button>
        </div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <!-- DATE PICKER -->
        <div class="tabToolsDiv">
          <date-range-picker
            id="date_range_supplier"
            ref="picker"
            opens="center"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
            @change="updateValues"
            size="sm"
            style="width: 14.5rem"
          >
            <div id="date_picker_select_supplier" slot="input">
              {{ datePicker.startDate }} - {{ datePicker.endDate }}
            </div>
          </date-range-picker>
          <button
            @click="resetDate"
            class="toolClear"
            v-b-tooltip.hover
            title="Reset date picker"
          >
            <fa :icon="['fa', 'redo-alt']" />
          </button>
        </div>

        <!-- SEARCH -->
        <div class="tabToolsDiv">
          <button class="toolSearchIco" disabled>
            <fa :icon="['fa', 'search']" />
          </button>
          <input
            class="toolSearch fa"
            type="text"
            name=""
            placeholder="Type to search"
            v-model="find"
          />
          <b-button
            class="toolClear"
            @click="find = ''"
            v-b-tooltip.hover
            title="Clear Search"
          >
            <fa :icon="['fa', 'eraser']" />
          </b-button>
        </div>
        <!-- RELOAD DATA -->
        <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
          <button class="btn-keep" @click="getActivityLogs(token)">
            <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
          </button>
        </div>
      </div>

      <!-- TABLE @row-clicked="rowData"  -->
      <div class="tabTable">
        <b-table
          hover
          class="table"
          id="allApplicantsTable"
          select-mode="single"
          :filter="find"
          :items="tableDataComputed"
          :per-page="perPage"
          :fields="fieldHeaders"
          :busy="isBusy"
          :current-page="computedCurrentPage"
          show-empty
        >
          <!-- LOADERS IF isBusy == true -->
          <template #table-busy>
            <div class="text-center text-secondary">
              <b-spinner small class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <!-- Custom display for Team -->
          <template #cell(teamname)="row">
            <div class="text-main">
              <b>{{ row.value }}</b>
            </div>
          </template>

          <!-- Custom display for Description -->
          <template #cell(description)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for Department-->
          <template #cell(department)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for status -->
          <template #cell(status)="row">
            <div class="text-sub">
              <div
                class="stage text-reject-pill"
                v-if="row.value == 'inactive'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-pos2-pill"
                v-else-if="row.value == 'active'"
              >
                {{ row.value }}
              </div>
            </div>
          </template>

          <!-- BUTTON PER ROW -->
          <template #cell(extra)="row">
            <button class="btn-actions" @click="viewUserUsage(row.item)">
              <fa :icon="['fa', 'folder']" />
            </button>
          </template>
        </b-table>
      </div>

      <!-- FOOTER TOOLS -->
      <div class="footer">
        <div class="tabTools">
          <div class="tabToolsDiv">
            Total no. of records: {{ records }} | Page
            {{ computedCurrentPage }} of {{ computedTotalPage }}
          </div>
          <div class="tabToolsDiv tabToolsDivX"></div>
          <div class="tabToolsDiv tabEx">
            <div class="overflow-auto">
              <div>
                <b-pagination
                  size="sm"
                  v-model="currentPage"
                  :total-rows="records"
                  :per-page="perPage"
                  aria-controls="allApplicantsTable"
                ></b-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ALERT -->
    <div>
      <b-alert
        :show="alert.showAlert"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <fa
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Papa from "papaparse";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
export default {
  components: { DateRangePicker },
  data() {
    return {
      isBusy: false,
      token: "",
      find: "",
      tableData: [],
      // perPage: 1,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      screenHeight: 0,
      tableHeight: 0,
      rowDeterm: 0,
      generatorInfo: [],
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      actions: [],
      datePicker: {
        startDate: moment()
          .subtract(1, "months")
          .format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "name",
          label: "User",
          sortable: true
        },
        {
          key: "module",
          label: "Module",
          sortable: false
        },
        {
          key: "table_affected",
          label: "Affected Table",
          sortable: true
        },
        {
          key: "activity",
          label: "Activity",
          sortable: false
        },
        {
          key: "dates", // column name from API
          label: "Date", // custom name set
          sortable: false // sort data by column
        },
        {
          key: "extra",
          label: "",
          sortable: false
        }
      ]
    };
  },
  methods: {
    generateReport() {
      var from = this.datePicker.startDate;
      var to = this.datePicker.endDate;
      var token = localStorage.token;
      var userID = localStorage.id;
      var repID = String(new Date().valueOf()) + "_" + localStorage.id;
      window.open(
        `/allUserUsageReport?token=${token}&userID=${userID}&from=${from}&to=${to}&repID=${repID}`
      );
    },
    viewUserUsage(data) {
      this.getInfo(data.id, data);
    },
    getInfo(id, data) {
      var token = localStorage.token;
      // console.log(id);
      // console.log(data);
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/users/find?u=${id}`,
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + token
        }
      }).then(
        result => {
          var info = result.data.view;
          // console.log("================================");
          // console.log("user info");
          // console.log("================================");
          // // console.log(info);
          // console.log("================================");
          this.generatorInfo = {
            name: info[0].firstName + " " + info[0].lastName,
            role: info[0].role,
            pos: info[0].position,
            posID: info[0].positionID,
            dept: info[0].department,
            deptID: info[0].departmentID,
            team: info[0].team,
            teamID: info[0].teamID,
            mobile: info[0].mobile,
            email: info[0].email,
            id: info[0].userID
          };
          // console.log(this.generatorInfo);

          // DISPLAY MODAL
          this.$store.commit("closeUserUsageData", false);

          // SET USER INFO
          var notif = {
            userTeam: this.generatorInfo.team,
            userDepartment: this.generatorInfo.department,
            userRole: this.generatorInfo.role
          };

          // VIEW USER USAGE
          this.$store.dispatch("viewUserUsage", {
            userID: data.id,
            token: localStorage.token,
            dateTo: moment().format("MMM DD, YYYY"),
            user: this.generatorInfo.name,
            data: notif
          });
        },
        error => {
          console.log(error);
        }
      );
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );
      console.log("From: " + this.dateRange.date_from);
      console.log("To: " + this.dateRange.date_to);
      this.getActivityLogs(localStorage.token);
    },
    resetDate() {
      this.datePicker.startDate = moment()
        .subtract(1, "months")
        .format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    selectRow(row, ind) {
      this.applicant = row;
      this.rowIndex = ind;
      // console.log("this.prevIndex: " + this.prevIndex);
      // console.log("this.rowIndex: " + this.rowIndex);
      // console.log("this.showMenu: " + this.showMenu);
      row.toggleDetails();
      // console.log(row);
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    takeAct(actID, actName, team, row, ind) {
      this.selectRow(row, ind);
      // console.log(row);
      console.log("===============================");
      console.log("Team Details: ");
      console.log("===============================");
      // console.log(team);
      // console.log("id: " + team.id);
      // console.log("teamname: " + team.teamname);
      // console.log("deptname: " + team.deptname);
      // console.log("description: " + team.description);
      // console.log("status: " + team.status);
      // console.log("===============================");
      // console.log("Action ID: " + actID);
      // console.log("Action Name: " + actName);
      // console.log("===============================");
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    async getActivityLogs(token) {
      // this.dateRange.date_from = "01/01/2021";
      // this.dateRange.date_to = "12/12/2021";
      // console.log("los", this.dateRange.date_from, this.dateRange.date_to);
      this.isBusy = true;
      // FETCH DEPARTMENTS
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/users/view/logs`,
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + token
        },
        data: {
          date: this.dateRange.date_from,
          dateTo: this.dateRange.date_to
        }
      }).then(
        result => {
          // console.log("=======================================");
          // console.log("Successfully fetched activity logs");
          // console.log("=======================================");
          this.tableData = result.data.posted;
          this.isBusy = false;

          // IMPORTANT!
          // this.rowDet();
        },
        error => {
          // console.log("=======================================");
          // console.log("Failed to fetch activity logs");
          // console.log("=======================================");
          console.log(error);
          this.showAlert(error, "danger");
        }
      );
    },
    formatDate(date) {
      return moment(date).format("DD MMMM, YYYY");
    },
    exportToExcel() {
      let values = [];
      this.tableData.forEach(applicant => {
        let value = {
          User: applicant.name,
          Module: applicant.module,
          "Affected Table": applicant.table_affected,
          Activity: applicant.activity,
          Date: this.formatDate(applicant.dates)
        };
        values.push(value);
      });
      const csv = Papa.unparse(values);
      var fileURL = window.URL.createObjectURL(new Blob([csv]));
      var fileLink = document.createElement("a");

      fileLink.href = fileURL;

      fileLink.setAttribute(
        "download",
        `Activity Logs ${moment().format("MMM DD, YYYY")}.csv`
      );
      document.body.appendChild(fileLink);
      fileLink.click();
    }
  },
  // async beforeCreate() {
  //   this.isBusy = true;

  //   let dateRange = {
  //     date_from: moment()
  //       .subtract(1, "months")
  //       .format("YYYY-MM-DD"),
  //     date_to: moment().format("YYYY-MM-DD")
  //   };
  //   await axios({
  //     method: "POST",
  //     url: `${this.$axios.defaults.baseURL}/users/view/logs`,
  //     headers: {
  //       "Content-Type": "application/json",
  //       Authorization: "Bearer " + localStorage.token
  //     },
  //     data: {
  //       date: dateRange.date_from,
  //       dateTo: dateRange.date_to
  //     }
  //   }).then(
  //     result => {
  //       console.log("=======================================");
  //       console.log("Successfully fetched activity logs");
  //       console.log("=======================================");
  //       this.tableData = result.data.posted;
  //       this.isBusy = false;

  //       // IMPORTANT!
  //       this.rowDet();
  //     },
  //     error => {
  //       console.log("=======================================");
  //       console.log("Failed to fetch activity logs");
  //       console.log("=======================================");
  //       console.log(error);
  //       this.showAlert(error, "danger");
  //       console.log("=======================================");
  //     }
  //   );
  // },
  created() {
    setTimeout(() => {
      // CHECK IF USER IS ALLOWED TO ACCESS THIS PAGE
      var admin_access = localStorage.role;
      if (admin_access.toLowerCase().includes("admin")) {
        console.log("Welcome, admin " + localStorage.fname);

        this.token = localStorage.token;
        // FETCH DEPARTMENTS
        // this.getActivityLogs(localStorage.token);

        let dateRange = {
          date_from: moment()
            .subtract(1, "months")
            .format("YYYY-MM-DD"),
          date_to: moment().format("YYYY-MM-DD")
        };
        axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/users/view/logs`,
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + localStorage.token
          },
          data: {
            date: dateRange.date_from,
            dateTo: dateRange.date_to
          }
        }).then(
          result => {
            // console.log("=======================================");
            // console.log("Successfully fetched activity logs");
            // console.log("=======================================");
            this.tableData = result.data.posted;
            this.isBusy = false;

            // // IMPORTANT!
            // this.rowDet();
          },
          error => {
            // console.log("=======================================");
            // console.log("Failed to fetch activity logs");
            // console.log("=======================================");
            console.log(error);
            this.showAlert(error, "danger");
          }
        );
      } else {
        this.$router.push({ path: "../../dashboard" });
      }
    }, 501);
  },
  computed: {
    perPage() {
      return this.$store.state.perPage;
    },
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      // return this.tableData
      return this.tableData.filter(data => {
        return (
          data.name.toLowerCase().includes(this.find.toLowerCase()) ||
          data.module.toLowerCase().includes(this.find.toLowerCase()) ||
          data.activity.toLowerCase().includes(this.find.toLowerCase()) ||
          data.table_affected.toLowerCase().includes(this.find.toLowerCase()) ||
          data.dates.toLowerCase().includes(this.find.toLowerCase())
        );
      });
    }
  }
};
</script>

<style lang="scss">
$mainT: #193c2a;
$BG: #eff8f4;
@font-face {
  font-family: font_M;
  src: url("./assets/red-hat-display-medium.ttf");
}

/* Date Range */
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.vue-daterange-picker .reportrange-text {
  border-radius: 4px 0 0 4px;
  font-size: 13px;
  color: $mainT;
  width: 100%;
  height: 35px;
  border: 0px;
  background: #f5f5f5;
  border: 1px solid #5c7b7b23;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #00a651;
  border-color: transparent;
  color: #fff;
}

.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}
.date_picker_select_supplier {
  font-size: 13px;
}

@media only screen and (max-width: 1400px) {
  .vue-daterange-picker .reportrange-text {
    border-radius: 4px 0 0 4px;
    font-size: 11px;
    color: $mainT;
    width: 100%;
    height: 30px;
    border: 0px;
    background: #f5f5f5;
    border: 1px solid #5c7b7b23;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .date_picker_select_supplier {
    font-size: 11px;
  }
}
</style>
