<template>
    <div class="moduleContainer">
        <!-- {{ tableDataComputed }} -->
        <div class="moduleContent" ref="rowDeter">
        <!-- HEADER TOOLS -->
        <div class="tabTools">
            <!-- EXTRA SLOT -->
            <div class="tabToolsDiv tabToolsDivX"></div>
            <!-- EXTRA SLOT -->
            <div class="tabToolsDiv tabToolsDivX"></div>
            <!-- EXTRA SLOT -->
            <div class="tabToolsDiv tabToolsDivX"></div>
            <!-- EXTRA SLOT -->
            <div class="tabToolsDiv tabToolsDivX"></div>

            <!-- DATE PICKER -->
            <div class="tabToolsDiv">
            <DateRangePicker
                id="date_range_supplier"
                ref="picker"
                opens="center"
                :locale-data="localeData"
                :autoApply="true"
                :singleDatePicker="false"
                :showWeekNumbers="true"
                v-model="datePicker"
                @update="updateValues"
                @change="updateValues"
                size="sm"
                style="width: 14.5rem"
            >
                <div id="date_picker_select_supplier" slot="input">
                {{ datePicker.startDate }} - {{ datePicker.endDate }}
                </div>
            </DateRangePicker>
            <button
                @click="resetDate"
                class="toolClear"
                v-b-tooltip.hover
                title="Reset date picker"
            >
                <fa :icon="['fa', 'redo-alt']" />
            </button>
            </div>

            <!-- SEARCH -->
            <div class="tabToolsDiv">
            <button class="toolSearchIco" disabled>
                <fa :icon="['fa', 'search']" />
            </button>
            <input
                class="toolSearch fa"
                type="text"
                name=""
                placeholder="Type to search"
                v-model="find"
            />
            <b-button
                class="toolClear"
                @click="find = ''"
                v-b-tooltip.hover
                title="Clear Search"
            >
                <fa :icon="['fa', 'eraser']" />
            </b-button>
            </div>

            <!-- RELOAD DATA -->
            <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
            <button class="btn-keep" @click="getNotifs()">
                <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
            </button>
            </div>

        </div>
        

        <!-- TABLE @row-clicked="rowData"  -->
        <div class="tabTable">
            <b-table
                hover
                class="table"
                id="allApplicantsTable"
                select-mode="single"
                :filter="find"
                :items="tableDataComputed"
                :per-page="perPage"
                :fields="fieldHeaders"
                :busy="isBusy"
                :current-page="computedCurrentPage"
                show-empty
            >
                <!-- LOADERS IF isBusy == true -->
                <template #table-busy>
                    <div class="text-center text-secondary">
                    <b-spinner small class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                    </div>
                </template>

                <!-- Custom display for Date -->
                <template #cell(date)="row">
                    <div class="text-main">
                    {{ formatDate(row.value) }}
                    <!-- <b>{{ formatDate(row.value) }}</b> -->
                    </div>
                </template>

                <!-- Custom display System Users -->
                <template #cell(userFirstName)="row">
                    <div class="text-main">
                    {{ row.item.userFirstName + " " + row.item.userLastName}}
                    <!-- <b>{{ formatDate(row.value) }}</b> -->
                    </div>
                </template>

                <!-- Custom display for Action -->
                <template #cell(action)="row">
                    <div class="text-main">
                      <div v-if="row.item.actionID == 198">
                        {{ row.item.action }}
                      </div>
                      <div v-else>
                        {{ row.item.action.split(" - ")[1] }}
                      </div>
                    <!-- <b>{{ formatDate(row.value) }}</b> -->
                    </div>
                </template>

                <!-- Custom display for Description -->
                <template #cell(desc)="row">
                    <div class="text-sub">
                    {{ row.value }}
                    </div>
                </template>

                <!-- BUTTON PER ROW -->
                <template #cell(extra)="row">
                  <button class="btn-actions" @click="viewUserUsage(row.item.userID, row.item.userFirstName+' '+row.item.userLastName, row.item)">
                    <fa :icon="['fa', 'folder']" />
                  </button>
                </template>

            </b-table>
        </div>

        <!-- FOOTER TOOLS -->
        <div class="footer">
            <div class="tabTools">
            <div class="tabToolsDiv">
                Total no. of records: {{ records }} | Page
                {{ computedCurrentPage }} of {{ computedTotalPage }}
            </div>
            <div class="tabToolsDiv tabToolsDivX"></div>
            <div class="tabToolsDiv tabEx">
                <div class="overflow-auto">
                <div>
                    <b-pagination
                    size="sm"
                    v-model="currentPage"
                    :total-rows="records"
                    :per-page="perPage"
                    aria-controls="allApplicantsTable"
                    ></b-pagination>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import io from "socket.io-client";
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";

export default {
components: {
    DateRangePicker,
},
data() {
    return {
        isBusy: false,
        listOfNotifs: [],
        find: "",
        tableData: [],
        perPage: 1,
        currentPage: 1,
        rowIndex: -1,
        prevIndex: -1,
        showMenu: false,
        screenHeight: 0,
        tableHeight: 0,
        rowDeterm: 0,
        actions: [],
        datePicker: {
            startDate: moment()
            .subtract(1, "months")
            .format("MMM DD, YYYY"),
            endDate: moment().format("MMM DD, YYYY")
        },
        dateRange: {
            date_from: moment().format("YYYY-MM-DD"),
            date_to: moment().format("YYYY-MM-DD")
        },
        localeData: {
            direction: "ltr",
            format: moment().format("mmm dd, yyyy"),
            separator: " - "
        },
        fieldHeaders: [
            // TABLE HEADERS
            {
              key: "date",
              label: "Date",
              sortable: true
            },
            // {
            //   key: "actionID",
            //   label: "Stage",
            //   sortable: false
            // },
            {
              key: "userFirstName",
              label: "System User",
              sortable: false
            },
            {
              key: "action",
              label: "Action",
              sortable: false
            },
            {
              key: "comment",
              label: "Description",
              sortable: false
            },
            {
              key: "extra",
              label: "",
              sortable: false
            },
        ]
    }
},
methods: {
    viewUserUsage(userID, user, notif) {
      this.$store.commit("closeUserUsageData", false);
      this.$store.dispatch("viewUserUsage", {
          userID: userID,
          token: localStorage.token,
          dateTo: moment().format("MMM DD, YYYY"),
          user: user,
          data: notif
        });
    },
    todaysDate() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format("MMM DD, YYYY");
      this.datePicker.endDate = moment(this.datePicker.endDate).format("MMM DD, YYYY");
      this.dateRange.date_from = moment(this.datePicker.startDate).format("YYYY-MM-DD");
      this.dateRange.date_to = moment(this.datePicker.endDate).format("YYYY-MM-DD");
      console.log("From: " + this.dateRange.date_from);
      console.log("To: " + this.dateRange.date_to);
    },
    updateValues() {
      this.todaysDate();
      this.getNotifs();
    },
    resetDate() {
      this.datePicker.startDate = moment().subtract(1, "months").format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    formatDate(date) {
      return moment(date).format("MMMM DD, YYYY");
    },
    getNotifs() {
      this.isBusy = true;
      this.todaysDate();
        axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/users/notifications/get?from=${this.dateRange.date_from}&to=${this.dateRange.date_to}`,
            headers: {
                "Content-Type": "application/json",
                Authorization: "Bearer " + localStorage.token
            }
        }).then(
            result => {
            // console.log("=======================================");
            // console.log("Successfully fetched notifications");
            // console.log("=======================================");
            this.listOfNotifs = result.data.get;
            // console.log(this.listOfNotifs);
            this.isBusy = false;

            // IMPORTANT!
            this.rowDet();
            },
            error => {
            // console.log("=======================================");
            // console.log("Failed to fetch notifications");
            // console.log("=======================================");
            console.log(error);
            this.isBusy = false;
            }
        );
    },
    rowDet() {
      // INITIALIZE perPage
      this.perPage = 1;

      // DETERMINE HOW MANY ROWS TO SHOW DEPENDING ON moduleContent HEIGHT
      var rowCounter = setInterval(() => {
        if (this.$refs.rowDeter == undefined) {
          clearInterval(rowCounter);
        } else {
          this.screenHeight = screen.height; // SCREEN HEIGHT / MONITOR HEIGHT
          this.rowDeterm = this.$refs.rowDeter.clientHeight; // moduleContent HEIGHT (px)
          this.tableHeight = ((this.rowDeterm - 60) / screen.height) * 100; // moduleContent HEIGHT (%)

          if (this.tableHeight < 60) {
            this.perPage++;
            // console.log(this.perPage);
          } else {
            // SET DEFAULT ROWS PER PAGE IN ALL TABS
            this.$store.commit("setPerPage", this.perPage);

            // STOP INTERVAL AFTER this.tableHeight == 60
            clearInterval(rowCounter);
            // console.log("(("+this.rowDeterm+" - 50) / "+screen.height+") * "+100);
            // console.log(this.tableHeight);
            // console.log(this.perPage);
          }
        }
      }, 1);
    },
},
created() {
    setTimeout(() => {
      this.getNotifs();
    }, 501);
},
computed: {
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
         // return this.tableData
        //   if(this.listOfNotifs != undefined) {
        return this.listOfNotifs.filter(data => {
            return (
                data.applicantFirstName.toLowerCase().includes(this.find.toLowerCase()) ||
                data.applicantLastName.toLowerCase().includes(this.find.toLowerCase()) ||
                data.userFirstName.toLowerCase().includes(this.find.toLowerCase()) ||
                data.userLastName.toLowerCase().includes(this.find.toLowerCase()) ||
                data.action.toLowerCase().includes(this.find.toLowerCase())
            );
        });
        //   }
        // console.log("===========================");
        // console.log(this.listOfNotifs);
        // console.log("===========================");

        // return this.listOfNotifs;
        // return [];
      
    }
  }
}
</script>

<style lang="scss">
$mainT: #193c2a;
$BG: #eff8f4;
@font-face {
  font-family: font_M;
  src: url("./assets/red-hat-display-medium.ttf");
}

/* Date Range */
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.vue-daterange-picker .reportrange-text {
  border-radius: 4px 0 0 4px;
  font-size: 13px;
  color: $mainT;
  width: 100%;
  height: 35px;
  border: 0px;
  background: #f5f5f5;
  border: 1px solid #5c7b7b23;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #00a651;
  border-color: transparent;
  color: #fff;
}

.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}
.date_picker_select_supplier {
  font-size: 13px;
}

@media only screen and (max-width: 1400px) {
  .vue-daterange-picker .reportrange-text {
    border-radius: 4px 0 0 4px;
    font-size: 11px;
    color: $mainT;
    width: 100%;
    height: 30px;
    border: 0px;
    background: #f5f5f5;
    border: 1px solid #5c7b7b23;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .date_picker_select_supplier {
    font-size: 11px;
  }
}
</style>