<template>
    <div class="m_mod_cont">
        <IAF/>
    </div>
</template>

<script>
import io from "socket.io-client";
import moment from "moment";
import axios from "axios";

import IAF from "../../../components/mob/view/viewIAFRsults.vue";

export default {
    layout: "m_sideBar",
    components: {
      IAF
    },
}
</script>

<style>

</style>