<template>
    <div class="m_mod_cont">
        <Appplicants/>
    </div>
</template>

<script>
import io from "socket.io-client";
import moment from "moment";
import axios from "axios";

import Appplicants from "../../../components/mob/M_dashboard/pending.vue";

export default {
    layout: "m_sideBar",
    components: {
      Appplicants
    },
    data() {
      return {
        accessTabs: [],
        allTabs: [],
      }
    },
    created() {
      setTimeout(() => {
        // SEE IF TOKEN EXISTS
        if (!localStorage.token || localStorage.token == undefined) {
          this.$router.push({ path: "../" }); // LOG OUT IF NOT
        } else {
          this.chosenTab = 0;
          this.selectedTab = 0;

          // SEE IF ACCESS RIGHTS EXISTS
          var temp = JSON.parse(localStorage.access_rights_details);
          if (temp.length <= 0) {
            this.$router.push({ path: "../" }); // LOG OUT IF NOT
          } else {
            // LOOK FOR THE "APPLICATION STAGES MODULE" (module_id: 5)
            var access_rights = JSON.parse(localStorage.access_rights_details);
            // console.log("No. of Access Rights: " + access_rights.length);
          //   console.log(access_rights);

            for (var a = 0; a < access_rights.length; a++) {
              if (access_rights[a].module_id == 5) {
                for (var b = 0; b < access_rights[a].access.length; b++) {
                  // console.log(access_rights[a].access[b]);
                  if (access_rights[a].access[b].action_name.toLowerCase().includes("view tab") && access_rights[a].access[b].status == "active") { 
                      this.accessTabs.push({
                          ...access_rights[a].access[b]
                      });
                      //   console.log(access_rights[a].access[b].action_name);
                  }
                }
              }
            }

            // COMPARE allTabs WITH accessTabs AND PUSH allTabs TO choseTabs IF TAB NAMES ARE MATCHED
            for (var c = 0; c < this.allTabs.length; c++) {
              for (var e = 0; e < this.accessTabs.length; e++) {
                if (this.accessTabs[e].action_name.split(" - ")[1] == this.allTabs[c].name) {
                  this.choseTabs.push({
                    id: this.allTabs[c].id,
                    name: this.allTabs[c].name
                  });
                }
              }
            }
          }
        }
      }, 501);
    },
}
</script>

<style>

</style>