<template>
  <div class="moduleContainer">
    <div class="moduleName">Departments</div>
    <div class="moduleContent2" ref="rowDeter">
      <!-- HEADER TOOLS -->
      <div class="tabTools">
        <!-- ADD NEW DEPARTMENT -->
        <div class="tabToolsDiv">
          <button
            v-b-modal.addDeptModal
            class="btn-positive2"
            v-b-tooltip.hover
            title="Add new Department"
          >
            <fa :icon="['fa', 'plus']" /> &nbsp; New Department
          </button>
        </div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>

        <!-- SEARCH -->
        <div class="tabToolsDiv">
          <button class="toolSearchIco" disabled>
            <fa :icon="['fa', 'search']" />
          </button>
          <input
            class="toolSearch fa"
            type="text"
            name=""
            placeholder="Type to search"
            v-model="find"
          />
          <b-button
            class="toolClear"
            @click="find = ''"
            v-b-tooltip.hover
            title="Clear Search"
          >
            <fa :icon="['fa', 'eraser']" />
          </b-button>
        </div>
        <!-- RELOAD DATA -->
        <!-- <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
          <button class="btn-keep" @click="getDepartments(token)">
            <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
          </button>
        </div> -->
      </div>

      <!-- TABLE @row-clicked="rowData"  -->
      <div class="tabTable">
        <b-table
          hover
          class="table"
          id="allApplicantsTable"
          select-mode="single"
          :filter="find"
          :items="tableDataComputed"
          :per-page="perPage"
          :fields="fieldHeaders"
          :busy="isBusy"
          :current-page="computedCurrentPage"
          show-empty
        >
          <!-- LOADERS IF isBusy == true -->
          <template #table-busy>
            <div class="text-center text-secondary">
              <b-spinner small class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <!-- Custom display for Department -->
          <template #cell(name)="row">
            <div class="text-main">
              <b>{{ row.value }}</b>
            </div>
          </template>
          <template #cell(status)="row">
            <div class="text-sub">
              <div
                class="stage text-reject-pill"
                v-if="row.value == 'inactive'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-pos2-pill"
                v-else-if="row.value == 'active'"
              >
                {{ row.value }}
              </div>
            </div>
          </template>

          <!-- Custom display for Description -->
          <template #cell(description)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for Department Head -->
          <template #cell(deptHead)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- BUTTON PER ROW -->
          <template #cell(extra)="row">
            <div class="rowmenuHold" v-show="showMenu && row.index == rowIndex">
              <div class="rowmenu">
                <div class="actionFor">
                  <div class="pointing">
                    <div><fa :icon="['fa', 'building']" /></div>
                    {{ row.item.name }}
                  </div>
                  <!-- <div class="pointRight"></div> -->
                </div>
                <div class="line"></div>

                <div class="rowMenuScroll">
                  <div v-for="(act, a) in actions" :key="a">
                    <button
                      ref="deptModal"
                      v-show="
                        act.action_name != 'Add Department' &&
                          act.action_name != 'Search Department' &&
                          act.action_name != 'View All Department'
                      "
                      class="bX b-keep"
                      @click="
                        takeAct(
                          act.id,
                          act.action_name,
                          row.item,
                          row,
                          row.index
                        )
                      "
                    >
                      &ensp; {{ act.action_name }}
                    </button>
                  </div>
                </div>
              </div>

              <!-- <div class="pointRight"></div> -->
            </div>

            <button class="btn-actions" @click="selectRow(row, row.index)">
              <fa :icon="['fa', 'ellipsis-v']" />
            </button>
          </template>
        </b-table>
      </div>
      <!-- modal for details and edit -->
      <div>
        <b-modal id="deptModal" no-close-on-backdrop>
          <template #modal-header class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'building']" />
            </div>
            <div class="deptTitleDiv">
              <b>{{ deptDetails.title }}</b>
            </div>
            <div class="iconBtn" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <div>
              <b-row>
                <b class="modalText"
                  >Department ID:&nbsp;{{ deptDetails.id }}</b
                >
                <br />
              </b-row>
            </div>
            <!-- <div>
              <b-row>
                <b class="modalText"
                  >Department Head:&nbsp;{{ deptDetails.deptHead }}</b
                >
                <br />
              </b-row>
            </div> -->
            <div>
              <b-row><b class="modalText">Department Name:</b> </b-row>
              <b-row>
                <input
                  type="text"
                  class="modalEdit"
                  v-model="deptDetails.name"
                  :disabled="editDept"
              /></b-row>
            </div>
            <div>
              <b-row
                ><b class="modalText"
                  >Description <em class="optional">( optional )</em></b
                >
              </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="deptDetails.desc"
                  :disabled="editDept"
              /></b-row>
            </div>
            <div>
              <b-row
                ><b class="modalText"
                  >Department Status: {{ deptDetails.status }}</b
                >
              </b-row>
              <b-form-radio
                class="radioBtn"
                size="sm"
                v-model="deptDetails.status"
                name="some-radios"
                value="active"
                v-show="editDept == false"
                >Active</b-form-radio
              >
              <b-form-radio
                class="radioBtn"
                size="sm"
                v-model="deptDetails.status"
                name="some-radios"
                value="inactive"
                v-show="editDept == false"
                >Inactive</b-form-radio
              >
            </div>
          </div>
          <template #modal-footer>
            <!-- CANCEL -->
            <button
              v-show="editDept == false"
              @click="cancel()"
              class="btn-deact"
            >
              <fa :icon="['fa', 'times']" />
              &nbsp; Cancel
            </button>

            <!-- EDIT & SAVE -->
            <button
              @click="edit()"
              :class="editDept ? 'btn-edit' : 'btn-positive2'"
            >
              <fa :icon="['fa', editDept ? 'edit' : 'save']" />
              &nbsp;
              {{ editDept ? "Edit" : "Save" }}
            </button>
          </template>
        </b-modal>
      </div>

      <!-- modal for add new dept -->
      <div>
        <b-modal id="addDeptModal" no-close-on-backdrop>
          <template #modal-header="{close}" class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'plus']" />
            </div>
            <div class="deptTitleDiv">
              <b>Add New Department</b>
            </div>
            <div class="iconBtn" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <div>
              <b-row>
                <b class="modalText">Department Name: </b>
              </b-row>
              <b-row>
                <input type="text" class="modalEdit" v-model="newDept.name"
              /></b-row>
            </div>
            <div>
              <b-row>
                <b class="modalText"
                  >Description <em class="optional">( optional )</em>
                </b></b-row
              >
              <b-row>
                <input type="text" class="modalEdit" v-model="newDept.desc"
              /></b-row>
            </div>
          </div>
          <template #modal-footer>
            <button class="btn-deact" @click="closeAddDept()">
              Cancel
            </button>
            <button class="btn-positive2" @click="addDepartment(token)">
              Submit
            </button>
          </template>
        </b-modal>
      </div>

      <!-- FOOTER TOOLS -->
      <div class="footer">
        <div class="tabTools">
          <div class="tabToolsDiv">
            Total no. of records: {{ records }} | Page
            {{ computedCurrentPage }} of {{ computedTotalPage }}
          </div>
          <div class="tabToolsDiv tabToolsDivX"></div>
          <div class="tabToolsDiv tabEx">
            <div class="overflow-auto">
              <div>
                <b-pagination
                  size="sm"
                  v-model="currentPage"
                  :total-rows="records"
                  :per-page="perPage"
                  aria-controls="allApplicantsTable"
                ></b-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ALERT -->
    <div>
      <b-alert
        :show="alert.showAlert"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <fa
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapState, mapMutations, mapGetters } from "vuex";
import { required, minLength, between, sameAs } from "vuelidate/lib/validators";
import loader from "~/components/loader";

export default {
  layout: "sideBar",
  components: { loader },
  data() {
    return {
      editDept: true,
      isBusy: false,
      token: "",
      find: "",
      tableData: [],
      perPage: 1,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      screenHeight: 0,
      tableHeight: 0,
      rowDeterm: 0,
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      deptDetails: {
        title: "",
        name: "",
        id: "",
        desc: "",
        deptHead: "",
        status: ""
      },
      newDept: {
        name: "",
        desc: ""
      },
      actions: [],
      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "name",
          label: "Department",
          sortable: true,
          thClass: "sam"
        },
        // {
        //   key: "deptHead",
        //   label: "Department Head",
        //   sortable: true
        // },
        {
          key: "description",
          label: "Description",
          sortable: false
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },
        {
          key: "extra", // column name from API
          label: "", // custom name set
          sortable: false // sort data by column
        }
      ]
    };
  },

  methods: {
    selectRow(row, ind) {
      this.applicant = row;
      this.rowIndex = ind;
      // console.log("this.prevIndex: " + this.prevIndex);
      // console.log("this.rowIndex: " + this.rowIndex);
      // console.log("this.showMenu: " + this.showMenu);
      row.toggleDetails();
      // console.log(row);
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    takeAct(actID, actName, dep, row, ind) {
      this.selectRow(row, ind);
      // console.log(row);
      console.log("===============================");
      // console.log("Department Details: ");
      // console.log("===============================");
      // console.log("id: " + dep.id);
      // console.log("name: " + dep.name);
      // console.log("description: " + dep.description);
      // console.log("userId: " + dep.userId);
      // console.log("deptHead: " + dep.deptHead);
      // console.log("===============================");
      // console.log("Action ID: " + actID);
      // console.log("Action Name: " + actName);
      // console.log("===============================");
      this.deptDetails.title = dep.name;
      this.deptDetails.name = dep.name;
      this.deptDetails.id = dep.id;
      this.deptDetails.desc = dep.description;
      this.deptDetails.deptHead = dep.deptHead;
      this.deptDetails.status = dep.status;

      if (actName == "View Department Details") {
        console.log("det");
        this.$root.$emit("bv::show::modal", "deptModal", "#deptModal");
      } else {
        this.editDept = false;
        this.$root.$emit("bv::show::modal", "deptModal", "#deptModal");
      }
    },
    //close edit and view modal | clear edits
    close() {
      this.deptDetails = {
        title: "",
        name: "",
        id: "",
        desc: "",
        deptHead: "",
        status: ""
      };
      this.$root.$emit("bv::hide::modal", "deptModal", "#deptModal");
      this.editDept = true;
    },
    //close add dept modal and clear inputs
    closeAddDept() {
      this.clearFields();
      this.$root.$emit("bv::hide::modal", "addDeptModal", "#addDeptModal");
    },
    edit() {
      this.editDept = !this.editDept;
      if (this.editDept == true) {
        // console.log("saved");
        this.editDepartment(this.token, this.deptDetails.id);
      } else {
        // console.log("edit");
      }
    },
    cancel() {
      this.editDept = !this.editDept;
      // console.log("canceled");
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    rowDet() {
      // INITIALIZE perPage
      this.perPage = 1;

      // DETERMINE HOW MANY ROWS TO SHOW DEPENDING ON moduleContent HEIGHT
      var rowCounter = setInterval(() => {
        if (this.$refs.rowDeter == undefined) {
          clearInterval(rowCounter);
        } else {
          this.screenHeight = screen.height; // SCREEN HEIGHT / MONITOR HEIGHT
          this.rowDeterm = this.$refs.rowDeter.clientHeight; // moduleContent HEIGHT (px)
          this.tableHeight = ((this.rowDeterm - 50) / screen.height) * 100; // moduleContent HEIGHT (%)

          if (this.tableHeight < 65) {
            this.perPage++;
            // console.log(this.perPage);
          } else {
            // SET DEFAULT ROWS PER PAGE IN ALL TABS
            this.$store.commit("setPerPage", this.perPage);

            // STOP INTERVAL AFTER this.tableHeight == 60
            clearInterval(rowCounter);
          }
        }
      }, 1);
    },
    //logs activity for adding department
    async addDeptActivityLogs(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token,
          module: "Add Department",
          table_affected: "deparments",
          activity: `Added new department: ${name}`
        })
        .then();
    },
    //logs activity for updating department
    async editDeptActivityLogs(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token,
          module: "Update Department",
          table_affected: "deparments",
          activity: `Updated department: ${name}`
        })
        .then();
    },
    async getDepartments(token) {
      this.isBusy = true;
      // FETCH DEPARTMENTS
      await this.$store
        .dispatch("admin/getDeptAction", {
          token
        })
        .then(
          result => {
            console.log("=======================================");
            console.log("Successfully fetched departments");
            console.log("=======================================");
            // this.tableData.push(
            //     {
            //         ...result.data
            //     }
            // );
            this.tableData = result;
            this.isBusy = false;
            // console.log(this.tableData);
            // console.log(...result.data);

            // IMPORTANT!
            this.rowDet();
          },
          error => {
            console.log("=======================================");
            console.log("Failed to fetch departments");
            console.log("=======================================");
            console.log(error);
            this.showAlert(error, "danger");
            console.log("=======================================");
          }
        );
    },
    //add new department
    async addDepartment() {
      await this.$store
        .dispatch("admin/addDeptAction", {
          token: localStorage.token,
          name: this.newDept.name,
          description: this.newDept.desc,
          user_id: localStorage.id
        })
        .then(
          res => {
            let msg = res.data.posted.msg;
            if (msg === "Department already exists!") {
              this.showAlert(msg, "danger");
            } else {
              let msg = "Successfully Added!";
              this.showAlert(msg, "success");
              this.addDeptActivityLogs(this.token, this.newDept.name);
              this.closeAddDept();
              this.getDepartments(this.token);
            }
          },
          error => {
            // console.log(error.response.data.error);
            let err = error.response.data.error;
            this.showAlert(err, "danger");
          }
        );
    },
    //update department details
    async editDepartment() {
      // console.log("object");
      await this.$store
        .dispatch("admin/editDeptAction", {
          token: localStorage.token,
          name: this.deptDetails.name,
          description: this.deptDetails.desc,
          id: this.deptDetails.id,
          status: this.deptDetails.status
        })
        .then(
          res => {
            let msg = res.data.patched.msg;
            this.showAlert(msg, "success");
            this.editDeptActivityLogs(this.token, this.deptDetails.name);
            this.close();
            this.getDepartments(this.token);
          },
          error => {
            // console.log(error.response.data.error);
            let msg = error.response.data.error;
            this.showAlert(msg, "danger");
          }
        );
    },
    //clear inputs
    clearFields() {
      this.newDept.name = "";
      this.newDept.desc = "";
    },
    closeMenu() {
      this.showMenu = false;
    }
  },
  mounted() {
    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.closeMenu();
        }
      },
      false
    );
  },
  created() {
    // SET DEFAULT OPEN TAB IN SIDEBAR
    if (localStorage.activeN) {
      var open = [];
      open.push({
        id: 2,
        subID: 2.3,
        colID: "collapse-adminAccess",
        open: false
      });
      this.$store.commit("openPage", open);
    }
    setTimeout(() => {
      // CHECK IF USER IS ALLOWED TO ACCESS THIS PAGE
      var admin_access = localStorage.role;
      if (admin_access.toLowerCase().includes("admin")) {
        // console.log("Welcome, admin " + localStorage.fname);

        this.token = localStorage.token;
        // FETCH DEPARTMENTS
        this.getDepartments(localStorage.token);

        // ADD TO doneLoader STATE
        this.$store.commit("doneLoad", 13);

        // LOOK FOR THE "ADMIN MODULE" (module_id: 1)
        var access_rights = JSON.parse(localStorage.access_rights_details);
        for (var a = 0; a < access_rights.length; a++) {
          if (access_rights[a].module_id == 1) {
            for (var v = 0; v < access_rights[a].access.length; v++) {
              // GET DEPARTMENT ACTIONS
              if (
                access_rights[a].access[v].action_name
                  .toLowerCase()
                  .includes("department")
              ) {
                this.actions.push({
                  ...access_rights[a].access[v]
                });
              }
            }
          }
        }
      } else {
        this.$router.push({ path: "../../dashboard" });
      }
    }, 501);
  },
  computed: {
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      // return this.tableData
      return this.tableData.filter(data => {
        return (
          data.name.toLowerCase().includes(this.find.toLowerCase()) ||
          data.deptHead.toLowerCase().includes(this.find.toLowerCase())
        );
      });
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
