<template>
    <div :class="'mob_filters_header '+(showSearch == false ? 'fltr_noH':'')" id="searchFilters">
        <!-- SCROLL UP BUTTON -->
        <button class="mob_scroll_up" @click="goTop()" v-show="mob_hide_header_btns == false">
            <fa :icon="['fa', 'chevron-up']" />
        </button>
        <!-- LOADER -->
        <div class="m_loader" v-show="loading">
            <div class="m_loaderCont">
                <b-spinner large variant="success" type="grow"></b-spinner>
            </div>
        </div>
        <!-- ICON BUTTONS -->
        <div v-show="mob_hide_header_btns == false">
            <button id="mob_btn_search" class="mob_btn mob_btn_search" @click="showSearcher()"> <fa :icon="['fa', 'search']" /> </button>
        </div>
        <!-- FILTERS -->
        <div :class="'mob_filter_bg '+(showSearch == false ? 'bg_fade_out hider':'bg_fade_in')">
            <div :class="'mob_filter_cont '+(showSearch == false ? 'fltr_hide':'fltr_show')">
                <!-- SEARCH BAR -->
                <input class="mob_input" type="text" v-model="find" placeholder="search here..."/>
                <div class="mob_filters">
                    <br>

                    <!-- <div class="mob_title"><fa :icon="['fa', 'sliders-h']" /> &nbsp; Filters</div>
                    <button class="mob_btn mob_filter" @click="open_dept_list = true"> {{ ch_dep }} </button>
                    <button class="mob_btn mob_filter" @click="open_pos_list = true"> {{ ch_pos }} </button> -->

                    <div class="mob_title"><fa :icon="['fa', 'calendar-day']" /> &nbsp; Dates</div>
                    <button class="mob_btn mob_filter" @click="select_Date('from', date_f)"> From : &ensp; {{ date_f }} </button>
                    <button class="mob_btn mob_filter" @click="select_Date('to',  date_t)"> To : &ensp; {{ date_t }} </button>

                    <br><br><br>
                    <div class="mob_align_C">
                        <button class="mob_btn1 mob_cancel" @click="showSearch = false"> <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel </button>
                        <button class="mob_btn1 mob_clear" @click="clear_filters()"> <fa :icon="['fa', 'eraser']"/> &ensp; Clear </button>
                        <button class="mob_btn1 mob_done" @click="apply_filter()"> <fa :icon="['fa', 'check-circle']" /> &ensp; Apply </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- DEPARTMENT LIST -->
        <div class="mob_modal_bg" v-show="open_dept_list">
            <div class="mob_departments">
                <div class="mob_list_title"><fa :icon="['fa', 'users']"/> &ensp; Select Department</div>
                <div class="mob_list_scroll">
                    <button class="mob_list" v-for="(dept, d) in optionsDept" :key="'d'+d" @click="chose_dep(dept)">
                        {{ dept.name.trim() }}
                    </button>
                </div>
                <div class="mob_list_footer">
                    <button class="mob_btn1 mob_cancel" @click="open_dept_list = false">
                        <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel
                    </button>
                </div>
            </div>
        </div>

        <!-- POSITIONS LIST -->
        <div class="mob_modal_bg" v-show="open_pos_list">
            <div class="mob_positions">
                <div class="mob_list_title"><fa :icon="['fa', 'users']"/> &ensp; Select Position</div>
                <div class="mob_list_scroll">
                    <button class="mob_list" v-for="(pos, p) in optionsPos" :key="'p'+p" @click="chose_pos(pos)">
                        {{ pos.name.trim() }}
                    </button>
                </div>
                <div class="mob_list_footer">
                    <button class="mob_btn1 mob_cancel" @click="open_pos_list = false">
                        <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel
                    </button>
                </div>
            </div>
        </div>

        <!-- DATE PICKER -->
        <div class="mob_modal_bg" v-show="showDatePicker == true">
        <!-- <div class="mob_modal_bg"> -->
            <div class="mob_datePick">
                <div class="mob_title2">{{datePickerType}}</div>
                <div class="mob_calendar">
                    <!-- DISPLAY SELECTED MONTH -->
                    <div class="datePick_month">
                        <div class="mob_link" @click="open_month(dp_selected_month)">{{ dp_selected_month }}</div>
                        <div class="mob_link" @click="open_year(dp_selected_year)">{{ dp_selected_year }}</div>
                    </div>
                    <!-- MONTH PICKER -->
                    <div class="pick_months" v-show="open_month_list">
                        <div class="pick_months_list" v-for="(months, m) in dp_months" :key="'m'+m" @click="selct_month(months.month, false)">
                            {{ months.month }}
                        </div>
                    </div>
                    <!-- YEAR PICKER -->
                    <div class="pick_years" v-show="open_year_list">
                        <div class="pick_years_list" v-for="(years, m) in dp_years" :key="'m'+m" @click="selct_year(years.year, false)">
                            {{ years.year }}
                        </div>
                    </div>
                    <!-- DATES -->
                    <div class="datePick_Week" v-for="(week, w) in dp_weeks" :key="'w'+w">{{ week.w }}</div>
                    <button 
                    :class="'datePick_day '+(days.day == '.' ? 'hideDot ':(days.today != '' ? 'markToday ':'')+' '+(days.today == 'selected' ? 'selected_day':''))" 
                    v-for="(days, d) in this.dp_days" 
                    :key="d"
                    @click="selct_day(days.day, datePickerType, false)">
                        {{ days.day }}
                    </button>
                </div>
                <!-- DISPLAY SELECTED DATE -->
                <div class="mob_pickedDate">Selected Date: {{ datePickedDate }}</div>
                <!-- DATE PICKER BUTTONS -->
                <div class="mob_date_btns">
                    <button class="mob_btn1 mob_cancel" @click="cancelDate(datePickerType)"> <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel </button>
                    <button class="mob_btn1 mob_done" 
                    @click="selectedDate(datePickedDate, datePickerType)"
                    v-show="isDate_valid"> <fa :icon="['fa', 'check-circle']"/> &ensp; Done </button>
                </div>
            </div>
        </div>

        <!-- TABLE DATA -->
        <div class="m_tableData" :style="'height: '+screenHeight+'px'">
            <div class="m_table_container" id="table_data_id" ref="table_data_ref">
                <br><br>
                <!-- SHOW IF NO DATA -->
                <div class="empty_data" v-if="tableDataComputed.length < 1">
                    <span class="empty_data_icon"><fa :icon="['fa', 'grimace']"/></span>
                    <span class="empty_data_text">
                        No data were fetched.
                        <div class="see_more" @click="showMore = !showMore">
                            {{ (showMore == true ? 'Show less':'Show more') }}
                        </div>
                        <div class="see_more_content" v-show="showMore == true">
                            <br> It could be that:<br><br>
                            &bullet;&ensp;You have slow / no internet connection. <br>
                            &bullet;&ensp;You don't have the access rights for the data, or; <br>
                            &bullet;&ensp;There's simply no data for the current filters.<br><br>
                            If you think you're seeing this by mistake, please let the Software team know. Thank you. <br><br>
                            - ITG
                        </div>
                    </span>
                </div>

                <!-- DISPLAY DATA -->
                <div class="m_data" v-for="(data, x) in tableDataComputed" :key="x">
                    <div class="m_data_hold" @click="viewApplicant(data)">
                        <div class="m_data_init l_c_quick">{{ data.name[0] }}</div>
                        <div class="m_data_info">
                            <div class="m_data_main m_capitalize">{{ data.name.toLowerCase() }}</div>
                            <div class="m_data_sub m_capitalize">{{ data.email }}</div>
                        </div>
                    </div>
                </div>
                <div class="mon_end" v-show="tableDataComputed.length > 0">End of list</div>
            </div>
        </div>

    </div>
</template>

<script>
import io from "socket.io-client";
import moment from "moment";
import axios from "axios";

export default {
    data() {
        return {
            loading: false,
            justLoaded: true,
            showDatePicker: false,
            open_month_list: false,
            open_year_list: false,
            datePickerType: "FROM",
            isDate_valid: true,
            open_dept_list: false,
            open_pos_list: false,
            showMore: false,
            noData: "",
            
            ch_dep: "Choose Department",
            ch_depID: "",
            ch_pos: "Choose Position",
            ch_posID: "",

            date_f: localStorage.date_f,
            date_t: localStorage.date_t,
            showSearch: false,
            find: "",
            tableData: [],
            datePickedDate: "",
            dp_selected_year: moment(new Date()).format("YYYY"),
            dp_selected_month: moment(new Date()).format("MMMM"),
            dp_selected_day: moment(new Date()).format("D"),
            dp_years: [],
            dp_months: [],
            dp_days: [],
            dp_weeks: [
                {w: "Sun"},
                {w: "Mon"},
                {w: "Tue"},
                {w: "Wed"},
                {w: "Thu"},
                {w: "Fri"},
                {w: "Sat"},
            ],
        }
    },
    mounted() {
        // CLOSE IF CLICKED OUTSIDE
        var self = this;
        var el = document.getElementById("searchFilters");
        window.addEventListener(
            "click",
            function(e) {
                if (!el.contains(e.target) == true) {
                    self.hideSearchFilters();
                }
            },
            false
        );
    },
    methods: {
        goTop() {
            document.getElementById("table_data_id").scrollIntoView({behavior: 'smooth', block: 'start'});
        },
        viewApplicant(data) {
            this.showSearch = false;

            // SHOW ACTIONS BUTTONS AND HEADER BUTTONS
            this.$store.commit("mob_hide_actions", false);
            this.$store.commit("mob_hide_header_btns", false);
            
            localStorage.mob_applicant_id = data.id;
            this.$router.push({ path: "../../mobile/viewData" });
        },
        clear_filters() {
            this.ch_dep ="Choose Department";
            this.ch_depID = "";
            this.ch_pos = "Choose Position";
            this.ch_posID = "";

            this.date_f = moment(new Date()).subtract(1, 'months').startOf("month").format("MMM DD, YYYY");
            this.date_t = moment(new Date()).endOf("month").format("MMM DD, YYYY");

            this.dp_selected_year = moment(new Date()).format("YYYY");
            this.dp_selected_month = moment(new Date()).format("MMMM");
            this.dp_selected_day = moment(new Date()).format("D");
        },
        apply_filter() {
            this.showSearch = false;
            // if(this.ch_dep != "Choose Department") { // WITH DEPARTMENT
            //     if(this.ch_pos == "Choose Position") { // WITHOUT POSITION
            //         this.getData_Dept();
            //     }
            //     else { // WITH POSITION
            //         this.getData_Dept_Pos();
            //     }
            // }
            // else if(this.ch_dep == "Choose Department" && this.ch_pos != "Choose Position") { // WITHOUT DEPARTMENT BUT WITH POSITION
            //     this.ch_pos = "Choose Position";
            //     alert("Please choose a department first");
            // }
            // else { // WITHOUT DEPARTMENT AND WITHOUT POSITION
            //     this.reloadData();
            // }
            this.reloadData();
        },
        chose_dep(dept) {
            this.open_dept_list = false;
            console.log(dept);
            // SET DEPARTMENT
            this.ch_dep = dept.name;
            this.ch_depID = dept.id;
            // RESET POSITION
            this.ch_pos = "Choose Position";
            this.ch_posID = "";
            // GET LIST OF POSITIONS UNDER TEH CHOSEN DEPARTMENT
            var temp = [];
            temp.push({ id: dept.id, token: localStorage.token });
            // VIEW POSITIONS BY DEPARTMENT
            this.$store.dispatch("viewPositionsByDept", { data: temp });
        },
        chose_pos(pos) {
            this.open_pos_list = false;
            console.log(pos);
            this.ch_pos = pos.name;
            this.ch_posID = pos.id;
        },
        open_month(month) {
            // OPEN MONTHS & YEAR LIST FOR SELECTION
            this.open_month_list = true;
            this.open_year_list = false;
        },
        open_year() {
            // OPEN MONTHS & YEAR LIST FOR SELECTION
            this.open_month_list = false;
            this.open_year_list = true;
        },
        selct_day(today, type, select_Date) {
            // SELECTING DATE FROM CALENDAR
            // console.log(today);
            if(today != '.') {
                // SET THE SELECTED DATE
                this.dp_selected_day = today;

                // DATE PICKED TO BE ASSIGN TO EITHER 'FROM' or 'TO'
                this.datePickedDate = moment(this.dp_selected_month+' '+today+', '+this.dp_selected_year).format("YYYY-MM-DD");

                // SHOW 'DONE' BUTTON
                this.isDate_valid = true;

                // GET INDEX OF TODAY'S DATE
                var pickedDate_indx = this.dp_days.findIndex(data => {
                    return data.day == today;
                });

                // // DEFAULT SELECTED DATE 
                var currMon = moment(this.datePickedDate).format("MMMM");
                var currDay = moment(this.datePickedDate).format("D");

                // ASSIGN DATA TO SELECTED DATE 
                for(var s=0; s < this.dp_days.length; s++) {
                    if(pickedDate_indx == s) {
                        this.dp_days[s].today = "selected";
                    }
                    else {
                        if(this.dp_days[s].today != "now") {
                            this.dp_days[s].today = "";
                        }
                        if(this.dp_days[s].day == currDay && currMon == this.dp_selected_month) {
                            this.dp_days[s].today = "now";
                        };
                    }
                    // console.log("loop...");
                }
                // console.log(2);
                this.showDatePicker = true;
            }
        },
        selct_month(month, is_canceled, default_date) {
            // SELECTING THE MONTH FROM CALENDAR
            // SET THE SELECTED MONTH
            this.dp_selected_month = month;

            // HIDE THE MONTHS LIST
            this.open_month_list = false;

            // EMPTY THE DAYS
            this.dp_days = [];

            // DETERMINE IF THE FUNCTION IS CALLED FROM CANCEL OR SELECTION BUTTON
            if(is_canceled == true) {
                this.dp_selected_day = default_date;
            }
            else {
                this.dp_selected_day = 0;
                this.isDate_valid = false;
            }

            // REARRANGING DAYS ACCORDING TO SELECTED MONTH
            var basedate = moment(month+""+this.dp_selected_year).startOf("month").format("YYYY-MM-DD");
            var sDate = parseInt(moment(basedate).startOf("month").format("D"));
            var eDate = parseInt(moment(basedate).endOf("month").format("D"));
            var currMon = moment(new Date()).format("MMMM");
            var currDay = moment(new Date()).format("D");

            // DEFAULT SELECTED DATE 
            this.datePickedDate = moment(new Date()).format("YYYY-MM-DD");
            var sDayN = moment(basedate).weekday(); // GET STARTING DAY IN NUMBER FORMAT (ex. March 1 is 2nd day of the week)
            var cnt = 0;
            var cntD = 0;
            // REARRANGE DAYS ACCORDING TO SELECTED MONTH
            for(var d = sDate; d <= 42; d++) { // is the array slot for a month for display
                if(cnt < sDayN) {
                    this.dp_days.push( { day: ".", today: "" } );
                    cnt = cnt + 1;
                }
                else {
                    cntD = cntD + 1;
                    if(cntD <= eDate) {
                        if(this.dp_selected_month == currMon && cntD == currDay) {
                            this.dp_days.push( { day: cntD, today: "now" } );
                        }
                        else {
                            this.dp_days.push( { day: cntD, today: "" } );
                        }
                    }
                    else {
                        this.dp_days.push( { day: ".", today: "" } );
                    }
                }
            }
            // DATE PICKED TO BE ASSIGN TO EITHER 'FROM' or 'TO'
            this.datePickedDate = moment(this.dp_selected_month+' '+this.dp_selected_day+', '+this.dp_selected_year).format("YYYY-MM-DD");
        },
        selct_year(year, type) {
            this.open_year_list = false;
            this.dp_selected_year = year;
            // DATE PICKED TO BE ASSIGN TO EITHER 'FROM' or 'TO'
            this.datePickedDate = moment(this.dp_selected_month+' '+this.dp_selected_day+', '+this.dp_selected_year).format("YYYY-MM-DD");
        },
        cancelDate(type) {
            this.showDatePicker = false;
            this.date_f = this.date_f;
            this.date_t = this.date_t;
            if(type == "FROM") {
                this.dp_selected_month = moment(this.date_f).format("MMMM");
                this.dp_selected_year = moment(this.date_f).format("YYYY");
                var temp = moment(this.date_f).format("D")
                this.selct_month(this.dp_selected_month, true, temp);
            }
            else {
                this.dp_selected_month = moment(this.date_t).format("MMMM");
                this.dp_selected_year = moment(this.date_t).format("YYYY");
                var temp = moment(this.date_f).format("D")
                this.selct_month(this.dp_selected_month, true, temp);
            }
        },
        selectedDate(date, type) {
            this.showDatePicker = false;
            // console.log(date);
            if(type == "FROM") {
                this.date_f = moment(date).format("MMM DD, YYYY");
                localStorage.date_f = this.date_f;
            }
            else if(type="TO") {
                this.date_t = moment(date).format("MMM DD, YYYY");
                localStorage.date_t = this.date_t;
            }
            else {alert("Invalid Date");}
        },
        select_Date(type, date) {
            this.dp_selected_month = moment(date).format("MMMM");
            this.dp_selected_year = moment(date).format("YYYY");
            var today = moment(date).format("D");
            this.selct_month(this.dp_selected_month, true, today);
            if(type == "from") {
                this.datePickerType = "FROM";
                this.selct_day(today, this.datePickerType, true);
            }
            else {
                this.datePickerType = "TO";
                this.selct_day(today, this.datePickerType, true);
            }
        },
        formatDate(date) {
            return moment(date).format("MMM DD, YYYY");
        },
        hideSearchFilters() {
            this.showSearch = false;
        },
        showSearcher() {
            if(this.loading == false) {
                this.justLoaded = false;
                this.showSearch = !this.showSearch;
            }
            // console.log("Show Search and Filters");
        },
        reloadData() {
            this.loading = true;
            this.showSearch = false;
            this.getData_all();
        },
        // async getData_Dept() {
        //     var stager = localStorage.mob_tab_current.toLowerCase();
        //     this.tableData = [];
        //     this.loading = true;
        //     this.positions = null;
        //     await this.$store.dispatch("filterDept", {
        //             deptId: this.ch_depID,
        //             token: localStorage.token,
        //             stage: stager
        //         })
        //         .then(res => {
        //             this.tableData = res;
        //             this.loading = false;
        //         });
        // },
        // async getData_Dept_Pos() {
        //     var stager = localStorage.mob_tab_current.toLowerCase();
        //     this.tableData = [];
        //     this.loading = true;
        //     await this.$store
        //         .dispatch("filterDeptPos", {
        //             deptId: this.ch_depID,
        //             posId: this.ch_posID,
        //             token: localStorage.token,
        //             stage: stager
        //         })
        //         .then(res => {
        //             this.tableData = res;
        //             this.loading = false;
        //         });
        // },
        getData_all() {
            this.loading = true;
            axios({
                method: "POST",
                url: `${this.$axios.defaults.baseURL}/users/quick-applicants`,
                headers: {
                    Authorization: `Bearer ${localStorage.token}`   
                },
                data: {
                    id: localStorage.id,
                    role: localStorage.role,
                    deptID: localStorage.deptId,
                    teamID: localStorage.teamId,
                    dateFrom: moment(this.date_f).format("YYYY-MM-DD"),
                    dateTo: moment(this.date_t).format("YYYY-MM-DD"),
                }
            }).then(res => {
                    var temp = res.data[Object.keys(res.data)[0]];
                    // console.log(temp);
                    if(Array.isArray(temp) == true && temp.length > 0) {
                        this.tableData = res.data[Object.keys(res.data)[0]];
                        this.noData = false;
                    }
                    else {
                        console.log(res.data[Object.keys(res.data)[0]]);
                        this.tableData.length = [];
                        this.noData = true;
                    }
                    this.loading = false;
                },
                error=>{
                    this.loading = false;
                    this.noData = true;
                    console.log(error);
                });
        },
    },
    beforeCreate() {
        if(screen.width > 900) {
            this.$router.push({ path: "../dashboard" });
        }
        setTimeout(() => {
            this.access_rights_details = JSON.parse(
                localStorage.access_rights_details
            );
        }, 1000);
    },
    created() {
        // SET STAGE
        localStorage.mob_tab_current = 'Quick Applicant';
        this.$store.commit("mob_set_active_tab", 'Quick Applicant');
        // SET DATA FOR DATE PICKER USING MOMENT
        // SET MONTHS
        for(var x=0; x < 12; x++) {
            this.dp_months.push(
                {
                    id: x,
                    month: moment().month(x).format("MMMM")
                }
            );
        }
        // SET YEARS
        var temp = parseInt(moment(new Date()).format("YY"));
        var cntr = parseInt(moment(new Date()).format("YYYY")) + 1;
        for(var y=0; y <= temp; y++) {
            cntr = cntr - 1;
            this.dp_years.push(
                {
                    id: y,
                    year: cntr
                }
            );
        }
        // SET DAYS
        var basedate = moment(new Date()).startOf("month").format("YYYY-MM-DD");
        var sDate = parseInt(moment(basedate).startOf("month").format("D"));
        var eDate = parseInt(moment(basedate).endOf("month").format("D"));
        var currMon = moment(new Date()).format("MMMM");
        var currDay = moment(new Date()).format("D");
        // DEFAULT SELECTED DATE 
        this.datePickedDate = moment(new Date()).format("YYYY-MM-DD");
        // console.log(basedate);
        // console.log(currMon);
        // console.log(this.dp_selected_month);
        var sDayN = moment(basedate).weekday(); // GET STARTING DAY IN NUMBER FORMAT (ex. March 1 is 2nd day of the week)
        // console.log(sDayW);
        // console.log(sDayN);
        var cnt = 0;
        var cntD = 0;
        for(var d = sDate; d <= 42; d++) { // is the array slot for a month for display
            if(cnt < sDayN) {
                this.dp_days.push( { day: ".", today: "" } );
                cnt = cnt + 1;
            }
            else {
                cntD = cntD + 1;
                if(cntD <= eDate) {
                    if(this.dp_selected_month == currMon && cntD == currDay) {
                        this.dp_days.push( { day: cntD, today: "now" } );
                    }
                    else {
                        this.dp_days.push( { day: cntD, today: "" } );
                    }
                }
                else {
                    this.dp_days.push( { day: ".", today: "" } );
                }
            }
        }
        // console.log(this.dp_days);
        setTimeout(() => {
            this.token = localStorage.token;
            this.roles = localStorage.role;

            if (localStorage.token == undefined) {
                console.log("Please login firs...");
            } else {
                this.getData_all();

                // LOAD ALL DEPARTMENTS
                this.$store.dispatch("viewAllDepartments", {
                    token: localStorage.token
                });
            }

            // LOOK FOR THE "APPLICATION STAGES MODULE" (module_id: 5)
            var access_rights = JSON.parse(localStorage.access_rights_details);
            // console.log("No. of Access Rights: " + access_rights.length);
            // console.log(access_rights);
            for (var a = 0; a < access_rights.length; a++) {
                if (access_rights[a].module_id == 5) {
                // console.log(access_rights[a].access);
                this.actions = access_rights[a].access;
                }
            }
        }, 501);
    },
    computed: {
        mob_hide_header_btns () {
          return this.$store.state.hide_header_btns;
        },
        optionsPos() {
            var temp = this.$store.getters.viewPositionsByDept;
            if(temp.length > 0) { return temp; }
            else { return []; }
        },
        optionsDept() {
            var temp = this.$store.getters.viewAllDept;
            if(temp.length > 0) { return temp; }
            else { return []; }
        },
        screenHeight() {
            return parseInt(screen.height) - 60;
        },
        tableDataComputed() {
            // console.log(this.tableData);
            if(this.tableData.length > 0) {
                return this.tableData.filter(data => {
                    return (
                        String(data.id).toLowerCase().includes(this.find.toLowerCase()) ||
                        String(data.name).toLowerCase().includes(this.find.toLowerCase()) ||
                        String(data.position).toLowerCase().includes(this.find.toLowerCase()) ||
                        String(data.stage).toLowerCase().includes(this.find.toLowerCase()) ||
                        String(data.email).toLowerCase().includes(this.find.toLowerCase()) ||
                        String(data.mobile).toLowerCase().includes(this.find.toLowerCase())
                    );
                });
            }
            else {
                return [];
            }
        },
    }
}
</script>

<style>

</style>