<template>
  <div class="moduleContent" ref="allApplicantComponent">
    <!-- HEADER TOOLS -->
    <div class="tabTools">
      <!-- EXTRA SLOT  remove class "tabToolsDivX" is slot will be used-->
      <div class="tabToolsDiv tabToolsDivX"></div>
      <!-- EXTRA SLOT -->
      <div class="tabToolsDiv tabToolsDivX"></div>

      <!-- FILTER THESS ACTIONS BY USER ACCESS RIGHTS -->

      <!-- DEPARTMENTS -->
      <div class="tabToolsDiv">
        <multiselect
          v-model="dept"
          deselect-label=""
          select-label=""
          track-by="name"
          label="name"
          placeholder="Select a Department"
          :options="optionsDept"
          :searchable="true"
          :allow-empty="false"
          @input="onSelectDept()"
        >
        </multiselect>
      </div>
      <!-- POSITIONS BY DEPARTMENT :v-model="selected"-->
      <div class="tabToolsDiv">
        <multiselect
          v-model="positions"
          deselect-label=""
          select-label=""
          track-by="name"
          label="name"
          placeholder="Select a Position"
          :options="optionsPositions"
          :searchable="true"
          :allow-empty="false"
          @input="onSelectPosition()"
        >
        </multiselect>
      </div>

      <!-- CLEAR SELECTIONS-->
      <div
        class="tabToolsDiv"
        v-b-tooltip.hover
        title="Clear selected department and position"
      >
        <button class="btn-keep" @click="clearDepartmentPositions(token)">
          <fa :icon="['fa', 'eraser']" />
        </button>
      </div>

      <!-- DATE PICKER -->
      <div class="tabToolsDiv">
        <date-range-picker
          id="date_range_supplier"
          ref="picker"
          opens="center"
          :locale-data="localeData"
          :autoApply="true"
          :singleDatePicker="false"
          :showWeekNumbers="true"
          v-model="datePicker"
          @update="updateValues"
          @change="updateValues"
          size="sm"
          style="width: 14.5rem"
        >
          <div id="date_picker_select_supplier" slot="input">
            {{ datePicker.startDate }} - {{ datePicker.endDate }}
          </div>
        </date-range-picker>
        <button
          @click="resetDate"
          class="toolClear"
          v-b-tooltip.hover
          title="Reset date picker"
        >
          <fa :icon="['fa', 'redo-alt']" />
        </button>
      </div>

      <!-- SEARCH -->
      <div class="tabToolsDiv">
        <button class="toolSearchIco" disabled>
          <fa :icon="['fa', 'search']" />
        </button>
        <input
          class="toolSearch fa"
          type="text"
          name=""
          placeholder="Type to search"
          v-model="find"
        />
        <button
          class="toolClear"
          @click="find = ''"
          v-b-tooltip.hover
          title="Clear Search"
        >
          <fa :icon="['fa', 'eraser']" />
        </button>
      </div>
      <!-- RELOAD DATA -->
      <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
        <button class="btn-keep" @click="getAllApplicants(token)">
          <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
        </button>
      </div>
    </div>

    <!-- TABLE @row-clicked="rowData"  -->
    <div class="tabTable">
      <b-table
        hover
        class="table text-nowrap"
        id="allApplicantsTable"
        select-mode="single"
        :filter="find"
        :items="tableDataComputed"
        :per-page="perPage"
        :fields="fieldHeaders"
        :busy="isBusy"
        :current-page="computedCurrentPage"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        show-empty
      >
        <!-- LOADERS IF isBusy == true -->
        <template #table-busy>
          <div class="text-center text-secondary">
            <b-spinner small class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>

        <!-- Custom display for Application Date -->
        <template #cell(date_application)="row">
          <div class="text-main" v-if="!!row.value">
            <b> {{ formatDate(row.value) }} </b>
            <!-- <b> {{ row.value }} </b> -->
          </div>
          <div v-else>
            <div class="text-reject-pill">
              No Date
            </div>
          </div>
        </template>

        <!-- Custom display for Applicant's name -->
        <template #cell(name)="row">
          <div class="text-main">
            <b>{{ row.value }}</b>
          </div>
          <div class="text-sub2">{{ row.item.position }}</div>
        </template>

        <!-- Custom display for applicant's Status -->
        <template #cell(stage)="row">
          <div
            class="stage text-keep-pill"
            v-if="row.value == 'kept for reference'"
          >
            {{ row.value }}
          </div>
          <div
            class="stage text-reject-pill"
            v-else-if="row.value == 'rejected'"
          >
            {{ row.value }}
          </div>
          <div
            class="stage text-blacklist-pill"
            v-else-if="row.value == 'blacklist'"
          >
            {{ row.value }}
          </div>
          <div
            class="stage text-edit-pill"
            v-else-if="row.value == 'online exam'"
          >
            {{ row.value }}
          </div>
          <div class="stage text-pos2-pill" v-else-if="row.value == 'deployed'">
            {{ row.value }}
          </div>
          <div
            class="stage text-view-pill"
            v-else-if="row.value == 'job offer'"
          >
            {{ row.value }}
          </div>
          <div
            class="stage text-alert-pill"
            v-else-if="row.value == 'received'"
          >
            {{ row.value }}
          </div>
          <div
            class="stage text-admin-pill"
            v-else-if="row.value == 'pending for review'"
          >
            {{ row.value }}
          </div>
          <div
            class="stage text-infos-pill"
            v-else-if="row.value == 'assessment'"
          >
            {{ row.value }}
          </div>
          <div
            class="stage text-endo-pill"
            v-else-if="row.value == 'endorsement'"
          >
            {{ row.value }}
          </div>
          <div
            class="stage text-quick-pill"
            v-else-if="row.value == 'quick applicant'"
          >
            {{ row.value }}
          </div>
          <div
            class="stage text-pos1-pill"
            v-else-if="row.value == 'shortlisted'"
          >
            {{ row.value }}
          </div>
          <div
            class="stage text-sched-pill"
            v-else-if="row.value == 'schedule for assessment'"
          >
            {{ row.value }}
          </div>
          <div v-else>
            {{ row.value }}
          </div>
        </template>

        <!-- Custom display for Email -->
        <template #cell(email)="row">
          <div class="text-sub">
            <b>{{ row.value }}</b>
          </div>
          <div class="text-sub2">{{ row.item.mobile }}</div>
        </template>

        <!-- Custom display for Mobile no. -->
        <!-- <template #cell(mobile)="row">
          <div class="text-sub">
            {{ row.value }}
          </div>
          <div class="text-sub2">{{ row.item.email }}</div>
        </template> -->

        <!-- Custom display for Livestock -->
        <template #cell(livestock)="row">
          <div class="text-sub2-pill">
            {{ row.value }}
          </div>
        </template>

        <!-- Custom display for Willing to travel -->
        <template #cell(willing_to_travel)="row">
          <div
            v-if="row.value.toLowerCase().includes('yes')"
            class="text-pos2-pill"
          >
            {{ row.value }}
          </div>
          <div v-else class="text-sub2-pill">{{ row.value }}</div>
        </template>

        <!-- Custom display for Running Time -->
        <template #cell(running_time)="row">
          <div
            v-if="
              parseInt(row.value.hours) < 24 && parseInt(row.value.days) < 1
            "
          >
            <div class="text-pos2-pill">
              {{ row.value.hours }} hours and {{ row.value.minutes }} minutes
            </div>
          </div>
          <div v-else-if="!row.value">
            <div class="text-reject-pill">
              No running time
            </div>
          </div>
          <div v-else>
            <div
              v-show="parseInt(row.value.days) >= 3"
              class="text-reject-pill"
            >
              {{ row.value.days }} Days
            </div>
            <div v-show="parseInt(row.value.days) == 2" class="text-pos2-pill">
              {{ row.value.days }} Days
            </div>
            <div v-show="parseInt(row.value.days) == 1" class="text-pos2-pill">
              {{ row.value.days }} Day
            </div>
          </div>
        </template>

        <!-- BUTTON PER ROW -->
        <template #cell(extra)="row">
          <div class="rowmenuHold" v-show="showMenu && row.index == rowIndex">
            <div class="rowmenu">
              <div
                class="actionFor"
                @click="viewApplicant(row.item.id, row, row.index)"
              >
                <div class="pointing">
                  <div><fa :icon="['fa', 'user-circle']" /></div>
                  {{ row.item.name }}
                </div>
                <!-- <div class="pointRight"></div> -->
              </div>
              <div class="line"></div>

              <div class="rowMenuScroll">
                <div v-for="(act, a) in actions" :key="a">
                  <button
                    v-if="
                      row.item.stage.includes(
                        act.action_name.split(' - ')[0].toLowerCase()
                      ) && act.status == 'active'
                    "
                    v-show="
                      act.action_name.split(' - ')[1] != 'Search Bar' &&
                        act.action_name.split(' - ')[1] !=
                          'Filter Department' &&
                        act.action_name.split(' - ')[1] != 'Filter Position'
                    "
                    class="bX b-keep"
                    @click="
                      takeAct(act.id, act.action_name, row.item, row, row.index)
                    "
                  >
                    &ensp; {{ act.action_name.split(" - ")[1] }}
                  </button>
                </div>
              </div>
            </div>

            <!-- <div class="pointRight"></div> -->
          </div>

          <button class="btn-actions" @click="selectRow(row, row.index)">
            <fa :icon="['fa', 'ellipsis-v']" />
          </button>
        </template>
      </b-table>
    </div>

    <!-- FOOTER TOOLS -->
    <div class="footer">
      <div class="tabTools">
        <div class="tabToolsDiv">
          Total no. of records: {{ records }} | Page
          {{ computedCurrentPage }} of {{ computedTotalPage }}
        </div>
        <div class="tabToolsDiv tabToolsDivX"></div>
        <div class="tabToolsDiv tabEx">
          <div class="overflow-auto">
            <div>
              <b-pagination
                size="sm"
                v-model="currentPage"
                :total-rows="records"
                :per-page="perPage"
                aria-controls="allApplicantsTable"
              ></b-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alert.message }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import Multiselect from "vue-multiselect";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import io from "socket.io-client";
import axios from "axios";
export default {
  components: {
    DateRangePicker,
    Multiselect
  },
  data() {
    return {
      applicantStage: "",
      sortBy: "date_application",
      sortDesc: true,
      isBusy: false,
      tableData: [],
      perPage: 1,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      applicant: [],
      find: "",
      token: "",
      roles: "",
      actt: "",
      person: "",
      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "date_application",
          label: "Application Date",
          sortable: true
        },
        {
          key: "name",
          label: "Applicant",
          sortable: true
        },
        {
          key: "email", // column name from API
          label: "Contacts", // custom name set
          sortable: true // sort data by column
        },
        {
          key: "stage",
          label: "Stage",
          sortable: true
        },
        {
          key: "livestock",
          sortable: false
        },
        {
          key: "willing_to_travel",
          label: "WTT",
          sortable: false
        },
        {
          key: "running_time",
          label: "Running Time",
          sortable: false
        },

        {
          key: "extra",
          label: "",
          sortable: false
        }
      ],
      actions: [],

      datePicker: {
        startDate: moment()
          .subtract(1, "months")
          .format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      screenHeight: 0,
      tableHeight: 0,
      rowDeterm: 0,

      dept: null,
      positions: null,
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },

      sample_data_object_here: [],
      isConnected: false
    };
  },
  sockets: {
    connect() {
      // Fired when the socket connects.
      this.isConnected = true;
    },

    disconnect() {
      this.isConnected = false;
    },

    // Fired when the server sends something on the "messageChannel" channel.
    messageChannel(data) {
      this.socketMessage = data;
      // console.log("===============================");
      console.log("Message Channel");
      // console.log("===============================");
      // // console.log(data);
      // console.log("===============================");
    }
  },
  watch: {
    rowDeterm() {
      if (this.rowDeterm == 0) {
        this.rowDeterm = 250;
      }
    }
  },
  methods: {
    closeMenu() {
      this.showMenu = false;
    },
    viewApplicant(applicantID, row, ind) {
      this.selectRow(row, ind);
      // console.log("===============================");
      // console.log("id: " + localStorage.id);
      // console.log("role: " + localStorage.role);
      // console.log("deptID: " + localStorage.deptId);
      // console.log("teamID: " + localStorage.teamId);
      // console.log("applicantID: " + applicantID);
      // console.log("===============================");
      this.$store.commit("closeViewApplicants", false);
      this.$store
        .dispatch("viewApplicantDetails", {
          applicantID: applicantID,
          token: localStorage.token
        })
        .then(res => {
          // console.log("Close View Applicants: " + this.closeFullInfo);
          // console.log("===============================");
        });
    },
    selectRow(row, ind) {
      this.opened = true;
      this.applicant = row;
      this.rowIndex = ind;
      // console.log("this.prevIndex: " + this.prevIndex);
      // console.log("this.rowIndex: " + this.rowIndex);
      // console.log("this.showMenu: " + this.showMenu);
      // row.toggleDetails();

      // console.log(row);
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    },
    takeAct(actID, actName, applicant, row, ind) {
      this.selectRow(row, ind);
      var token = localStorage.token;
      var action = String(actName.split(" - ")[1]);

      localStorage.actionID = actID;
      localStorage.actionName = actName;

      // console.log(row);
      // console.log("===============================");
      // console.log("Applicant");
      // console.log("===============================");
      // console.log(applicant);
      // console.log("===============================");
      // console.log("Action ID: " + actID);
      // console.log("Action Stage: " + actName.split(" - ")[0]);
      // console.log("Action Name: " + action);
      // console.log("===============================");
      this.applicantStage = actName.split(" - ")[0];
      switch (action) {
        //============================================================  Endorse to other Department  ===================================
        case "Endorse to other Department":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit(
            "bv::show::modal",
            "endorseToOtherDept",
            "#endorseToOtherDept"
          );
          break;

        //============================================================  Keep for Reference  ============================================
        case "Keep for Reference":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit("bv::show::modal", "keepForrefID", "#keepForrefID");
          break;

        //============================================================ Blacklist =======================================================
        case "Blacklist":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$root.$emit("bv::show::modal", "blacklistID", "#blacklistID");
          break;

        //============================================================  Reject =========================================================
        case "Reject":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$root.$emit("bv::show::modal", "rejectID", "#rejectID");
          break;

        //============================================================  Online Exam  ===================================================
        case "Online Exam":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit("bv::show::modal", "onlineExamID", "#onlineExamID");
          break;

        //============================================================  Endorse For Assessment  ========================================
        case "Endorse For Assessment":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$root.$emit(
            "bv::show::modal",
            "endorseAssessID",
            "#endorseAssessID"
          );
          break;

        //============================================================  Retake  ========================================================
        case "Retake":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit("bv::show::modal", "retakeID", "#retakeID");
          break;

        //============================================================ Create Schedule =================================================
        case "Create Schedule":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$root.$emit(
            "bv::show::modal",
            "createSchedID",
            "#createSchedID"
          );
          break;

        //============================================================  Update Position  ===============================================
        case "Update Position":
          // GET POSITION LIST FIRST
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/users/position-list/${applicant.id}`,
            headers: { Authorization: `Bearer ${token}` }
          })
            .then(res => {
              // THE OPEN MODAL
              this.$store.commit("dashboard/setApplicantDetails", applicant);
              this.$store.commit(
                "dashboard/setPositionsList",
                res.data[Object.keys(res.data)[0]]
              );
              this.$root.$emit("bv::show::modal", "updatePID", "#updatePID");
            })
            .catch(error => {
              // SHOW ERROR ALERT IF ERROR OCUURS WHILE FETCHING POSITIIONS
              // console.log("==================================");
              console.log(error);
              // console.log("==================================");
              this.showAlert(error, "danger");
            });
          break;

        //============================================================ Shortlist =======================================================
        case "Shortlist":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$root.$emit("bv::show::modal", "shortlistID", "#shortlistID");
          break;

        //============================================================ Job Offer =======================================================
        case "Job Offer":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$root.$emit("bv::show::modal", "jobOfferID", "#jobOfferID");
          break;

        //============================================================ Deploy ==========================================================
        case "Deploy":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$root.$emit("bv::show::modal", "deployID", "#deployID");
          break;

        //============================================================ Change Deployed Date ============================================
        case "Change Deployed Date":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$root.$emit("bv::show::modal", "deployDateID", "#deployDateID");
          break;

        //============================================================ Rate AIF ========================================================
        case "Rate IAF":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$root.$emit("bv::show::modal", "rateID", "#rateID");
          break;

        //============================================================ Add Referral ====================================================
        case "Add Referral":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$root.$emit(
            "bv::show::modal",
            "addReferralID",
            "#addReferralID"
          );
          break;

        //============================================================ Return Applicant ================================================
        case "Return Applicant":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$root.$emit(
            "bv::show::modal",
            "returnApplicantID",
            "#returnApplicantID"
          );
          break;

        //============================================================  View Resume  ===================================================
        case "View Resume":
          if (
            String(applicant.resume_upload_url) == "null" ||
            String(applicant.resume_upload_url) == ""
          ) {
            this.showAlert("No Resume Found", "danger");
          } else {
            if (
              String(applicant.resume_upload_url).includes("uploads") ||
              String(applicant.resume_upload_url).includes("drive")
            ) {
              this.showAlert("Resume Found", "success");
              if (applicant.resume_upload_url.includes("uploads")) {
                window.open(
                  this.$axios.defaults.baseURL +
                    "/" +
                    applicant.resume_upload_url
                );
              } else {
                window.open(applicant.resume_upload_url);
              }
            } else {
              this.showAlert("Invalid Resume Link", "danger");
            }
          }
          break;

        //============================================================ View Exam Result ================================================
        case "View Exam Result":
          this.$store.commit("closeExamRating", false);
          this.$store.dispatch("viewExamData", {
            applicantID: applicant.id,
            token: localStorage.token
          });
          break;

        //============================================================ View IAF Results ================================================
        case "View IAF Results":
          this.$store.commit("closeViewApplicants", false);
          this.$store
            .dispatch("viewApplicantDetails", {
              applicantID: applicant.id,
              token: localStorage.token
            })
            .then(res => {
              // console.log("Close View Applicants: " + this.closeFullInfo);
              console.log("===============================");
            });
          break;

        //============================================================ View IQBE Results ===============================================
        case "View IQBE Results":
          this.$store.commit("closeIQBERating", false);
          this.$store.dispatch("viewIQBEData", {
            applicantID: applicant.id,
            token: localStorage.token
          });
          break;

        //============================================================ View Application Form ===========================================
        case "View Application Form":
          // console.log(applicant);
          // this.$router.push(`/applicationForm?token=${token}&id=${applicant.id}`);
          window.open(`/applicationForm?token=${token}&id=${applicant.id}`);
          break;

        default:
          this.showAlert("Unknown action: " + action, "danger");
      }
    },
    formatDate(data) {
      if (data != "") {
        return moment(data).format("MMMM DD, YYYY");
      } else {
        return "No Date";
      }
    },
    getAllApplicants(token) {
      this.isBusy = true;
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/users/all-applicants`,
        headers: {
          Authorization: `Bearer ${localStorage.token}`
        },
        data: {
          id: localStorage.id,
          role: localStorage.role,
          deptID: localStorage.deptId,
          teamID: localStorage.teamId,
          dateFrom: this.dateRange.date_from,
          dateTo: this.dateRange.date_to
        }
      })
        .then(res => {
          this.isBusy = false;
          this.tableData = res.data.applicantList;

          // IMPORTANT!
          //if tab is active run rowDet if not just reload data
          if (this.$refs.allApplicantComponent.clientHeight > 0) {
            this.rowDet();
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    rowData(data) {
      alert();
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );
      // console.log("From: " + this.dateRange.date_from);
      // console.log("To: " + this.dateRange.date_to);

      // this.getAllApplicants(this.dateRange.date_from, this.dateRange.date_to);
      this.getAllApplicants(this.token);
    },
    resetDate() {
      this.dateRange.date_from = moment()
        .subtract(1, "months")
        .format("YYYY-MM-DD");
      this.dateRange.date_to = moment().format("YYYY-MM-DD");
      this.datePicker.startDate = moment(this.dateRange.date_from).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.dateRange.date_to).format(
        "MMM DD, YYYY"
      );
      this.getAllApplicants(this.token);

      // let dateRange = {
      //     date_from: moment()
      //     .subtract(1, "months")
      //     .format("YYYY-MM-DD"),
      //     date_to: moment().format("YYYY-MM-DD")
      // };
    },
    //filter by dept
    async getFilteredDataDept() {
      this.tableData = [];
      this.isBusy = true;
      this.positions = null;
      await this.$store
        .dispatch("filterDept", {
          deptId: this.dept.id,
          token: localStorage.token,
          stage: "all-applicants"
        })
        .then(res => {
          this.tableData = res;
          this.isBusy = false;
        });
    },
    //filter position by dept
    async getFilteredData() {
      this.tableData = [];
      this.isBusy = true;
      await this.$store
        .dispatch("filterDeptPos", {
          deptId: this.dept.id,
          posId: this.positions.id,
          token: localStorage.token,
          stage: "all-applicants"
        })
        .then(res => {
          this.tableData = res;
          this.isBusy = false;
        });
    },
    // getFilteredData(token) {
    //   axios({
    //     method: "GET",
    //     url: `${this.$axios.defaults.baseURL}/users/all-applicants/filter/${this.dept.id}/${this.positions.id}`,
    //     headers: {
    //       Authorization: `Bearer ${token}`
    //     }
    //   })
    //     .then(res => {
    //       this.tableData = res.data[Object.keys(res.data)[0]];
    //       console.log(this.tableData);
    //     })
    //     .catch(err => {
    //       console.log(err);
    //     });
    // },
    async onSelectDept() {
      this.positions = null;
      var temp = [];
      temp.push({
        id: this.dept.id,
        token: localStorage.token
      });
      // VIEW POSITIONS BY DEPARTMENT
      this.$store.dispatch("viewPositionsByDept", { data: temp });
      await this.getFilteredDataDept(localStorage.token);
    },
    async onSelectPosition() {
      await this.getFilteredData(localStorage.token);
    },
    clearDepartmentPositions(token) {
      this.getAllApplicants(token);
      this.dept = null;
      this.positions = null;
      // RELOAD ALL DEPARTMENTS
      this.$store.dispatch("viewAllDepartments", {
        token: localStorage.token
      });
    },
    positionFilterView() {
      // console.log("object");
    },
    rowDet() {
      // INITIALIZE perPage
      this.perPage = 1;
      // DETERMINE HOW MANY ROWS TO SHOW DEPENDING ON moduleContent HEIGHT
      var rowCounter = setInterval(() => {
        if (this.$refs.allApplicantComponent == undefined) {
          clearInterval(rowCounter);
        } else {
          this.screenHeight = screen.height; // SCREEN HEIGHT / MONITOR HEIGHT
          this.rowDeterm = this.$refs.allApplicantComponent.clientHeight; // moduleContent HEIGHT (px)
          this.tableHeight = ((this.rowDeterm - 50) / screen.height) * 100; // moduleContent HEIGHT (%)
          //if there are less than 8 applicants in allApplicants

          if (this.tableData.length < 8) {
            this.perPage++;
            this.$store.commit("doneLoad", 1);
            this.$store.commit("setPerPage", this.perPage);

            clearInterval(rowCounter);
          } else {
            //if more than 8 applicants
            if (this.tableHeight < 50) {
              this.perPage++;
            } else {
              // SET DEFAULT ROWS PER PAGE IN ALL TABS
              this.$store.commit("setPerPage", this.perPage);

              // ADD TO doneLoader STATE
              this.$store.commit("doneLoad", 1);

              // STOP INTERVAL AFTER this.tableHeight == 60
              clearInterval(rowCounter);
            }
          }
        }
      }, 1);
    },
    onSelectStage() {
      // console.log("status selected");
    },
    clearStageFilter() {
      this.dept = "";
      this.getAllApplicants();
    }
  },
  mounted() {
    this.rowDet();

    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.closeMenu();
        }
      },
      false
    );
  },

  created() {
    this.$root.$refs.allApplicantComponent = this;

    setTimeout(() => {
      // DECLARE DATES AS EMPTY
      this.dateRange.date_from = "";
      this.dateRange.date_to = "";
      this.datePicker.startDate = this.dateRange.date_from;
      this.datePicker.endDate = this.dateRange.date_to;

      this.token = localStorage.token;
      this.roles = localStorage.role;

      if (localStorage.token == undefined) {
        console.log("Please login firs...");
      } else {
        this.resetDate();
        // this.getQuickApplicants(this.token);
        this.getAllApplicants(this.token);
      }

      // LOOK FOR THE "APPLICATION STAGES MODULE" (module_id: 5)
      var access_rights = JSON.parse(localStorage.access_rights_details);
      // console.log("No. of Access Rights: " + access_rights.length);
      // console.log(access_rights);
      for (var a = 0; a < access_rights.length; a++) {
        if (access_rights[a].module_id == 5) {
          // console.log(access_rights[a].access);
          this.actions = access_rights[a].access;
        }
      }
    }, 501);
  },
  computed: {
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      return this.tableData.filter(data => {
        return (
          String(data.id)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.name)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.position)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.stage)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.email)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.mobile)
            .toLowerCase()
            .includes(this.find.toLowerCase())
        );
      });
    },
    optionsDept() {
      // console.log(this.$store.getters.viewAllDept);
      return this.$store.getters.viewAllDept;
    },
    optionsPositions() {
      if (this.$store.getters.viewPositionsByDept.length > 0) {
        return this.$store.getters.viewPositionsByDept;
      } else if (this.dept != null) {
        return [
          {
            id: "none",
            name: "No positions available",
            $isDisabled: true
          }
        ];
      } else {
        return [
          {
            id: "none",
            name: "Please select a department first",
            $isDisabled: true
          }
        ];
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
