<template>
  <div class="moduleContent" ref="pendingComponent">
    <!-- HEADER TOOLS -->
    <div class="tabTools">
      <!-- EXTRA SLOT remove tabToolsDivX if slot will be used-->
      <div class="tabToolsDiv tabToolsDivX"></div>
      <!-- EXTRA SLOT remove tabToolsDivX if slot will be used-->
      <div class="tabToolsDiv tabToolsDivX"></div>

      <!-- FILTER THESS ACTIONS BY USER ACCESS RIGHTS -->
      <div v-for="(act, i) in actions" :key="'i' + i">
        <div
          v-if="
            act.action_name
              .split(' - ')[0]
              .toLowerCase()
              .includes('pending') && act.status == 'active'
          "
        >
          <!-- DEPARTMENTS -->
          <div
            class="tabToolsDiv"
            v-show="
              act.action_name.split(' - ')[1] == 'Filter Department' &&
                act.status == 'active'
            "
          >
            <multiselect
              v-model="dept"
              deselect-label=""
              select-label=""
              track-by="name"
              label="name"
              placeholder="Select a Department"
              :options="optionsDept"
              :searchable="true"
              :allow-empty="false"
              @input="onSelectDept()"
            >
            </multiselect>
          </div>
          <!-- POSITIONS BY DEPARTMENT :v-model="selected"-->
          <div
            class="tabToolsDiv"
            v-show="
              act.action_name.split(' - ')[1] == 'Filter Position' &&
                act.status == 'active'
            "
          >
            <multiselect
              v-model="positions"
              deselect-label=""
              select-label=""
              track-by="name"
              label="name"
              placeholder="Select a Position"
              :options="optionsPositions"
              :searchable="true"
              :allow-empty="false"
              @input="onSelectPosition()"
            >
            </multiselect>
          </div>
          <!-- CLEAR SELECTIONS-->
          <div
            class="tabToolsDiv"
            v-b-tooltip.hover
            title="Clear selected department and position"
            v-show="
              act.action_name.split(' - ')[1] == 'Filter Department' &&
                act.action_name.split(' - ')[1] == 'Filter Position' &&
                act.status == 'active'
            "
          >
            <button class="btn-keep" @click="clearDepartmentPositions(token)">
              <fa :icon="['fa', 'eraser']" />
            </button>
          </div>
        </div>
      </div>

      <!-- DATE PICKER -->
      <div class="tabToolsDiv">
        <date-range-picker
          id="date_range_supplier"
          ref="picker"
          opens="center"
          :locale-data="localeData"
          :autoApply="true"
          :singleDatePicker="false"
          :showWeekNumbers="true"
          v-model="datePicker"
          @update="updateValues"
          @change="updateValues"
          size="sm"
          style="width: 14.5rem"
        >
          <div id="date_picker_select_supplier" slot="input">
            {{ datePicker.startDate }} - {{ datePicker.endDate }}
          </div>
        </date-range-picker>
        <button
          @click="resetDate"
          class="toolClear"
          v-b-tooltip.hover
          title="Reset date picker"
        >
          <fa :icon="['fa', 'redo-alt']" />
        </button>
      </div>
      <!-- SEARCH -->
      <div class="tabToolsDiv">
        <button class="toolSearchIco" disabled>
          <fa :icon="['fa', 'search']" />
        </button>
        <input
          class="toolSearch fa"
          type="text"
          name=""
          placeholder="Type to search"
          v-model="find"
        />
        <button
          class="toolClear"
          @click="find = ''"
          v-b-tooltip.hover
          title="Clear Search"
        >
          <fa :icon="['fa', 'eraser']" />
        </button>
      </div>
      <!-- RELOAD DATA -->
      <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
        <button class="btn-keep" @click="getData(token)">
          <fa :icon="['fa', 'redo-alt']" />
        </button>
      </div>
    </div>

    <!-- TABLE @row-clicked="rowData"  -->
    <div class="tabTable">
      <b-table
        hover
        class="table text-nowrap"
        id="quickApplicantsTable"
        select-mode="single"
        :items="tableDataComputed"
        :per-page="perPage"
        :fields="fieldHeaders"
        :busy="isBusy"
        :current-page="computedCurrentPage"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        show-empty
      >
        <!-- LOADERS IF isBusy == true -->
        <template #table-busy>
          <div class="text-center text-secondary">
            <b-spinner small class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>

        <!-- Custom display for Application Date -->
        <template #cell(resume_upload_date)="row">
          <div class="text-main">
            <b>
              {{ formatDate(row.value) }}
            </b>
          </div>
        </template>

        <!-- Custom display for Exam Start Date -->
        <template #cell(onlineExamStartDate)="row">
          <div v-if="row.value">
            <div class="text-main">
              <b>From :&nbsp;</b>
              {{ formatDate(row.value) }}
            </div>

            <div class="text-main">
              <b>To :&nbsp;</b>
              {{ formatDate(row.item.onlineExamEndDate) }}
            </div>
          </div>
          <div v-else class="text-reject-pill">No Dates</div>
        </template>

        <!-- Custom display for Applicant's position -->
        <template #cell(position)="row">
          <div class="text-main">
            <b>{{ row.value }}</b>
          </div>
        </template>

        <!-- Custom display for Applicant's name -->
        <template #cell(name)="row">
          <div class="text-main">
            <b>{{ row.value }}</b>
          </div>
          <div class="text-sub2">{{ row.item.position }}</div>
        </template>

        <!-- Custom display for Email -->
        <template #cell(email)="row">
          <div class="text-sub">
            <b>{{ row.value }}</b>
          </div>
          <div class="text-sub2">{{ row.item.mobile }}</div>
        </template>

        <!-- Custom display for Livestock -->
        <template #cell(livestock)="row">
          <div class="text-sub2-pill">
            {{ row.value }}
          </div>
        </template>

        <!-- Custom display for Assessment Schedule -->
        <template #cell(scheduleAssessment)="row">
          <div class="text-main" v-if="!!row.value">
            <b>
              {{ formatDate(row.value) }}
            </b>
          </div>
          <div v-else>
            <div class="text-reject-pill">
              No Schedule
            </div>
          </div>
        </template>

        <!-- Custom display for Willing to travel -->
        <template #cell(willing_to_travel)="row">
          <div
            v-if="row.value.toLowerCase().includes('yes')"
            class="text-pos2-pill"
          >
            {{ row.value }}
          </div>
          <div v-else class="text-sub2-pill">{{ row.value }}</div>
        </template>

        <!-- Custom display for Running Time -->
        <template #cell(running_time)="row">
          <div v-show="parseInt(row.value.days) == 2" class="text-pos2-pill">
            {{ row.value.days }} Days
          </div>
          <div v-show="parseInt(row.value.days) <= 1" class="text-pos2-pill">
            {{ row.value.days }} Day
          </div>
          <div v-show="parseInt(row.value.days) > 2" class="text-reject-pill">
            {{ row.value.days }} Days
          </div>
        </template>

        <!-- BUTTON PER ROW -->
        <template #cell(extra)="row">
          <div class="rowmenuHold" v-show="showMenu && row.index == rowIndex">
            <div class="rowmenu">
              <div
                class="actionFor"
                @click="viewApplicant(row.item.id, row, row.index)"
              >
                <div class="pointing">
                  <div><fa :icon="['fa', 'user-circle']" /></div>
                  {{ row.item.name }}
                </div>
                <!-- <div class="pointRight"></div> -->
              </div>
              <div class="line"></div>

              <div class="rowMenuScroll">
                <div v-for="(act, a) in actions" :key="a">
                  <button
                    v-if="
                      act.action_name
                        .split(' - ')[0]
                        .toLowerCase()
                        .includes('pending') && act.status == 'active'
                    "
                    v-show="
                      act.action_name.split(' - ')[1] != 'Search Bar' &&
                        act.action_name.split(' - ')[1] !=
                          'Filter Department' &&
                        act.action_name.split(' - ')[1] != 'Filter Position'
                    "
                    class="bX b-keep"
                    @click="
                      takeAct(act.id, act.action_name, row.item, row, row.index)
                    "
                  >
                    &ensp; {{ act.action_name.split(" - ")[1] }}
                  </button>
                </div>
              </div>
            </div>

            <!-- <div class="pointRight"></div> -->
          </div>

          <button class="btn-actions" @click="selectRow(row, row.index)">
            <fa :icon="['fa', 'ellipsis-v']" />
          </button>
        </template>
      </b-table>
    </div>

    <!-- FOOTER TOOLS -->
    <div class="footer">
      <div class="tabTools">
        <div class="tabToolsDiv">
          Total no. of records: {{ records }} | Page
          {{ computedCurrentPage }} of {{ computedTotalPage }}
        </div>
        <div class="tabToolsDiv  tabToolsDivX"></div>
        <div class="tabToolsDiv tabEx">
          <div class="overflow-auto">
            <div>
              <b-pagination
                size="sm"
                v-model="currentPage"
                :total-rows="records"
                :per-page="perPage"
                aria-controls="quickApplicantsTable"
              ></b-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alert.message }}
    </b-alert>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Multiselect from "vue-multiselect";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  components: {
    DateRangePicker,
    Multiselect
  },
  data() {
    return {
      applicantStage: "Pending for Review",
      sortBy: "resume_upload_date",
      sortDesc: true,
      accessRightsDetails: [],
      module: [],
      isBusy: false,
      tableData: [],
      // perPage: 1,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      find: "",
      token: "",
      roles: "",
      actt: "",
      person: "",
      //  positions: [],
      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "resume_upload_date",
          label: "Application Date",
          sortable: true
        },
        {
          key: "name",
          label: "Applicant",
          sortable: true
        },
        {
          key: "email", // column name from API
          label: "Contacts", // custom name set
          sortable: true // sort data by column
        },
        {
          key: "livestock",
          sortable: false
        },
        {
          key: "willing_to_travel",
          label: "WTT",
          sortable: false
        },
        {
          key: "onlineExamStartDate",
          label: "Exam Dates",
          sortable: false
        },
        {
          key: "scheduleAssessment",
          label: "Assessment Schedule",
          sortable: false
        },
        {
          key: "extra",
          label: "",
          sortable: false
        }
      ],
      actions: [],
      datePicker: {
        startDate: moment()
          .subtract(1, "months")
          .format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      dept: null,
      positions: null,
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      }
    };
  },
  methods: {
    formatDate(data) {
      if (data != "") {
        return moment(data).format("MMMM DD, YYYY");
      } else {
        return "No Date";
      }
    },
    closeMenu() {
      this.showMenu = false;
    },
    viewApplicant(applicantID, row, ind) {
      this.selectRow(row, ind);
      // console.log("===============================");
      // console.log("id: " + localStorage.id);
      // console.log("role: " + localStorage.role);
      // console.log("deptID: " + localStorage.deptId);
      // console.log("teamID: " + localStorage.teamId);
      // console.log("applicantID: " + applicantID);
      // console.log("===============================");
      this.$store.commit("closeViewApplicants", false);
      this.$store
        .dispatch("viewApplicantDetails", {
          applicantID: applicantID,
          token: localStorage.token
        })
        .then(res => {
          console.log("Close View Applicants: " + this.closeFullInfo);
          console.log("===============================");
        });
    },
    selectRow(row, ind) {
      this.applicant = row;
      this.rowIndex = ind;
      // console.log("this.prevIndex: " + this.prevIndex);
      // console.log("this.rowIndex: " + this.rowIndex);
      // console.log("this.showMenu: " + this.showMenu);
      // console.log(row);
      // row.toggleDetails();
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    },
    takeAct(actID, actName, applicant, row, ind) {
      this.selectRow(row, ind);

      var token = localStorage.token;
      var action = String(actName.split(" - ")[1]);

      localStorage.actionID = actID;
      localStorage.actionName = actName;

      // console.log("===============================");
      // console.log("Applicant");
      // console.log("===============================");
      // console.log(applicant);
      // console.log("Application Date: " + applicant.date_received);
      // console.log("Department ID: " + applicant.deptId);
      // console.log("Department: " + applicant.deptName);
      // console.log("Position: " + applicant.position);
      // console.log("Resume Link: " + applicant.resume_upload_url);
      // console.log("ID: " + applicant.id);
      // console.log("Name: " + applicant.name);
      // console.log("Email: " + applicant.email);
      // console.log("Mobile: " + applicant.mobile);
      // console.log("Willing to travel: " + applicant.willing_to_travel);
      // console.log("Livestock: " + applicant.livestock);
      // console.log("===============================");
      // console.log("Action ID: " + actID);
      // console.log("Action Stage: " + actName.split(" - ")[0]);
      // console.log("Action Name: " + actName.split(" - ")[1]);
      // console.log("===============================");

      switch (action) {
        //============================================================  View Resume  ===================================================
        case "View Resume":
          if (
            String(applicant.resume_upload_url) == "null" ||
            String(applicant.resume_upload_url) == ""
          ) {
            this.showAlert("No Resume Found", "danger");
          } else {
            if (
              String(applicant.resume_upload_url).includes("uploads") ||
              String(applicant.resume_upload_url).includes("drive")
            ) {
              this.showAlert("Resume Found", "success");
              if (applicant.resume_upload_url.includes("uploads")) {
                window.open(
                  this.$axios.defaults.baseURL +
                    "/" +
                    applicant.resume_upload_url
                );
              } else {
                window.open(applicant.resume_upload_url);
              }
            } else {
              this.showAlert("Invalid Resume Link", "danger");
            }
          }
          break;

        //============================================================ View IAF Results ================================================
        case "View IAF Results":
          this.$store.commit("closeViewApplicants", false);
          this.$store
            .dispatch("viewApplicantDetails", {
              applicantID: applicant.id,
              token: localStorage.token
            })
            .then(res => {
              console.log("Close View Applicants: " + this.closeFullInfo);
              console.log("===============================");
            });
          break;

        //============================================================  Keep for Reference  ============================================
        case "Keep for Reference":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit("bv::show::modal", "keepForrefID", "#keepForrefID");
          break;

        //============================================================  Reject  ========================================================
        case "Reject":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit("bv::show::modal", "rejectID", "#rejectID");
          break;

        //============================================================ Shortlist =======================================================
        case "Shortlist":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit("bv::show::modal", "shortlistID", "#shortlistID");
          break;

        //============================================================ Rate AIF ========================================================
        case "Rate IAF":
          this.$store.commit("dashboard/setApplicantDetails", applicant);
          this.$store.commit(
            "dashboard/setApplicantStage",
            this.applicantStage
          );
          this.$root.$emit("bv::show::modal", "rateID", "#rateID");
          break;

        //============================================================ View Application Form ===========================================
        case "View Application Form":
          // console.log(applicant);
          window.open(`/applicationForm?token=${token}&id=${applicant.id}`);
          break;

        default:
          this.showAlert("Unknown action: " + action, "danger");
      }
    },
    getData(token) {
      // console.log(token);
      this.isBusy = true;
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/users/pending`,
        headers: {
          Authorization: `Bearer ${token}`
        },
        data: {
          id: localStorage.id,
          role: localStorage.role,
          teamID: parseInt(localStorage.teamId),
          deptID: parseInt(localStorage.deptId),
          dateFrom: this.dateRange.date_from,
          dateTo: this.dateRange.date_to
        }
      })
        .then(res => {
          this.isBusy = false;
          this.tableData = res.data[Object.keys(res.data)[0]];
          // console.log("From: " + this.dateRange.date_from);
          // console.log("To: " + this.dateRange.date_to);
          // console.log("id: " + localStorage.id);
          // console.log("role: " + localStorage.role);
          // console.log("deptId: " + typeof localStorage.deptId);
          // console.log("teamId: " + localStorage.teamId);
          // console.log(this.tableData);

          // ADD TO doneLoader STATE
          this.$store.commit("doneLoad", 1);
        })
        .catch(err => {
          console.log(err);
        });

      // CLEAR SELECTIONS
      this.dept = null;
      this.positions = null;

      // RELOAD ALL DEPARTMENTS
      this.$store.dispatch("viewAllDepartments", {
        token: localStorage.token
      });
    },
    //filter by dept
    async getFilteredDataDept() {
      this.tableData = [];
      this.isBusy = true;
      this.positions = null;
      await this.$store
        .dispatch("filterDept", {
          deptId: this.dept.id,
          token: localStorage.token,
          stage: "pending"
        })
        .then(res => {
          this.tableData = res;
          this.isBusy = false;
        });
    },
    //filter position by dept
    async getFilteredData() {
      this.tableData = [];
      this.isBusy = true;
      await this.$store
        .dispatch("filterDeptPos", {
          deptId: this.dept.id,
          posId: this.positions.id,
          token: localStorage.token,
          stage: "pending"
        })
        .then(res => {
          this.tableData = res;
          this.isBusy = false;
        });
    },
    //fetch filtered receive by position and dept
    // getFilteredData(token) {
    //   axios({
    //     method: "GET",
    //     url: `${this.$axios.defaults.baseURL}/users/pending/filter/${this.dept.id}/${this.positions.id}`,
    //     headers: {
    //       Authorization: `Bearer ${token}`
    //     }
    //   })
    //     .then(res => {
    //       this.tableData = res.data[Object.keys(res.data)[0]];
    //       console.log(this.tableData);
    //     })
    //     .catch(err => {
    //       console.log(err);
    //     });
    // },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      // console.log("From: " + this.dateRange.date_from);
      // console.log("To: " + this.dateRange.date_to);
      this.getData(this.token);
    },
    resetDate() {
      this.dateRange.date_from = moment()
        .subtract(1, "months")
        .format("YYYY-MM-DD");
      this.dateRange.date_to = moment().format("YYYY-MM-DD");

      this.datePicker.startDate = moment(this.dateRange.date_from).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.dateRange.date_to).format(
        "MMM DD, YYYY"
      );
      this.getData(this.token);

      // let dateRange = {
      //     date_from: moment()
      //     .subtract(1, "months")
      //     .format("YYYY-MM-DD"),
      //     date_to: moment().format("YYYY-MM-DD")
      // };
    },
    async onSelectDept() {
      // console.log(this.dept);
      // console.log("Department: " + this.dept.name);
      // console.log("ID: " + this.dept.id);

      this.positions = null;
      var temp = [];
      temp.push({
        id: this.dept.id,
        token: localStorage.token
      });
      // VIEW POSITIONS BY DEPARTMENT
      this.$store.dispatch("viewPositionsByDept", { data: temp });
      await this.getFilteredDataDept(localStorage.token);
    },
    async onSelectPosition() {
      // console.log(this.positions);
      await this.getFilteredData(localStorage.token);
    },
    clearDepartmentPositions(token) {
      this.getData(token);
      this.dept = null;
      this.positions = null;
      // RELOAD ALL DEPARTMENTS
      this.$store.dispatch("viewAllDepartments", {
        token: localStorage.token
      });
    },
    positionFilterView() {
      console.log("object");
    },
    openResume() {}
  },
  mounted() {
    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.closeMenu();
        }
      },
      false
    );
  },
  created() {
    this.$root.$refs.pendingComponent = this;
    setTimeout(() => {
      // DECLARE DATES AS EMPTY
      // this.dateRange.date_from = "";
      // this.dateRange.date_to = "";
      this.dateRange.date_from = moment()
        .subtract(1, "months")
        .format("YYYY-MM-DD");
      this.dateRange.date_to = moment().format("YYYY-MM-DD");

      this.token = localStorage.token;
      this.roles = localStorage.role;

      // RELOAD ALL DEPARTMENTS
      this.$store.dispatch("viewAllDepartments", {
        token: localStorage.token
      });

      // REDIRECT TO LOGIN PAGE IF TOKEN IS UNMATCHED
      if (localStorage.token == undefined) {
        console.log("Please login firs...");
      } else {
        this.getData(this.token);
      }

      // LOOK FOR THE "APPLICATION STAGES MODULE" (module_id: 5)
      var access_rights = JSON.parse(localStorage.access_rights_details);
      // console.log("No. of Access Rights: " + access_rights.length);
      // console.log(access_rights);
      for (var a = 0; a < access_rights.length; a++) {
        if (access_rights[a].module_id == 5) {
          // console.log(access_rights[a].access);
          this.actions = access_rights[a].access;
        }
      }
    }, 501);
  },

  computed: {
    perPage() {
      return this.$store.state.perPage;
    },
    closeFullInfo() {
      return this.$store.state.closeViewApplicant;
    },
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        return parseInt(this.records / this.perPage);
      }
    },
    tableDataComputed() {
      return this.tableData.filter(
        data =>
          String(data.name)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.email)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.mobile)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.livestock)
            .toLowerCase()
            .includes(this.find.toLowerCase()) ||
          String(data.position)
            .toLowerCase()
            .includes(this.find.toLowerCase())
      );
    },
    optionsDept() {
      // console.log(this.$store.getters.viewAllDept);
      return this.$store.getters.viewAllDept;
    },
    optionsPositions() {
      if (this.$store.getters.viewPositionsByDept.length > 0) {
        return this.$store.getters.viewPositionsByDept;
      } else if (this.dept != null) {
        return [
          {
            id: "none",
            name: "No positions available",
            $isDisabled: true
          }
        ];
      } else {
        return [
          {
            id: "none",
            name: "Please select a department first",
            $isDisabled: true
          }
        ];
      }
    }
    // userAccess() {
    //   this.accessRightsDetails = JSON.parse(localStorage.access_rights_details);
    //   for (let index = 0; index < this.accessRightsDetails.length; index++) {
    //     //const element = this.accessRightsDetails[index];
    //   }
    //   this.accessRightsDetails.forEach(moduleName => {
    //     console.log("module", moduleName);
    //   });
    //   console.log("accessRightsDetails", this.accessRightsDetails);
    // }
  }
};
</script>

<style lang="scss">
$mainT: #193c2a;
$BG: #eff8f4;
$colReject: #e84d2e;
$colPos2: #00a651;

@font-face {
  font-family: font_M;
  src: url("./assets/red-hat-display-medium.ttf");
}

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}

/* Date Range */
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.vue-daterange-picker .reportrange-text {
  border-radius: 4px 0 0 4px;
  font-size: 13px;
  color: $mainT;
  width: 100%;
  height: 35px;
  border: 0px;
  background: #f5f5f5;
  border: 1px solid #5c7b7b23;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #00a651;
  border-color: transparent;
  color: #fff;
}

.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}
.date_picker_select_supplier {
  font-size: 13px;
}

@media only screen and (max-width: 1400px) {
  .vue-daterange-picker .reportrange-text {
    border-radius: 4px 0 0 4px;
    font-size: 11px;
    color: $mainT;
    width: 100%;
    height: 30px;
    border: 0px;
    background: #f5f5f5;
    border: 1px solid #5c7b7b23;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .date_picker_select_supplier {
    font-size: 11px;
  }
}
</style>
