<template>
  <div class="moduleContainer">
    <div class="moduleName">Roles &amp; Access Rights</div>
    <div class="tabSize" ref="tabsizer">
      <button
        v-for="(tab, i) in tabs"
        :key="i"
        :class="'tab ' + (tab.id == chosenTabs ? 'activeTab' : '')"
        @click="chooseTab(i, tab.id, tab.name)"
      >
        {{ tab.name }}
      </button>
    </div>
    <div class="moduleContent">
      <b-row>
        <b-col>
          <!-- HEADER TOOLS -->
          <div class="tabTools">
            <!-- EXTRA SLOT remove tabToolsDivX if slot will be used-->
            <div class="tabToolsDiv tabToolsDivX"></div>
            <!-- EXTRA SLOT remove tabToolsDivX if slot will be used-->
            <div class="tabToolsDiv tabToolsDivX"></div>
            <!-- EXTRA SLOT remove tabToolsDivX if slot will be used-->
            <div class="tabToolsDiv tabToolsDivX"></div>
            <!-- EXTRA SLOT remove tabToolsDivX if slot will be used-->
            <div class="tabToolsDiv tabToolsDivX"></div>
            <!-- EXTRA SLOT remove tabToolsDivX if slot will be used-->
            <div class="tabToolsDiv tabToolsDivX"></div>

            <!-- ADD ACTION BY MODULE -->
            <!-- <div class="tabToolsDiv">
                        <button class="btn-positive2" v-b-tooltip.hover title="Add Action" @click="addAction()" v-show="modulez != null">
                            <fa :icon="['fa', 'plus']" />
                        </button>
                    </div> -->

            <!-- SELECT MODULE-->
            <div class="tabToolsDiv">
              <multiselect
                v-model="modulez"
                deselect-label=""
                select-label=""
                track-by="moduleName"
                label="moduleName"
                placeholder="Select a Module"
                :options="accessRights"
                :searchable="false"
                :allow-empty="false"
                @input="onSelect()"
              >
              </multiselect>
            </div>
          </div>
        </b-col>
      </b-row>
      <b-row class="actionHold">
        <b-col cols="3">
          <b-row class="actionHeader">Module Access</b-row>
          <b-row class="col3 grouper3">
            <b-col>
              <b-row
                v-for="(data, x) in accessCat"
                :key="'x' + x"
                v-show="data !== 'View Tab'"
              >
                <div
                  :class="chosenTab == data ? 'activeT' : 'inactiveT'"
                  @click="choseTab(data, data)"
                >
                  <fa :icon="['fa', 'caret-right']" /> &emsp;
                  {{ data }}
                </div>
              </b-row>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="9">
          <b-row class="actionHeader">Actions</b-row>
          <b-row class="col4 grouper3">
            <b-col>
              <div
                class="actions"
                v-for="(act, z) in filterActions"
                :key="'z' + z"
                v-show="
                  act.action_name.split(' - ')[0].includes(chosenTab) &&
                    act.action_name.split(' - ')[0] != 'View Tab'
                "
                @click="activate(act, 'z' + z)"
              >
                <button
                  :id="'z' + z"
                  :class="
                    'butn ' + (act.status == 'active' ? 'actv' : 'inactv')
                  "
                >
                  <fa :icon="['fa', 'check']" />
                </button>
                &emsp;

                <span v-if="act.action_name.includes(' - ')">
                  {{ act.action_name.split(" - ")[1] }}
                  <!-- {{ act.action_name.split(' - ')[1] +" - "+ act.status}} -->
                  <!-- {{ act.action_name }} -->
                </span>
                <span v-else>
                  {{ act.action_name }}
                  <!-- {{ act.action_name  +" - "+ act.status}} -->
                </span>
                <!-- {{ act.action_name }} -->
              </div>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <div class="note text-subb">
            <fa :icon="['fa', 'info-circle']" /> &ensp; Changes to actions and
            access rights will apply after relogin.
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Multiselect from "vue-multiselect";
export default {
  layout: "sideBar",
  components: {
    Multiselect
  },
  data() {
    return {
      allActions: [],
      allAccess: [],
      accessRights: [],
      optionsModule: [],
      modulez: null,
      token: "",
      chosenTab: "",
      actionData: "",
      chosenTabs: 2,
      tabs: [
        {
          id: 2,
          name: "Operations Head"
        },
        {
          id: 5,
          name: "People Group"
        },
        {
          id: 3,
          name: "Department Head"
        },
        {
          id: 4,
          name: "Team Head"
        }
      ]
    };
  },
  methods: {
    // addAction() {
    //     var moduleID = this.modulez.module_id;
    //     console.log("Add Action in module: " + moduleID);
    //     axios({
    //         method: "GET",
    //         url: `${this.$axios.defaults.baseURL}/access-rights/admin/view/1`,
    //         headers: {
    //             Authorization: `Bearer ${this.token}`
    //         }
    //     })
    //     .then(
    //         res => {
    //             var temp = res.data[Object.keys(res.data)[0]];
    //             // console.log(temp);

    //             var access = [];
    //             var access2 = [];

    //             // FIND module BY moduleID FROM ADMIN ACCESS RIGHTS
    //             for(var z=0; z < temp[0].actions.length; z++) {
    //                 if(temp[0].actions[z].module_id == moduleID) {
    //                     access.push(
    //                         {
    //                             ...temp[0].actions[z]
    //                         }
    //                     );
    //                     // console.log(access);
    //                 }
    //             }

    //             // console.log(this.accessRights.length);
    //             // FIND module 5 (Application Stages Module) FROM SELECTED ROLE (OH, PG, DH, TH)
    //             for(var z=0; z < this.accessRights.length; z++) {
    //                 if(this.accessRights[z].module_id == moduleID) {
    //                     access2.push(
    //                         {
    //                             ...this.accessRights[z]
    //                         }
    //                     );
    //                     // console.log(access2);
    //                 }
    //             }

    //             console.log("Administrator: " + access[0].access.length);
    //             console.log("Selected Role: " + access2[0].access.length);
    //             var tem1 = access[0].access;
    //             var tem2 = access2[0].access;
    //             console.log(tem1);
    //             console.log(tem2);
    //             var noMatch = [];
    //             // COMPARE ACCESS RIGHTS (admin vs selected role) AND FIND THE NON EXISTING ACTIONS from selected role
    //             // for(var d=0; d < tem2.length; d++) {
    //             //     var diff = tem2.filter(
    //             //         data => data.action_name.includes(tem1[d].action_name)
    //             //     );
    //             //     if(diff.length < 0 && diff.length != 0) {
    //             //         // console.log(tem1[d].action_name);
    //             //         console.log(diff);
    //             //         // noMatch.push(
    //             //             //     {
    //             //                 //         ...tem1[0]
    //             //         //     }
    //             //         // );
    //             //     }
    //             //     else {
    //             //         console.log(diff);
    //             //     }
    //             // }
    //             // noMatch = tem2..filter( data => tem1)
    //             console.log("Available Actions: " + tem2.length);
    //             console.log(noMatch);
    //         },
    //         error => {
    //             console.log(error);
    //         }
    //     );
    // },
    onSelect() {
      // console.log(this.modulez);
      this.chosenTab = "";
    },
    chooseTab(ind, id, name) {
      this.chosenTabs = id;

      // GET ACCESS RIGHTS
      this.token = localStorage.token;
      this.modulez = null;
      this.accessRights = [];
      this.getAccessRights(this.token);
    },
    activate(data, ind) {
      var samp = document.getElementById(ind).className;
      //   console.log(String(samp));
      if (String(samp) && String(samp).includes("inactv")) {
        var state = "active";
        document.getElementById(ind).classList.remove("inactv"); // REMOVE CSSS
        document.getElementById(ind).classList.add("actv"); // ADD CSSS
      } else {
        var state = "inactive";
        document.getElementById(ind).classList.remove("actv"); // REMOVE CSSS
        document.getElementById(ind).classList.add("inactv"); // ADD CSSS
      }
      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/actions/admin/update/${data.id}`,
        headers: {
          Authorization: `Bearer ${this.token}`
        },
        data: {
          action_name: data.action_name,
          module_id: data.module_id,
          status: state
        }
      }).then(
        res => {
          //   console.log(
          //     data.module_id + " - " + data.action_name + " - " + state
          //   );
          this.allActions = res.data;
          //   console.log(this.allActions);
        },
        error => {
          console.log(error);
        }
      );
    },
    choseTab(name, data) {
      this.chosenTab = name;
      this.actionData = data;
    },
    getAccessRights(token) {
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/access-rights/admin/view/${this.chosenTabs}`,
        headers: {
          Authorization: `Bearer ${token}`
        }
      }).then(
        res => {
          var temp = res.data[Object.keys(res.data)[0]];
          // this.accessRights = temp[0].actions;
          // console.log(temp[0]);
          //   console.log(temp);

          // REMOVE module 6 (Sidebar)
          for (var z = 0; z < temp[0].actions.length; z++) {
            // console.log(temp[0].actions[z].module_id);
            if (temp[0].actions[z].module_id != 6) {
              // console.log(temp[0].actions[z]);
              this.accessRights.push({
                ...temp[0].actions[z]
              });
              // console.log(this.accessRights);
            }
          }
        },
        error => {
          console.log(error);
        }
      );
    }
  },
  created() {
    setTimeout(() => {
      // CHECK IF USER IS ALLOWED TO ACCESS THIS PAGE
      var admin_access = localStorage.role;
      if (admin_access.toLowerCase().includes("admin")) {
        console.log("Welcome, admin " + localStorage.fname);

        // SET DEFAULT OPEN TAB IN SIDEBAR
        if (localStorage.activeN) {
          var open = [];
          open.push({
            id: 2,
            subID: 2.2,
            colID: "collapse-adminAccess",
            open: false
          });
          this.$store.commit("openPage", open);
        }

        // GET ACCESS RIGHTS
        this.token = localStorage.token;
        this.getAccessRights(this.token);

        // ADD TO doneLoader STATE
        this.$store.commit("doneLoad", 13);
      } else {
        this.$router.push({ path: "../../dashboard" });
      }
    }, 501);
  },
  computed: {
    actions() {
      return this.allActions;
    },
    filterActions() {
      if (this.chosenTab != "") {
        if (this.modulez == null) {
          var temp = [];
          return temp;
        } else {
          return this.modulez.access;
        }
      } else {
        var temp = [];
        return temp;
      }
    },
    accessCat() {
      if (this.modulez == null) {
        var temp = [];
        return temp;
      } else {
        // console.log(this.modulez.access);
        var temp = [];
        // PASS THE FIRST WORDS TO TEMP
        for (var s = 0; s < this.modulez.access.length; s++) {
          if (this.modulez.access[s].action_name.includes(" - ")) {
            if (
              this.modulez.access[s].action_name
                .split(" ")[0]
                .includes("Report")
            ) {
              temp[s] = this.modulez.access[s].action_name.split(" ")[0];
            } else {
              temp[s] = this.modulez.access[s].action_name.split(" - ")[0];
            }
          } else {
            temp[s] = this.modulez.access[s].action_name.split(" ")[0];
          }
          // temp[s] = this.modulez.access[s].action_name.split(' ')[0];
        }
        // GET UNIQUE VALUE
        var uniq = [...new Set(temp)];
        // console.log(temp);
        // console.log(uniq);
        return uniq;
      }
    }
  }
};
</script>

<style scoped lang="scss">
$mainT: #193c2a;
$BG: #eff8f4;
@font-face {
  font-family: font_M;
  src: url("./assets/red-hat-display-medium.ttf");
}

/* Date Range */
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.vue-daterange-picker .reportrange-text {
  border-radius: 4px 0 0 4px;
  font-size: 13px;
  color: $mainT;
  width: 100%;
  height: 35px;
  border: 0px;
  background: #f5f5f5;
  border: 1px solid #5c7b7b23;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #00a651;
  border-color: transparent;
  color: #fff;
}

.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}
.date_picker_select_supplier {
  font-size: 13px;
}

@media only screen and (max-width: 1400px) {
  .vue-daterange-picker .reportrange-text {
    border-radius: 4px 0 0 4px;
    font-size: 11px;
    color: $mainT;
    width: 100%;
    height: 30px;
    border: 0px;
    background: #f5f5f5;
    border: 1px solid #5c7b7b23;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .date_picker_select_supplier {
    font-size: 11px;
  }
}
</style>
