<template>
  <div>
    <b-modal id="rejectID" :no-close-on-backdrop="true">
      <template #modal-header class="headr">
        <div class="deptIcn"><fa :icon="['fa', 'thumbs-down']" /></div>
        <div class="deptTitleDiv"><b>Reject</b></div>
      </template>
      <div class="mdlBody">
        <b-row>
          <b-col>
            <b-row>
              <div class="grouper2 xWidth" v-if="applicantData">
                <div class="applname">{{ applicantData.name }}</div>
                <div class="bord">{{ applicantData.position }}</div>
              </div>
              <div class="grouper2 xWidth" v-else>
                Applicant Data is missing
              </div>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-row><b class="modalText">Remarks (optional): </b></b-row>
            <b-row>
              <textarea
                name="remarks"
                class="kfr_remarks"
                v-model="remarks"
                @input="keepForRef_remarks()"
              ></textarea>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <div class="note2">
              By clicking "Save" the applicant <b>will be rejected</b>. Please
              proceed with caution. <br /><br />

              <div v-if="note != ''">
                <div
                  class="note2 text-alert"
                  v-if="note == 'Saving, please wait...'"
                >
                  <b-spinner small variant="warning" type="grow"></b-spinner>
                  &ensp; {{ note }}
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div v-show="note != 'Saving, please wait...'">
          <button class="btn-deact" @click="closeReject()">Cancel</button>
          <button class="btn-keep" @click="clearRemarks()">Clear</button>
          <button class="btn-positive2" @click="reject()">Save</button>
        </div>
      </template>
    </b-modal>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alertt }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  data() {
    return {
      remarks: "",
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      note: "",
      notifData: []
    };
  },
  methods: {
    // reloadQuickApplicantTable() {
    //   this.$root.$refs.quickApplicantsComponent.getQuickApplicants(
    //     localStorage.token
    //   );
    // },
    // reloadReceivedTable() {
    //   this.$root.$refs.receivedComponent.getReceived();
    // },
    // reloadOnlineExamTable() {
    //   this.$root.$refs.onlineExamComponent.getData(localStorage.token);
    // },
    // reloadEndorsementTable() {
    //   this.$root.$refs.endorsementComponent.getData(localStorage.token);
    // },
    // reloadScheduleAssessmentTable() {
    //   this.$root.$refs.scheduleAssessmentComponent.getData(localStorage.token);
    // },
    // reloadAssessmentTable() {
    //   this.$root.$refs.assessmentComponent.getData(localStorage.token);
    // },
    // reloadPendingTable() {
    //   this.$root.$refs.pendingComponent.getData(localStorage.token);
    // },
    keepForRef_remarks() {
      console.log(this.remarks);
    },
    clearRemarks() {
      this.remarks = "";
    },
    reject() {
      // SETUP DATA FOR NOTIFICATION ALERT
      this.notifData = [];
      let user = localStorage.fname + " " + localStorage.lname;
      let applicantName = this.applicantData.name;
      this.notifData.push({
        date: moment(new Date()).format("YYYY-MM-DD"),
        stage: localStorage.actionName.split(" - ")[0],
        actionID: localStorage.actionID,
        actionName: localStorage.actionName.split(" - ")[1],
        action: localStorage.actionName,
        desc: user + "  rejected " + applicantName + "'s application",
        user: {
          id: localStorage.id,
          role: localStorage.role,
          teamID: localStorage.teamId,
          deptID: localStorage.deptId,
          name: localStorage.fname + " " + localStorage.lname
        },
        applicant: {
          id: this.applicantData.id,
          name: this.applicantData.name,
          position: this.applicantData.position,
          dpetID: this.applicantData.deptId
        }
      });

      // ACTION
      var token = localStorage.token;
      this.$store.dispatch("dashboard/reject", {
        token: token,
        applicant: this.applicantData,
        remarks: this.applicantStage + " : " + this.remarks,
        userID: localStorage.id,
        notifData: this.notifData
      });
      this.note = "Saving, please wait...";
      this.logActivity();
    },
    async logActivity(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Applicant Stages",
          table_affected: "Users",
          activity: `Rejected applicant: ${this.applicantData.name}`
        })
        .then();
    },
    closeReject() {
      this.$store.commit("dashboard/rejectDone", "");

      this.$root.$emit("bv::hide::modal", "rejectID", "#rejectID");
      // if (
      this.note == "Saving, please wait...";
      //   ) {
      //   switch (this.applicantStage) {
      //     case "Quick Applicant":
      //       this.reloadQuickApplicantTable();
      //       break;

      //     case "Received":
      //       this.reloadReceivedTable();
      //       break;

      //     case "Endorsement":
      //       this.reloadEndorsementTable();
      //       break;

      //     case "Online Exam":
      //       this.reloadOnlineExamTable();
      //       break;

      //     case "Schedule for Assessment":
      //       this.reloadScheduleAssessmentTable();
      //       break;

      //     case "Assessment":
      //       this.reloadAssessmentTable();
      //       break;

      //     case "Pending for Review":
      //       this.reloadPendingTable();
      //       break;
      //   }
      // }
      this.note = "";
      setTimeout(() => {
        this.$store.commit("dashboard/rejectDone", "");
      }, 5000);
      this.clearRemarks();
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    }
  },
  computed: {
    ...mapGetters({ applicantData: "dashboard/applicantDetails" }),
    ...mapGetters({ applicantStage: "dashboard/applicantStage" }),
    ...mapGetters({ doneReject: "dashboard/doneReject" }),
    alertt() {
      if (this.doneReject != "") {
        if (String(this.doneReject) == "Done") {
          // this.showAlert("Success: " + this.doneReject, "success");
        } else {
          this.showAlert("Failed: " + this.doneReject, "danger");
        }
        this.closeReject();
        return this.doneReject;
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
.kfr_remarks {
  border: 1px solid #c4c4c4;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
}
</style>
