<template>
  <div>
    <b-modal id="deployID" :no-close-on-backdrop="true">
      <template #modal-header class="headr">
        <div class="deptIcn"><fa :icon="['fa', 'rocket']" /></div>
        <div class="deptTitleDiv"><b>Deploy</b></div>
      </template>
      <div class="mdlBody">
        <b-row>
          <b-col>
            <b-row>
              <div class="grouper2 xWidth" v-if="applicantData">
                <div class="applname">{{ applicantData.name }}</div>
                <div class="bord">{{ applicantData.position }}</div>
                <div class="bord">{{ applicantData.email }}</div>
                <div class="bord">{{ applicantData.mobile }}</div>
              </div>
              <div class="grouper2 xWidth" v-else>
                Applicant Data is missing
              </div>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-row
              ><b class="modalText"
                >Deployment Date: (click the gray box below)
              </b></b-row
            >
            <b-row>
              <datetime v-model="deploymentDate" class="bfi-theme"></datetime>
              <br /><br />
            </b-row>

            <b-row
              ><b class="modalText"
                >Date of Deadline: (click the gray box below)
              </b></b-row
            >
            <b-row>
              <datetime v-model="deadline" class="bfi-theme"></datetime>
              <br /><br />
            </b-row>

            <b-row
              ><b class="modalText"
                >Orientation Date &amp; Time: (click the gray box below)
              </b></b-row
            >
            <b-row>
              <datetime
                type="datetime"
                v-model="orientationDateTime"
                class="bfi-theme"
              ></datetime>
              <br /><br />
            </b-row>

            <b-row><b class="modalText">Enter location: </b></b-row>
            <b-row>
              <input type="text" class="modalEdit" v-model="location" />
            </b-row>

            <b-row
              ><b class="modalText">Enter contact person's number: </b></b-row
            >
            <b-row>
              <input type="number" class="modalEdit" v-model="contactN" />
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <div class="note2">
              This action is irreversable. Please proceed with caution.
              <br /><br />

              <div v-if="note != ''">
                <div
                  class="note2 text-alert"
                  v-if="note == 'Saving, please wait...'"
                >
                  <b-spinner small variant="warning" type="grow"></b-spinner>
                  &ensp; {{ note }}
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div v-show="note != 'Saving, please wait...'">
          <button class="btn-deact" @click="closeDeploy()">Cancel</button>
          <button class="btn-keep" @click="clearFieldz()">Clear</button>
          <button class="btn-positive2" @click="deploy()">Save</button>
        </div>
      </template>
    </b-modal>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alertt }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import { mapState, mapMutations, mapGetters } from "vuex";
import { Datetime } from "vue-datetime";
import "../../assets/vue-datetime.scss";

export default {
  components: {
    Datetime
  },
  data() {
    return {
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      note: "",
      deploymentDate: "",
      deadline: "",
      orientationDateTime: "",
      location: "",
      contactN: "",
      notifData: []
    };
  },
  methods: {
    // reloadJobOfferTable() {
    //   this.$root.$refs.jobOfferComponent.getData(localStorage.token);
    // },
    // reloadDeployedTable() {
    //   this.$root.$refs.rowDeter.getData(localStorage.token);
    // },
    clearFieldz() {
      this.note = "";
      this.deploymentDate = "";
      this.deadline = "";
      this.orientationDateTime = "";
      this.location = "";
      this.contactN = "";
    },
    async logActivity(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Applicant Stages",
          table_affected: "Users",
          activity: `Deployed applicant: ${this.applicantData.name}`
        })
        .then();
    },
    deploy() {
      // SETUP DATA FOR NOTIFICATION ALERT
      this.notifData = [];
      let user = localStorage.fname + " " + localStorage.lname;
      let applicantName = this.applicantData.name;
      this.notifData.push({
        date: moment(new Date()).format("YYYY-MM-DD"),
        stage: localStorage.actionName.split(" - ")[0],
        actionID: localStorage.actionID,
        actionName: localStorage.actionName.split(" - ")[1],
        action: localStorage.actionName,
        desc: user + " deployed " + applicantName,
        user: {
          id: localStorage.id,
          role: localStorage.role,
          teamID: localStorage.teamId,
          deptID: localStorage.deptId,
          name: localStorage.fname + " " + localStorage.lname
        },
        applicant: {
          id: this.applicantData.id,
          name: this.applicantData.name,
          position: this.applicantData.position,
          dpetID: this.applicantData.deptId
        }
      });

      // ACTION
      var token = localStorage.token;
      var data = [];
      data.push({
        deployment: this.deploymentDate,
        orientation: this.orientationDateTime,
        deadline: this.deadline,
        location: this.location,
        contactN: this.contactN,
        notifData: this.notifData
      });
      this.$store.dispatch("dashboard/deploy", {
        token: token,
        applicant: this.applicantData,
        data: data[0],
        notifData: this.notifData
      });
      this.note = "Saving, please wait...";
      this.logActivity();
    },
    closeDeploy() {
      this.$store.commit("dashboard/deployDone", "");
      this.$root.$emit("bv::hide::modal", "deployID", "#deployID");
      // if (
      // this.note == "Saving, please wait..."
      // ) {
      // this.reloadJobOfferTable();
      // this.reloadDeployedTable();
      // }
      this.note = "";
      setTimeout(() => {
        this.$store.commit("dashboard/deployDone", "");
      }, 5000);
      this.note = "";
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    }
  },
  computed: {
    ...mapGetters({ applicantData: "dashboard/applicantDetails" }),
    ...mapGetters({ applicantStage: "dashboard/applicantStage" }),
    ...mapGetters({ doneDeploy: "dashboard/doneDeploy" }),
    alertt() {
      if (this.doneDeploy != "") {
        if (String(this.doneDeploy) == "Done") {
          // this.showAlert("Success: " + this.doneDeploy, "success");
        } else {
          this.showAlert("Failed: " + this.doneDeploy, "danger");
        }
        this.closeDeploy();
        return this.doneDeploy;
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
.kfr_remarks {
  border: 1px solid #c4c4c4;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
}
</style>
