<template>
  <div>
    <b-modal id="returnApplicantID" :no-close-on-backdrop="true">
      <template #modal-header class="headr">
        <div class="deptIcn"><fa :icon="['fa', 'user-tie']" /></div>
        <div class="deptTitleDiv"><b>Return Applicant</b></div>
      </template>
      <div class="mdlBody">
        <b-row>
          <b-col>
            <b-row>
              <div class="grouper2 xWidth" v-if="applicantData">
                <div class="applname">{{ applicantData.name }}</div>
                <div class="bord">{{ applicantData.position }}</div>
              </div>
              <div class="grouper2 xWidth" v-else>
                Applicant Data is missing
              </div>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <div class="note2">
              By clicking "Save" the applicant will be
              <b>returned to Received stage</b>, clearing all his/her previous
              exam results and assessment ratings. Please proceed with caution.
              <br /><br />

              <div v-if="note != ''">
                <div
                  class="note2 text-alert"
                  v-if="note == 'Saving, please wait...'"
                >
                  <b-spinner small variant="warning" type="grow"></b-spinner>
                  &ensp; {{ note }}
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div v-show="note != 'Saving, please wait...'">
          <button class="btn-deact" @click="closeReturnApplicant()">
            Cancel
          </button>
          <button class="btn-positive2" @click="returnApplicant()">Save</button>
        </div>
      </template>
    </b-modal>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alertt }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  data() {
    return {
      remarks: "",
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      note: "",
      notifData: []
    };
  },
  methods: {
    returnApplicant() {
      // SETUP DATA FOR NOTIFICATION ALERT
      this.notifData = [];
      let user = localStorage.fname + " " + localStorage.lname;
      let applicantName = this.applicantData.name;
      this.notifData.push({
        date: moment(new Date()).format("YYYY-MM-DD"),
        stage: localStorage.actionName.split(" - ")[0],
        actionID: localStorage.actionID,
        actionName: localStorage.actionName.split(" - ")[1],
        action: localStorage.actionName,
        desc: user + " returned " + applicantName + " to Received stage",
        user: {
          id: localStorage.id,
          role: localStorage.role,
          teamID: localStorage.teamId,
          deptID: localStorage.deptId,
          name: localStorage.fname + " " + localStorage.lname
        },
        applicant: {
          id: this.applicantData.id,
          name: this.applicantData.name,
          position: this.applicantData.position,
          dpetID: this.applicantData.deptId
        }
      });

      // ACTION
      var token = localStorage.token;
      this.$store.dispatch("dashboard/returnApplicant", {
        token: token,
        applicant: this.applicantData,
        notifData: this.notifData
      });
      this.note = "Saving, please wait...";
      this.logActivity();
    },
    async logActivity(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Applicant Stages",
          table_affected: "Users",
          activity: `Return applicant: ${this.applicantData.name}`
        })
        .then();
    },
    closeReturnApplicant() {
      this.$store.commit("dashboard/returnApplicantDone", "");

      this.$root.$emit(
        "bv::hide::modal",
        "returnApplicantID",
        "#returnApplicantID"
      );
      this.note = "";
      setTimeout(() => {
        this.$store.commit("dashboard/returnApplicantDone", "");
      }, 5000);
      this.note = "";
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    }
  },
  computed: {
    ...mapGetters({ applicantData: "dashboard/applicantDetails" }),
    ...mapGetters({ doneReturnApplicant: "dashboard/doneReturnApplicant" }),
    alertt() {
      if (this.doneReturnApplicant != "") {
        if (String(this.doneReturnApplicant) == "Done") {
          // this.showAlert("Success: " + this.doneReturnApplicant, "success");
        } else {
          this.showAlert("Failed: " + this.doneReturnApplicant, "danger");
        }
        this.closeReturnApplicant();
        return this.doneReturnApplicant;
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
