<template>
  <div>
    <b-modal id="rateID" :no-close-on-backdrop="true">
      <template #modal-header class="headr">
        <div class="deptIcn"><fa :icon="['fa', 'percentage']" /></div>
        <div class="deptTitleDiv">
          <b>Rate IAF {{ today }}</b>
        </div>
      </template>
      <div class="mdlBody">
        <b-row>
          <b-col>
            <b-row>
              <div class="grouper2 xWidth" v-if="applicantData">
                <div class="applname">{{ applicantData.name }}</div>
                <div class="bord">{{ applicantData.position }}</div>
              </div>
              <div class="grouper2 xWidth" v-else>
                Applicant Data is missing
              </div>
            </b-row>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <!-- COMMUNICATION SKILLS -->
            <b-row><b class="modalText">Communication Skills*</b></b-row>
            <b-row>
              <b-col>
                <Multiselect
                  class="selectInput"
                  v-model="communication_skills"
                  deselect-label=""
                  select-label=""
                  track-by="rating"
                  label="rating"
                  placeholder="Select a rating"
                  :options="ratingOptions"
                  :searchable="true"
                  :allow-empty="false"
                  @input="on_communcation()"
                >
                </Multiselect>
              </b-col>
              <b-col>
                <input
                  type="text"
                  v-model="communication_skills_note"
                  class="modalEdit"
                  placeholder="Remarks"
                  @input="on_communcation()"
                />
              </b-col>
            </b-row>

            <!-- CONFIDENCE -->
            <b-row><b class="modalText">Demostrated Confidence*</b></b-row>
            <b-row>
              <b-col>
                <Multiselect
                  class="selectInput"
                  v-model="confidence"
                  deselect-label=""
                  select-label=""
                  track-by="rating"
                  label="rating"
                  placeholder="Select a rating"
                  :options="ratingOptions"
                  :searchable="true"
                  :allow-empty="false"
                  @input="on_confidence()"
                >
                </Multiselect>
              </b-col>
              <b-col>
                <input
                  type="text"
                  v-model="confidence_note"
                  class="modalEdit"
                  placeholder="Remarks"
                  @input="on_confidence()"
                />
              </b-col>
            </b-row>

            <!-- PHYSICAL APPEARACNE -->
            <b-row><b class="modalText">Physical Appearance*</b></b-row>
            <b-row>
              <b-col>
                <Multiselect
                  class="selectInput"
                  v-model="physical_appearance"
                  deselect-label=""
                  select-label=""
                  track-by="rating"
                  label="rating"
                  placeholder="Select a rating"
                  :options="ratingOptions"
                  :searchable="true"
                  :allow-empty="false"
                  @input="on_physical()"
                >
                </Multiselect>
              </b-col>
              <b-col>
                <input
                  type="text"
                  v-model="physical_appearance_note"
                  class="modalEdit"
                  placeholder="Remarks"
                  @input="on_physical()"
                />
              </b-col>
            </b-row>

            <!-- KNOWLEDGE SKILLS-->
            <b-row><b class="modalText">Knowledge &amp; Skills*</b></b-row>
            <b-row>
              <b-col>
                <Multiselect
                  class="selectInput"
                  v-model="knowledge_skills"
                  deselect-label=""
                  select-label=""
                  track-by="rating"
                  label="rating"
                  placeholder="Select a rating"
                  :options="ratingOptions"
                  :searchable="true"
                  :allow-empty="false"
                  @input="on_knowledge()"
                >
                </Multiselect>
              </b-col>
              <b-col>
                <input
                  type="text"
                  v-model="knowledge_skills_note"
                  class="modalEdit"
                  placeholder="Remarks"
                  @input="on_knowledge()"
                />
              </b-col>
            </b-row>

            <b-row>
              <!-- ASKING RATE -->
              <b-col>
                <b-row><b class="modalText">Asking Rate*</b></b-row>
                <b-row>
                  <b-col>
                    <input
                      type="text"
                      v-model="asking_rate"
                      class="modalEdit"
                    />
                  </b-col>
                </b-row>
              </b-col>
              <!-- AVAILABILITY -->
              <b-col>
                <b-row><b class="modalText">Availability*</b></b-row>
                <b-row>
                  <b-col>
                    <input
                      type="text"
                      v-model="availability"
                      class="modalEdit"
                    />
                  </b-col>
                </b-row>
              </b-col>
            </b-row>

            <b-row>
              <!-- OTHERS -->
              <b-col>
                <b-row> <b class="modalText">Others</b> </b-row>
                <b-row>
                  <b-col>
                    <input type="text" v-model="others" class="modalEdit" />
                  </b-col>
                </b-row>
              </b-col>
              <!-- GENERAL REMARKS/RECOMMENDATION -->
              <b-col>
                <b-row>
                  <b class="modalText">General remarks/recommendation*</b>
                </b-row>
                <b-row>
                  <b-col>
                    <input
                      type="text"
                      v-model="gen_remarks_recommendations"
                      class="modalEdit"
                    />
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <div class="note2">
              By clicking "Save" all the data here will be reflected to
              applicant's <b>Individual Assessment Form</b>. Please proceed with
              caution. <br /><br />

              <div v-if="note != ''">
                <div
                  class="note2 text-alert"
                  v-if="note == 'Saving, please wait...'"
                >
                  <b-spinner small variant="warning" type="grow"></b-spinner>
                  &ensp; {{ note }}
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div v-show="note != 'Saving, please wait...'">
          <button class="btn-deact" @click="closeRate()">Cancel</button>
          <button class="btn-keep" @click="clearRatings()">Clear</button>
          <button class="btn-positive2" @click="rateIAF()">Save</button>
        </div>
      </template>
    </b-modal>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alertt }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import Multiselect from "vue-multiselect";
import { mapState, mapMutations, mapGetters } from "vuex";
import "../../assets/vue-datetime.scss";

export default {
  components: {
    Multiselect
  },
  data() {
    return {
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      note: "",
      user_id_applicant: "",
      date_interview: "",
      communication_skills: "",
      communication_skills_note: "",
      confidence: "",
      confidence_note: "",
      physical_appearance: "",
      physical_appearance_note: "",
      knowledge_skills: "",
      knowledge_skills_note: "",
      asking_rate: "",
      availability: "",
      others: "",
      gen_remarks_recommendations: "",
      user_id_interviewer: "",
      ratingOptions: [
        {
          id: "1",
          rating: "Excellent"
        },
        {
          id: "2",
          rating: "Very Good"
        },
        {
          id: "3",
          rating: "Good"
        },
        {
          id: "4",
          rating: "Fair"
        },
        {
          id: "5",
          rating: "Poor"
        }
      ],
      final_ratings: [
        {
          user_id_applicant: "",
          date_interview: "",
          communication_skills: "",
          communication_skills_note: "",
          confidence: "",
          confidence_note: "",
          physical_appearance: "",
          physical_appearance_note: "",
          knowledge_skills: "",
          knowledge_skills_note: "",
          asking_rate: "",
          availability: "",
          others: "",
          gen_remarks_recommendations: "",
          user_id_interviewer: ""
        }
      ],
      notifData: []
    };
  },
  methods: {
    // reloadAssessmentTable() {
    //   this.$root.$refs.assessmentComponent.getData(localStorage.token);
    // },
    // reloadPendingTable() {
    //   this.$root.$refs.pendingComponent.getData(localStorage.token);
    // },
    on_communcation() {
      this.final_ratings[0].communication_skills = this.communication_skills.rating;
      this.final_ratings[0].communication_skills_note = this.communication_skills_note;
      // console.log(this.final_ratings);
    },
    on_confidence() {
      this.final_ratings[0].confidence = this.confidence.rating;
      this.final_ratings[0].confidence_note = this.confidence_note;
      // console.log(this.final_ratings);
    },
    on_physical() {
      this.final_ratings[0].physical_appearance = this.physical_appearance.rating;
      this.final_ratings[0].physical_appearance_note = this.physical_appearance_note;
      // console.log(this.final_ratings);
    },
    on_knowledge() {
      this.final_ratings[0].knowledge_skills = this.knowledge_skills.rating;
      this.final_ratings[0].knowledge_skills_note = this.knowledge_skills_note;
      // console.log(this.final_ratings);
    },
    clearRatings() {
      this.user_id_applicant = "";
      this.date_interview = "";
      this.communication_skills = "";
      this.communication_skills_note = "";
      this.confidence = "";
      this.confidence_note = "";
      this.physical_appearance = "";
      this.physical_appearance_note = "";
      this.knowledge_skills = "";
      this.knowledge_skills_note = "";
      this.asking_rate = "";
      this.availability = "";
      this.others = "";
      this.gen_remarks_recommendations = "";
      this.user_id_interviewer = "";
    },
    rateIAF() {
      // Asking Rate
      this.final_ratings[0].asking_rate = this.asking_rate;

      // Availability
      this.final_ratings[0].availability = this.availability;

      // Others
      this.final_ratings[0].others = this.others;

      // General Remark/Recommendation
      this.final_ratings[0].gen_remarks_recommendations = this.gen_remarks_recommendations;

      // Interview Date
      this.final_ratings[0].date_interview = moment(new Date()).format(
        "YYYY-MM-DD"
      );

      // Applicant ID
      this.final_ratings[0].user_id_applicant = this.applicantData.id;

      // User ID / Interviewer ID
      this.final_ratings[0].user_id_interviewer = localStorage.id;

      // SETUP DATA FOR NOTIFICATION ALERT
      this.notifData = [];
      let user = localStorage.fname + " " + localStorage.lname;
      let applicantName = this.applicantData.name;
      this.notifData.push({
        date: moment(new Date()).format("YYYY-MM-DD"),
        stage: localStorage.actionName.split(" - ")[0],
        actionID: localStorage.actionID,
        actionName: localStorage.actionName.split(" - ")[1],
        action: localStorage.actionName,
        desc: user + " rated " + applicantName + "'s Assessment Form",
        user: {
          id: localStorage.id,
          role: localStorage.role,
          teamID: localStorage.teamId,
          deptID: localStorage.deptId,
          name: localStorage.fname + " " + localStorage.lname
        },
        applicant: {
          id: this.applicantData.id,
          name: this.applicantData.name,
          position: this.applicantData.position,
          dpetID: this.applicantData.deptId
        }
      });

      // ACTION
      var token = localStorage.token;
      this.$store.dispatch("dashboard/rateIAF", {
        token: token,
        applicant: this.applicantData,
        rating: this.final_ratings,
        notifData: this.notifData
      });
      this.note = "Saving, please wait...";
      this.logActivity();
    },
    async logActivity(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Applicant Stages",
          table_affected: "Users",
          activity: `Rated IAF of applicant: ${this.applicantData.name}`
        })
        .then();
    },
    closeRate() {
      this.$store.commit("dashboard/rate", "");

      this.$root.$emit("bv::hide::modal", "rateID", "#rateID");
      // if (
      this.note == "Saving, please wait...";
      //   ) {
      //   switch (this.applicantStage) {
      //     case "Assessment":
      //       this.reloadAssessmentTable();
      //       this.reloadPendingTable();
      //       break;
      //   }
      // }

      this.note = "";
      this.clearRatings();

      setTimeout(() => {
        this.$store.commit("dashboard/rate", "");
      }, 5000);
      this.note = "";
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    }
  },
  computed: {
    today() {
      // return moment(new Date()).format('YYYY-MM-DD');
    },
    ...mapGetters({ applicantData: "dashboard/applicantDetails" }),
    ...mapGetters({ applicantStage: "dashboard/applicantStage" }),
    ...mapGetters({ doneRate: "dashboard/doneRate" }),
    alertt() {
      if (this.doneRate != "") {
        if (String(this.doneRate) == "Done") {
          // this.showAlert("Success: " + this.doneRate, "success");
          this.closeRate();
        } else {
          this.showAlert("Failed: " + this.doneRate, "danger");
        }
        this.note = "";
        return this.doneRate;
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
