<template>
  <div>
    <b-modal id="onlineExamID" :no-close-on-backdrop="true">
      <template #modal-header class="headr">
        <div class="deptIcn"><fa :icon="['fa', 'clipboard-list']" /></div>
        <div class="deptTitleDiv"><b>Online Exam &amp; IQBE</b></div>
      </template>
      <div class="mdlBody">
        <b-row>
          <b-col>
            <b-row>
              <div class="grouper2 xWidth" v-if="applicantData">
                <div class="applname">{{ applicantData.name }}</div>
                <div class="bord">{{ applicantData.position }}</div>
              </div>
              <div class="grouper2 xWidth" v-else>
                Applicant Data is missing
              </div>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <div class="note2">
              By clicking "Allow" the selected applicant will be
              <b>permitted to take the exams</b>. Please proceed with caution.
              <br /><br />

              <div v-if="note != ''">
                <div
                  class="note2 text-alert"
                  v-if="note == 'Saving, please wait...'"
                >
                  <b-spinner small variant="warning" type="grow"></b-spinner>
                  &ensp; {{ note }}
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div v-show="note != 'Saving, please wait...'">
          <button class="btn-deact" @click="closeOnlineExam()">Cancel</button>
          <button class="btn-positive2" @click="onlineExam()">Allow</button>
        </div>
      </template>
    </b-modal>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alertt }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  data() {
    return {
      remarks: "",
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      note: "",
      notifData: []
    };
  },
  methods: {
    // reloadAllApplicantsTable() {
    //   console.log("reload all app");
    //   this.$root.$refs.allApplicantComponent.getAllApplicants();
    // },
    // //use to relaod received table after update
    // reloadReceivedTable() {
    //   this.$root.$refs.receivedComponent.getReceived();
    // },
    // //use to relaod online exam table after update
    // reloadOnlineExamTable() {
    //   this.$root.$refs.onlineExamComponent.getData();
    // },
    async logActivity(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Applicant Stages",
          table_affected: "Users",
          activity: `Online exam for applicant: ${this.applicantData.name}`
        })
        .then();
    },
    async onlineExam() {
      // SETUP DATA FOR NOTIFICATION ALERT
      this.notifData = [];
      let user = localStorage.fname + " " + localStorage.lname;
      let applicantName = this.applicantData.name;
      this.notifData.push({
        date: moment(new Date()).format("YYYY-MM-DD"),
        stage: localStorage.actionName.split(" - ")[0],
        actionID: localStorage.actionID,
        actionName: localStorage.actionName.split(" - ")[1],
        action: localStorage.actionName,
        desc:
          user + ", permitted " + applicantName + " to take the Online Exams",
        user: {
          id: localStorage.id,
          role: localStorage.role,
          teamID: localStorage.teamId,
          deptID: localStorage.deptId,
          name: localStorage.fname + " " + localStorage.lname
        },
        applicant: {
          id: this.applicantData.id,
          name: this.applicantData.name,
          position: this.applicantData.position,
          dpetID: this.applicantData.deptId
        }
      });

      // ACTION
      var token = localStorage.token;
      await this.$store.dispatch("dashboard/onlineExam", {
        token: token,
        applicant: this.applicantData,
        remarks: this.remarks,
        userID: localStorage.id,
        notifData: this.notifData
      });

      this.note = "Saving, please wait...";
      this.logActivity();
      //   this.clearData();
    },

    closeOnlineExam() {
      this.$store.commit("dashboard/onlineDone", "");
      // this.reloadAllApplicantsTable();
      this.$root.$emit("bv::hide::modal", "onlineExamID", "#onlineExamID");
      // if
      this.note == "Saving, please wait...";
      //  {
      // switch (this.applicantStage) {
      //   case "Received":
      //   // this.reloadReceivedTable();
      //   // this.reloadOnlineExamTable();
      // }
      // }
      this.note = "";
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    }
  },
  computed: {
    ...mapGetters({ applicantData: "dashboard/applicantDetails" }),
    ...mapGetters({ applicantStage: "dashboard/applicantStage" }),
    ...mapGetters({ doneOnline: "dashboard/doneOnline" }),
    alertt() {
      if (this.doneOnline != "") {
        if (String(this.doneOnline) == "Done") {
          // this.showAlert("Success: " + this.doneOnline, "success");
          this.closeOnlineExam();
        } else {
          this.showAlert("Failed: " + this.doneOnline, "danger");
        }
        return this.doneOnline;
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
