<template>
  <div>
    <b-modal id="deployDateID" :no-close-on-backdrop="true">
      <template #modal-header class="headr">
        <div class="deptIcn"><fa :icon="['fa', 'calendar-check']" /></div>
        <div class="deptTitleDiv"><b>Change Deployment Date</b></div>
      </template>
      <div class="mdlBody">
        <b-row>
          <b-col>
            <b-row>
              <div class="grouper2 xWidth" v-if="applicantData">
                <div class="applname">{{ applicantData.name }}</div>
                <div class="bord">{{ applicantData.position }}</div>
              </div>
              <div class="grouper2 xWidth" v-else>
                Applicant Data is missing
              </div>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-row
              ><b class="modalText"
                >Choose Date: (click the gray box below)
              </b></b-row
            >
            <b-row>
              <datetime v-model="deployDate" class="bfi-theme"></datetime>
              <br /><br />
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <div class="note2">
              By clicking "Save" the <b>chosen date</b> will be set as the
              applicant's new <b>Deployment Date</b>. Please proceed with
              caution. <br /><br />

              <div v-if="note != ''">
                <div
                  class="note2 text-alert"
                  v-if="note == 'Saving, please wait...'"
                >
                  <b-spinner small variant="warning" type="grow"></b-spinner>
                  &ensp; {{ note }}
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div v-show="note != 'Saving, please wait...'">
          <button class="btn-deact" @click="closeChangeDeployDate()">
            Cancel
          </button>
          <button class="btn-keep" @click="clearFieldz()">Clear</button>
          <button class="btn-positive2" @click="changeDeployDate()">
            Save
          </button>
        </div>
      </template>
    </b-modal>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alertt }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import { mapState, mapMutations, mapGetters } from "vuex";
import { Datetime } from "vue-datetime";
import "../../assets/vue-datetime.scss";

export default {
  components: {
    Datetime
  },
  data() {
    return {
      deployDate: "",
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      note: "",
      notifData: []
    };
  },
  methods: {
    clearFieldz() {
      this.deployDate = "";
    },
    async logActivity(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Applicant Stages",
          table_affected: "Users",
          activity: `Changed deployment date of applicant: ${this.applicantData.name}`
        })
        .then();
    },
    changeDeployDate() {
      // SETUP DATA FOR NOTIFICATION ALERT
      this.notifData = [];
      let user = localStorage.fname + " " + localStorage.lname;
      let applicantName = this.applicantData.name;
      this.notifData.push({
        date: moment(new Date()).format("YYYY-MM-DD"),
        stage: localStorage.actionName.split(" - ")[0],
        actionID: localStorage.actionID,
        actionName: localStorage.actionName.split(" - ")[1],
        action: localStorage.actionName,
        desc: user + " changed " + applicantName + "'s deployment Date",
        user: {
          id: localStorage.id,
          role: localStorage.role,
          teamID: localStorage.teamId,
          deptID: localStorage.deptId,
          name: localStorage.fname + " " + localStorage.lname
        },
        applicant: {
          id: this.applicantData.id,
          name: this.applicantData.name,
          position: this.applicantData.position,
          dpetID: this.applicantData.deptId
        }
      });

      // ACTION
      var token = localStorage.token;
      this.$store.dispatch("dashboard/changeDeployedDate", {
        token: token,
        applicant: this.applicantData,
        date: String(this.deployDate).split("T")[0],
        notifData: this.notifData
      });
      this.note = "Saving, please wait...";
      this.logActivity();
    },
    closeChangeDeployDate() {
      this.$store.commit("dashboard/createSchedDone", "");

      this.$root.$emit("bv::hide::modal", "deployDateID", "#deployDateID");
      this.note = "";
      setTimeout(() => {
        this.$store.commit("dashboard/deployDateDone", "");
      }, 5000);
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    }
  },
  computed: {
    ...mapGetters({ applicantData: "dashboard/applicantDetails" }),
    ...mapGetters({ applicantStage: "dashboard/applicantStage" }),
    ...mapGetters({ doneChangeDeployDate: "dashboard/doneChangeDeployDate" }),
    alertt() {
      if (this.doneChangeDeployDate != "") {
        if (String(this.doneChangeDeployDate) == "Done") {
          // this.showAlert("Success: " + this.doneChangeDeployDate, "success");
        } else {
          this.showAlert("Failed: " + this.doneChangeDeployDate, "danger");
        }
        this.closeChangeDeployDate();
        return this.doneChangeDeployDate;
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
.kfr_remarks {
  border: 1px solid #c4c4c4;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
}
</style>
