<template>
  <div>
    <b-modal id="endorseToOtherDept" :no-close-on-backdrop="true">
      <template #modal-header class="headr">
        <div class="deptIcn"><fa :icon="['fa', 'people-arrows']" /></div>
        <div class="deptTitleDiv"><b>Endorse to other Department</b></div>
        <div class="iconBtn" @click="cancelEndorse()">
          <fa :icon="['fa', 'times-circle']" />
        </div>
      </template>
      <div class="mdlBody">
        <b-row>
          <b-col>
            <b-row>
              <div class="grouper2 xWidth" v-if="applicantData">
                <div class="applname">{{ applicantData.name }}</div>
                <div class="bord">{{ applicantData.position }}</div>
              </div>
              <div class="grouper2 xWidth" v-else>
                Applicant Data is missing
              </div>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-row><b class="modalText">Department: </b></b-row>
            <b-row>
              <Multiselect
                class="selectInput"
                v-model="dept"
                deselect-label=""
                select-label=""
                track-by="name"
                label="name"
                placeholder="Select a Department"
                :options="allDepartments"
                :searchable="true"
                :allow-empty="false"
                @input="onSelectDep()"
              >
              </Multiselect>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-row><b class="modalText">Position: </b></b-row>
            <b-row>
              <Multiselect
                class="selectInput"
                v-model="positions"
                deselect-label=""
                select-label=""
                track-by="name"
                label="name"
                placeholder="Select a Position"
                :options="allPositions"
                :searchable="true"
                :allow-empty="false"
                @input="clearNote()"
              >
              </Multiselect>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <div class="note2">
              By clicking "Endorse" button, the applicant's
              <b>position will be changed</b> with the one you selected. Please
              proceed with caution. <br /><br />

              <div v-if="note != ''">
                <div
                  class="note2 text-alert"
                  v-if="note == 'Saving, please wait...'"
                >
                  <b-spinner small variant="warning" type="grow"></b-spinner>
                  &ensp; {{ note }}
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div v-show="note != 'Saving, please wait...'">
          <button class="btn-deact" @click="cancelEndorse()">Cancel</button>
          <button class="btn-keep" @click="clearSelect()">Clear</button>
          <button class="btn-positive2" @click="endorse()">Endorse</button>
        </div>
      </template>
    </b-modal>

    <!-- ALERT -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alertt == "" ? alert.message : alertt }}
    </b-alert>
  </div>
</template>

<script>
// import axios from "axios";
import moment from "moment";
import Multiselect from "vue-multiselect";
import { mapState, mapMutations, mapGetters } from "vuex";
import axios from "axios";

export default {
  components: {
    Multiselect
  },
  data() {
    return {
      dept: null,
      positions: null,
      note: "",
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      }
    };
  },
  methods: {
    // reloadAllApplicantsTable() {
    //   this.$root.$refs.allApplicantComponent.getAllApplicants();
    // },
    // reloadQuickApplicantTable() {
    //   this.$root.$refs.quickApplicantsComponent.getQuickApplicants(
    //     localStorage.token
    //   );
    // },
    clearNote() {
      this.note = "";
    },
    // reloadReceivedTable() {
    //   this.$root.$refs.receivedComponent.getReceived();
    // },
    // reloadAssessmentTable() {
    //   this.$root.$refs.assessmentComponent.getData(localStorage.token);
    // },
    endorse() {
      // SETUP DATA FOR NOTIFICATION ALERT
      this.notifData = [];
      let user = localStorage.fname + " " + localStorage.lname;
      let applicantName = this.applicantData.name;
      this.notifData.push({
        date: moment(new Date()).format("YYYY-MM-DD"),
        stage: localStorage.actionName.split(" - ")[0],
        actionID: localStorage.actionID,
        actionName: localStorage.actionName.split(" - ")[1],
        action: localStorage.actionName,
        desc: user + " endorsed " + applicantName + " to other department",
        user: {
          id: localStorage.id,
          role: localStorage.role,
          teamID: localStorage.teamId,
          deptID: localStorage.deptId,
          name: localStorage.fname + " " + localStorage.lname
        },
        applicant: {
          id: this.applicantData.id,
          name: this.applicantData.name,
          position: this.applicantData.position,
          dpetID: this.applicantData.deptId
        }
      });

      // ACTION
      var token = localStorage.token;
      if (this.dept) {
        if (this.positions) {
          this.$store.dispatch("dashboard/endorseToOtherDepartment", {
            token: token,
            applicant: this.applicantData,
            pos: this.positions.id,
            notifData: this.notifData
          });
          if (this.applicantData.position) {
          } else {
            this.emailReceived(this.applicantData.id);
          }
          this.note = "Saving, please wait...";
          this.logActivity();
        } else {
          this.showAlert("Please select a position", "danger");
        }
      } else {
        this.showAlert("Please select a department", "danger");
      }
    },
    async logActivity(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token: localStorage.token,
          module: "Applicant Stages",
          table_affected: "Users",
          activity: `Endorsed to other department: ${this.applicantData.name}`
        })
        .then();
    },
    emailReceived(applicantID) {
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/email/applicant/${applicantID}/received`,
        headers: { Authorization: `Bearer ${localStorage.token}` }
      }).then(result => {});
    },
    closeEndorseToDep() {
      this.$store.commit("dashboard/endorseToDepDone", "");
      // this.reloadAllApplicantsTable();

      this.$root.$emit(
        "bv::hide::modal",
        "endorseToOtherDept",
        "#endorseToOtherDept"
      );
      // if (
      this.note == "Saving, please wait...";
      //   ) {
      //   switch (this.applicantStage) {
      //     case "Quick Applicant":
      //       this.reloadQuickApplicantTable();

      //     case "Received":
      //       this.reloadReceivedTable();

      //     case "Assessment":
      //       this.reloadAssessmentTable();
      //       break;
      //   }
      // }
      this.note = "";
      this.dept = "";
      this.positions = "";
      setTimeout(() => {
        this.$store.commit("dashboard/endorseToDepDone", "");
      }, 5000);
      this.note = "";
    },
    clearSelect() {
      this.dept = null;
      this.positions = null;
    },
    cancelEndorse() {
      this.$root.$emit(
        "bv::hide::modal",
        "endorseToOtherDept",
        "#endorseToOtherDept"
      );
    },
    onSelectDep() {
      this.clearNote();
      this.positions = null;
      var temp = [];
      temp.push({
        id: this.dept.id,
        token: localStorage.token
      });
      // VIEW POSITIONS BY DEPARTMENT
      this.$store.dispatch("viewPositionsByDept", { data: temp });
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    }
  },
  computed: {
    ...mapGetters({ applicantData: "dashboard/applicantDetails" }),
    ...mapGetters({ applicantStage: "dashboard/applicantStage" }),
    ...mapGetters({ doneEndorseToDep: "dashboard/doneEndorseToDep" }),
    allDepartments() {
      return this.$store.getters.viewAllDept;
    },
    allPositions() {
      if (this.$store.getters.viewPositionsByDept.length > 0) {
        return this.$store.getters.viewPositionsByDept;
      } else if (this.dept != null) {
        return [
          {
            id: "none",
            name: "No positions available",
            $isDisabled: true
          }
        ];
      } else {
        return [
          {
            id: "none",
            name: "Please select a department first",
            $isDisabled: true
          }
        ];
      }
    },
    alertt() {
      if (this.doneEndorseToDep != "") {
        if (String(this.doneEndorseToDep) == "Done") {
          // this.showAlert("Success: " + this.doneKeep, "success");
        } else {
          this.showAlert("Failed: " + this.doneEndorseToDep, "danger");
        }
        this.closeEndorseToDep();
        return this.doneEndorseToDep;
      } else {
        return "";
      }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
