<template>
  <div class="moduleContainer">
    <loader v-show="loader" />

    <div class="moduleName">User Accounts</div>
    <div class="moduleContent2" ref="rowDeter">
      <!-- HEADER TOOLS -->
      <div class="tabTools">
        <!-- ADD NEW DEPARTMENT -->
        <div class="tabToolsDiv">
          <button
            v-b-modal.addSysUserModal
            class="btn-positive2"
            v-b-tooltip.hover
            title="Add new User Account"
            v-show="examTakers == false"
          >
            <fa :icon="['fa', 'plus']" /> &nbsp; New User Account
          </button>
        </div>

        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>

        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv">
          <button
            :class="systemUsers == true ? 'btn-keep' : 'btn-deact'"
            @click="filterUsers(0)"
          >
            <fa :icon="['fa', 'user-shield']" /> &nbsp; System Users
          </button>
        </div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv">
          <button
            :class="examTakers == true ? 'btn-keep' : 'btn-deact'"
            @click="filterUsers(1)"
          >
            <fa :icon="['fa', 'user']" /> &nbsp; Exam Takers
          </button>
        </div>

        <!-- SEARCH -->
        <div class="tabToolsDiv">
          <button class="toolSearchIco" disabled>
            <fa :icon="['fa', 'search']" />
          </button>
          <input
            class="toolSearch fa"
            type="text"
            name=""
            placeholder="Type to search"
            v-model="find"
          />
          <button
            class="toolClear"
            @click="find = ''"
            v-b-tooltip.hover
            title="Clear Search"
          >
            <fa :icon="['fa', 'eraser']" />
          </button>
        </div>
        <!-- RELOAD DATA -->
        <!-- <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
          <button class="btn-keep" @click="getUsers(token)">
            <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
          </button>
        </div> -->
      </div>

      <!-- TABLE @row-clicked="rowData"  -->
      <div class="tabTable">
        <b-table
          hover
          class="table text-noWrap"
          id="allApplicantsTable"
          select-mode="single"
          :filter="find"
          :items="tableDataComputed"
          :per-page="perPage"
          :fields="fieldHeaders"
          :busy="isBusy"
          :current-page="computedCurrentPage"
          show-empty
        >
          <!-- LOADERS IF isBusy == true -->
          <template #table-busy>
            <div class="text-center text-secondary">
              <b-spinner small class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>
          <!-- Custom display for user name -->
          <template #cell(name)="row">
            <div class="text-main">
              <b>{{ row.value }}</b>
            </div>
          </template>

          <!-- Custom display for email -->
          <template #cell(email)="row">
            <div class="text-main">
              <b>{{ row.value }}</b>
            </div>
          </template>

          <!-- Custom display for mobile -->
          <template #cell(mobile)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for position -->
          <template #cell(position)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for team -->
          <template #cell(team)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for department -->
          <template #cell(department)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for status -->
          <template #cell(status)="row">
            <div class="text-sub">
              <div
                class="stage text-reject-pill"
                v-if="row.value == 'inactive'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-pos2-pill"
                v-else-if="row.value == 'active'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-keep-pill"
                v-else-if="row.value == 'kept for reference'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-reject-pill"
                v-else-if="row.value == 'rejected'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-blacklist-pill"
                v-else-if="row.value == 'blacklist'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-edit-pill"
                v-else-if="row.value == 'online exam'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-pos2-pill"
                v-else-if="row.value == 'deployed'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-pos1-pill"
                v-else-if="row.value == 'job offer'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-alert-pill"
                v-else-if="row.value == 'received'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-admin-pill"
                v-else-if="row.value == 'pending for review'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-infos-pill"
                v-else-if="row.value == 'assessment'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-view-pill"
                v-else-if="row.value == 'endorsement'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-alert-pill"
                v-else-if="row.value == 'quick applicant'"
              >
                {{ row.value }}
              </div>
              <!-- <div class="stage text-admin-pill" v-else-if="row.value==''">No Status</div> -->
            </div>
          </template>

          <!-- BUTTON PER ROW -->
          <template #cell(extra)="row">
            <div class="rowmenuHold" v-show="showMenu && row.index == rowIndex">
              <div class="rowmenu">
                <div class="actionFor">
                  <div class="pointing">
                    <div><fa :icon="['fa', 'user-cog']" /></div>
                    {{ row.item.name }}
                  </div>
                  <!-- <div class="pointRight"></div> -->
                </div>
                <div class="line"></div>

                <div class="rowMenuScroll">
                  <div v-for="(act, a) in actions" :key="a">
                    <div
                      v-if="
                        row.item.status == 'active' ||
                          row.item.status == 'inactive' ||
                          row.item.status == ''
                      "
                    >
                      <button
                        v-show="
                          act.action_name != 'Add User' &&
                            act.action_name != 'Search User' &&
                            act.action_name != 'View All User'
                        "
                        class="bX b-keep"
                        @click="
                          takeAct(
                            act.id,
                            act.action_name,
                            row.item,
                            row,
                            row.index
                          )
                        "
                      >
                        &ensp; {{ act.action_name }}
                        <!-- &ensp; {{ row.item.status }} -->
                      </button>
                    </div>
                    <div v-else>
                      <button
                        v-show="
                          act.action_name != 'Add User' &&
                            act.action_name != 'Search User' &&
                            act.action_name != 'View All User' &&
                            act.action_name != 'View User Details'
                        "
                        class="bX b-keep"
                        @click="
                          takeAct('hc1', 'Edit Email', row.item, row, row.index)
                        "
                      >
                        &ensp; Edit Email
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="pointRight"></div> -->
            </div>

            <button class="btn-actions" @click="selectRow(row, row.index)">
              <fa :icon="['fa', 'ellipsis-v']" />
            </button>
          </template>
        </b-table>
      </div>
      <!-- View user details and edit user modal -->
      <div>
        <b-modal id="viewUserModal" no-close-on-backdrop>
          <template #modal-header class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'user-cog']" />
            </div>
            <div class="deptTitleDiv">
              <b>{{ sysUsers.title }}</b>
            </div>
            <div class="iconBtn" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <div v-show="editUser == false">
              <b-row> <b class="modalText">Position:</b></b-row>
              <b-row
                ><multiselect
                  v-model="selectedPos"
                  deselect-label=""
                  select-label=""
                  track-by="id"
                  label="positionname"
                  placeholder="Select a Position"
                  :options="positionlist"
                  :searchable="true"
                  :allow-empty="false"
                  class="selectInput"
                  @input="selectPos()"
                >
                </multiselect
              ></b-row>

              <b-row> <b class="modalText">Role:</b></b-row>
              <b-row
                ><multiselect
                  v-model="selectedRole"
                  deselect-label=""
                  select-label=""
                  track-by="id"
                  label="name"
                  placeholder="Select a Role"
                  :options="rolelist"
                  :searchable="true"
                  :allow-empty="false"
                  class="selectInput"
                  @input="selectRole()"
                >
                </multiselect
              ></b-row>
            </div>
            <div v-show="editUser == true">
              <b-row><b class="modalText">Name:</b> </b-row>
              <b-row>
                <input
                  type="text"
                  class="modalEdit"
                  v-model="sysUsers.name"
                  :disabled="editUser"
              /></b-row>
            </div>
            <div v-show="editUser == false">
              <b-row>
                <b-col class="colSpace">
                  <b-row>
                    <b class="modalText">First Name: </b>
                  </b-row>
                  <b-row>
                    <input
                      type="text"
                      class="modalEdit"
                      v-model="sysUsers.firstname"
                  /></b-row>
                </b-col>

                <b-col class="colSpace">
                  <b-row> <b class="modalText">Middle Name</b></b-row>
                  <b-row>
                    <input
                      type="text"
                      class="modalEdit"
                      v-model="sysUsers.middlename"
                  /></b-row>
                </b-col>

                <b-col class="colSpace">
                  <b-row> <b class="modalText">Last Name</b></b-row>
                  <b-row>
                    <input
                      type="text"
                      class="modalEdit"
                      v-model="sysUsers.lastname"
                  /></b-row>
                </b-col>
              </b-row>
            </div>
            <div>
              <b-row><b class="modalText">Email:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.email"
                  :disabled="editUser"
              /></b-row>
            </div>
            <div v-show="editUser == false">
              <b-row> <b class="modalText">Password:</b></b-row>
              <b-row> <input type="password" class="modalEdit"/></b-row>
            </div>

            <div v-show="editUser == false">
              <b-row> <b class="modalText">Confirm Password:</b></b-row>
              <b-row>
                <input
                  type="password"
                  class="modalEdit"
                  v-model="sysUsers.password"
              /></b-row>
            </div>
            <div>
              <b-row><b class="modalText">Mobile:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.mobile"
                  :disabled="editUser"
              /></b-row>
            </div>
            <div v-show="editUser == true">
              <b-row><b class="modalText">Position:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.position"
                  :disabled="editUser"
              /></b-row>
            </div>
            <div v-show="editUser == true">
              <b-row><b class="modalText">Team:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.team"
                  :disabled="editUser"
              /></b-row>
            </div>
            <div v-show="editUser == true">
              <b-row><b class="modalText">Department:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.department"
                  :disabled="editUser"
              /></b-row>
            </div>
            <div v-show="editUser == true">
              <b-row><b class="modalText">Role:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.role"
                  :disabled="editUser"
              /></b-row>
            </div>
            <div>
              <b-row
                ><b class="modalText">Status: {{ sysUsers.status }}</b>
              </b-row>
              <b-form-radio
                v-show="editUser == false"
                class="radioBtn"
                size="sm"
                v-model="sysUsers.status"
                name="some-radios"
                value="active"
                >Active</b-form-radio
              >
              <b-form-radio
                v-show="editUser == false"
                class="radioBtn"
                size="sm"
                v-model="sysUsers.status"
                name="some-radios"
                value="inactive"
                >Inactive</b-form-radio
              >
            </div>
          </div>
          <template #modal-footer>
            <!-- CANCEL -->
            <button
              v-show="editUser == false"
              @click="cancel()"
              class="btn-deact"
            >
              <fa :icon="['fa', 'times']" />
              &nbsp; Cancel
            </button>

            <!-- EDIT & SAVE -->
            <button
              @click="edit()"
              :class="editUser ? 'btn-edit' : 'btn-positive2'"
            >
              <fa :icon="['fa', editUser ? 'edit' : 'save']" />
              &nbsp;
              {{ editUser ? "Edit" : "Save" }}
            </button>
          </template>
        </b-modal>
      </div>
      <!-- //modal for edit email exam taker -->
      <div>
        <b-modal
          id="examTakerModal"
          v-show="examTakers == true"
          no-close-on-backdrop
        >
          <template #modal-header class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'user-cog']" />
            </div>
            <div class="deptTitleDiv">
              <b>{{ sysUsers.title }}</b>
            </div>
            <div class="iconBtn" @click="closeExamTakerModal()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <!-- <div v-show="editUser == false">
              <b-row> <b class="modalText">Position:</b></b-row>
              <b-row
                ><multiselect
                  v-model="sysUsers.position_id"
                  deselect-label=""
                  select-label=""
                  track-by="id"
                  label="positionname"
                  placeholder="Select a Position"
                  :options="positionlist"
                  :searchable="true"
                  :allow-empty="false"
                  class="selectInput"
                  @input="selectPos()"
                >
                </multiselect
              ></b-row>

              <b-row> <b class="modalText">Role:</b></b-row>
              <b-row
                ><multiselect
                  v-model="sysUsers.role_id"
                  deselect-label=""
                  select-label=""
                  track-by="id"
                  label="name"
                  placeholder="Select a Role"
                  :options="rolelist"
                  :searchable="true"
                  :allow-empty="false"
                  class="selectInput"
                  @input="selectRole()"
                >
                </multiselect
              ></b-row>
            </div> -->
            <div>
              <b-row><b class="modalText">Name:</b> </b-row>
              <b-row>
                <input
                  type="text"
                  class="modalEdit"
                  v-model="sysUsers.name"
                  disabled
              /></b-row>
            </div>
            <!-- <div v-show="editUser == false">
              <b-row>
                <b-col class="colSpace">
                  <b-row>
                    <b class="modalText">First Name: </b>
                  </b-row>
                  <b-row>
                    <input
                      type="text"
                      class="modalEdit"
                      v-model="sysUsers.firstname"
                  /></b-row>
                </b-col>

                <b-col class="colSpace">
                  <b-row> <b class="modalText">Middle Name</b></b-row>
                  <b-row>
                    <input
                      type="text"
                      class="modalEdit"
                      v-model="sysUsers.middlename"
                  /></b-row>
                </b-col>

                <b-col class="colSpace">
                  <b-row> <b class="modalText">Last Name</b></b-row>
                  <b-row>
                    <input
                      type="text"
                      class="modalEdit"
                      v-model="sysUsers.lastname"
                  /></b-row>
                </b-col>
              </b-row>
            </div> -->
            <div>
              <b-row><b class="modalText">Email:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.email"
                  :disabled="editUser"
              /></b-row>
            </div>
            <!-- <div v-show="editUser == false">
              <b-row> <b class="modalText">Password:</b></b-row>
              <b-row> <input type="password" class="modalEdit"/></b-row>
            </div>

            <div v-show="editUser == false">
              <b-row> <b class="modalText">Confirm Password:</b></b-row>
              <b-row>
                <input
                  type="password"
                  class="modalEdit"
                  v-model="sysUsers.password"
              /></b-row>
            </div> -->
            <div>
              <b-row><b class="modalText">Mobile:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.mobile"
                  disabled
              /></b-row>
            </div>
            <div>
              <b-row><b class="modalText">Position:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.position"
                  disabled
              /></b-row>
            </div>
            <div>
              <b-row><b class="modalText">Team:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.team"
                  disabled
              /></b-row>
            </div>
            <div>
              <b-row><b class="modalText">Department:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.department"
                  disabled
              /></b-row>
            </div>
            <div>
              <b-row><b class="modalText">Role:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="sysUsers.role"
                  disabled
              /></b-row>
            </div>
            <div>
              <b-row
                ><b class="modalText">Status: {{ sysUsers.status }}</b>
              </b-row>
              <!-- <b-form-radio
                v-show="editUser == false"
                class="radioBtn"
                size="sm"
                v-model="sysUsers.status"
                name="some-radios"
                value="active"
                >Active</b-form-radio
              >
              <b-form-radio
                v-show="editUser == false"
                class="radioBtn"
                size="sm"
                v-model="sysUsers.status"
                name="some-radios"
                value="inactive"
                >Inactive</b-form-radio
              > -->
            </div>
          </div>
          <template #modal-footer>
            <!-- CANCEL -->
            <button
              v-show="editUser == false"
              @click="cancel()"
              class="btn-deact"
            >
              <fa :icon="['fa', 'times']" />
              &nbsp; Cancel
            </button>

            <!-- EDIT & SAVE -->
            <button
              @click="edit()"
              :class="editUser ? 'btn-edit' : 'btn-positive2'"
            >
              <fa :icon="['fa', editUser ? 'edit' : 'save']" />
              &nbsp;
              {{ editUser ? "Edit" : "Save" }}
            </button>
          </template>
        </b-modal>
      </div>

      <!-- //Add user Modal -->
      <div>
        <b-modal id="addSysUserModal" size="lg" no-close-on-backdrop>
          <template #modal-header="{close}" class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'plus']" />
            </div>
            <div class="deptTitleDiv">
              <b>Add New System User</b>
            </div>
            <div class="iconBtn" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <!-- <div>
              <b-row>
                <b class="modalText">Select Department: </b>
              </b-row>
              <b-row
                ><multiselect
                  v-model="newTeam.dept"
                  deselect-label=""
                  select-label=""
                  track-by="name"
                  label="name"
                  placeholder="Select a Department"
                  :options="departments"
                  :searchable="true"
                  :allow-empty="false"
                  class="selectInput"
                  @input="selectDepts(token)"
                >
                </multiselect
              ></b-row>
            </div> -->
            <div>
              <b-row>
                <b-col class="colSpace">
                  <b-row> <b class="modalText">Position:</b></b-row>
                  <b-row
                    ><multiselect
                      v-model="newSysUser.position_id"
                      deselect-label=""
                      select-label=""
                      track-by="id"
                      label="positionname"
                      placeholder="Select a Position"
                      :options="positionlist"
                      :searchable="true"
                      :allow-empty="false"
                      class="selectInput"
                    >
                    </multiselect
                  ></b-row>
                </b-col>

                <b-col class="colSpace">
                  <b-row> <b class="modalText">Role:</b></b-row>
                  <b-row
                    ><multiselect
                      v-model="newSysUser.role_id"
                      deselect-label=""
                      select-label=""
                      track-by="id"
                      label="name"
                      placeholder="Select a Role"
                      :options="rolelist"
                      :searchable="true"
                      :allow-empty="false"
                      class="selectInput"
                    >
                    </multiselect></b-row
                ></b-col>
              </b-row>
            </div>
            <div>
              <b-row>
                <b-col class="colSpace">
                  <b-row>
                    <b class="modalText">First Name: </b>
                  </b-row>
                  <b-row>
                    <input
                      type="text"
                      class="modalEdit"
                      v-model="newSysUser.firstname"
                  /></b-row>
                </b-col>

                <b-col class="colSpace">
                  <b-row> <b class="modalText">Middle Name</b></b-row>
                  <b-row>
                    <input
                      type="text"
                      class="modalEdit"
                      v-model="newSysUser.middlename"
                  /></b-row>
                </b-col>

                <b-col class="colSpace">
                  <b-row> <b class="modalText">Last Name</b></b-row>
                  <b-row>
                    <input
                      type="text"
                      class="modalEdit"
                      v-model="newSysUser.lastname"
                  /></b-row>
                </b-col>
              </b-row>
            </div>

            <div>
              <b-row>
                <b-col cols="8" class="colSpace">
                  <b-row>
                    <b class="modalText">Email: </b>
                  </b-row>
                  <b-row>
                    <input
                      type="text"
                      class="modalEdit"
                      v-model="newSysUser.email"
                  /></b-row>
                </b-col>
                <b-col class="colSpace">
                  <b-row> <b class="modalText">Mobile Number:</b></b-row>
                  <b-row>
                    <input
                      type="number"
                      class="modalEdit"
                      v-model="newSysUser.mobile"
                  /></b-row>
                </b-col>
              </b-row>
            </div>
            <div></div>

            <div>
              <b-row>
                <b-col class="colSpace">
                  <b-row> <b class="modalText">Password:</b></b-row>
                  <b-row>
                    <input
                      type="password"
                      class="modalEdit"
                      v-model="$v.newSysUser.password.$model"/></b-row
                ></b-col>

                <b-col class="colSpace">
                  <b-row> <b class="modalText">Confirm Password:</b></b-row>
                  <b-row>
                    <input
                      type="password"
                      class="modalEdit"
                      v-model="$v.newSysUser.repassword.$model"/></b-row
                ></b-col>
              </b-row>
            </div>
            <div>
              <b-row>
                <b-col>
                  <div class="error" v-if="!$v.newSysUser.password.minLength">
                    <p class="errorMessageForm">
                      Password must have at least 8 characters.
                    </p>
                  </div>
                </b-col>
                <b-col>
                  <div
                    class="error"
                    v-if="!$v.newSysUser.repassword.sameAsPassword"
                  >
                    <p class="errorMessageForm">
                      Passwords must be identical.
                    </p>
                  </div>
                </b-col>
              </b-row>
            </div>
          </div>
          <template #modal-footer>
            <button class="btn-deact" @click="closeAddSysUser()">
              Cancel
            </button>
            <button class="btn-positive2" @click="addSystemUser(token)">
              Submit
            </button>
          </template>
        </b-modal>
      </div>

      <!-- FOOTER TOOLS -->
      <div class="footer">
        <div class="tabTools">
          <div class="tabToolsDiv">
            Total no. of records: {{ records }} | Page
            {{ computedCurrentPage }} of {{ computedTotalPage }}
          </div>
          <div class="tabToolsDiv tabToolsDivX"></div>
          <div class="tabToolsDiv tabEx">
            <div class="overflow-auto">
              <div>
                <b-pagination
                  size="sm"
                  v-model="currentPage"
                  :total-rows="records"
                  :per-page="perPage"
                  aria-controls="allApplicantsTable"
                ></b-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ALERT -->
    <div>
      <b-alert
        :show="alert.showAlert"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <fa
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Multiselect from "vue-multiselect";
import { required, minLength, between, sameAs } from "vuelidate/lib/validators";

export default {
  layout: "sideBar",
  components: { Multiselect },
  data() {
    return {
      selectedRole: {
        description: "",
        id: "",
        name: ""
      },
      selectedPos: {
        deptname: "",
        description: "",
        id: null,
        is_vacant: null,
        positionname: "",
        teamname: ""
      },
      loader: false,
      editUser: true,
      isBusy: false,
      token: "",
      find: "",
      tableData: [],
      perPage: 1,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      screenHeight: 0,
      tableHeight: 0,
      rowDeterm: 0,
      systemUsers: true,
      examTakers: false,
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      actions: [],
      positionlist: [],
      rolelist: [],
      sysUsers: {
        title: "",
        id: "",
        name: "",
        position: "",
        team: "",
        department: "",
        mobile: "",
        email: "",
        status: "",
        firstname: "",
        middlename: "",
        lastname: "",
        position_id: "",
        role_id: "",
        password: ""
      },

      newSysUser: {
        firstname: "",
        middlename: "",
        lastname: "",
        email: "",
        password: "",
        repassword: "",
        selected_role_id: "",
        role_id: "",
        position_id: "",
        selected_position_id: "",
        mobile: "",
        link:
          "Hostname: " +
          window.location.protocol +
          "//" +
          window.location.hostname +
          ":" +
          window.location.port +
          "/login"
      },
      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "name",
          label: "User Name",
          sortable: true
        },
        {
          key: "email",
          label: "User Email",
          sortable: false
        },
        {
          key: "mobile",
          label: "Mobile No.",
          sortable: true
        },
        {
          key: "position",
          label: "Position",
          sortable: true
        },
        {
          key: "team",
          label: "Team",
          sortable: true
        },
        {
          key: "department",
          label: "Department",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: false
        },
        {
          key: "extra", // column name from API
          label: "", // custom name set
          sortable: false // sort data by column
        }
      ]
    };
  },
  validations: {
    newSysUser: {
      password: { required, minLength: minLength(8) },
      repassword: { sameAsPassword: sameAs("password") }
    }
  },
  methods: {
    customLabelPos() {
      return `${this.sysUsers.position}`;
    },
    customLabelRole() {
      return `${this.sysUsers.role}`;
    },
    filterUsers(val) {
      if (val == 0) {
        console.log("System Users");
        this.systemUsers = true;
        this.examTakers = false;
      } else if (val == 1) {
        console.log("Exam Takers");
        this.systemUsers = false;
        this.examTakers = true;
      }
    },
    selectRow(row, ind) {
      this.applicant = row;
      this.rowIndex = ind;
      // console.log("this.prevIndex: " + this.prevIndex);
      // console.log("this.rowIndex: " + this.rowIndex);
      // console.log("this.showMenu: " + this.showMenu);
      row.toggleDetails();
      // console.log(row);
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    takeAct(actID, actName, data, row, ind) {
      this.selectRow(row, ind);
      console.log(row);
      console.log("===============================");
      console.log("Team Details: ");
      console.log("===============================");
      // console.log(data);
      console.log("id: " + data.id);
      console.log("name: " + data.name);
      console.log("team: " + data.team);
      console.log("deptname: " + data.department);
      console.log("mobile: " + data.mobile);
      console.log("email: " + data.email);
      console.log("status: " + data.status);
      console.log("===============================");
      console.log("Action ID: " + actID);
      console.log("Action Name: " + actName);
      console.log("===============================");
      this.sysUsers.id = data.id;
      this.sysUsers.title = data.name;
      this.sysUsers.name = data.name;
      this.sysUsers.position = data.position;
      this.sysUsers.team = data.team;
      this.sysUsers.department = data.department;
      this.sysUsers.mobile = data.mobile;
      this.sysUsers.email = data.email;
      this.sysUsers.status = data.status;
      console.log("take", this.sysUsers.id);
      if (actName == "View User Details") {
        this.getSystemUserDet(this.token, this.sysUsers.id);
        this.$root.$emit("bv::show::modal", "viewUserModal", "#viewUserModal");
      } else if (actName == "Edit Email") {
        console.log("edit email");
        this.$root.$emit(
          "bv::show::modal",
          "examTakerModal",
          "#examTakerModal"
        );
      } else {
        this.editUser = false;
        this.getSystemUserDet(this.token, this.sysUsers.id);
        this.$root.$emit("bv::show::modal", "viewUserModal", "#viewUserModal");
      }
    },

    close() {
      this.clearEditFields();
      this.editUser = true;
      this.$root.$emit("bv::hide::modal", "viewUserModal", "#viewUserModal");
    },
    closeExamTakerModal() {
      this.clearEditFields();
      this.editUser = true;
      this.$root.$emit("bv::hide::modal", "examTakerModal", "#examTakerModal");
    },

    edit() {
      this.editUser = !this.editUser;
      if (this.editUser == true) {
        this.editSysUsers(this.token);
        console.log("save");
      } else {
        console.log("edit");
      }
    },
    selectPos() {
      this.sysUsers.position_id = this.selectedPos.id;
    },
    selectRole() {
      // console.log(this.sysUsers.role_id);
      // console.log(this.selectedRole.id);
      this.sysUsers.role_id = this.selectedRole.id;
    },
    cancel() {
      this.editUser = !this.editUser;
      console.log("canceled");
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    closeAddSysUser() {
      this.clearFields();

      this.$root.$emit(
        "bv::hide::modal",
        "addSysUserModal",
        "#addSysUserModal"
      );
    },
    clearFields() {
      this.newSysUser.email = "";
      this.newSysUser.password = "";
      this.newSysUser.repassword = "";
      this.newSysUser.firstname = "";
      this.newSysUser.middlename = "";
      this.newSysUser.lastname = "";
      this.newSysUser.mobile = "";
      this.newSysUser.role_id = "";
      this.newSysUser.position_id = "";
    },
    clearEditFields() {
      this.sysUsers.id = "";
      this.sysUsers.email = "";
      this.sysUsers.password = "";
      this.sysUsers.firstname = "";
      this.sysUsers.middlename = "";
      this.sysUsers.lastname = "";
      this.sysUsers.role_id = "";
      this.sysUsers.position_id = "";
      this.sysUsers.status = "";
    },
    rowDet() {
      // INITIALIZE perPage
      this.perPage = 1;

      // DETERMINE HOW MANY ROWS TO SHOW DEPENDING ON moduleContent HEIGHT
      var rowCounter = setInterval(() => {
        if (this.$refs.rowDeter == undefined) {
          clearInterval(rowCounter);
        } else {
          this.screenHeight = screen.height; // SCREEN HEIGHT / MONITOR HEIGHT
          this.rowDeterm = this.$refs.rowDeter.clientHeight; // moduleContent HEIGHT (px)
          this.tableHeight = ((this.rowDeterm - 50) / screen.height) * 100; // moduleContent HEIGHT (%)

          if (this.tableHeight < 65) {
            this.perPage++;
            // console.log(this.perPage);
          } else {
            // SET DEFAULT ROWS PER PAGE IN ALL TABS
            this.$store.commit("setPerPage", this.perPage);

            // STOP INTERVAL AFTER this.tableHeight == 60
            clearInterval(rowCounter);
          }
        }
      }, 1);
    },
    //fecth positions
    getPositions(token) {
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/positions/view`,
        headers: {
          Authorization: `Bearer ${token}`
        }
      }).then(
        res => {
          this.positionlist = res.data;
        },
        error => {
          console.log(error);
        }
      );
    },
    //fecth roles
    getRoles(token) {
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/roles/view`,
        headers: {
          Authorization: `Bearer ${token}`
        }
      }).then(
        res => {
          this.rolelist = res.data;
        },
        error => {
          console.log(error);
        }
      );
    },
    //fetch users main table
    async getUsers() {
      this.isBusy = true;
      // FETCH DEPARTMENTS
      await this.$store
        .dispatch("admin/getUsersAction", {
          token: localStorage.token
        })
        .then(
          result => {
            console.log("=======================================");
            console.log("Successfully fetched users");
            console.log("=======================================");
            this.tableData = result;
            // console.log(this.tableData);
            this.isBusy = false;
            // console.log("result", result);
            // IMPORTANT!
            this.rowDet();
          },
          error => {
            console.log("=======================================");
            console.log("Failed to fetch users");
            console.log("=======================================");
            console.log(error);
            this.showAlert(error, "danger");
            console.log("=======================================");
          }
        );
    },
    //add system user | MODAL
    async addSystemUser() {
      this.loader = true;
      await this.$store
        .dispatch("admin/addSysUserAction", {
          token: localStorage.token,
          email: this.newSysUser.email,
          password: this.newSysUser.password,
          firstname: this.newSysUser.firstname,
          lastname: this.newSysUser.lastname,
          middlename: this.newSysUser.middlename,
          mobile: this.newSysUser.mobile,
          role_id: this.newSysUser.role_id.id,
          position_id: this.newSysUser.position_id.id,
          link: this.newSysUser.link
        })
        .then(
          res => {
            let msg = res.data.posted.msg;
            if (
              msg == "Email already exists!" ||
              msg == "User already exist!"
            ) {
              this.showAlert(msg, "danger");
              this.loader = false;
            } else {
              let msg = res.data.posted.prompt;
              let applicantID = res.data.posted.applicantID;
              this.showAlert(msg, "success");
              this.emailNewUserCred(applicantID);
              this.getUsers(localStorage.token); // update table
              this.activityLogsAdd(this.token, this.newSysUser.email);
              this.closeAddSysUser(); //close modal if successfully added
              this.clearFields();
              this.loader = false;
            }
          },
          error => {
            console.log(error);
            let msg = error.response.data.error;
            this.showAlert(msg, "danger");
            this.loader = false;
          }
        );
    },
    async emailNewUserCred(applicantID) {
      await this.$store
        .dispatch("admin/emailNewUser", {
          link: this.newSysUser.link,
          id: applicantID,
          token: localStorage.token
        })
        .then(res => {
          console.log("email new user", res);
        });
    },
    //fetch selected user's details to edit
    async getSystemUserDet() {
      console.log("id", this.sysUsers.id);
      await this.$store
        .dispatch("admin/getEditSysUserDetails", {
          token: localStorage.token,
          id: this.sysUsers.id
        })
        .then(
          res => {
            console.log("sss", res);
            this.sysUsers.firstname = res.data.view[0].firstname;
            this.sysUsers.middlename = res.data.view[0].middlename;
            this.sysUsers.lastname = res.data.view[0].lastname;
            this.sysUsers.email = res.data.view[0].email;
            this.sysUsers.password = res.data.view[0].password;
            this.sysUsers.role = res.data.view[0].roles;
            this.sysUsers.role_id = res.data.view[0].roleId;
            this.sysUsers.position = res.data.view[0].position;
            this.sysUsers.position_id = res.data.view[0].positionId;
            this.sysUsers.status = res.data.view[0].status;
            this.sysUsers.mobile = res.data.view[0].mobile;
            this.sysUsers.ID = res.data.view[0].id;
            this.selectedPos = this.positionlist.filter(position => {
              if (position.positionname == this.sysUsers.position) {
                return position;
              }
            });
            this.selectedRole = this.rolelist.filter(role => {
              if (role.id == this.sysUsers.role_id) {
                return role;
              }
            });
          },
          error => {
            console.log(error);
            let msg = error.response.data.error;
            this.showAlert(msg, "danger");
          }
        );
    },
    //update system user's details
    async editSysUsers() {
      this.loader = true;
      console.log("id", this.sysUsers.id);
      await this.$store
        .dispatch("admin/editSystemUser", {
          token: localStorage.token,
          id: this.sysUsers.id,
          email: this.sysUsers.email,
          password: this.sysUsers.password,
          firstname: this.sysUsers.firstname,
          lastname: this.sysUsers.lastname,
          middlename: this.sysUsers.middlename,
          mobile: this.sysUsers.mobile,
          role_id: this.sysUsers.role_id,
          position_id: this.sysUsers.position_id,
          status: this.sysUsers.status
        })
        .then(
          res => {
            this.loader = false;
            let msg = res.data.patched.msg;
            this.showAlert(msg, "success");
            this.activityLogsEdit(this.token, this.sysUsers.email);
            this.getUsers(localStorage.token); // update table
            if (this.systemUsers == true) {
              this.close(); //close modal if updated successfully
            } else {
              this.closeExamTakerModal();
            }
          },
          error => {
            this.editUser = !this.editUser;

            this.loader = false;
            console.log(error);
            let msg = error.response.data.error;
            this.showAlert(msg, "danger");
          }
        );
    },
    //activity log for adding new user
    async activityLogsAdd(token, email) {
      await this.$store
        .dispatch("activityLogsAction", {
          token,
          module: "Add User",
          table_affected: "users",
          activity: `Added new user with email: ${email}`
        })
        .then();
    },
    // activity log for updating user info
    async activityLogsEdit(token, email) {
      await this.$store
        .dispatch("activityLogsAction", {
          token,
          module: "Update User",
          table_affected: "users",
          activity: `Updated user with email: ${email}`
        })
        .then();
    },
    closeMenu() {
      this.showMenu = false;
    }
  },
  mounted() {
    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.closeMenu();
        }
      },
      false
    );
  },
  created() {
    this.getPositions(localStorage.token);
    this.getRoles(localStorage.token);
    // SET DEFAULT OPEN TAB IN SIDEBAR
    // SET DEFAULT OPEN TAB IN SIDEBAR
    if (localStorage.activeN) {
      var open = [];
      open.push({
        id: 2,
        subID: 2.6,
        colID: "collapse-adminAccess",
        open: false
      });
      this.$store.commit("openPage", open);
    }
    setTimeout(() => {
      // CHECK IF USER IS ALLOWED TO ACCESS THIS PAGE
      var admin_access = localStorage.role;
      if (admin_access.toLowerCase().includes("admin")) {
        console.log("Welcome, admin " + localStorage.fname);

        this.token = localStorage.token;
        // FETCH POSITIONS
        this.getUsers(localStorage.token);

        // ADD TO doneLoader STATE
        this.$store.commit("doneLoad", 13);

        // LOOK FOR THE "ADMIN MODULE" (module_id: 1)
        var access_rights = JSON.parse(localStorage.access_rights_details);
        for (var a = 0; a < access_rights.length; a++) {
          if (access_rights[a].module_id == 1) {
            for (var v = 0; v < access_rights[a].access.length; v++) {
              // GET POSITION ACTIONS
              if (
                access_rights[a].access[v].action_name
                  .toLowerCase()
                  .includes("user")
              ) {
                this.actions.push({
                  ...access_rights[a].access[v]
                });
                console.log(this.actions);
              }
            }
          }
        }
      } else {
        this.$router.push({ path: "../../dashboard" });
      }
    }, 501);
  },
  computed: {
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      // return this.tableData
      if (this.systemUsers == true && this.examTakers == false) {
        return this.tableData.filter(data => {
          if (data.status != null) {
            if (data.status.toLowerCase().includes("active")) {
              return (
                data.name.toLowerCase().includes(this.find.toLowerCase()) ||
                data.mobile.toLowerCase().includes(this.find.toLowerCase()) ||
                data.email.toLowerCase().includes(this.find.toLowerCase()) ||
                data.team.toLowerCase().includes(this.find.toLowerCase()) ||
                data.status.toLowerCase().includes(this.find.toLowerCase()) ||
                data.department.toLowerCase().includes(this.find.toLowerCase())
              );
            } else {
              // console.log("Showing System Users ONLY");
            }
          } else {
            // console.log(data);
          }
        });
      } else if (this.systemUsers == false && this.examTakers == true) {
        return this.tableData.filter(data => {
          if (data.status != null) {
            if (data.status.toLowerCase().includes("active")) {
              // console.log("Showing Exam Takers ONLY");
            } else {
              return (
                data.name.toLowerCase().includes(this.find.toLowerCase()) ||
                data.mobile.toLowerCase().includes(this.find.toLowerCase()) ||
                data.email.toLowerCase().includes(this.find.toLowerCase()) ||
                data.team.toLowerCase().includes(this.find.toLowerCase()) ||
                data.status.toLowerCase().includes(this.find.toLowerCase()) ||
                data.department.toLowerCase().includes(this.find.toLowerCase())
              );
            }
          } else {
            // console.log(data);
          }
        });
      }
      // else if(this.systemUsers == true && this.examTakers == true) {
      //     // console.log("Showing All");
      //     return this.tableData.filter(data => {
      //         return (
      //             data.name.toLowerCase().includes(this.find.toLowerCase()) ||
      //             data.mobile.toLowerCase().includes(this.find.toLowerCase()) ||
      //             data.email.toLowerCase().includes(this.find.toLowerCase()) ||
      //             data.team.toLowerCase().includes(this.find.toLowerCase()) ||
      //             data.department.toLowerCase().includes(this.find.toLowerCase())
      //         );
      //     });
      // }
      // else {
      //     var empty = [];
      //     return empty;
      // }
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
.colSpace {
  margin-right: 5px;
  margin-left: 5px;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
