<template>
    <div class="m_mod_cont">
        <ViewApplicant/>
    </div>
</template>

<script>
import io from "socket.io-client";
import moment from "moment";
import axios from "axios";

import ViewApplicant from "../../../components/mob/view/viewApplicant.vue";

export default {
    layout: "m_sideBar",
    components: {
      ViewApplicant
    },
}
</script>

<style>

</style>