<template>
    <div class="m_mod_cont">
        <Notifs/>
    </div>
</template>

<script>
import io from "socket.io-client";
import moment from "moment";
import axios from "axios";

import Notifs from "../../../components/mob/view/viewNotifs.vue";

export default {
    layout: "m_sideBar",
    components: {
      Notifs
    },
}
</script>

<style>

</style>