<template>
  <div class="bg">
    <div class="customModalBG">
      <div class="container">
        <b-row>
          <b-col class="bord">
            <p class="m-title">IQBE Results</p>
          </b-col>
          <b-col class="bord t-right">
            <div class="closer" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </b-col>
        </b-row>

        <!-- BODY / CONTENT -->
        <b-row class="scrollr">
          <b-col v-if="this.data1.length > 0">
            <b-row
              ><b-col
                ><span class="applicantName">{{ applicantName }}</span></b-col
              ></b-row
            >

            <br />

            <!-- HEADER -->
            <b-row class="rateExam_header">
              <b-col>
                <b-row>
                  <b-col></b-col>
                  <b-col> Correct Answers </b-col>
                  <b-col> Wrong Answers </b-col>
                  <b-col> Total No. of Items </b-col>
                </b-row>
              </b-col>
            </b-row>

            <br />

            <!-- CATEGORIES -->
            <b-row
              class="rateExam_row"
              v-for="(data, e) in data1"
              :key="'e' + e"
            >
              <b-col>
                <b-row>
                  <b-col> {{ data.catgname }} </b-col>
                  <b-col> {{ data.correctanswer }} </b-col>
                  <b-col> {{ data.wronganswer }} </b-col>
                  <b-col> {{ data.total }} </b-col>
                </b-row>
              </b-col>
            </b-row>

            <!-- LINE -->
            <!-- <b-row><b-col><div class="liner"></div></b-col></b-row> -->

            <!-- OTHERS -->
            <b-row class="rateExam_row2">
              <b-col>
                <b-row v-for="(data, o) in others" :key="'o' + o">
                  <b-col> {{ data.desc }} </b-col>
                  <b-col> {{ data.score }} </b-col>
                  <b-col></b-col>
                  <b-col></b-col>
                </b-row>
              </b-col>
            </b-row>

            <!-- LINE -->
            <!-- <b-row><b-col><div class="liner"></div></b-col></b-row> -->

            <!-- FINAL SCORE -->
            <b-row class="rateExam_row2">
              <b-col>
                <b-row v-for="(data, s) in totalScores" :key="'s' + s">
                  <b-col> {{ data.desc }} </b-col>
                  <b-col> {{ data.score }} </b-col>
                  <b-col></b-col>
                  <b-col></b-col>
                </b-row>
              </b-col>
            </b-row>

            <b-row class="rateExam_header">
              <b-col>
                <b-row>
                  <b-col>
                    Please rate {{ applicantName }}'s answers below to add up to
                    his/her final score</b-col
                  >
                </b-row>
              </b-col>
            </b-row>
            <br />

            <!-- RATING -->
            <b-row
              class="rateExam_row2"
              v-for="(data, r) in rating"
              :key="'r' + r"
            >
              <b-col>
                <br />
                <b-row>
                  <b-col class="rating_categ">
                    {{ data.catgname }} • {{ data.question_type }}
                  </b-col>
                </b-row>
                <br />
                <b-row>
                  <b-col class="rating_quest">
                    {{
                      data.questions
                        ? String(data.questions).split("@")[0]
                        : "No Question"
                    }}
                  </b-col>
                  <b-col class="rating_answer">
                    {{ applicantName }}'s answer
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <img
                      :src="url + String(data.questions).split('@')[1]"
                      class="questImag"
                      v-show="String(data.questions).split('@')[1]"
                    />
                  </b-col>
                  <b-col>
                    <div
                      v-show="String(data.user_answer).split('@')[0]"
                      class="applicantAnswer"
                    >
                      {{
                        data.user_answer
                          ? String(data.user_answer).split("@")[0]
                          : "No Answer"
                      }}
                    </div>
                    <img
                      :src="url + String(data.user_answer).split('@')[1]"
                      class="questImag"
                      v-show="String(data.user_answer).split('@')[1]"
                    />
                  </b-col>
                </b-row>
                <br />
                <b-row>
                  <b-col class="rating_score">
                    Score: &emsp;
                    <input
                      type="number"
                      v-model="score[r]"
                      :placeholder="data.score"
                      @click="changeScore(r)"
                    />
                  </b-col>
                  <b-col class="rating_score2" v-show="showButtons[r].show">
                    <button class="btn-keep" @click="cancelRating(r)">
                      Cancel
                    </button>
                    &ensp;
                    <button
                      class="btn-positive2"
                      @click="saveRating(r, data.us_id)"
                    >
                      Save
                    </button>
                  </b-col>
                </b-row>
                <br />
              </b-col>
            </b-row>
          </b-col>
          <b-col v-else>
            <b-row>
              <b-col>
                No Exam Data
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <br />

        <!-- FOOTER BUTTONS -->
        <b-row class="footrFunc">
          <b-col>
            <div class="grouper22">
              <b-row>
                <b-col cols="6" class="t-left"> </b-col>

                <b-col cols="6" class="t-right">
                  <button @click="printExamRusutls()" class="btn-positive2">
                    <fa :icon="['fa', 'print']" /> &nbsp; Print
                  </button>
                  &emsp;
                </b-col>
              </b-row>
            </div>
          </b-col>
        </b-row>
      </div>
    </div>

    <!-- ALERT MESSAGE -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alert.message }}
    </b-alert>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect
  },
  data() {
    return {
      url: this.$axios.defaults.baseURL + "/",
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      score: [],
      showButtons: []
    };
  },
  created() {},
  methods: {
    printExamRusutls() {
      window.open(
        `/printExamResults?token=${localStorage.token}&id=${this.applicantID}`
      );
    },
    changeScore(ind) {
      for (let c = 0; c < this.examData.data2.result2s.length; c++) {
        if (ind == c) {
          this.showButtons[c].show = true;
        } else {
          this.showButtons[c].show = false;
        }
      }
      this.showButtons[ind].show = true;
    },
    cancelRating(ind) {
      this.showButtons[ind].show = false;
    },
    saveRating(ind, qID) {
      // console.log(this.score[ind] + " - " + qID);
      if (this.score[ind]) {
        axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/users/exam/rate`,
          headers: { Authorization: `Bearer ${localStorage.token}` },
          data: {
            id: qID,
            is_correct: this.score[ind]
          }
        }).then(
          res => {
            this.showAlert("Score successfully saved", "success");
            this.$store.dispatch("viewIQBEData", {
              applicantID: this.applicantID,
              token: localStorage.token
            });
          },
          error => {
            this.showAlert("Failed save the score: " + error, "danger");
          }
        );
      } else {
        this.showAlert("Please enter a score", "danger");
      }
    },
    close() {
      this.$store.commit("closeIQBERating", true);
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    }
  },
  computed: {
    examData() {
      return this.$store.state.rateIQBE;
    },
    applicantName() {
      if (this.examData.data) {
        if (
          this.examData.data.applicantFname &&
          this.examData.data.applicantLname
        ) {
          this.applicantID = this.examData.data.userId;
          return (
            this.examData.data.applicantFname +
            " " +
            this.examData.data.applicantLname
          );
        } else {
          return "No Name";
        }
      } else {
        return "No Data";
      }
    },
    data1() {
      if (this.examData.data) {
        if (this.examData.data.results) {
          var final = [];
          for (let d = 0; d < this.examData.data.results.length; d++) {
            var corrects = parseInt(
              this.examData.data.results[d].correctanswer
            );
            var wrongs = parseInt(this.examData.data.results[d].wronganswer);
            var totals = corrects + wrongs;
            final.push({
              catgname: this.examData.data.results[d].catgname,
              correctanswer: this.examData.data.results[d].correctanswer,
              wronganswer: this.examData.data.results[d].wronganswer,
              total: totals
            });
          }
          return final;
        } else {
          return [
            {
              catgname: "No Exam Results",
              correctanswer: "",
              wronganswer: "",
              total: ""
            }
          ];
        }
      } else {
        return [
          {
            catgname: "No Exam Results",
            correctanswer: "",
            wronganswer: "",
            total: ""
          }
        ];
      }
    },
    others() {
      if (this.examData.data2) {
        if (this.examData.data2.result2s) {
          var Fscore = 0;
          for (let c = 0; c < this.examData.data2.result2s.length; c++) {
            // console.log("Others: " + this.examData.data2.result2s[c].score);
            if (
              this.examData.data2.result2s[c].score != null ||
              this.examData.data2.result2s[c].score == ""
            ) {
              var score = parseInt(this.examData.data2.result2s[c].score);

              Fscore = Fscore + score;
            } else {
              Fscore = Fscore + 0;
            }
          }
          return [
            {
              desc: "Others",
              score: Fscore
            }
          ];
        } else {
          return [
            {
              desc: "Others",
              score: ""
            }
          ];
        }
      } else {
        return [
          {
            desc: "Others",
            score: ""
          }
        ];
      }
    },
    totalScores() {
      if (this.others) {
        var Fcorrect = 0;
        var Fwrong = 0;
        var Items = 0;
        var totalItems = [];
        if (this.examData.data) {
          for (let c = 0; c < this.examData.data.results.length; c++) {
            if (
              this.examData.data.results[c].correctanswer != null ||
              (this.examData.data.results[c].correctanswer != "" &&
                this.examData.data.results[c].wronganswer != null) ||
              this.examData.data.results[c].wronganswer != ""
            ) {
              // console.log(
              //   "Correct: " + this.examData.data.results[c].correctanswer
              // );
              // console.log(
              //   "Wrong: " + this.examData.data.results[c].wronganswer
              // );
              var correct = parseInt(
                this.examData.data.results[c].correctanswer
              );
              var wrong = parseInt(this.examData.data.results[c].wronganswer);

              Fcorrect = Fcorrect + correct;
              Fwrong = Fwrong + wrong;
            } else {
              Fcorrect = Fcorrect + 0;
              Fwrong = Fwrong + 0;
            }
          }
          Items = Fcorrect + Fwrong;
          totalItems.push({
            correctanswer: Fcorrect,
            wronganswer: Fwrong,
            items: Items
          });
        } else {
          totalItems.push({
            correctanswer: 0,
            wronganswer: 0,
            items: 0
          });
        }

        var total =
          parseInt(this.others[0].score) +
          parseInt(totalItems[0].correctanswer);
        return [
          {
            desc: "Final Score",
            score: total
          }
        ];
      } else {
        return [
          {
            desc: "Final Score",
            score: ""
          }
        ];
      }
    },
    rating() {
      if (this.examData.data2) {
        for (let c = 0; c < this.examData.data2.result2s.length; c++) {
          this.showButtons.push({
            show: false
          });
        }
        // console.log(this.showButtons);
        return this.examData.data2.result2s;
      }
    }
  }
};
</script>

<style lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.uploadResume .custom-file-label {
  width: 100%;
  height: 30px;
}
.uploadResume .custom-file-label .form-file-text,
.uploadResume .custom-file-label::after {
  font-size: 11px !important;
}
.uploadResume .custom-file-label::after {
  background: #f5f5f5;
}
.uploadResume .custom-control {
  &:focus {
    box-shadow: 0 0 0 3px #00a6501f !important;
    border: 1px solid #00a651;
  }
}
.uploadResume .was-validated .custom-file-input:valid ~ .custom-file-label,
.custom-file-input.is-valid ~ .custom-file-label {
  border: 1px solid #6d757123;
}

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
