<template>
    <div class="serverH">
        <div class="serverStatus">
            <div class="warn">
                <fa :icon="['fa', 'exclamation-triangle']" />
            </div>
            <div class="statHead">
                {{ serverStatus }}
            </div>
            <div class="statInst">
                Please contact <span style="font-weight: bold; color: #00A651;">ITG</span> for assistance, thank you.
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        serverStatus() {
            return this.$store.state.serverStatus;
        }
    }
}
</script>

<style scoped lang="scss">
.serverH {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background: #ffffffde;
    width: 100%;
    height: 100vh;
    animation: fadeIn 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.serverStatus {
    z-index: 101;
    background: white;
    border-radius: 4px;
    padding: 15px 20px 20px;
    width: fit-content;
    height: fit-content;
}
.statHead {
    font-size: 35px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}
.warn {
    color: #ffd900;
    font-size: 50px;
    width: 100%;
    text-align: center;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
</style>