<template>
  <div class="bg">
    <div class="customModalBG">
      <div class="container">
        <!-- HEADER -->
        <b-row>
          <b-col class="bord">
            <p class="m-title">Enter Employee Code</p>
          </b-col>
          <b-col class="bord t-right">
            <div class="closer" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </b-col>
        </b-row>

        <!-- BODY / CONTENT -->
        <b-row>
          <b-col>
            <div class="paddr">
              <b-row class="eecTabHead">
                <b-col>
                  <b-row>Employee Code</b-row>
                </b-col>
                <b-col>
                  <b-row>First Name</b-row>
                </b-col>
                <b-col>
                  <b-row>Last name</b-row>
                </b-col>
              </b-row>
              <b-row class="scrollr2">
                <b-col>
                  <b-row
                    v-for="(emp, x) in employees"
                    :key="'x' + x"
                    class="eecTabRow"
                  >
                    <b-col>
                      <b-row>
                        <div class="eecTabCol">
                          <input
                            type="text"
                            class="modalEdit noMargin"
                            :id="'emp' + x"
                            @input="pushCodes(empCode, emp, 'emp' + x, x)"
                            v-model="empCode[x]"
                          />
                        </div>
                      </b-row>
                    </b-col>
                    <b-col>
                      <b-row>
                        <div class="eecTabCol">
                          {{ emp.firstname }}
                        </div>
                      </b-row>
                    </b-col>
                    <b-col>
                      <b-row>
                        <div class="eecTabCol">
                          {{ emp.lastname }}
                        </div>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </div>
          </b-col>
        </b-row>

        <!-- FOOTER BUTTONS -->
        <b-row class="footrFunc">
          <b-col>
            <div class="grouper22">
              <b-row>
                <b-col cols="6" class="t-left">
                  <div v-if="alertMessage != ''">
                    <div
                      class="note text-alert"
                      v-if="alertMessage == 'Exporting...'"
                    >
                      <b-spinner
                        small
                        variant="warning"
                        type="grow"
                      ></b-spinner>
                      &ensp; {{ alertMessage }}
                    </div>
                    <div
                      class="note text-reject"
                      v-else-if="alertMessage == 'Done!'"
                    >
                      <fa :icon="['fa', 'exclamation-triangle']" /> &nbsp;
                      {{ alertMessage }}
                    </div>
                    <div class="note text-reject" v-else>
                      <fa :icon="['fa', 'exclamation-triangle']" /> &nbsp;
                      {{ alertMessage }}
                    </div>
                  </div>
                </b-col>
                <b-col cols="6" class="t-right">
                  <!-- EXPORT -->
                  <button @click="exportt()" class="btn-positive2">
                    <fa :icon="['fa', 'file-export']" /> &nbsp; Export
                  </button>
                </b-col>
              </b-row>
            </div>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  data() {
    return {
      empCode: [],
      employeeCodes: [],
      empty: 0,
      alertMessage: ""
    };
  },
  methods: {
    exportt() {
      console.log("==========================================");
      // CHECK IF ALL FIELDS ARE NOT EMPTY
      this.empCode.length;

      if (this.empCode.length <= 0) {
        this.alertMessage = "Please fill in all the fields";
        console.log("Please fill in all the fields");
        console.log("==========================================");
      } else {
        // console.log(this.employees.length);
        for (var c = 0; c < this.employees.length; c++) {
          if (this.empCode[c] == undefined || this.empCode[c] == "") {
            this.empty = this.empty + 1;
          }
          // console.log(this.empCode[c]);
        }
        // console.log(this.empty);
        if (this.empty > 0) {
          this.alertMessage = this.empty + " empty field(s)";
          // console.log(this.empty + " empty field(s)");
          console.log("==========================================");
        } else {
          this.alertMessage = "Exporting...";
          console.log("Exporting...");
          console.log("==========================================");
        }
      }
    },
    pushCodes(code, data, el, ind) {
      this.empty = 0;
      console.log("==========================================");
      console.log("Enter Employee Code");
      console.log("==========================================");
      // console.log(code);
      // console.log(data);
      // console.log(el);
      // console.log("==========================================");

      if (this.empCode[ind] == "") {
        document.getElementById(String(el)).classList.remove("inputDone");
      } else {
        document.getElementById(String(el)).classList.add("inputDone");
      }

      // PUSH DETAILS INTO ONE ARRAY
      var temp = {
        code: code[ind],
        ...data
      };

      this.employeeCodes[ind] = temp;

      // console.log(this.employeeCodes);
      console.log("==========================================");
    },
    close() {
      this.$store.commit("closeEnterEmployeeID", true);
      this.employeeCodes.length = 0;
      this.employeeCodes = [];
      this.empCode = 0;
      this.empCode = [];
    }
  },
  computed: {
    employees() {
      // console.log(this.$store.state.enterEmployeeID);
      return this.$store.state.enterEmployeeID;
    }
  }
};
</script>

<style lang="scss"></style>
