<template>
  <div class="bg">
    <div class="customModalBG">
      <div class="container">
        <b-row>
          <b-col class="bord">
            <p class="m-title">Question Details</p>
          </b-col>
          <b-col class="bord t-right">
            <div class="closer" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </b-col>
        </b-row>
        <b-row class="scrollr">
          <b-col v-for="(qst, x) in info" :key="'x' + x">
            <b-row class="bord grouper">
              <b-col>
                <b-row class="text-main">
                  <b-col>
                    <b-row>
                      <b-col>
                        <div class="question_wrap">
                          <span
                            v-if="qst.questions && qst.questions.includes('@')"
                          >
                            <img
                              class="questImg"
                              :src="url + qst.questions.split('@')[1]"
                              :alt="qst.questions.split('@')[0]"
                            />
                            <br /><br />
                            <span>{{ qst.questions.split("@")[0] }} </span>
                          </span>
                          <span v-else-if="qst.questions">
                            <span>{{ qst.questions }} </span>
                          </span>
                          <span v-else>
                            <span style="font-size: 18px; color: #c2c2c2">
                              No Question found
                            </span>
                          </span>
                          <br /><br />
                        </div>
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>
                <b-row class="bord">
                  <b-col>
                    <b-row style="font-size: 12px">
                      <b-col>
                        <div
                          class="text-keep-pill"
                          v-if="qst.type.includes('Multiple')"
                        >
                          {{ qst.type }}
                        </div>
                        <div
                          class="text-edit-pill"
                          v-else-if="qst.type.includes('Problem')"
                        >
                          {{ qst.type }}
                        </div>
                        <div
                          class="text-pos1-pill"
                          v-else-if="qst.type.includes('Essay')"
                        >
                          {{ qst.type }}
                        </div>
                      </b-col>
                    </b-row>
                    <b-row class="bord">
                      <b-col cols="1"> <b>Category</b> </b-col>
                      <b-col cols="11">:&ensp; {{ qst.catgName }} </b-col>
                    </b-row>
                    <b-row class="bord">
                      <b-col cols="1"> <b>Department</b> </b-col>
                      <b-col cols="11">:&ensp; {{ qst.deptName }} </b-col>
                    </b-row>
                    <b-row class="bord">
                      <b-col cols="1"> <b>Team</b> </b-col>
                      <b-col cols="11">:&ensp; {{ qst.teamName }} </b-col>
                    </b-row>
                    <b-row class="bord" v-if="qst.details.length > 0">
                      <b-col cols="1"> <b>Answer</b> </b-col>
                      <b-col cols="11" v-if="qst.correct_answer.includes('@')">
                        :&ensp;
                        {{ qst.correct_answer.split("@")[0].toUpperCase() }}
                      </b-col>
                      <b-col cols="11" v-else>
                        :&ensp; {{ qst.correct_answer }}
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
            <div v-if="qst.details.length > 0">
              <b-row class="bord grouper">
                <b-col>
                  <b-row
                    ><b-col><b>Choices :</b></b-col></b-row
                  >
                  <b-row>
                    <b-col>
                      <div class="choiceHold">
                        <div
                          v-for="(cho, s) in qst.details"
                          :class="
                            qst.correct_answer == cho.choice
                              ? 'answer'
                              : 'choices'
                          "
                          :key="'s' + s"
                        >
                          <div class="choicesHead">
                            {{ cho.choice.split('@')[0].toUpperCase() }}
                          </div>
                          <!-- <div class="choicesImg" v-if="cho.choice.includes('@')"> -->
                          <div class="choicesImg">
                            <img
                              :src="url + cho.choice.split('@')[1]"
                              :alt="'Image for : ' + cho.choice.split('@')[0]"
                              class="sam"
                            />
                          </div>
                        </div>
                      </div>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </div>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  data() {
    return {
      url: this.$axios.defaults.baseURL + "/"
    };
  },
  methods: {
    close() {
      this.$store.commit("closeQuestionDetails", true);
    }
  },
  computed: {
    info() {
      return this.$store.state.questionDetails;
    }
  }
};
</script>

<style lang="scss" scoped>

.sam {
    cursor: pointer;
    height: 150px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid #f5f5f5;
    object-fit: contain;
}
</style>
