<template>
  <div class="moduleContainer">
    <div class="moduleName">Positions</div>
    <div class="moduleContent2" ref="rowDeter">
      <!-- HEADER TOOLS -->
      <div class="tabTools">
        <!-- ADD NEW DEPARTMENT -->
        <div class="tabToolsDiv">
          <button
            v-b-modal.addPosModal
            class="btn-positive2"
            v-b-tooltip.hover
            title="Add new Position"
          >
            <fa :icon="['fa', 'plus']" /> &nbsp; New Position
          </button>
        </div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>

        <!-- SEARCH -->
        <div class="tabToolsDiv">
          <button class="toolSearchIco" disabled>
            <fa :icon="['fa', 'search']" />
          </button>
          <input
            class="toolSearch fa"
            type="text"
            name=""
            placeholder="Type to search"
            v-model="find"
          />
          <b-button
            class="toolClear"
            @click="find = ''"
            v-b-tooltip.hover
            title="Clear Search"
          >
            <fa :icon="['fa', 'eraser']" />
          </b-button>
        </div>
        <!-- RELOAD DATA -->
        <!-- <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
          <button class="btn-keep" @click="getPositions(token)">
            <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
          </button>
        </div> -->
      </div>

      <!-- TABLE @row-clicked="rowData"  -->
      <div class="tabTable">
        <b-table
          hover
          class="table"
          id="allApplicantsTable"
          select-mode="single"
          :filter="find"
          :items="tableDataComputed"
          :per-page="perPage"
          :fields="fieldHeaders"
          :busy="isBusy"
          :current-page="computedCurrentPage"
          show-empty
        >
          <!-- LOADERS IF isBusy == true -->
          <template #table-busy>
            <div class="text-center text-secondary">
              <b-spinner small class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>
          <!-- Custom display for Position' -->
          <template #cell(positionname)="row">
            <div class="text-main">
              <b>{{ row.value }}</b>
            </div>
          </template>

          <!-- Custom display for Position's Team -->
          <template #cell(teamname)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for Description -->
          <template #cell(description)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for Position's Department -->
          <template #cell(deptname)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for Department Head -->
          <template #cell(is_vacant)="row">
            <div class="text-sub">
              <div class="stage text-reject-pill" v-if="row.value == false">
                Unavailable
              </div>
              <div class="stage text-pos2-pill" v-else-if="row.value == true">
                Available
              </div>
            </div>
          </template>

          <!-- BUTTON PER ROW -->
          <template #cell(extra)="row">
            <div class="rowmenuHold" v-show="showMenu && row.index == rowIndex">
              <div class="rowmenu">
                <div class="actionFor">
                  <div class="pointing">
                    <div><fa :icon="['fa', 'id-card']" /></div>
                    {{ row.item.teamname }}
                  </div>
                  <!-- <div class="pointRight"></div> -->
                </div>
                <div class="line"></div>

                <div class="rowMenuScroll">
                  <div v-for="(act, a) in actions" :key="a">
                    <button
                      v-show="
                        act.action_name != 'Add Position' &&
                          act.action_name != 'Search Position' &&
                          act.action_name != 'View All Position'
                      "
                      class="bX b-keep"
                      @click="
                        takeAct(
                          act.id,
                          act.action_name,
                          row.item,
                          row,
                          row.index
                        )
                      "
                    >
                      &ensp; {{ act.action_name }}
                    </button>
                  </div>
                </div>
              </div>

              <!-- <div class="pointRight"></div> -->
            </div>

            <button class="btn-actions" @click="selectRow(row, row.index)">
              <fa :icon="['fa', 'ellipsis-v']" />
            </button>
          </template>
        </b-table>
      </div>

      <!-- modal for details and edit -->
      <div>
        <b-modal id="positionModal" no-close-on-backdrop>
          <template #modal-header class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'id-card']" />
            </div>
            <div class="deptTitleDiv">
              <b>{{ position.title }}</b>
            </div>
            <div class="iconBtn" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <div>
              <b-row><b class="modalText">Position Name:</b> </b-row>
              <b-row>
                <input
                  type="text"
                  class="modalEdit"
                  v-model="position.name"
                  :disabled="editPos"
              /></b-row>
            </div>
            <div>
              <b-row
                ><b class="modalText"
                  >Description <em class="optional">( optional )</em></b
                >
              </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="position.desc"
                  :disabled="editPos"
              /></b-row>
            </div>
            <div>
              <b-row v-show="editPos == true"
                ><b class="modalText">Team Name:</b>
              </b-row>

              <b-row v-show="editPos == false">
                <b class="modalText">Select Team: </b>
              </b-row>
              <b-row v-show="editPos == true">
                <input
                  class="modalEdit"
                  type="text"
                  v-model="position.teamname"
                  :disabled="editPos"
              /></b-row>
              <b-row v-show="editPos == false"
                ><multiselect
                  v-model="selectedTeam"
                  deselect-label=""
                  select-label=""
                  track-by="id"
                  label="teamname"
                  placeholder="Select a Team"
                  :options="filterActiveTeam"
                  :searchable="true"
                  :allow-empty="false"
                  class="selectInput"
                  :disabled="editPos"
                  @input="selectTeamEdit()"
                >
                </multiselect
              ></b-row>
            </div>
            <!-- <div v-show="editPos == true">
              <b-row><b class="modalText">Team Name:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="position.teamname"
                  :disabled="editPos"
              /></b-row>
            </div> -->
            <div v-show="editPos == true">
              <b-row><b class="modalText">Department Name:</b> </b-row>
              <b-row>
                <input
                  class="modalEdit"
                  type="text"
                  v-model="position.deptname"
                  :disabled="editPos"
              /></b-row>
            </div>
            <div v-show="editPos == false">
              <b-row><b class="modalText">Office Staff:</b> </b-row>
              <b-form-radio-group>
                <b-form-radio
                  class="radioBtn"
                  size="sm"
                  v-model="position.is_office_staff"
                  name="radio-btn1"
                  value="true"
                  >Yes</b-form-radio
                >
                <b-form-radio
                  class="radioBtn"
                  size="sm"
                  v-model="position.is_office_staff"
                  name="radio-btn2"
                  value="false"
                  >No</b-form-radio
                >
              </b-form-radio-group>
            </div>
            <div v-show="editPos == false">
              <b-row><b class="modalText">Vacant:</b> </b-row>
              <b-form-radio-group>
                <b-form-radio
                  class="radioBtn"
                  size="sm"
                  v-model="position.is_vacant"
                  name="radio-btn1"
                  value="true"
                  >Yes</b-form-radio
                >
                <b-form-radio
                  class="radioBtn"
                  size="sm"
                  v-model="position.is_vacant"
                  name="radio-btn2"
                  value="false"
                  >No</b-form-radio
                >
              </b-form-radio-group>
            </div>
            <div v-show="editPos == false">
              <b-row><b class="modalText">Active:</b> </b-row>
              <b-form-radio-group>
                <b-form-radio
                  class="radioBtn"
                  size="sm"
                  v-model="position.status"
                  name="radio-btn1"
                  value="active"
                  >Yes</b-form-radio
                >
                <b-form-radio
                  class="radioBtn"
                  size="sm"
                  v-model="position.status"
                  name="radio-btn2"
                  value="inactive"
                  >No</b-form-radio
                >
              </b-form-radio-group>
            </div>
          </div>
          <template #modal-footer>
            <!-- CANCEL -->
            <button
              v-show="editPos == false"
              @click="cancel()"
              class="btn-deact"
            >
              <fa :icon="['fa', 'times']" />
              &nbsp; Cancel
            </button>

            <!-- EDIT & SAVE -->
            <button
              @click="edit()"
              :class="editPos ? 'btn-edit' : 'btn-positive2'"
            >
              <fa :icon="['fa', editPos ? 'edit' : 'save']" />
              &nbsp;
              {{ editPos ? "Edit" : "Save" }}
            </button>
          </template>
        </b-modal>
      </div>
      <div>
        <!-- add new position -->
        <b-modal id="addPosModal" no-close-on-backdrop>
          <template #modal-header="{close}" class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'plus']" />
            </div>
            <div class="deptTitleDiv">
              <b>Add New Position</b>
            </div>
            <div class="iconBtn" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <div>
              <b-row>
                <b class="modalText">Select Team: </b>
              </b-row>
              <b-row
                ><multiselect
                  v-model="newPos.team"
                  deselect-label=""
                  select-label=""
                  track-by="id"
                  label="teamname"
                  placeholder="Select a Team"
                  :options="filterActiveTeam"
                  :searchable="true"
                  :allow-empty="false"
                  class="selectInput"
                  @input="selectTeamAdd()"
                >
                </multiselect
              ></b-row>
            </div>
            <div>
              <b-row>
                <b class="modalText">Position Name: </b>
              </b-row>
              <b-row>
                <input type="text" class="modalEdit" v-model="newPos.name"
              /></b-row>
            </div>
            <div>
              <b-row>
                <b class="modalText"
                  >Description <em class="optional">( optional )</em></b
                ></b-row
              >
              <b-row>
                <input type="text" class="modalEdit" v-model="newPos.desc"
              /></b-row>
            </div>

            <div>
              <b-row><b class="modalText">Office Staff:</b> </b-row>
              <b-form-radio-group>
                <b-form-radio
                  class="radioBtn"
                  size="sm"
                  v-model="newPos.is_office_staff"
                  name="radio-btn1"
                  value="true"
                  >Yes</b-form-radio
                >
                <b-form-radio
                  class="radioBtn"
                  size="sm"
                  v-model="newPos.is_office_staff"
                  name="radio-btn2"
                  value="false"
                  >No</b-form-radio
                >
              </b-form-radio-group>
            </div>
          </div>
          <template #modal-footer>
            <button class="btn-deact" @click="closeAddPos()">
              Cancel
            </button>
            <button class="btn-positive2" @click="addPosition()">
              Submit
            </button>
          </template>
        </b-modal>
      </div>

      <!-- FOOTER TOOLS -->
      <div class="footer">
        <div class="tabTools">
          <div class="tabToolsDiv">
            Total no. of records: {{ records }} | Page
            {{ computedCurrentPage }} of {{ computedTotalPage }}
          </div>
          <div class="tabToolsDiv tabToolsDivX"></div>
          <div class="tabToolsDiv tabEx">
            <div class="overflow-auto">
              <div>
                <b-pagination
                  size="sm"
                  v-model="currentPage"
                  :total-rows="records"
                  :per-page="perPage"
                  aria-controls="allApplicantsTable"
                ></b-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ALERT -->
    <div>
      <b-alert
        :show="alert.showAlert"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <fa
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Multiselect from "vue-multiselect";
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  layout: "sideBar",
  components: { Multiselect },
  data() {
    return {
      selectedTeam: {
        deptname: "",
        description: "",
        id: null,
        status: null,
        teamname: ""
      },
      editPos: true,
      isBusy: false,
      token: "",
      find: "",
      tableData: [],
      perPage: 1,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      screenHeight: 0,
      tableHeight: 0,
      rowDeterm: 0,
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      actions: [],
      teams: [],
      position: {
        id: "",
        title: "",
        name: "",
        desc: "",
        teamId: "",
        teamname: "",
        deptId: "",
        deptname: "",
        is_office_staff: null,
        is_vacant: null,
        status: null
      },
      newPos: {
        teamId: "",
        name: "",
        desc: "",
        is_office_staff: null
      },
      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "positionname",
          label: "Position",
          sortable: true
        },
        {
          key: "description",
          label: "Description",
          sortable: false
        },
        {
          key: "teamname",
          label: "Position's Team",
          sortable: true
        },
        {
          key: "deptname",
          label: "Position's Department",
          sortable: true
        },
        {
          key: "is_vacant",
          label: "Vacancy",
          sortable: false
        },
        {
          key: "extra", // column name from API
          label: "", // custom name set
          sortable: false // sort data by column
        }
      ]
    };
  },
  methods: {
    customLabel() {
      return `${this.position.teamname}`;
    },
    selectRow(row, ind) {
      this.applicant = row;
      this.rowIndex = ind;
      // console.log("this.prevIndex: " + this.prevIndex);
      // console.log("this.rowIndex: " + this.rowIndex);
      // console.log("this.showMenu: " + this.showMenu);
      row.toggleDetails();
      // console.log(row);
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    takeAct(actID, actName, data, row, ind) {
      this.busy = true;
      this.selectedTeam = this.teams.filter(team => {
        if (team.teamname == data.teamname) {
          return team;
        }
      });
      // console.log("team select", this.selectedTeam);
      this.selectRow(row, ind);
      this.getPositionsDet(data.id);

      // console.log(row);
      console.log("===============================");
      console.log("Team Details: ");
      console.log("===============================");
      // console.log(data);
      // console.log("id: " + data.id);
      // console.log("teamname: " + data.teamname);
      // console.log("deptname: " + data.deptname);
      // console.log("description: " + data.description);
      // console.log("is_vacant: " + data.is_vacant);
      // console.log("===============================");
      // console.log("Action ID: " + actID);
      // console.log("Action Name: " + actName);
      // console.log("===============================");
      // this.position.name = data.positionname;
      // this.position.title = data.positionname;
      // this.position.id = data.id;
      // this.position.desc = data.description;
      // this.position.teamname = data.teamname;
      this.position.deptname = data.deptname;

      if (actName == "View Position Details") {
        this.$root.$emit("bv::show::modal", "positionModal", "#positionModal");
      } else {
        this.editPos = false;
        this.$root.$emit("bv::show::modal", "positionModal", "#positionModal");
      }
    },
    //close edit and view modal | clear edit
    close() {
      this.editPos = true;
      this.$root.$emit("bv::hide::modal", "positionModal", "#positionModal");
      this.clearPosFields();
    },
    //close add position modal and clear inputs
    closeAddPos() {
      this.clearFields();
      this.$root.$emit("bv::hide::modal", "addPosModal", "#addPosModal");
    },
    edit() {
      this.editPos = !this.editPos;
      if (this.editPos == true) {
        this.editPosition(this.token);
      } else {
      }
    },
    cancel() {
      this.editPos = !this.editPos;
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    rowDet() {
      // INITIALIZE perPage
      this.perPage = 1;

      // DETERMINE HOW MANY ROWS TO SHOW DEPENDING ON moduleContent HEIGHT
      var rowCounter = setInterval(() => {
        if (this.$refs.rowDeter == undefined) {
          clearInterval(rowCounter);
        } else {
          this.screenHeight = screen.height; // SCREEN HEIGHT / MONITOR HEIGHT
          this.rowDeterm = this.$refs.rowDeter.clientHeight; // moduleContent HEIGHT (px)
          this.tableHeight = ((this.rowDeterm - 50) / screen.height) * 100; // moduleContent HEIGHT (%)

          if (this.tableHeight < 65) {
            this.perPage++;
            // console.log(this.perPage);
          } else {
            // SET DEFAULT ROWS PER PAGE IN ALL TABS
            this.$store.commit("setPerPage", this.perPage);

            // STOP INTERVAL AFTER this.tableHeight == 60
            clearInterval(rowCounter);
          }
        }
      }, 1);
    },
    //FETCH TEAMS
    async getTeams() {
      await this.$store
        .dispatch("admin/getTeamAction", { token: localStorage.token })
        .then(
          res => {
            this.teams = res;
          },
          error => {
            console.log("team err", error);
          }
        );
    },
    //FETCH POSITIONS
    async getPositions() {
      await this.$store
        .dispatch("admin/getPositionAction", { token: localStorage.token })
        .then(
          result => {
            console.log("=======================================");
            console.log("Successfully fetched positions");
            console.log("=======================================");
            this.tableData = result;
            this.isBusy = false;

            // IMPORTANT!
            this.rowDet();
          },
          error => {
            console.log("=======================================");
            console.log("Failed to fetch positions");
            console.log("=======================================");
            console.log(error);
            this.showAlert(error, "danger");
            console.log("=======================================");
          }
        );
    },

    async getPositionsDet(data) {
      await this.$store
        .dispatch("admin/getPositionDetail", {
          token: localStorage.token,
          id: data
        })
        .then(
          result => {
            this.position.name = result.name;
            this.position.title = result.name;
            this.position.id = result.id;
            this.position.desc = result.description;
            this.position.teamname = result.teamname;
            // this.position.deptname = result.deptname;
            this.position.is_vacant = result.is_vacant;
            this.position.is_office_staff = result.is_office_staff;
            this.position.status = result.status;
          },
          error => {
            console.log(error);
            this.showAlert(error, "danger");
          }
        );
    },
    //logs activity for adding position
    async addPosActivityLogs(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token,
          module: "Add Position",
          table_affected: "positions",
          activity: `Added new Position: ${name}`
        })
        .then();
    },
    //logs activity for updating position
    async editPosActivityLogs(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token,
          module: "Update Position",
          table_affected: "positions",
          activity: `Updated Position: ${name}`
        })
        .then();
    },
    // ADD NEW POSITION
    async addPosition() {
      await this.$store
        .dispatch("admin/addPositionAction", {
          token: localStorage.token,
          name: this.newPos.name,
          description: this.newPos.desc,
          teams_id: this.newPos.teamId,
          is_office_staff: this.newPos.is_office_staff,
          id: this.position.id
        })
        .then(
          res => {
            let msg = res.data.posted.msg;
            if (msg === "Position already exists!") {
              this.showAlert(msg, "danger");
            } else {
              let msg = "Successfully Added!";
              this.showAlert(msg, "success");
              this.addPosActivityLogs(this.token, this.position.name);
              this.closeAddPos();
              this.getPositions(this.token);
            }
          },
          error => {
            console.log(error.response.data.error);
            let err = error.response.data.error;
            this.showAlert(err, "danger");
          }
        );
    },
    //update POSITION details
    async editPosition() {
      // console.log(this.position.teamId);
      await this.$store
        .dispatch("admin/editPosAction", {
          token: localStorage.token,
          name: this.position.name,
          description: this.position.desc,
          teams_id: this.selectedTeam.id,
          is_office_staff: this.position.is_office_staff,
          is_vacant: this.position.is_vacant,
          status: this.position.status,
          id: this.position.id
        })
        .then(
          res => {
            let msg = "Successfully Updated";
            this.showAlert(msg, "success");
            this.editPosActivityLogs(this.token, this.position.name);
            this.getPositions(this.token);
            this.close();
          },
          error => {
            console.log(error);
            // console.log(error.response.data.error);
            let msg = error.response.data.error;
            this.showAlert(msg, "danger");
          }
        );
    },
    //get team id for editing position
    selectTeamEdit() {
      this.position.teamId = this.position.teamname.id;
      // console.log("this.position.teamname", this.position.teamname);
    },
    //get team id for adding position
    selectTeamAdd() {
      this.newPos.teamId = this.newPos.team.id;
    },
    clearFields() {
      this.newPos.name = "";
      this.newPos.desc = "";
      this.newPos.team = "";
      this.newPos.is_office_staff = "";
    },
    clearPosFields() {
      this.position = {
        id: "",
        title: "",
        name: "",
        desc: "",
        teamId: "",
        teamname: "",
        deptId: "",
        deptname: "",
        is_office_staff: null,
        is_vacant: null,
        status: null
      };
    },
    closeMenu() {
      this.showMenu = false;
    }
  },
  mounted() {
    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.closeMenu();
        }
      },
      false
    );
  },
  created() {
    this.getTeams(localStorage.token);
    // SET DEFAULT OPEN TAB IN SIDEBAR
    if (localStorage.activeN) {
      var open = [];
      open.push({
        id: 2,
        subID: 2.5,
        colID: "collapse-adminAccess",
        open: false
      });
      this.$store.commit("openPage", open);
    }
    setTimeout(() => {
      // CHECK IF USER IS ALLOWED TO ACCESS THIS PAGE
      var admin_access = localStorage.role;
      if (admin_access.toLowerCase().includes("admin")) {
        console.log("Welcome, admin " + localStorage.fname);

        this.token = localStorage.token;
        // FETCH POSITIONS
        this.getPositions(localStorage.token);

        // ADD TO doneLoader STATE
        this.$store.commit("doneLoad", 13);

        // LOOK FOR THE "ADMIN MODULE" (module_id: 1)
        var access_rights = JSON.parse(localStorage.access_rights_details);
        for (var a = 0; a < access_rights.length; a++) {
          if (access_rights[a].module_id == 1) {
            for (var v = 0; v < access_rights[a].access.length; v++) {
              // GET POSITION ACTIONS
              if (
                access_rights[a].access[v].action_name
                  .toLowerCase()
                  .includes("position")
              ) {
                this.actions.push({
                  ...access_rights[a].access[v]
                });
              }
            }
          }
        }
      } else {
        this.$router.push({ path: "../../dashboard" });
      }
    }, 501);
  },
  computed: {
    filterActiveTeam() {
      return this.teams.filter(team => {
        return team.status == "active";
      });
    },
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      // return this.tableData
      return this.tableData.filter(data => {
        return (
          data.teamname.toLowerCase().includes(this.find.toLowerCase()) ||
          data.deptname.toLowerCase().includes(this.find.toLowerCase()) ||
          data.positionname.toLowerCase().includes(this.find.toLowerCase())
        );
      });
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
