<template>
<!-- DATE PICKER -->
<div class="mob_modal_bg_2">
<!-- <div class="mob_modal_bg"> -->
    <div class="mob_datePick">
        <div class="mob_title2">Date Picker</div>
        <div class="mob_calendar">
            <!-- DISPLAY SELECTED MONTH -->
            <div class="datePick_month">
                <div class="mob_link" @click="open_month(dp_selected_month)">{{ dp_selected_month }}</div>
                <div class="mob_link" @click="open_year(dp_selected_year)">{{ dp_selected_year }}</div>
            </div>
            <!-- MONTH PICKER -->
            <div class="pick_months" v-show="open_month_list">
                <div class="pick_months_list" v-for="(months, m) in dp_months" :key="'m'+m" @click="selct_month(months.month, false)">
                    {{ months.month }}
                </div>
            </div>
            <!-- YEAR PICKER -->
            <div class="pick_years" v-show="open_year_list">
                <div class="pick_years_list" v-for="(years, m) in dp_years" :key="'m'+m" @click="selct_year(years.year)">
                    {{ years.year }}
                </div>
            </div>
            <!-- DATES -->
            <div class="datePick_Week" v-for="(week, w) in dp_weeks" :key="'w'+w">{{ week.w }}</div>
            <button 
            :class="'datePick_day '+(days.day == '.' ? 'hideDot ':(days.today != '' ? 'markToday ':'')+' '+(days.today == 'selected' ? 'selected_day':''))" 
            v-for="(days, d) in this.dp_days" 
            :key="d"
            @click="selct_day(days.day)">
                {{ days.day }}
            </button>
        </div>
        <!-- DISPLAY SELECTED DATE -->
        <div class="mob_pickedDate">Selected Date: {{ datePickedDate }}</div>
        <!-- DATE PICKER BUTTONS -->
        <div class="mob_date_btns">
            <button class="mob_btn1 mob_cancel" @click="cancelDate()"> <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel </button>
            <button class="mob_btn1 mob_done" 
            @click="selectedDate(datePickedDate)"
            v-show="isDate_valid"> <fa :icon="['fa', 'check-circle']"/> &ensp; Done </button>
        </div>
    </div>
</div>
</template>

<script>
import moment from "moment";

export default {
    data() {
        return {
            showDatePicker: false,
            open_month_list: false,
            open_year_list: false,
            isDate_valid: true,
            date_f: localStorage.date_f,
            datePickedDate: "",
            dp_selected_year: moment(new Date()).format("YYYY"),
            dp_selected_month: moment(new Date()).format("MMMM"),
            dp_selected_day: moment(new Date()).format("D"),
            dp_years: [],
            dp_months: [],
            dp_days: [],
            dp_weeks: [
                {w: "Sun"},
                {w: "Mon"},
                {w: "Tue"},
                {w: "Wed"},
                {w: "Thu"},
                {w: "Fri"},
                {w: "Sat"},
            ],
        }
    },
    methods: {
        open_month(month) {
            // OPEN MONTHS & YEAR LIST FOR SELECTION
            this.open_month_list = true;
            this.open_year_list = false;
        },
        open_year() {
            // OPEN MONTHS & YEAR LIST FOR SELECTION
            this.open_month_list = false;
            this.open_year_list = true;
        },
        selct_day(today) {
            // SELECTING DATE FROM CALENDAR
            // console.log(today);
            if(today != '.') {
                // SET THE SELECTED DATE
                this.dp_selected_day = today;

                // DATE PICKED TO BE ASSIGN TO EITHER 'FROM' or 'TO'
                this.datePickedDate = moment(this.dp_selected_month+' '+today+', '+this.dp_selected_year).format("YYYY-MM-DD");

                // SHOW 'DONE' BUTTON
                this.isDate_valid = true;

                // GET INDEX OF TODAY'S DATE
                var pickedDate_indx = this.dp_days.findIndex(data => {
                    return data.day == today;
                });

                // // DEFAULT SELECTED DATE 
                var currMon = moment(this.datePickedDate).format("MMMM");
                var currDay = moment(this.datePickedDate).format("D");

                // ASSIGN DATA TO SELECTED DATE 
                for(var s=0; s < this.dp_days.length; s++) {
                    if(pickedDate_indx == s) {
                        this.dp_days[s].today = "selected";
                    }
                    else {
                        if(this.dp_days[s].today != "now") {
                            this.dp_days[s].today = "";
                        }
                        if(this.dp_days[s].day == currDay && currMon == this.dp_selected_month) {
                            this.dp_days[s].today = "now";
                        };
                    }
                    // console.log("loop...");
                }
                // console.log(2);
                this.showDatePicker = true;
            }
        },
        selct_month(month, is_canceled, default_date) {
            // SELECTING THE MONTH FROM CALENDAR
            // SET THE SELECTED MONTH
            this.dp_selected_month = month;

            // HIDE THE MONTHS LIST
            this.open_month_list = false;

            // EMPTY THE DAYS
            this.dp_days = [];

            // DETERMINE IF THE FUNCTION IS CALLED FROM CANCEL OR SELECTION BUTTON
            if(is_canceled == true) {
                this.dp_selected_day = default_date;
            }
            else {
                this.dp_selected_day = 0;
                this.isDate_valid = false;
            }

            // REARRANGING DAYS ACCORDING TO SELECTED MONTH
            var basedate = moment(month+""+this.dp_selected_year).startOf("month").format("YYYY-MM-DD");
            var sDate = parseInt(moment(basedate).startOf("month").format("D"));
            var eDate = parseInt(moment(basedate).endOf("month").format("D"));
            var currMon = moment(new Date()).format("MMMM");
            var currDay = moment(new Date()).format("D");

            // DEFAULT SELECTED DATE 
            this.datePickedDate = moment(new Date()).format("YYYY-MM-DD");
            var sDayN = moment(basedate).weekday(); // GET STARTING DAY IN NUMBER FORMAT (ex. March 1 is 2nd day of the week)
            var cnt = 0;
            var cntD = 0;
            // REARRANGE DAYS ACCORDING TO SELECTED MONTH
            for(var d = sDate; d <= 42; d++) { // is the array slot for a month for display
                if(cnt < sDayN) {
                    this.dp_days.push( { day: ".", today: "" } );
                    cnt = cnt + 1;
                }
                else {
                    cntD = cntD + 1;
                    if(cntD <= eDate) {
                        if(this.dp_selected_month == currMon && cntD == currDay) {
                            this.dp_days.push( { day: cntD, today: "now" } );
                        }
                        else {
                            this.dp_days.push( { day: cntD, today: "" } );
                        }
                    }
                    else {
                        this.dp_days.push( { day: ".", today: "" } );
                    }
                }
            }
            // DATE PICKED TO BE ASSIGN TO EITHER 'FROM' or 'TO'
            this.datePickedDate = moment(this.dp_selected_month+' '+this.dp_selected_day+', '+this.dp_selected_year).format("YYYY-MM-DD");
        },
        selct_year(year) {
            this.open_year_list = false;
            this.dp_selected_year = year;
            // DATE PICKED TO BE ASSIGN TO EITHER 'FROM' or 'TO'
            this.datePickedDate = moment(this.dp_selected_month+' '+this.dp_selected_day+', '+this.dp_selected_year).format("YYYY-MM-DD");
        },
        cancelDate() {
            this.showDatePicker = false;
            this.date_f = localStorage.date_f;
            var temp = {
                date: "",
                open: false
            };
            this.$store.commit("mob_select_date", temp);
        },
        selectedDate(date) {
            this.showDatePicker = false;
            this.date_f = moment(date).format("MMM DD, YYYY");
            var temp = {
                date: moment(date).format("YYYY-MM-DD"),
                open: false
            };
            this.$store.commit("mob_select_date", temp);
            localStorage.sched_date = moment(date).format("YYYY-MM-DD");
        },
        select_Date(date) {
            this.dp_selected_month = moment(date).format("MMMM");
            this.dp_selected_year = moment(date).format("YYYY");
            var today = moment(date).format("D");
            this.selct_month(this.dp_selected_month, true, today);
            this.selct_day(today, this.datePickerType, true);
        },
    },
    created() {
        // SET STAGE
        // localStorage.mob_tab_current = 'All Applicants';
        // this.$store.commit("mob_set_active_tab", 'All Applicant');
        // SET DATA FOR DATE PICKER USING MOMENT
        // SET MONTHS
        for(var x=0; x < 12; x++) {
            this.dp_months.push(
                {
                    id: x,
                    month: moment().month(x).format("MMMM")
                }
            );
        }
        // SET YEARS
        var temp = parseInt(moment(new Date()).format("YY"));
        var cntr = parseInt(moment(new Date()).format("YYYY")) + 1;
        for(var y=0; y <= temp; y++) {
            cntr = cntr - 1;
            this.dp_years.push(
                {
                    id: y,
                    year: cntr
                }
            );
        }
        // SET DAYS
        var basedate = moment(new Date()).startOf("month").format("YYYY-MM-DD");
        var sDate = parseInt(moment(basedate).startOf("month").format("D"));
        var eDate = parseInt(moment(basedate).endOf("month").format("D"));
        var currMon = moment(new Date()).format("MMMM");
        var currDay = moment(new Date()).format("D");
        // DEFAULT SELECTED DATE 
        this.datePickedDate = moment(new Date()).format("YYYY-MM-DD");
        // console.log(basedate);
        // console.log(currMon);
        // console.log(this.dp_selected_month);
        var sDayN = moment(basedate).weekday(); // GET STARTING DAY IN NUMBER FORMAT (ex. March 1 is 2nd day of the week)
        // console.log(sDayW);
        // console.log(sDayN);
        var cnt = 0;
        var cntD = 0;
        for(var d = sDate; d <= 42; d++) { // is the array slot for a month for display
            if(cnt < sDayN) {
                this.dp_days.push( { day: ".", today: "" } );
                cnt = cnt + 1;
            }
            else {
                cntD = cntD + 1;
                if(cntD <= eDate) {
                    if(this.dp_selected_month == currMon && cntD == currDay) {
                        this.dp_days.push( { day: cntD, today: "now" } );
                    }
                    else {
                        this.dp_days.push( { day: cntD, today: "" } );
                    }
                }
                else {
                    this.dp_days.push( { day: ".", today: "" } );
                }
            }
        }
    },
}
</script>

<style>

</style>