<template>
<!-- TIME PICKER -->
<div class="mob_modal_bg_2">
    <div class="mob_datePick">
        <div class="mob_title2">Time Picker</div>
        <div class="mob_time_header">
            <div class="mob_time_row2">Hour</div>
            <div class="mob_time_row2">Minute</div>
            <div class="mob_time_row2">Meridian</div>
        </div>
        <div class="mob_calendar mob_time">
            <!-- DISPLAY HOURS | MINUTES | MERIDIAN -->
            <div class="mob_time_col">
                <div 
                    :id="(hour.selct == true ? 'selectedHR':'h'+h)" 
                    :class="`mob_time_row ${(hour.selct == true ? `time_sel`:``)}`" 
                    v-for="(hour, h) in hours" 
                    :key="'h'+h"
                    @click="sel_hour(hour.h)">
                        {{ hour.h }}
                </div>
            </div>
            <div class="mob_time_col">
                <div 
                    :id="(min.selct == true ? 'selectedMIN':'m'+m)" 
                    :class="`mob_time_row ${(min.selct == true ? `time_sel`:``)}`" 
                    v-for="(min, m) in minutes" 
                    :key="'m'+m"
                    @click="sel_min(min.m)">
                        {{ min.m }}
                </div>
            </div> 
            <div class="mob_time_col">
                <div :class="`mob_time_row ${(meridian == 'AM' ? 'time_sel':'')}`" @click="sel_mer('AM')">AM</div>
                <div :class="`mob_time_row ${(meridian == 'PM' ? 'time_sel':'')}`" @click="sel_mer('PM')">PM</div>
            </div>
        </div>
        <!-- DISPLAY SELECTED TIME -->
        <div class="mob_pickedDate">Selected Time: {{ (timePicked == "" ? timeDefault:timePicked) }}</div>
        <!-- DATE PICKER BUTTONS -->
        <div class="mob_date_btns">
            <button class="mob_btn1 mob_cancel" @click="cancel()">
                <fa :icon="['fa', 'times-circle']"/>
                &ensp; Cancel
            </button>
            <button class="mob_btn1 mob_done" @click="done()">
                <fa :icon="['fa', 'check-circle']"/> &ensp; Done
            </button>
        </div>
    </div>
</div>
</template>

<script>
import moment from 'moment';
export default {
    data() {
        return {
            timePicked: "",
            isTime_valid: false,
            hours: [],
            meridian: "AM",
            minutes: [],

            s_hour: "",
            s_min: "",
        }
    },
    methods: {
        done() {
            var sched = localStorage.sched_finalDate;
            var time = sched.split("T")[1];
            var time2 = moment(sched).format("hh:mm");
            var hr = time2.split(":")[0];
            var min = time2.split(":")[1];
            var mer = moment(sched).format("A");
            var temp = {
                thisTime: {
                    today: sched,
                    time:  time,
                    hour: hr,
                    Min: min,
                    Mer: mer
                },
                open: false
            };
            this.$store.commit("mob_select_time", temp);
        },
        cancel() {
            var temp = {
                thisTime: {
                    today: "",
                    time:  "",
                    hour: "",
                    Min: "",
                    Mer: ""
                },
                open: false
            };
            this.$store.commit("mob_select_time", temp);
        },
        sel_hour(hour) {
            this.selectedTime(hour, this.s_min, this.meridian);
        },
        sel_min(min) {
            this.selectedTime(this.s_hour, min, this.meridian);
        },
        sel_mer(mer) {
            // this.meridian = mer;
            this.selectedTime(this.s_hour, this.s_min, mer);
        },
        selectedTime(pik_hr, pik_min, pik_mer) {
            var time = moment(this.timeDefaultValue.today).format("hh:mm");
            if(pik_hr) {
                var hr = pik_hr;
            }
            else {
                var hr = String(time).split(":")[0];
            }
            if(pik_min) {
                var min = pik_min;
            }
            else {
                var min = String(time).split(":")[1];
            }
            
            // SET TIME
            if(pik_mer) {
                this.meridian = pik_mer;
            }
            else {
                this.meridian = this.timeDefaultValue.Mer;
            }
            this.s_hour = hr;
            this.s_min = min;
            this.timePicked = `${hr}:${min} ${this.meridian}`;

            // STORE IN LOCAL STORAGE
            localStorage.sched_time = `${this.s_hour}:${this.s_min} ${this.meridian}`
            var sched_temp = `${localStorage.sched_date} ${localStorage.sched_time}`
            var sched = moment(sched_temp).format();
            localStorage.sched_finalDate = sched; // FINAL SCHEDULE DATE AND TIME
            localStorage.sched_finalDate2 = moment(sched).format("MMMM DD, YYYY hh:mm A"); // FINAL SCHEDULE DATE AND TIME (2nd format)
            if(pik_hr || pik_min || pik_mer) {
                var temp = {
                    thisTime: {
                        today: sched,
                        time:  sched.split("T")[0],
                        hour: hr,
                        Min: min,
                        Mer: this.meridian
                    },
                    open: true
                };
                this.$store.commit("mob_select_time", temp);
            }

            // RESET
            this.hours = [];
            this.minutes = [];

            // POPULATE HOURS
            for(var h=1; h < 13; h++) {
                if(String(h).length < 2) {
                    var temp = "0"+h;
                }
                else {
                    var temp = h;
                }
                if(hr == temp) {
                    var sel = true
                    // console.log(hr);
                }
                else {
                    var sel = false
                }
                this.hours.push({h: temp, selct: sel});
            }
            // POPULATE Minutes
            for(var m=0; m < 60; m++) {
                if(String(m).length < 2) {
                    var temp = '0'+m;
                }
                else {
                    var temp = m;
                }
                if(min == temp) {
                    var sel = true
                    // console.log(min);
                }
                else {
                    var sel = false
                }
                this.minutes.push({m: temp, selct: sel});
            }

            // console.log("hrs: ", this.hours);
            // console.log("min: ", this.minutes);

            setTimeout(() => {
                var hr = document.getElementById("selectedHR");
                hr.scrollIntoView({block: 'start'});

                var min = document.getElementById("selectedMIN");
                min.scrollIntoView({block: 'start'});
            }, 100);
        },
    },
    created() {
        this.selectedTime();
        // console.log("========================");
        // console.log(this.hours);
        // console.log(this.minutes);
        // console.log(this.meridian);
        // console.log("========================");
    },
    computed: {
        timeDefaultValue() {
            return this.$store.state.mob_selected_time;
        },
        timeDefault() {
            if(this.$store.state.mob_selected_time_open == true) {
                var temp = this.$store.state.mob_selected_time.today;
                var thisTime = moment(temp).format("hh:mm A");
                return thisTime;
            }
            else {
                return ""
            }
        }
    }
}
</script>

<style>

</style>