<template>
<div class="m_tableData m_tab_extra" :style="`height: ${screenHeight}px`">
    <!-- TABLE DATA -->
    <!-- <div class="m_tableData" :style="'height: '+screenHeight+'px'"> -->
        <div class="m_table_container" id="table_data_id" ref="table_data_ref">
            <!-- SHOW IF NO DATA -->
            <div class="empty_data" v-if="listOfNotifs.length < 1">
                <span class="empty_data_icon"><fa :icon="['fa', 'grimace']"/></span>
                <span class="empty_data_text">
                    No data were fetched.
                    <div class="see_more" @click="showMore = !showMore">
                        {{ (showMore == true ? 'Show less':'Show more') }}
                    </div>
                    <div class="see_more_content" v-show="showMore == true">
                        <br> It could be that:<br><br>
                        &bullet;&ensp;You have slow / no internet connection. <br>
                        &bullet;&ensp;You don't have the access rights for the data, or; <br>
                        &bullet;&ensp;There's simply no data for the current filters.<br><br>
                        If you think you're seeing this by mistake, please let the Software team know. Thank you. <br><br>
                        - ITG
                    </div>
                </span>
            </div>

            <!-- DISPLAY DATA -->
            <div class="m_data" v-for="(data, x) in listOfNotifs" :key="x">
                <div :class="`m_data_hold2 ${String(data.isViewedBy).includes(haveSeen) ? 'm_data_hold_seen':''}`"  @click="viewNotif(x, data)">
                    <div class="m_data_info">
                        <div :class="`m_data_main m_capitalize ${String(data.isViewedBy).includes(haveSeen) ? 'm_data_main_seen':''}`">
                            {{ (data.action.toLowerCase().includes('walk') ? data.action : data.action.split(" - ")[1]) }}
                        </div>
                        <div class="m_data_sub m_capitalize">{{data.desc}}</div>
                        <!-- {{data}} -->
                    </div>
                </div>
            </div>
            <div class="mon_end" v-show="listOfNotifs.length > 0">End of list</div>
        </div>
    <!-- </div> -->
</div>
</template>

<script>

import axios from "axios";
import io from "socket.io-client";
import moment from 'moment';
export default {
    data() {
        return {
            your_id: localStorage.id,
            screenHeight: "",
            showMore: false,
            isBusy: false,
            tableData: [],
            listOfNotifs: [],
            find: "",
            haveSeen: localStorage.id + "-",
        }
    },
    mounted() {
        this.screenHeight = parseFloat(screen.height) - 90; 
    },
    methods: {
        viewNotif(ind, data) {
            console.log(data);
            // CHECK IF NOTIF HAVE ALREADY BEEN VIEWED
            if (String(data.isViewedBy).includes(this.haveSeen)) {
                console.log("Already Viewed");
            } else {
                // VIEW NOTIF (to store user id who viewed the notifications)
                const socket = io.connect(localStorage.serverLink, { secure: true });
                socket.emit("updateNotification", [
                    {
                        notificationID: data.notificationID,
                        userID: this.haveSeen
                    }
                ]);
                // REQUEST FOR NOTIFICATIONS LIST
                this.getNotifs();
            }

        // NAVIGATE
        localStorage.mob_applicant_id = data.applicantID;
        this.$router.push({ path: "../../mobile/viewData" });
        },
        getNotifs() {
            // GET NOTIFS
            let cred = [];
            cred.push({
                role: localStorage.role,
                deptID: localStorage.deptId,
                teamID: localStorage.teamId,
                id: localStorage.id
            });
            const socket = io.connect(localStorage.serverLink, { secure: true });
            // console.log("cred notif", cred);

            socket.emit("fetchNotifications", cred);
        },
    },
    created() {
        localStorage.mob_tab_current = "Notifications";
        this.$store.commit("mob_set_active_tab", "Notifications");

        // CONNECT TO SOCKET
        let serverLink = `${process.env.baseURL}`;
        localStorage.serverLink = serverLink;
        const socket = io.connect(serverLink, { secure: true });

        // RECEIVE NOTIFICATIONS LIST
        socket.on("fetchNotifications", notifs => {
            // SEE IF LIST ISN'T EMPTY
            if (notifs != undefined) {
                // GET NOTIFS ONLY FROM CURRENT AND PREVIOUS MONTH
                var newList = [];
                for (var n = 0; n < notifs.length; n++) {
                    var notifMon = moment(notifs[n].date).format("MM");
                    if (notifMon == this.currentMonth || notifMon == this.prevMonth) {
                        newList[n] = notifs[n];
                    }
                }
                // DISPLAY NOTIFS ONLY FROM CURRENT AND PREVIOUS MONTH
                this.listOfNotifs = newList;
                var cnt = 0;
                for (let c = 0; c < this.listOfNotifs.length; c++) {
                    let temp = String(this.listOfNotifs[c].isViewedBy).includes(
                    this.haveSeen
                );
                    if (temp == false) {
                        cnt = cnt + 1;
                    }
                }
                // console.log(this.listOfNotifs);
            } else {
                this.listOfNotifs = [];
                // console.log("None");
            }
            this.notifCount = cnt;
        });

        // FETCH NOTIFS LIST AFTER VIEWING
        socket.on("updateNotification", updateNotif => {
            console.log("updateNotification", updateNotif);
            // console.log(tokenCheck);
            // FETCH NOTIFS AGAIN
            // this.getNotifs();
            // console.log("=================================");
        });

        this.getNotifs();
    },
    computed: {
        todaysDate() {
            return moment().format();   
        },
        currentMonth() {
            return moment().format("MM");   
        },
        prevMonth() {
            return moment()
                .subtract(1, "months")
                .format("MM");
        },
    }
}
</script>

<style>

</style>