<template>
<div>
    <div class="mob_exam_main" :style="`height: ${screenHeight}px`">
        <!-- APPLICANT -->
        <div class="act_panel">
            <div class="act_title">{{ applicant.name }}</div>
            <div class="act_sub">{{ applicant.position }}</div>
        </div>

        <br>

        <!-- ASSESSMENT -->
        <div class="mob_main_header">Interview Assessment Results</div>

        <div class="mob_main_foot">
            <div class="mob_exam_score">Interviewer : <span> {{ assessment.interviewer }} </span></div>
            <div class="mob_exam_score">Interview Date : <span> {{ dateFormat(assessment.interviewDate) }}</span></div>
        </div>

        <div>
            <div class="mob_iaf_card">
                <div class="mob_iaf_cat">Communication Skills <span>(Flow &amp; Consistency)</span></div>
                <div class="mob_iaf_rate">
                    <span v-if="assessment.communicationSkills == 'Excellent'" class="rate_excellent">{{ assessment.communicationSkills }}</span>
                    <span v-else-if="assessment.communicationSkills == 'Very Good'" class="rate_very">{{ assessment.communicationSkills }}</span>
                    <span v-else-if="assessment.communicationSkills == 'Good'" class="rate_good">{{ assessment.communicationSkills }}</span>
                    <span v-else-if="assessment.communicationSkills == 'Fair'" class="rate_fair">{{ assessment.communicationSkills }}</span>
                    <span v-else-if="assessment.communicationSkills == 'Poor'" class="rate_poor">{{ assessment.communicationSkills }}</span>
                    <span v-else>No Rating</span>
                </div> 
                
                <br>
                <div class="mob_iaf_remarks"> Remarks : 
                    <span>
                        {{ (assessment.communicationSkillsNote ? assessment.communicationSkillsNote:'None') }}
                    </span>
                </div>
            </div>
            <div class="mob_iaf_card">
                <div class="mob_iaf_cat">Demonstrated Confidence <span>(Self expression &amp; Outlook)</span></div>
                <div class="mob_iaf_rate">
                    <span v-if="assessment.confidence == 'Excellent'" class="rate_excellent">{{ assessment.confidence }}</span>
                    <span v-else-if="assessment.confidence == 'Very Good'" class="rate_very">{{ assessment.confidence }}</span>
                    <span v-else-if="assessment.confidence == 'Good'" class="rate_good">{{ assessment.confidence }}</span>
                    <span v-else-if="assessment.confidence == 'Fair'" class="rate_fair">{{ assessment.confidence }}</span>
                    <span v-else-if="assessment.confidence == 'Poor'" class="rate_poor">{{ assessment.confidence }}</span>
                    <span v-else>No Rating</span>
                </div> 
                
                <br>
                <div class="mob_iaf_remarks"> Remarks : 
                    <span>
                        {{ (assessment.confidenceNote ? assessment.confidenceNote:'None') }}
                    </span>
                </div>
            </div>
            <div class="mob_iaf_card">
                <div class="mob_iaf_cat">Physical Appearance <span>(Physical Condition &amp; Dressing Style)</span></div>
                <div class="mob_iaf_rate">
                    <span v-if="assessment.physicalAppearance == 'Excellent'" class="rate_excellent">{{ assessment.physicalAppearance }}</span>
                    <span v-else-if="assessment.physicalAppearance == 'Very Good'" class="rate_very">{{ assessment.physicalAppearance }}</span>
                    <span v-else-if="assessment.physicalAppearance == 'Good'" class="rate_good">{{ assessment.physicalAppearance }}</span>
                    <span v-else-if="assessment.physicalAppearance == 'Fair'" class="rate_fair">{{ assessment.physicalAppearance }}</span>
                    <span v-else-if="assessment.physicalAppearance == 'Poor'" class="rate_poor">{{ assessment.physicalAppearance }}</span>
                    <span v-else>No Rating</span>
                </div> 
                
                <br>
                <div class="mob_iaf_remarks"> Remarks : 
                    <span>
                        {{ (assessment.physicalAppearanceNote ? assessment.physicalAppearanceNote:'None') }}
                    </span>
                </div>
            </div>
            <div class="mob_iaf_card">
                <div class="mob_iaf_cat">Knowledge &amp; Skills</div>
                <div class="mob_iaf_rate">
                    <span v-if="assessment.knowledgeSkills == 'Excellent'" class="rate_excellent">{{ assessment.knowledgeSkills }}</span>
                    <span v-else-if="assessment.knowledgeSkills == 'Very Good'" class="rate_very">{{ assessment.knowledgeSkills }}</span>
                    <span v-else-if="assessment.knowledgeSkills == 'Good'" class="rate_good">{{ assessment.knowledgeSkills }}</span>
                    <span v-else-if="assessment.knowledgeSkills == 'Fair'" class="rate_fair">{{ assessment.knowledgeSkills }}</span>
                    <span v-else-if="assessment.knowledgeSkills == 'Poor'" class="rate_poor">{{ assessment.knowledgeSkills }}</span>
                    <span v-else>No Rating</span>
                </div> 
                
                <br>
                <div class="mob_iaf_remarks"> Remarks : 
                    <span>
                        {{ (assessment.knowledgeSkillsNote ? assessment.knowledgeSkillsNote:'None') }}
                    </span>
                </div>
            </div>
        </div>
        <div class="mob_main_foot">
            <div class="mob_exam_score">Asking Rate : <span>{{ assessment.askingRate }}</span></div>
            <div class="mob_exam_score">Availability : <span>{{ assessment.availability }}</span></div>
            <div class="mob_exam_score">Others : <span>{{ assessment.others }}</span></div>
        </div>
    </div>
</div>
</template>

<script>
import moment from "moment";
import axios from "axios";

export default {
    data() {
        return {
            screenHeight: "",
            applicant: [],
            assessment: [],
            msg: ""
        }
    },
    methods: {
        dateFormat(date) {
            return moment(date).format("MMMM DD, YYYY");
        }
    },
    mounted() {
        this.screenHeight = parseFloat(screen.height) - 90; 
    },
    created() {
        localStorage.mob_tab_current = "IAF Results";
        this.$store.commit("mob_set_active_tab", "IAF Results");

        // FIND APPLICANT
        var id = localStorage.mob_applicant_id;
        var token = localStorage.token;
        axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/find-applicant`,
            headers: {
                Authorization: `Bearer ${token}`
            },
            // THESE DATA ARE TEH USER DATA, NOT THE APPLICANT DATA
            data: {
                deptID: localStorage.deptId ? localStorage.deptId : 1,
                teamID: localStorage.teamId ? localStorage.teamId : 1,
                id: localStorage.id ? localStorage.id : 1,
                role: localStorage.role,
                applicantID: id
            }
        }).then(
        res => {
            this.applicant = res.data.response.applicantInformation[0];
            this.assessment = res.data.response.applicantInformation[0].assessmentInformation[0];
            console.log(this.assessment);
        },
        error => {
            this.applicant = {};
            this.msg = "Somethign went wrong : " + error;
        });
    },
}
</script>

<style>

</style>