<template>
  <div>
    <!-- BUTTONS -->
    <!-- <button class="mob_go_back" @click="goBack()">
        <fa :icon="['fa', 'arrow-left']" />
    </button> -->
    <button class="mob_actions" @click="actions_list()" id="mob_actions" v-show="mob_hide_actions == false">
        <fa :icon="['fa', (show_actions == true ? 'times':'ellipsis-v')]" />
    </button>
    <!-- SHOW IF NO DATA -->
    <div class="empty_data" v-if="noData == true">
      <span class="empty_data_icon"><fa :icon="['fa', 'grimace']"/></span>
      <span class="empty_data_text">
          Oops... Seems no data were fetched. <br> It could be that:<br><br>
          &bullet;&ensp;You have slow / no internet connection, or; <br>
          &bullet;&ensp;You don't have the access rights for the data.<br><br>
          If you think you're seeing this by mistake, please let the Software team know. Thank you. <br><br>
          - ITG
      </span>
    </div>
    <!-- LOADER -->
    <div class="m_loader" v-else-if="loading">
        <div class="m_loaderCont">
            <b-spinner large variant="success" type="grow"></b-spinner>
        </div>
    </div>
    <!-- DATA -->
    <div :class="`mob_applicant ${(mob_hide_actions == true || show_actions == false ? '':'filter_blur')}`" :style="'height: '+screenHeight+'px'" v-else>
      <div class="appl_data">
        <!-- BASIC INFO -->
        <div class="appl_panel">
          <div class="appl_basic">
            <div class="basic_1">
              <div class="appl_circle" :style="`background: `+bgColor(applicant.stage)">{{ initial(applicant.name) }}</div>
            </div>
            <div class="basic_2">
              <div class="appl_name">{{ applicant.name }}</div>
              <div :class="`appl_sub3 ${applicant.position == undefined ? 'text_fade':''}`">
                {{ (applicant.position == undefined ? 'To be endorsed':applicant.position) }}
              </div>
            </div>
          </div>
        </div>
        <!-- APPLICANT INFO -->
        <div class="appl_panel">
          <div class="appl_panel_row" v-show="applicant.email">
            <div class="appl_icon"><fa :icon="['fa', 'envelope']" /></div>
            <div class="appl_sub">{{ applicant.email }}</div>
          </div>
          <div class="appl_panel_row" v-show="applicant.mobile">
            <div class="appl_icon"><fa :icon="['fa', 'phone']" /></div>
            <div class="appl_sub">{{ applicant.mobile }}</div>
          </div>
          <div class="appl_panel_row" v-show="applicant.department">
            <div class="appl_icon"><fa :icon="['fa', 'building']" /></div>
            <div class="appl_sub">{{ applicant.department }}</div>
          </div>
          <div class="appl_panel_row" v-show="applicant.team">
            <div class="appl_icon"><fa :icon="['fa', 'users']" /></div>
            <div class="appl_sub">{{ applicant.team }}</div>
          </div>
          <div class="appl_panel_row" v-show="applicant.team">
            <div class="appl_icon"><fa :icon="['fa', 'calendar-check']" /></div>
            <div class="appl_sub">Applied last {{ date_format(applicant.applicationDate) }}</div>
          </div>
        </div>
        <!-- EMPHASIS -->
        <div class="appl_empha">
          <div class="appl_empha_d">
            <div class="empha_label">Willing to Travel</div>
            <div class="empha_huge">{{ applicant.willingToTravel }}</div>
          </div>
          <div class="appl_empha_d" @click="viewLivestock()">
            <div class="empha_label">With Livestocks</div>
            <div class="empha_huge">{{ withLivestocks(applicant.livestock) }}</div>
          </div>
        </div>
        <!-- STAGE -->
        <!-- <div class="appl_sub2" :style="`background: `+bgColor(applicant.stage)">
          <div class="appl_stage appl_capital">
            {{ applicant.stage }}
          </div>
        </div> -->
        <!-- SHOW LIVESTOCK -->
        <div v-show="display_ls == true">
          <div class="liner2"></div>
          <div class="appl_panel" v-show="display_ls == true" id="livestock">
            <div class="appl_title"><span>{{ applicant.name.split(' ')[0] }}'s</span> livestocks</div>
            <div class="appl_sub">{{ applicant.livestock }}</div>
          </div>
        </div>
        <!-- SHOW APPLICATION DETAILS -->
        <div>
          <div class="liner2"></div>
          <div class="appl_panel">
          <div class="appl_title"><span>{{ applicant.name.split(' ')[0] }}'s</span> application details</div>

          <div class="appl_empha2">
            <div class="appl_empha_d2">
              <div class="empha_label">Application Date</div>
              <div :class="`empha_content ${(date_format(applicant.applicationDate) == 'No dates'? 'text_fade':'')}`">
                {{ date_format(applicant.applicationDate) }}
              </div>
            </div>
            <div class="appl_empha_d2">
              <div class="empha_label">Endorsement Date</div>
              <div :class="`empha_content ${(date_format(applicant.endorsementDate) == 'No dates'? 'text_fade':'')}`">
                {{ date_format(applicant.endorsementDate) }}
              </div>
            </div>
          </div>

          <div class="appl_empha2">
            <div class="appl_empha_d2">
              <div class="empha_label">Assessment Date</div>
              <div :class="`empha_content ${(date_format(applicant.assessmentDate) == 'No dates'? 'text_fade':'')}`">
                {{ date_format(applicant.assessmentDate) }}
              </div>
            </div>
            <div class="appl_empha_d2">
              <div class="empha_label">Deployment Date</div>
              <div :class="`empha_content ${(date_format(applicant.deploymentDate) == 'No dates'? 'text_fade':'')}`">
                {{ date_format(applicant.deploymentDate) }}
              </div>
            </div>
          </div>

          <div class="appl_empha2">
            <div class="appl_empha_d2">
              <div class="empha_label">Online Exam Dates</div>
              <div :class="`empha_content ${(withExam == true ? '':'text_fade')}`">
                {{ onlineExamDate(applicant.onlineExamStartDate+' - '+applicant.onlineExamStartDate) }}
              </div>
            </div>
          </div>

          <div class="appl_empha2">
            <div class="appl_empha_d2">
              <div class="empha_label">Position</div>
              <div :class="`empha_content ${(applicant.position == undefined? 'text_fade':'')}`">
                {{ applicant.position == undefined? 'To be endorsed':applicant.position }}
              </div>
            </div>
          </div>

          <div class="appl_empha2">
            <div class="appl_empha_d2">
              <div class="empha_label">Department</div>
              <div :class="`empha_content ${(applicant.department == undefined? 'text_fade':'')}`">
                {{ applicant.department == undefined? 'To be endorsed':applicant.department }}
              </div>
            </div>
          </div>

          <div class="appl_empha2">
            <div class="appl_empha_d2">
              <div class="empha_label">Team</div>
              <div :class="`empha_content ${(applicant.team == undefined? 'text_fade':'')}`">
                {{ applicant.team == undefined? 'To be endorsed':applicant.team }}
              </div>
            </div>
          </div>

          <div class="appl_empha2">
            <div class="appl_empha_d2">
              <div class="empha_label">Duration </div>
              <div class="empha_content">
                {{ application_duration(applicant.runningTime) }}
              </div>
            </div>
          </div>

          </div>

        </div>
        
      </div>
    </div>

    <!-- ACTIONS -->
    <div class="actions_bg" :style="'height: '+screenHeight_actions+'px'" id="actions_bg">
      <div class="actions_list" id="actions_list">
        <!-- <div class="appl_title">Actions you can use for <span>{{ applicant.name.split(' ')[0] }}</span></div> -->
        <div v-for="(act, a) in actions" :key="'a'+a">
          <div class="appl_panel_row2" @click="take_action(act, applicant)">

            <div :class="`appl_sub4 ` +(act.name == 'Reject' ? 'text_red':'')">{{ act.name }}</div>
            <div :class="`appl_icon2 `+(act.name == 'Reject' ? 'bg_red':'')"><fa :icon="['fa', icon(act.name)]" /></div>

          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import io from "socket.io-client";
import moment from "moment";
import axios from "axios";

export default {
    layout: "m_sideBar",
    data() {
        return {
            loading: false,
            display_ls: false,
            withExam: false,
            show_actions: false,
            noData: '',
            applicant: [],
            actions: [],
        }
    },
    methods: {
      take_action(act, applicant) {
        localStorage.actionID = act.id;
        localStorage.actionName = act.action_name;
        // OPEN MODAL THROUGH STATE
        var temp = {
          act_name: act.name,
          applicant: applicant
        }
        this.$store.commit("mob_open_modal", temp);
        if(act.name.includes("View")) {
          if(act.name.includes("Exam") || act.name.includes("IQBE")) {
            // console.log("View Exam Results");
            this.$router.push({ path: "viewExamResults" });
          }
          else if(act.name.includes("IAF")) {
            // console.log("View View IAF Results");
            this.$router.push({ path: "viewIAF" });
          }
          else if(act.name.includes("Resume")) {
            // console.log("View Resume ", applicant.resumeUrl);
            if (String(applicant.resumeUrl) == "null" || String(applicant.resumeUrl) == "") {
              alert("No Resume Found");
            } 
            else {
              if (String(applicant.resumeUrl).includes("uploads") || String(applicant.resumeUrl).includes("drive")) {
                // this.showAlert("Resume Found", "success");
                if (applicant.resumeUrl.includes("uploads")) {
                  window.open(this.$axios.defaults.baseURL + "/" + applicant.resumeUrl);
                } else {
                  window.open(applicant.resumeUrl);
                }
              } else {
                // this.showAlert("Invalid Resume Link", "danger");
                alert("Invalid resume link");
              }
            }
          }
        }
        else {
          // HIDE: ACTIONS BUTTONS
          this.$store.commit("mob_hide_actions", true);
        }
      },
      actions_list() {
        this.show_actions = !this.show_actions;
        if(this.show_actions == true) {
          document.getElementById("actions_list").classList.add("actions_list_open");
          document.getElementById("actions_list").classList.remove("actions_list_close");
          document.getElementById("actions_bg").classList.add("action_bg_fade_in");
          document.getElementById("actions_bg").classList.remove("action_bg_fade_out");
          document.getElementById("actions_bg").classList.remove("hider");
          // document.getElementById("mob_applicant").classList.add("filter_blur");
        }
        else {
          document.getElementById("actions_bg").classList.add("action_bg_fade_out");
          document.getElementById("actions_bg").classList.remove("action_bg_fade_in");
          document.getElementById("actions_list").classList.add("actions_list_close");
          document.getElementById("actions_list").classList.remove("actions_list_open");
          // document.getElementById("mob_applicant").classList.remove("filter_blur");
          setTimeout(() => {
            document.getElementById("actions_bg").classList.add("hider");
          }, 200);
        }
        // console.log("Actions");
      },
      application_duration(duration) {
        // console.log(this.applicant);
        // console.log(duration);
        if(duration.days == undefined || duration.days < 1) {
          // if(duration.hours == undefined || duration.hours < 1) {
          //   if(duration.minutes == undefined || duration.minutes < 1) {
          //       return 'Just seconds ago'
          //   }
          //   else if(duration.minutes == 1) {
          //     return duration.minutes+' minute'
          //   }
          //   else {
          //     return duration.minutes+' minutes ago'
          //   }
          // }
          // else if(duration.hours == 1) {
          //   return duration.hours+' hour ago'
          // }
          // else {
          //   return duration.hours+' hours ago'
          // }
          return 'Just today'
        }
        else if(duration.days == 1) {
          return duration.days+' day ago'
        }
        else {
          return duration.days+' days ago'
        }
      },
      onlineExamDate(date) {
        var from = date.split(' - ')[0];
        var to = date.split(' - ')[1];
        var finalD = 'From : '+moment(from).format('MMM. D, YYYY') +' | To : '+ moment(to).format('MMM. D, YYYY');
        if(from == 'null' || from == '' || from == undefined) {
          this.withExam = false;
          return 'No dates.'
        }
        else {
          this.withExam = true;
          return finalD
        }
      },
      goBack() {
        this.$router.back();
      },
      icon(action) {
        if(action.toLowerCase().includes('view')) { return 'eye' }
        else if(action.toLowerCase().includes('keep')) { return 'archive'}
        else if(action.toLowerCase().includes('exam')) { return 'file-signature'}
        else if(action.toLowerCase().includes('retake')) { return 'redo-alt'}
        else if(action.toLowerCase().includes('return')) { return 'redo-alt'}
        else if(action.toLowerCase().includes('blacklist')) { return 'ban'}
        else if(action.toLowerCase().includes('reject')) { return 'times-circle'}
        else if(action.toLowerCase().includes('endorse')) { return 'stamp'}
        else if(action.toLowerCase().includes('update')) { return 'edit'}
        else if(action.toLowerCase().includes('change')) { return 'edit'}
        else if(action.toLowerCase().includes('add')) { return 'plus-circle'}
        else if(action.toLowerCase().includes('rate')) { return 'pen'}
        else if(action.toLowerCase().includes('create')) { return 'calendar-day'}
        else { return 'arrow-alt-circle-right' }
      },
      viewLivestock() {
        var livestock_id = document.getElementById("livestock");
        if(this.display_ls == true) {
          livestock_id.scrollIntoView({behavior: 'smooth', block: 'nearest'});
        }
      },
      bgColor(stage) {
          if(stage.includes("quick")) {
              return "#889E81";
          }
          else if(stage.includes("kept")) {
              return "#5c7b7b";
          }
          else if(stage.includes("rejected")) {
              return "#E84D2E";
          }
          else if(stage.includes("blacklist")) {
              return "#262C2C";
          }
          else if(stage.includes("online")) {
              return "#EE8400";
          }
          else if(stage.includes("deployed")) {
              return "#5ABC44";
          }
          else if(stage.includes("job")) {
              return "#2F6C82";
          }
          else if(stage.includes("received")) {
              return "#FEC006";
          }
          else if(stage.includes("pending")) {
              return "#a6b8eb";
          }
          else if(stage == "assessment") {
              return "#1fbbeb";
          }
          else if(stage.includes("schedule")) {
              return "#3E9F85";
          }
          else if(stage == "endorsement") {
              return "#eba6dc";
          }
          else if(stage.includes("shortlisted")) {
              return "#5ABC44";
          }
      },
      withLivestocks(data) {
        if(data.toLowerCase().includes('yes')) {
          this.display_ls = true;
          return 'Yes'
        }
        else {
          if(data.length > 7) {
            this.display_ls = true;
            return 'Yes'
          }
          else if(data.toLowerCase().includes('no') || 
          data.toLowerCase().includes('nothing') ||
          data.toLowerCase().includes('none') || 
          data.toLowerCase().includes('n/a') ||
          data.length <= 2){
            this.display_ls = false;
            return 'No'
          }
          else {
            this.display_ls = true;
            return 'Yes'
          }
        }
      },
      date_format(date) {
        var dateF = moment(date).format("MMM. D, YYYY");
        if(String(dateF) == 'Invalid date') {
          return 'No dates'
        }
        else {
          return dateF
        }
      },
      initial(name) {
        if(name != "" || name != undefined || name.length > 0) {
          return name[0]
        }
        else {
          return '@'
        }
      },
    },
    mounted() {
      // HIDE SIDEBAR
      setTimeout(() => {
        document.getElementById("actions_bg").classList.add("hider");
        // console.log(this.mob_hide_actions);
      }, 300);
    },
    created() {
      this.loading = true;
      var id = localStorage.mob_applicant_id;
      var token = localStorage.token
      // GET APPLICANT DATA
      axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/users/find-applicant`,
          headers: {
              Authorization: `Bearer ${token}`
          },
          data: {
              deptID: localStorage.deptId ? localStorage.deptId : 1,
              teamID: localStorage.teamId ? localStorage.teamId : 1,
              id: localStorage.id ? localStorage.id : 1,
              role: localStorage.role,
              applicantID: id
          }
      }).then(
      res => {
        // LOADING SCREEN
        this.loading = false;
        this.noData = false;

        // APPLICANT DATA
        this.applicant = res.data.response.applicantInformation[0];
        // console.log(this.applicant);

        // SET STAGE
        var stage = this.applicant.stage;
        if(stage.toLowerCase() == 'pending') {
          stage = 'Pending for Review';
        }
        localStorage.mob_tab_current = stage;
        this.$store.commit("mob_set_active_tab", stage);

        // GET ACTIONS
        this.actions = [];
        // LOOK FOR THE "APPLICATION STAGES MODULE" (module_id: 5)
        var access_rights = JSON.parse(localStorage.access_rights_details);
        for (var a = 0; a < access_rights.length; a++) {
          if (access_rights[a].module_id == 5) {
            var acts = access_rights[a].access;
          }
        }
        // FILTER OUT ACTIONS PER STAGE
        var stage = this.applicant.stage;
        for(var v=0; v < acts.length; v++) {
          var tem1 = acts[v].action_name.split(' - ')[0].toLowerCase();
          var tem2 =  tem1.split(' ')[0];
          var temStage =  stage.split(' ')[0].toLowerCase();
          if(temStage == tem2 && acts[v].status == 'active') {
            // console.log(temStage, " - ",tem2);
            // console.log(acts[v]);
            if(acts[v].action_name.split(' - ')[1] != 'Search Bar' && 
            acts[v].action_name.split(' - ')[1] != 'Filter Department' && 
            acts[v].action_name.split(' - ')[1] != 'Add Referral' && 
            acts[v].action_name.split(' - ')[1] != 'View Application Form' && 
            acts[v].action_name.split(' - ')[1] != 'Filter Position') {

              // console.log("keyword: ", stage);
              // console.log("basis: ", acts[v].action_name.split(' - ')[0].toLowerCase());

              // console.log("keyword: ", stage.split(' ')[0]);
              if(acts[v].action_name.split(' - ')[1] == 'Reject') {
                this.actions.push( 
                  { 
                    sort: 'z',
                    name: acts[v].action_name.split(' - ')[1],
                    id: acts[v].id,
                    action_name: acts[v].action_name
                  });
              }
              else if(acts[v].action_name.split(' - ')[1] == 'Blacklist') {
                this.actions.push( 
                  { sort: 'y',
                    name: acts[v].action_name.split(' - ')[1],
                    id: acts[v].id,
                    action_name: acts[v].action_name
                  });
              }
              else {
                this.actions.push( 
                  { sort: 'a',
                    name: acts[v].action_name.split(' - ')[1],
                    id: acts[v].id,
                    action_name: acts[v].action_name
                  });
              }
            }
          }
        }
        // SORT ACTIONS 
        this.actions.sort((a, b) => a.sort.localeCompare(b.sort));
        if(this.actions.length == 0) {
          this.$store.commit("mob_hide_actions", true);
        }
      },
      error => {
          this.loading = false;
          this.noData = true;
          console.log(error);
      });
    },
    computed: {
      hide_here() {
        console.log(this.$store.state.mob_modal);
        return this.$store.state.mob_modal;
      },
      screenHeight() {
        return parseInt(screen.height) - 60;
      },
      screenHeight_actions() {
        return parseInt(screen.height);
      },
      mob_hide_actions () {
        if(this.$store.state.hide_actions == true) {
          this.show_actions = false;
          setTimeout(() => {
            document.getElementById("actions_bg").classList.add("action_bg_fade_out");
            document.getElementById("actions_bg").classList.remove("action_bg_fade_in");
            document.getElementById("actions_list").classList.add("actions_list_close");
            document.getElementById("actions_list").classList.remove("actions_list_open");
            document.getElementById("actions_bg").classList.add("hider");
          }, 200);
        }
        return this.$store.state.hide_actions;
      },
    }

}
</script>

<style>

</style>