<template>
<div>
    <div class="mob_exam_main" :style="`height: ${screenHeight}px`">
        <!-- APPLICANT -->
        <div class="act_panel">
            <div class="act_title">{{ applicant.name }}</div>
            <div class="act_sub">{{ applicant.position }}</div>
        </div>

        <br>
                
        <!-- ONLINE EXAM -->
        <div class="mob_main_header">Online Exam Results</div>
        <div class="mob_main_sub">(Problem solving and essays are excluded)</div>

        <div class="mob_exam_cont">
            <div class="mob_exam_header_tab">
                <div class="mob_exam_header_text_cat">Categories</div>
                <div class="mob_exam_header_text">Correct</div>
                <div class="mob_exam_header_text">Wrong</div>
                <div class="mob_exam_header_text mob_exam_header_x">No. of Items</div>
            </div>
            <div class="mob_exam_body_con">
                <div class="mob_exam_body_tab" v-for="(data, e) in examData" :key="'e'+e">
                    <div class="mob_exam_body_text_cat">{{data.catgname}}</div>
                    <div class="mob_exam_body_text">{{data.correctanswer}}</div>
                    <div class="mob_exam_body_text">{{data.wronganswer}}</div>
                    <div class="mob_exam_body_text">{{ itemNum(data.correctanswer, data.wronganswer) }}</div>
                </div>
            </div>
            
        </div>
        <div class="mob_main_foot">
            <div class="mob_exam_score">Total Score : <span>{{ totalScore(examData) }}</span></div>
            <div class="mob_exam_score">Total no. of Items : <span>{{ totalItems(examData) }}</span></div>
        </div>

        <!-- IQBE -->
        <div class="mob_main_header">IQBE Results</div>
        <div class="mob_main_sub">IQ and Behavioral Exam</div>

        <div class="mob_exam_cont">
            <div class="mob_exam_header_tab">
                <div class="mob_exam_header_text_cat">Categories</div>
                <div class="mob_exam_header_text">Correct</div>
                <div class="mob_exam_header_text">Wrong</div>
                <div class="mob_exam_header_text mob_exam_header_x">No. of Items</div>
            </div>
            <div class="mob_exam_body_con">
                <div class="mob_exam_body_tab" v-for="(data, q) in iqbeData" :key="'q'+q">
                    <div class="mob_exam_body_text_cat">{{data.catgname}}</div>
                    <div class="mob_exam_body_text">{{data.correctanswer}}</div>
                    <div class="mob_exam_body_text">{{data.wronganswer}}</div>
                    <div class="mob_exam_body_text">{{ itemNum(data.correctanswer, data.wronganswer) }}</div>
                </div>
            </div>
        </div>
        <div class="mob_main_foot">
            <div class="mob_exam_score">Total Score : <span>{{ totalScore(iqbeData) }}</span></div>
            <div class="mob_exam_score">Total no. of Items : <span>{{ totalItems(iqbeData) }}</span></div>
        </div>
    </div>
</div>
</template>

<script>
import moment from "moment";
import axios from "axios";

export default {
    data() {
        return {
            screenHeight: "",
            applicant: [],
            msg: ""
        }
    },
    methods: {
        itemNum(correct, wrong) {
            return parseInt(correct) + parseInt(wrong);
        },
        totalScore(data) {
            if(data) {
                var score = 0;
                for(var d=0; d < data.length; d++) {
                    score = score + parseInt(data[d].correctanswer);
                }
                return score;
            }
        },
        totalItems(data) {
            if(data) {
                var items = 0;
                for(var d=0; d < data.length; d++) {
                    items = items + parseInt(this.itemNum(data[d].correctanswer, data[d].wronganswer));
                }
                return items;
            }
        }
    },
    mounted() {
        this.screenHeight = parseFloat(screen.height) - 90; 
    },
    created() {
        localStorage.mob_tab_current = "Exam Results";
        this.$store.commit("mob_set_active_tab", "Exam Results");

        // FIND APPLICANT
        var id = localStorage.mob_applicant_id;
        var token = localStorage.token;
        axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/find-applicant`,
            headers: {
                Authorization: `Bearer ${token}`
            },
            // THESE DATA ARE TEH USER DATA, NOT THE APPLICANT DATA
            data: {
                deptID: localStorage.deptId ? localStorage.deptId : 1,
                teamID: localStorage.teamId ? localStorage.teamId : 1,
                id: localStorage.id ? localStorage.id : 1,
                role: localStorage.role,
                applicantID: id
            }
        }).then(
        res => {
            if(res.data.response.applicantInformation) {
                this.applicant = res.data.response.applicantInformation[0];
            }
            else {
                this.applicant = {};
                this.msg = "No data were found"
            }

            // GET EXAM DATA
            this.$store.dispatch("viewExamData", {
                applicantID: id,
                token: token
            });
            // GET IQBE RESULTS
            this.$store.dispatch("viewIQBEData", {
                applicantID: id,
                token: token
            });
        },
        error => {
            this.applicant = {};
            this.msg = "Somethign went wrong : " + error;
        });
    },
    computed: {
        examData() {
            var temp = this.$store.state.rateExam;
            if(temp.data) {
                return temp.data.results;
            }
        },
        iqbeData() {
            var temp = this.$store.state.rateIQBE;
            if(temp.data) {
                return temp.data.results;
            }
        }
    }
}
</script>

<style>

</style>