@font-face {
    font-family: font_R;
    src: url(red-hat-display.ttf);
}

@font-face {
    font-family: font_M;
    src: url(red-hat-display-medium.ttf);
}

@font-face {
    font-family: font_B;
    src: url(red-hat-display-bold.ttf);
}

@font-face {
    font-family: font_BL;
    src: url(red-hat-display-black.ttf);
}

$BFI1: #00a651;
$BFI2: #a6ce39;
$BG: #eff8f4;

$mainT: #193C2A;
$subT: #6d7571;
$subT_F: #6d757123;
$faded: #e9ffe4;
.formCont {
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    // border: 1px solid blue;

    display: flex;
    align-items: center;
    justify-content: center;
}
.scrollrr {
    display: block;
    height: 100vh;
    overflow: auto;
}
.formHeader {
    width: 100%;
}
.centerAl {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
}
.formSection {
    // border: 1px solid orange;
    width: 950px;
    height: fit-content;
}
.formArticle {
    // border: 1px solid pink;
    width: 100%;
    height: fit-content;
}
.formBorder {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}
.formBorder td {
    padding: 3px 6px;
    border: 1px solid #212121;
}
.formLabel {
    color: #212121;
    font-weight: bold;
    font-family: font_M;
    font-size: 12px;
    margin: 0;
}
.formLabel2 {
    color: white;
    font-weight: bold;
    font-family: font_M;
    font-size: 11px;
    margin: 0;
}
.formLabel3 {
    color: #212121;
    font-weight: bold;
    font-family: font_M;
    font-size: 10px;
    margin: 0;
}
.formAnswer {
    color: #212121;
    font-size: 12px;
    margin-left: 10px;
}
.formSub{
    color: #212121;
    font-size: 12px;
}
.formAnswer3 {
    color: #212121;
    font-size: 10px;
    margin-left: 10px !important;
    display: flex;
}
.rowMargin {
    margin: 0;
}
.rowMargin th {
    border: 0;
    width: 8.33%;
    font-weight: normal;
}
.formDivide {
    background: #212121;
    height: 15px;
    -webkit-print-color-adjust: exact;
}
.applicantPicture {
    width: 200px;
    height: 200px;
}
.applicantPictureImg {
    width: 225px;
    height: 200px;
}
.alignRight {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // border: 1px solid red;
}
.alignLeft {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // border: 1px solid blue;
}
.alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.square {
    border: 1px solid #212121;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.noPadding {
    padding: 0px !important;
}
.customTD {
    width: 100%;
    padding: 10px 15px;
}
.border-top {
    border-top: 1px solid #212121 !important;
}

.printr {
    background: #0DAA57;
    border: 0;
    color: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: 0.4s;
    &:hover {
        background: #0c753d;
        transition: 0.4s;
    }
}
.fieldText {
    padding: 10px;
    text-transform: lowercase;
    // border: 1px solid red;
}
.noterr {
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 20px;
}
.applicantSignature {
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid #212121;
    text-align: right;
    margin-right: 30px;
    padding-top: 10px;
    width: 55%;
    white-space: nowrap;
}
.applicantName {
    width: 55%;
    font-size: 13px;
    text-align: left;
    margin-right: 30px;
}

// EMPLOYEE REFERRAL FORM
.spacr {
    width: 100%;
    height: 50px;
}
.reportBorder {
    margin: 0;
}
.reportBorder th {
    border: 1px solid #5a5a5a;
    background: #212121;
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding: 5px;
    -webkit-print-color-adjust: exact;
}
.rowPaddr {
    padding: 5px 8px;
}
.noWrap {
    white-space: nowrap;
}
.redr {
    background: #ff00001e;
    -webkit-print-color-adjust: exact;
}