@font-face {
  font-family: font_R;
  src: url(red-hat-display.ttf);
}

@font-face {
  font-family: font_M;
  src: url(red-hat-display-medium.ttf);
}

@font-face {
  font-family: font_B;
  src: url(red-hat-display-bold.ttf);
}

@font-face {
  font-family: font_BL;
  src: url(red-hat-display-black.ttf);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // color: #303030;
  // color: #555555;

  // user-select: none;
  /* supported by Chrome and Opera */
  // -webkit-user-select: none;
  /* Safari */
  // -khtml-user-select: none;
  /* Konqueror HTML */
  // -moz-user-select: none;
  /* Firefox */
  // -ms-user-select: none;
  /* Internet Explorer/Edge */
  font-family: font_R;
  outline-width: 0;
  outline-style: none;
  border: 0px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

$BFI1: #00a651;
$BFI2: #a6ce39;
$BG: #eff8f4;

$mainT: #193C2A;
$subT: #6d7571;
$subT_F: #6d757123;
$faded: #e9ffe4;

$colPos1: #5ABC44;
$colPos1_F: #5abc442a;
$colPos1_H: #3c882b;

$colPos2:#00A651;
$colPos2_F:#00a6501f;
$colPos2_H:#007a3b;

$colEdit: #EE8400;
$colEdit_F: #ee830031;
$colEdit_H: #c96e00;

$colView:#2F6C82;
$colView_F:#2f6c8223;
$colView_H:#1e4e5f;

$colReject: #E84D2E;
$colReject_F: #e84d2e27;
$colReject_H: #c4462c;

$colBlacklist: #262C2C;
$colBlacklist_F: #262c2c25;
$colBlacklist_H: #161d1d;

$colKeep: #5c7b7b;
$colKeep_F: #5c7b7b23;
$colKeep_H: #405353;

$colAlert: #FEC006;
$colAlert_F: #fec00650;
$colAlert_H: #d19d00;

$colInfos: #1fbbeb;
$colInfos_F: #64dbff48;
$colInfos_H: #008fbb;

$colAdmin: #a6b8eb;
$colAdmin_F: #a6bceb48;
$colAdmin_H: #2854a5;


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: $BFI2;
}

.sysLabel {
  color: $subT;
  font-size: 13px;
}

input[type=text],
input[type=number],
input[type=password] {
  background: #f5f5f5;
  padding: 8px 20px;
}

button,
input[type=button] {
  transition: 0.4s;
  // border-radius: 4px;
  padding: 8px;
  color: white;

  &:hover {
    transition: 0.4s;
    outline-width: 0;
    outline-style: none;
  }
}

span svg path {
  font-size: 10px;
}

.mainContainer {
  height: 100vh;
  width: 100%;
}

.panelContainer {
  background: $BG;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.panelCon {
  width: 100%;
  height: 100%;
}

.loginButton {
  background: $colPos1;
  width: 400px;
  height: 35px;
  margin-top: 6px;
  // margin-bottom: 6px;
  border-radius: 100px;
  font-size: 13px;

  &:hover {
    background: $colPos2;
  }

  cursor: pointer;
}

.loginFields {
  height: 35px;
  border-radius: 100px;
  font-size: 13px;
  color: $mainT;
  width: 400px;
  margin-top: 6px;
  cursor: pointer;
}

.loginForm {
  display: block;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

.appName {
  font-size: 50px;
  color: $mainT;
  font-family: font_B;
}

.subName {
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 12px;
  color: $mainT;
  font-family: font_R;
  text-align: center;
}

.eyeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  z-index: 1;
  position: relative;
  top: -73px;
  cursor: pointer;
  left: 410px;
  color: $subT;
  transition: 0.4s;

  &:hover {
    color: $colPos1;
    transition: 0.4s;
  }
}

.pass {
  // border: 1px solid violet;
  margin-top: 0px !important;
  margin-bottom: 0px;
  border-radius: 100px 0 0 100px !important;
  width: 350px !important;
}

.eye {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid purple;
  width: 50px;
  height: 35px;
  border-radius: 0 100px 100px 0 !important;
  // padding: 6px;
  background: #f5f5f5;
  color: $subT;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    color: $colPos1;
    transition: 0.4s;
  }
}

.passCons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0;
  // border: 1px solid red;
}

.loginBX {
  margin-top: 0px;
  margin-bottom: 6px;
}

.cardBody {
  background: $BG;
  display: block;
  width: 450px;
  margin: auto;
  margin-top: 11.5%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}

.cardBody2 {
  background: $BG;
  display: block;
  width: 350px;
  margin: auto;
  margin-top: 11.5%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}

.inputFirstLogin {
  height: 35px;
  border-radius: 100px;
  font-size: 13px;
  background-color: white !important;
  width: 400px;
  margin-bottom: 8px;
  margin-left: 20px
}
.inputFirstLogin2 {
  height: 35px;
  border-radius: 100px;
  font-size: 13px;
  background-color: white !important;
  width: 300px;
  margin-bottom: 8px;
  margin-left: 20px
}

.submitButton {
  background: $colPos1;
  width: 400px;
  height: 35px;
  margin-bottom: 8px;
  border-radius: 100px;
  font-size: 13px;
  &:hover {
    background: $colPos2;
  }
}

.submitButton2 {
  background: $colPos1;
  width: 300px;
  height: 35px;
  margin-bottom: 8px;
  border-radius: 100px;
  font-size: 13px;
  &:hover {
    background: $colPos2;
  }
}

.hrLine {
  width: 300px;
  text-align: center;
  margin: 16px 16px 16px 60px;
}

.eyeIconPass {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  z-index: 1;
  position: relative;
  top: 3px;
  cursor: pointer;
  left: -36px;
  color: $subT;
  transition: 0.4s;


  &:hover {
    color: $colPos1;
    transition: 0.4s;
  }
}

.errorMessageField {
  color: #e44525;
  font-size: 12px;
  margin-bottom: 8px;
  text-align: left;
  margin-left: 25px;

}
.errMessage{
margin-top: -15px;
}
.errorMessageForm {
  color: #e44525;
  font-size: 11px;
  // margin-bottom: 8px;
  text-align: left;
  // margin-left: 25px;
 margin-top: -10px;

}

.inputLabel {
  margin: 0;
}
.optional{
  color: #7c7c7c;
}
.cancelButtonPass {
  background: $colReject;
  width: 400px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 100px;
  font-size: 13px;

  &:hover {
    background: #e03825;
    ;
  }
}

.modalPass {
  position: fixed;
  z-index: 1000;
  background: #00000079;
  width: 100%;
  height: 100%;
}

.linkDiv {
  margin-top: -20px;
  margin-bottom: 10px;
}

.linkText {
  color: $colPos2;
  font-size: 12px;

  &:hover {
    text-decoration: none !important;
    color: $colReject !important;

    ;
  }
}

.freezeEmail {
  position: fixed;
  z-index: 1000;
  background: #00000079;
  width: 100%;
  height: 100%;
  top: 0;

  animation: fadein 0.5s;
}

.freezeHoldEmail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.freezeContentEmail {
  background: white;
  border-radius: 4px;
  //   max-width: 500px;
  height: fit-content;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;


  // position: absolute;
  // top: 100px;
  // left: 35%;
  animation: scaler ease-in-out 0.2s;
}

.freezeHeaderEmail {
  font-size: 20px;
  font-weight: bold;
  font-family: font_M;
  color: $mainT;
}

.freezeBodyEmail {
  color: $subT;
  font-size: 15px;
  //   margin-top: 20px;
  //   margin-bottom: 20px;
}

.freezeFooterEmail {
  text-align: right;
}

.freezeFooterEmail button {
  background: $colPos1;
  width: 400px;
  height: 35px;
  margin-top: 6px;
  // margin-bottom: 6px;
  border-radius: 100px;
  font-size: 13px;

  &:hover {
    background: $colPos2;
  }

}

.enterEmailField {
  height: 35px;
  border-radius: 100px;
  font-size: 13px;
  color: $mainT;
  width: 400px;
  margin-top: 6px;
  margin-bottom: 0;
}

// .enterEmailField {
// @include loginFields
// }
.xButton {
  float: right;
  margin-right: 3px;
  margin-top: -3px;
  height: 11px;
  width: 11px;
  color: $subT;
  // margin-bottom: -25px;
  cursor: pointer;

  &:hover {
    color: $colReject;
  }
   
}
 .switchBtn .custom-control-input:checked~.custom-control-label::before {
   background-color: $colPos2 !important;
   border-color: $colPos2 !important;
 }

@media only screen and (max-width: 320px),
(max-width: 1000px) {
  .sysLabel {
    color: $subT;
    font-size: 10px;
  }

  .mainContainer {
    height: 100vh;
    width: 100%;
  }

  .loginForm {
    display: block;
    width: 100%;
    height: 500px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
  }

  .loginButton {
    background: $colPos1;
    width: 319px;
    margin-top: 6px;
    border-radius: 100px;
    font-size: 17px;
    height: 40px;
    &:hover {
      background: $colPos2;
    }
  }

  .loginFields {
    border-radius: 100px;
    font-size: 17px;
    color: $mainT;
    width: 319px;
    margin-top: 6px;
    height: 40px;
  }

  .eye {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid purple;
    width: 50px;
    height: 40px;
    border-radius: 0 100px 100px 0 !important;
    // padding: 6px;
    background: #f5f5f5;
    color: $subT;
    transition: 0.4s;
    cursor: pointer;
  
    &:hover {
      color: $colPos1;
      transition: 0.4s;
    }
  }

  .appName {
    font-size: 30px;
    color: $mainT;
    font-family: font_B;
  }

  .subName {
    margin-top: -7px;
    margin-bottom: 30px;
    font-size: 12px;
    color: $mainT;
    font-family: font_R;
  }

  .pass {
    // border: 1px solid violet;
    margin-top: 0px !important;
    margin-bottom: 0px;
    border-radius: 100px 0 0 100px !important;
    width: 269px !important;
  }


}

@keyframes scaler {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    // -webkit-transition: all 0.4s;
    // transition: all 0.4s;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    // -webkit-transition: all 0.01s;
    // transition: all 0.01s;
  }
}

// NOTIF ALERTS
.notif_container {
  // position: fixed;
  // bottom: 50px;
  // right: 50px;
  background: white;
  color: $subT;
  border-radius: 5px;
  padding: 10px 15px;
  // z-index: 1002;
  animation: fadein 0.4s;

  max-width: 500px;
  min-width: 200px;
  box-shadow: 0px 0px 7px 0px #0000003f;
  border-left: 5px solid $colReject;
}
.notif_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
  white-space: nowrap;
}
// .notif_header div {
//   border: 1px solid red;
// }
.notif_mainT {
  font-size: 14px;
  color: $mainT;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.notif_dot {
  font-size: 30px;
  margin-right: 10px;
  color: #bdbdbd;
}
.redDot {
  font-size: 30px;
  margin-right: 10px;
  color: $colReject;
}
.notif_content {
  text-align: left;
  font-size: 11px;
  // margin-top: 4px;
}
.notif_action {
  white-space: nowrap;
  font-size: 11px;
}
.notif_date {
  font-size: 11px;
  width: 100%;
  text-align: right;
  white-space: nowrap;
}

@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
.notif_holder {
  // border: 1px solid red;
  width: fit-content;
  height: fit-content;
}
.notif_foot {
  // border: 1px solid red;
  position: absolute;
  right: 150px;
  top: 630px;
  z-index: 1004;
  width: 500px;
  height: fit-content;
}
.notifs_container {
  position: fixed;
  top: 61px;
  right: 150px;
  z-index: 1002;
  
  background: white;
  color: $subT;
  border-radius: 5px;
  width: 500px;
  height: 600px;
  box-shadow: 0px 0px 7px 0px #0000003f;
  border-top: 6px solid $colReject;
}
.see_all_notifs, .mark_all_as_read {
  // border: 1px solid red;
  height: 100%;
  width: 50%;
}
.notifs_arrowDown {
  position: relative;
  left: 5px;
  top: -2px;
  z-index: 1003;
  width: 1px;
  height: 1px;
  border-top: 0px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $colReject;
  border-left: 10px solid transparent;
}
.notifs_row {
  border-bottom: 1px solid #f3f3f3;
  height: fit-content;
  color: $mainT;
  font-size: 13px;
  padding: 10px 15px;
  transition: 0.4s; 
}
.rowExtra {
  // background-color: #f9f9f9;
  background-color: white;
  &:hover {
    background-color: $colKeep_F;
    transition: 0.4s;
  }
}
.floatRight {
  float: right;
}
.notifs_scroll {
  width: 500px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
// .notif_x {
//   position: relative;
//   // top: 0px;
//   // left: 10px;

//   color: #6D7571;
//   font-size: 15px;
// }

.doneMain {
  font-family: font_B;
  font-size: 30px;
  color: $mainT;
  margin-bottom: 10px;
}
.doneSub {
  font-family: font_R;
  font-size: 15px;
  color: $mainT;
  margin-bottom: 20px;
}
