@font-face {
font-family: font_R;
src: url(red-hat-display.ttf);
}

@font-face {
font-family: font_M;
src: url(red-hat-display-medium.ttf);
}

@font-face {
font-family: font_B;
src: url(red-hat-display-bold.ttf);
}

@font-face {
font-family: font_BL;
src: url(red-hat-display-black.ttf);
}

$BFI1: #00a651;
$BFI2: #a6ce39;
$BG: #eff8f4;

$mainT: #193C2A;
$subT: #6d7571;
$subT_F: #6d757123;
$faded: #e9ffe4;

$colPos1: #5ABC44;
$colPos1_F: #5abc442a;
$colPos1_H: #3c882b;

$colPos2:#00A651;
$colPos2_F:#00a6501f;
$colPos2_H:#007a3b;

$colEdit: #EE8400;
$colEdit_F: #ee830031;
$colEdit_H: #c96e00;

$colView:#2F6C82;
$colView_F:#2f6c8223;
$colView_H:#1e4e5f;

$colReject: #E84D2E;
$colReject_F: #e84d2e27;
$colReject_H: #c4462c;

$colBlacklist: #262C2C;
$colBlacklist_F: #262c2c25;
$colBlacklist_H: #161d1d;

$colKeep: #5c7b7b;
$colKeep_F: #5c7b7b23;
$colKeep_H: #405353;

$colAlert: #FEC006;
$colAlert_F: #fec00650;
$colAlert_H: #d19d00;

$colInfos: #1fbbeb;
$colInfos_F: #64dbff48;
$colInfos_H: #008fbb;

$colAdmin: #a6b8eb;
$colAdmin_F: #a6bceb48;
$colAdmin_H: #2854a5;

$colEndo: #eba6dc;
$colEndo_F: #eba6dc42;
$colEndo_H: #8a1d72;

$colQuick: #889E81;
$colQuick_F: #889e813f;
$colQuick_H: #515e4d;

$colSched: #3E9F85;
$colSched_F: #3e9f8546;
$colSched_H: #1e4d40;

.mob_header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    // background: $BG;
}
.mob_menu {
    // position: fixed;
    // right: 30px;
    // bottom: 25px;
    // background: $colKeep;
    color: white;
    background: transparent;
    color: $mainT;
    border-radius: 4px;
    width: 45px;
    height: 45px;
    padding: 0px;
    z-index: 10001;
    transition: 0.4s;
    // box-shadow: 0px 15px 20px -7px $colKeep_H;
    // border-top: 1px solid #ffffff;
    transition: 0.4s;
    // &:active {
    //     background: $colKeep_H;
    //     transition: 0.4s;
    // }
}
// #menuHolder {
//     border: 1px solid red;
//     width: fit-content;
//     height: fit-content;
//     position: fixed;
//     right: 30px;
//     bottom: 85px;
// }
.m_loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10002;
    background: #ffffff57;
}
.m_loaderCont {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mob_menu_bg{
    background: #000000b4;
    width: 100%;
    height: 100%;
    // width: 270px;

    position: fixed;
    top: 0px;
    left: 0px;
    // transform: translate( -370px, 0px);
}
.mob_menu_list {
   
    width: 270px;
    background: $colKeep;
    // background: white;
    // box-shadow: 0px 0px 10px 5px #5c7b7b8e;
    // box-shadow: 0px -10px 100px -1px #00000042;
    border-radius: 0 20px 20px 0;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    z-index: 10001;
    transform: translate( -370px, 0px);
}
.mob_main_menu {
    overflow-y: auto;
    overflow-x: hidden;
    // height: 100%;
    width: 100%;
    // border: 1px solid red;
    padding-bottom: 60px;
}
.mob_menu_hide {
    animation: shrink 0.3s linear forwards;
}
.mob_menu_show {
    animation: grow 0.3s linear forwards;
}
@keyframes grow {
    0% {transform: translate( -370px, 0px);}
    100% {transform: translate( 0px, 0px);}
}
@keyframes shrink {
    0% {transform: translate( 0px, 0px);}
    100% {transform: translate( -370px, 0px);}
}
.side_profile {
    // border: 1px solid red;
    width: 100%;
    height: fit-content;
    padding-top: 30px;
}
.profile_logo {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    // border: 3px solid white;
    border-radius: 100px;
}
.profile_name {
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 5px;
}
.profile_role {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding-bottom: 15px;
}
.liner, .liner2 {
    border-top: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
    height:1px;
}
.liner2 {
    border-top: 1px solid $subT_F;
    margin-top: 15px;
    margin-bottom: 15px;
}
.mob_nav_flex {
    height: 45px;
    transition: 0s;
    max-width: 290px;
    min-width: 290px;
    display: flex;
    align-items: center;
    padding-right: 15px; 
    padding-left: 15px; 
    transition: 0.4s;
    &:active {
        transition: 0.4s;
        background: #ffffff57;
    }
}
.mob_nav_sub_flex {
    background: #0000007a;
}
.mob_nav, .mob_nav_sub {
    width: fit-content;
    display: block;
}
.mob_nav_sub {
    width: 100%;
    height: fit-content;
}
.mob_nav_name, .mob_nav_name_sub {
    font-size: 13px;
    color: white;
    white-space: nowrap;
    font-family: font_R;
}
.mob_nav_name_sub {
    width: 100%;
    font-size: 13px;
    // background: $colBlacklist_F;
    height: 40px;
    display: flex;
    align-items: center;
}
.mob_nav_icon, .mob_nav_icon_sub {
    color: white;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mob_nav_icon {
    font-size: 12px;
}
.mob_nav_icon_sub {
    font-size: 11px;
    // border-left: 2px solid white;
    // margin-left: 10px;
    margin-right: 7px;
    // padding-left: 7px;
    // background: $colKeep_F;
}
.mob_logo {
    font-size: 20px;
    padding-left: 10px;
    color: $mainT;
    font-family: font_B;
    display: flex;
    align-items: center;
}
.mob_module {
    padding-top: 60px;
}
.mob_btn {
    background: transparent;
    color: $colKeep;
    font-size: 20px;
    width: 30px;
    height: 30px;
    transition: 0.4s;
    border-radius: 4px;
    padding: 0px;
    &:active {
        transition: 0.4s;
        color: $colKeep_H;
        background: $colKeep_F;
    }
    margin-left: 10px;
}
.mob_title {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
    color: $colKeep_H;
}
#mob_header_btns {
    width: 100%;
    height: fit-content;
}
.mob_btn_notif {
    position: fixed;
    top: 15px;
    right: 15px;
}
.mob_btn_search {
    position: fixed;
    top: 15px;
    right: 65px;
}
.notif_badge {
    background: $colReject;
    border: 2px solid $BG;
    color: white;
    font-size: 9px;
    font-weight: bold;
    border-radius: 100px;
    min-width: 21px;
    max-width: fit-content;
    height: 21px;
    // padding: 3px;
    // padding-left: 5px;
    // padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 6px;
    right: 10px;
}
.mob_filter_bg {
    position: fixed;
    width: 100%;
    height: calc(100% - 89.5px);
    bottom: 0px;
    // border: 1px solid red;
    background: #00000067;
    display: flex;
    align-items: flex-end;
}
.mob_filter_cont {
    background: white;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    width: 100%;
    height: fit-content;
    border-radius: 20px 20px 0 0;
}
.mob_filter {
    padding-right: 10px;
    padding-left: 10px;
    width: fit-content;
    height: 30px;
    // background: $colKeep;
    // color: white;
    background: white;
    color: $colKeep_H;
    border: 1px solid $colKeep_F;
    border-radius: 4px;
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
    &:hover {
        border: 1px solid $colKeep_H;
        color: white;
        transition: 0.4s;
        background: $colKeep_H;
    }
}
.mob_input {
    border-radius: 100px;
    background: white !important;
    color: $mainT;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 94%;
    border: 1px solid $colKeep_F;
}
.fltr_hide {
    animation: shrink1 0.1s linear forwards;
}
.hider {
    display: none;
}
.fltr_show {
    animation: grow1 0.1s linear forwards;
}
@keyframes grow1 {
    0% {
        transform: scaleY(0);
        transform-origin : 0% 100%;
    }
    100% {
        transform: scaleY(1);
        transform-origin : 0% 100%;
    }
}
@keyframes shrink1 {
    0% {
        transform: scaleY(1);
        transform-origin : 0% 100%;
    }
    100% {
        transform: scaleY(0);
        transform-origin : 0% 100%;
    }
    
}
.bg_fade_in {
    animation: fade_in 0.1s linear forwards;
}
.bg_fade_out {
    animation: fade_out 0.1s linear forwards;
}
@keyframes fade_in {
    0% { background: transparent;} 
    100% { background: #000000b4;}
}
@keyframes fade_out {
    0% { background: #000000b4;} 
    100% { background: transparent;}
}
.m_tableData {
    position: fixed;
    top: 60px;
    left: 0px;
    z-index: -1;
    overflow-y: auto;
    overflow-x: hidden;
    // height: calc(100vh - 120px);
    width: 100%;
    padding: 5px;
    padding-top: 0px;
}
.m_table_container {
    height: fit-content; 
    width: 100%;
    padding-bottom: 130px;
}
.fltr_noH {
    height: 0px !important;
}
.m_data {
    // border: 1px solid red;
    height: fit-content;
    width: 100%;
    font-size: 10px;
    color: $colKeep_H;
    padding: 15px;
    transition: 0.3s;
    border-radius: 10px;
    &:active {
        background: $colView_F;
        transition: 0.3s;
    }
}
.m_data_line {
    border-bottom: 2px solid #c4c4c4;
}
@media only screen and (max-width: 900px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background: transparent;
        // border-radius: 100px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }
}

.m_data_hold {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.m_data_hold2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-left: 2px solid #62c3d3;
    padding-left: 10px;
}
.m_data_hold_seen {
    border-left: 2px solid #c3c3c3;
    color: #939393;
    font-weight: normal !important;
    // background: #f5f5f5;
}
.m_data_init {
    min-height: 50px;
    min-width: 50px;
    // background: gray;
    // opacity: 80%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 100px;
    margin-right: 10px;
    text-transform: uppercase;
    // border: 1px solid red;
}
.mob_filters_header {
    height: fit-content;
}
.mon_end {
    width: 100%;
    padding: 5px;
    padding-top: 30px;
    text-align: center;
    font-size: 12px;
    color: $subT;
}
.l_c_quick { background: $colQuick; }
.l_c_received { background: $colAlert; }
.l_c_exam { background: $colEdit; }
.l_c_endo { background: $colEndo; }
.l_c_sched { background: $colSched; }
.l_c_assess { background: $colInfos; }
.l_c_pending { background: $colAdmin; }
.l_c_shortlist { background: $colPos1; }
.l_c_keep { background: $colKeep; }
.l_c_job { background: $colView; }
.l_c_deployed { background: $colPos1; }
.l_c_blacklist { background: $colBlacklist; }
.l_c_rejected { background: $colReject; }

.see_more {
    width: 100%;
    text-align: center;
    border: 0;
    border-bottom: 1px solid $subT_F;
    padding: 8px;
}
.m_data_main {
    font-size: 15px;
    font-weight: bold;
}
.m_data_main_seen {
    font-size: 15px;
    font-weight: normal !important;
}
.m_data_sub {
    font-size: 12px;
}
.m_capitalize {
    text-transform: capitalize;
}
.m_data_tab {
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
    position: fixed;
    top: 45px;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    // border-radius: 0 0 30px 30px;
    text-align: center;
    transition: 0.4s;
    text-transform: capitalize;
}
.m_fade {
    color: $subT;
    font-size: 12px;
    // font-weight: bold;
    // font-style: italic;
}
.mob_modal_bg, .mob_modal_bg_2 {
    position: fixed;
    top: 60px;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 20px;
    background: #ffffffd7;
    animation: scale 0.1s linear forwards;
    z-index: 10003;
}
.mob_modal_bg_2 {
    background: #00000067;
}
.mob_departments, .mob_positions{
    padding: 10px;
    padding-bottom: 20px;
    background: white;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px #0000003f;
    margin: auto;
    text-align: center;
}
.mob_list_title {
    width: 100%;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 15px;
    color: $colKeep_H;
    text-align: center;
}
.mob_list_scroll {
    // border: 1px solid $colView_F;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.mob_list {
    width: 100%;
    // height: 40px;
    // border-top: 1px solid $colView_F;
    font-size: 12px;
    font-weight: normal;
    color: $colKeep_H;
    background: white;
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
    text-align: left;
    vertical-align: center;
    padding-left: 15px;
    border-radius: 5px;
    &:active {
        background: $colView_F;
    }
}
.mob_list_footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    // padding-right: 15px;
}
.mob_datePick {
    animation: scale 0.2s linear forwards;
    padding: 10px;
    padding-bottom: 15px;
    background: white;
    width: 300px;
    height: fit-content;
    border-radius: 4px;
    box-shadow: 0px 0px 7px 0px #0000003f;
    margin: auto;
    text-align: center;
    transition: 0.4s;
}
@keyframes scale {
    0% {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
.mob_title2 {
    font-size: 13px;
    font-weight: bold;
    color: $mainT;
    width: 100%;
    padding: 7px;
}
.mob_calendar {
    border: 1px solid $colView_F;
    width: 270px;
    height: fit-content;
    margin: auto;
}
.mob_time_header {
    width: 270px;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    background: $colKeep_F;
    color: $colKeep;
    font-size: 12px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mob_time {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mob_time_row, .time_sel {
    height: 35px;
    width: auto;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mob_time_col {
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
    min-height: 280px;
    max-height: 280px;
    width: calc(100% / 3);
    overflow-y: auto;
    overflow-x: hidden;
}
.time_sel {
    background: $colPos2_F;
    border-radius: 4px;
    color: $colPos2_H;
}
.mob_time_row, .mob_time_row2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mob_time_row2 {
    width: calc(100% / 3);
}
.datePick_day {
    width: 38px;
    height: 38px;
    display: inline-block;
    border-radius: 2px;
    background: transparent;
    color: $colView_H;
    transition: 0.3s;
}
.selected_day {
    background: $colPos2 !important;
    color: white;
}
.datePick_Week {
    width: 38px;
    height: 30px;
    display: inline-block;
    padding-top: 5px;
    text-align: center;
    background: $colKeep_F;
    // border: 1px solid white;
    color: $colKeep;
    font-size: 12px;
    margin-bottom: 10px;
}
.mob_pickedDate {
    font-size: 12px;
    color: $colView_H;
    padding-top: 10px;
    text-align: left;
    margin-left: 5px;
}
.hideDot {
    color: transparent;
}
.markToday {
    background: $colView_F;
}
.mob_date_btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;   
    margin-top: 20px;
}
.mob_btn1 {
    width: fit-content;
    height: 30px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5px;
    margin-left: 5px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    border-radius: 4px;
}
.mob_cancel {
    background: $colKeep;
    // border: 1px solid $colKeep;
    color: white;
    &:active {
        transition: 0.4s;
        // border: 1px solid $colKeep;
        background: $colKeep;
        color: white;

    }
}
.mob_clear {
    background: $colEdit;
    // border: 1px solid $colEdit;
    color: white;
    &:active {
        transition: 0.4s;
        color: white;
        // border: 1px solid $colEdit;
        background: $colEdit_F;
    }
}
.mob_done {
    color: white;
    background: $colPos2;
    &:active {
        transition: 0.4s;
        background: $colPos2_H;

    }
}
.mob_no {
    color: white;
    background: $colReject;
    &:active {
        transition: 0.4s;
        background: $colReject_H;

    }
}
.mob_ban {
    color: white;
    background: $colBlacklist;
    &:active {
        transition: 0.4s;
        background: $colBlacklist_H;

    }
}
.datePick_month {
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $colView;
    color: white;
}
.mob_link {
    width: fit-content;
    padding-right: 5px;
    padding-left: 5px;
}
.pick_months, .pick_years {
    background: white;
    box-shadow: 0px 0px 7px 0px #00000056;
    width: 200px;
    height: 500px;
    padding: 10px;
    z-index: 10003;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left: 50px;
    transition: 0.3s;
    animation: drops 0.1s linear forwards;
}
.pick_years {
    width: 100px;
    overflow: auto;
    left: 160px;
}
.pick_months_list, .pick_years_list {
    z-index: 10004;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color: $colView;
    font-size: 15px;
    font-weight: normal;
    transition: 0.3s;
    padding: 5px 15px;
    border-radius: 5px;
    &:active {
        background: $colView_F;
        transition: 0.3s;
    }
}
@keyframes drops {
    0% {
        transform: scaleY(0);
        transform-origin : 100% 0%;
    }
    100% {
        transform: scaleY(1);
        transform-origin : 100% 0%;
    }
}
.mob_align_R {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.mob_align_C {
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty_data {
    width: 100%;
    height: fit-content;
}
.empty_data_icon {
    font-size: 100px;
    color: #ced8d3;
    display: block;
    text-align: center;
}
.empty_data_text {
    display: block;
    font-size: 13px;
    color: $subT;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 2;
    font-weight: bold;
}
.mob_scroll_up, .mob_go_back, .mob_actions {
    position: fixed;
    border-radius: 100px;
    // box-shadow: 0px 0px 7px 0px $colView_F;
    color: white;
    background: $colKeep;
    transition: 0.2s;
    width: 45px;
    height: 45px;
    font-size: 20px;
    &:active {
        box-shadow: 0px 0px 0px 0px #00000000;
        background: $colKeep;
        color: white;
        transition: 0.2s;
    }
}
.mob_scroll_up {
    right: 30px;
    bottom: 25px;
}
.mob_go_back {
    right: 30px;
    bottom: 80px;
    // right: 88px;
    // bottom: 25px;
}
.mob_actions {
    right: 30px;
    bottom: 25px;
    z-index: 1;
    // right: 88px;
    // bottom: 25px;
}
// ACTIONS
.actions_bg {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ffffffb4;
}
.filter_blur {
    filter: blur(5px);
}
.action_bg_fade_in {
    animation: fade_in2 0.1s linear forwards;
}
.action_bg_fade_out {
    animation: fade_out2 0.1s linear forwards;
}
@keyframes fade_in2 {
    0% { background: transparent;} 
    100% { background: #ffffffb4;}
}
@keyframes fade_out2 {
    0% { background: #ffffffb4;} 
    100% { background: transparent;}
}
.actions_list {
    position: fixed;
    right: 30px;
    bottom: 68px;

    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    // background: white;
    // box-shadow: 0px 0px 7px 0px $colView_F;
    padding: 6px;
    // border-radius: 5px;
    transform: scaleY(0);
}
.actions_list_open {
    animation: opener 0.1s linear forwards;
}
.actions_list_close {
    animation: closer 0.1s linear forwards;
}
@keyframes opener {
    0% {
        transform: scaleY(0);
        transform-origin : 0% 100%;
    }
    100% {
        transform: scaleY(1);
        transform-origin : 0% 100%
    }
}
@keyframes closer {
    0% {
        transform: scaleY(1);
        transform-origin : 0% 100%
    }
    100% {
        transform: scaleY(0);
        transform-origin : 0% 100%;
    }
}
// APPLCIANT INFO
.appl_data {
    height: fit-content;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 130px;
}
.mob_applicant {
    overflow-y: auto;
    overflow-x: hidden;
}
.appl_panel {
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.appl_panel_row, .appl_panel_row2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.appl_panel_row2 {
    font-weight: bold;
    transition: 0.3s;
    border-radius: 4px;
    color: $colKeep_H;
    // padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    // border: 1px solid #dddddd;
    // box-shadow: 0px 0px 5px 0px $colView_F;
    // &:active {
    //     border: 1px solid $colView_F;
    //     // background: $colView_F;
    //     transition: 0.3s;
    //     // box-shadow: 0px 0px 0px 0px $colView_F;
    // }
    justify-content: flex-end;
}
.appl_icon2 {
    font-size: 13px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    // margin-right: 15px;
    margin-left: 15px;
    background: $colKeep;
    color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0px 5px 5px 0px #00000080;
}
.appl_sub4 {
    // color: white;
    color: $mainT;
    font-size: 13px;
    margin-top: 7px;
    margin-bottom: 7px;
    // text-shadow: 0px 4px 5px black;
}
.appl_basic {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.appl_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    // opacity: 70%;
}
.basic_1 {
    min-width: 60px;
    height: 60px;
}
.basic_2 {
    width: 100%;
    height: fit-content;
    padding: 10px;
    padding-top: 0px;
}
.appl_name {
    color: $colKeep_H;
    font-size: 16px;
    font-family: font_B;
    text-transform: capitalize;
}
.appl_sub, .appl_sub2, .appl_sub3 {
    color: $colKeep_H;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: font_M;
}
.appl_sub span {
    font-weight: bold;
}
.appl_sub2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 14px;
    width: 100%;
    color: white;
}
.appl_sub3 {
    margin-top: 0px;
    margin-bottom: 14px;
}
.appl_icon {
    color: $colKeep_H;
    font-size: 14px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.appl_title {
    color: $colKeep;
    margin-top: 5px;
    margin-bottom: 15px;
    // font-weight: bold;
    font-size: 18px;
}
.appl_title span {
    font-weight: bold;
    text-transform: capitalize;
    color: $colKeep_H;
}
.appl_empha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.appl_empha2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 15px;
}
.appl_capital {
    text-transform: capitalize;
}
.appl_stage {
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.appl_empha_d {
    // border: 1px solid $subT_F;
    width: 50%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.appl_empha_d2 {
    // border: 1px solid $subT_F;
    width: 100%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
.empha_huge {
    text-transform: capitalize;
    font-family: font_B;
    color: $colKeep;
    font-size: 18px;
}
.empha_label {
    font-weight: bold;
    color: $colKeep;
    font-size: 12px;
    white-space: nowrap;
}
.empha_content {
    text-align: left;
    font-size: 14px;
    margin-top: 4px;
}
// TEXT AND BACKGROUNDS
.bord_red {
    border: 1px solid $colReject_F;
}
.text_red {
    color: $colReject !important;
}
.text_green {
    color: $colPos2 !important;
}
.text_fade {
    color: #c4c4c4 !important;
}
.text_white {
    color: white !important;
}
.bg_red {
    color: white;
    background: $colReject;
}

// MODAL / ACTIONS
.mob_act_bg {
    position: fixed;
    top: 0;
    left: 0;
    background: #00000067;
    width: 100%;
    height: 100vh;
    padding: 10px;
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.mob_act_cont {
    background: white;
    border-radius: 5px;
    min-width: 355px;
    max-width: 355px;
    height: fit-content;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: goUp_no_bonk 0.2s linear forwards;
}
.mob_act_head, .mob_act_foot {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.mob_act_foot {
    margin-bottom: 0;
}
.mob_act_icon, .mob_act_title{
    font-size: 13px;
    color: $colKeep;
}
.mob_act_icon {
    margin-right: 10px;
}
.mob_act_title {
    font-size: 15px;
    font-weight: bold;
}
.mob_act_body {
    // border: 1px solid red;
    height: fit-content;
    width: 100%;
    margin-bottom: 10px; 
}
.mob_act_panel {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
}
.mob_act_panel_row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.mob_act_panel_col {
    width: 100%;
    height: 100%;
    // border: 1px solid red;
    padding-right: 5px;
    padding-left: 5px;
}
.mob_note, .mob_note_red {
    font-size: 10px;
    color: $subT;
    line-height: normal;
}
.mob_note_red {
    color: $colReject;
    font-weight: bold;
    margin-top: 10px;
}
.mob_act_panel_name, .mob_act_done_text {
    // border: 1px solid red;
    font-size: 12px;
    color: $subT;
    // font-weight: bold;
}
.mob_act_panel_name2 {
    font-size: 14px;
    color: $colPos2_H;
}
.mob_act_done_text {
    text-align: center;
}
.mob_act_panel_select, .mob_act_input {
    border: 1px solid $colKeep_F;
    color: $colKeep_H;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mob_act_input {
    background: white !important;
    height: 33px;
    font-size: 12px;
    padding: 6px 8px !important;
    width: 100%;
}
.mob_act_done_icon {
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: $colPos2;
}
.mob_act_done {
    background: white;
    border-radius: 10px;
    width: 100px;
    height: 100px;

    margin-top: 200px;
    animation: goUp_bonk 0.3s linear forwards;
}
.mob_act_err_title {
    color: $colReject;
    font-size: 15px;
    font-weight: bold;
}
.mob_act_err {
    font-size: 12px;
    background: white;
    border-radius: 10px;
    width: 80%;
    height: fit-content;
    padding: 10px 15px;
    color: $colReject;
    margin-top: 200px;
    animation: goUp_bonk 0.3s linear forwards;
}
@keyframes goUp_bonk {
    0% {
        transform: translate(0px, 300px);
    }
    25% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, 20px);
    }
    75% {
        transform: translate(0px, -10px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes goUp_no_bonk {
    0% {
        transform: translate(0px, 300px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
.mob_act_panel_drawer {
    position: absolute;
    left: 30px;
    min-width: 315px;
    max-width: 315px;
    height: fit-content;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 7px 0px #0000003f;
    border-radius: 5px;
}
.act_panel {
    border-radius: 5px;
    background: $subT_F;
    width: 100%;
    height: fit-content;
    padding: 10px;
}
.act_title {
    color: $subT;
    font-size: 14px;
    font-weight: bold;
}
.act_sub {
    color: $subT;
    font-size: 12px;
}
.mob_act_body_scroll {
    height: 300px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
    padding-bottom: 15px;
}

// EXAM RESULTS

.mob_exam_main {
    margin-top: 30px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    // border: 1px solid red;
    padding: 15px;
}
.mob_main_header {
    color: $mainT;
    font-size: 15px;
    font-weight: bold;
}
.mob_main_sub {
    color: $subT;
    font-size: 12px;
}
.mob_exam_header_tab {
    margin-top: 10px;
    background: $colKeep;
    color: white;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border: 1px solid $colKeep;
}
.mob_exam_header_text_cat, .mob_exam_body_text_cat {
    width: 55%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mob_exam_header_text, .mob_exam_body_text {
    width: 15%;
    height: fit-content;
    text-align: center;
    white-space: normal;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mob_exam_header_text_cat, .mob_exam_header_text {
    border-right: 1px solid white;
}
.mob_exam_header_x {
    border: 0px;
}
.mob_exam_body_tab {
    color: $colKeep_H;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.mob_exam_body_con {
    border: 1px solid $colKeep;
}
.mob_exam_body_text_cat {
    justify-content: flex-start;
    padding-left: 10px;
}
.mob_exam_score {
    font-size: 13px;
    color: $subT;
}
.mob_main_foot {
    margin-top: 10px;
    margin-bottom: 30px;
}
.mob_exam_score span {
    font-weight: bold;
}
.mob_iaf_card {
    border-radius: 5px;
    background: $colKeep_F;
    padding: 10px;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
}
.mob_iaf_cat {
    font-size: 14px;
    font-weight: bold;
    color: $colKeep_H;
}
.mob_iaf_cat span {
    font-size: 11px;
}
.mob_iaf_rate {
    font-size: 13px;
    font-weight: bold;
    color: $colKeep;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.rate_excellent {
    color: $colPos2_H;
    padding: 6px;
    background: $colPos2_F;
    border-radius: 5px;
}
.rate_very {
    color: $colPos2_H;
    padding: 6px;
    background: $colPos2_F;
    border-radius: 5px;
}
.rate_good{
    color: $colAlert_H;
    padding: 6px;
    background: $colAlert_F;
    border-radius: 5px;
}
.rate_fair {
    color: $colEdit_H;
    padding: 6px;
    background: $colEdit_F;
    border-radius: 5px;
}
.rate_poor {
    color: $colReject_H;
    padding: 6px;
    background: $colReject_F;
    border-radius: 5px;
}
.mob_iaf_remarks {
    font-size: 12px;
}
.mob_iaf_remarks span{
    font-style: italic;
}
.m_tab_extra {
    margin-top: 30px;
}

// .mob_iaf_header_text_cat, .mob_iaf_body_text_cat {
//     width: 60%;
//     height: 30px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 5px;
// }
// .mob_iaf_body_text_cat {
//     height: fit-content;
//     justify-content: left;
// }
// .mob_iaf_header_text, .mob_iaf_body_text {
//     width: 20%;
//     height: fit-content;
//     text-align: center;
//     white-space: normal;
//     padding: 5px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
