<template>
    <div>
        <!-- LOGGED ON OTHER BROWSERS -->
        <div class="freeze" v-show="loggedByOthers">
            <div class="freezeHold">
                <div class="freezeContent">
                    <div class="freezeHeader">
                        <fa :icon="['fa', 'exclamation-triangle']" /> &ensp; Multiple Login
                    </div>
                    <div class="freezeBody">
                        Your account has been logged to another browser.
                        <br />
                        <br />
                        RecTrack user accounts are only allowed to login one browser at a
                        time, thank you.
                    </div>
                    <div class="freezeFooter">
                        <button @click="logout()">
                        Got it!
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mob_header">
            <div class="mob_logo">
                <!-- <div class="mob_appLogo"></div>  -->
                <button 
                :class="'mob_menu '+(showMenuList == true ? 'text_white':'')" 
                @click="showMenu()"> <fa :icon="['fa', (showMenuList == true ? 'times':'bars')]" /> </button>
                RecTrack
            </div>
            <div class="m_data_tab" :style="tab_styler">{{ get_stage }}</div>

            <span id="menuHolder">
                <!-- MENU BUTTON -->
                <!-- <button class="mob_menu" @click="showMenu()"> <fa :icon="['fa', 'bars']" /> </button> -->

                <!-- ICON BUTTONS -->
                <button class="mob_btn mob_btn_notif" @click="notifs()"> <fa :icon="['fa', 'bell']" /> </button>
                <div class="notif_badge" v-show="notifCount != 0">{{ notifCount }}</div>

                <div :class="'mob_menu_bg ' + (showMenuList == false ? 'bg_fade_out':'bg_fade_in')" id="side_bg_id">
                    <div :class="'mob_menu_list '+ (showMenuList == false ? (justLoaded == false ? 'mob_menu_hide':'menu_hide'):'mob_menu_show')">

                        <div class="m_table_container">
                            <!-- PROFILE -->
                            <div class="side_profile">
                                <div class="profile_logo"></div>
                                <div class="profile_info">
                                    <div class="profile_name">{{ profile_name }}</div>
                                    <div class="profile_role">{{ profile_role }}</div>
                                </div>
                            </div>
                            <div class="liner"></div>
                            <!-- MAIN MENU -->
                            <div class="mob_main_menu" :style="'height:'+side_height+'px;'" >
                                <div class="mob_nav" v-for="(nav, x) in users" :key="x" v-b-toggle="nav.collapseID">
                                    <div class="mob_nav_flex" @click="navigateTo(nav.route, '')">
                                        <div class="mob_nav_icon">
                                            <fa :icon="['fa', nav.icn]" />
                                        </div>
                                        <div class="mob_nav_name">{{ nav.name }}</div>
                                    </div>
                                    <!-- SUB NAVIGATION -->
                                    <b-collapse :id="nav.collapseID" accordion="accord">
                                        <div class="mob_nav_sub" v-for="(sub, i) in users[x].subs" v-show="sub.allow == true" :key="i">
                                            <div class="mob_nav_flex mob_nav_sub_flex" @click="navigateTo(sub.route, sub.name)">
                                                <div class="mob_nav_icon_sub">
                                                    <fa :icon="['fa', sub.icn]" />
                                                </div>
                                                <div class="mob_nav_name_sub">{{ sub.name }}</div>
                                            </div>
                                        </div>
                                    </b-collapse>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
        <div class="mob_module">
            <Nuxt />
        </div>
        <!-- MODALS FOR ACTIONS -->
        <EndorseToDept v-show="mob_modal == 'endorse to other department'"/>
        <CreateSched v-show="mob_modal == 'create schedule'"/>
        <UpdatePosition v-show="mob_modal == 'update position'"/>
        <RateIAF v-show="mob_modal == 'rate iaf'"/>
        <ChangeDeploymentDate v-show="mob_modal == 'change deployed date'"/>
        <Reject v-show="mob_modal == 'reject'"/>
        <Keep v-show="mob_modal == 'keep for reference'"/>
        <Blacklist v-show="mob_modal == 'blacklist'"/>
        <ForAssessment v-show="mob_modal == 'endorse for assessment'"/>
        <Retake v-show="mob_modal == 'retake'"/>
        <Deploy v-show="mob_modal == 'deploy'"/>
        <JobOffer v-show="mob_modal == 'job offer'"/>
        <Return v-show="mob_modal == 'return applicant'"/>
        <Shortlist v-show="mob_modal == 'shortlist'"/>
        <OnlineExam v-show="mob_modal == 'online exam'"/>
    </div>
</template>

<script>
import io from "socket.io-client";
import moment from "moment";
import axios from "axios";

import EndorseToDept from "../components/mob/M_Actions/m_act_endorseToOtherDept.vue";
import CreateSched from "../components/mob/M_Actions/m_act_createSched.vue";
import UpdatePosition from "../components/mob/M_Actions/m_act_updatePosition.vue";
import RateIAF from "../components/mob/M_Actions/m_act_rateIAF.vue";
import ChangeDeploymentDate from "../components/mob/M_Actions/m_act_changeDeploymentDate.vue";
import Reject from "../components/mob/M_Actions/m_act_reject.vue";
import Keep from "../components/mob/M_Actions/m_act_keepForRef.vue";
import Blacklist from "../components/mob/M_Actions/m_act_blacklist.vue";
import ForAssessment from "../components/mob/M_Actions/m_act_endorseForAssessment.vue";
import Retake from "../components/mob/M_Actions/m_act_retake.vue";
import Deploy from "../components/mob/M_Actions/m_act_deploy.vue";
import JobOffer from "../components/mob/M_Actions/m_act_jobOffer.vue";
import Return from "../components/mob/M_Actions/m_act_ReturnApplicant.vue";
import Shortlist from "../components/mob/M_Actions/m_act_Shortlist.vue";
import OnlineExam from "../components/mob/M_Actions/m_act_OnlineExam.vue";

export default {
    components: {
        EndorseToDept,
        CreateSched,
        UpdatePosition,
        RateIAF,
        ChangeDeploymentDate,
        Reject,
        Keep,
        Blacklist,
        ForAssessment,
        Retake,
        Deploy,
        JobOffer,
        Return,
        Shortlist,
        OnlineExam
    },
    data() {
        return {
            justLoaded: true,
            showMenuList: false,
            loggedByOthers: false,
            side_height: "",
            tab_styler: "background: white; color: #2F6C82;",
            profile_name: "",
            profile_role: "",
            notifCount: 0,
            listOfNotifs: "",
            haveSeen: localStorage.id + "-",
            accessID: localStorage.access_rights_id,
            users: [
                {
                    id: 1,
                    name: "Applicant Stages",
                    icn: "folder",
                    tooltipID: "tooltip-dashboard",
                    collapseID: "collapse-applicantStages",
                    sub: false,
                    allow: "12543",
                    route: "",
                    subs: [
                        {
                            id: 1.1,
                            name: "All Applicants",
                            icn: "users",
                            tooltipID: "tooltip-actions",
                            collapseID: "",
                            sub: false,
                            allow: true,
                            subs: [],
                            route: "../mobile/all_applicants"
                        },
                        {
                            id: 1.2,
                            name: "Quick Applicant",
                            icn: "walking",
                            tooltipID: "tooltip-quick",
                            collapseID: "",
                            sub: false,
                            allow: false,
                            subs: [],
                            route: "../mobile/quick_applicants"
                        },
                        {
                            id: 1.3,
                            name: "Received",
                            icn: "inbox",
                            tooltipID: "tooltip-received",
                            collapseID: "",
                            sub: false,
                            allow: false,
                            subs: [],
                            route: "../mobile/received"
                        },
                        {
                            id: 1.4,
                            name: "Online Exam",
                            icn: "pen",
                            tooltipID: "tooltip-exams",
                            collapseID: "",
                            sub: false,
                            allow: false,
                            subs: [],
                            route: "../mobile/online_exam"
                        },
                        {
                            id: 1.5,
                            name: "Endorsement",
                            icn: "envelope",
                            tooltipID: "tooltip-endorsement",
                            collapseID: "",
                            sub: false,
                            allow: false,
                            subs: [],
                            route: "../mobile/endorsement"
                        },
                        {
                            id: 1.6,
                            name: "Schedule for Assessment",
                            icn: "calendar-check",
                            tooltipID: "tooltip-schedule",
                            collapseID: "",
                            sub: false,
                            allow: false,
                            subs: [],
                            route: "../mobile/schedule_assessment"
                        },
                        {
                            id: 1.7,
                            name: "Assessment",
                            icn: "clipboard",
                            tooltipID: "tooltip-assessment",
                            collapseID: "",
                            sub: false,
                            allow: false,
                            subs: [],
                            route: "../mobile/assessment"
                        },
                        {
                            id: 1.8,
                            name: "Pending for Review",
                            icn: "clipboard-check",
                            tooltipID: "tooltip-pending",
                            collapseID: "",
                            sub: false,
                            allow: false,
                            subs: [],
                            route: "../mobile/pending"
                        },
                        {
                            id: 1.9,
                            name: "Shortlisted",
                            icn: "check",
                            tooltipID: "tooltip-shortlisted",
                            collapseID: "",
                            sub: false,
                            allow: false,
                            subs: [],
                            route: "../mobile/shortlisted"
                        },
                        // {
                        //     id: 1.10,
                        //     name: "Kept for Reference",
                        //     icn: "archive",
                        //     tooltipID: "tooltip-kept",
                        //     collapseID: "",
                        //     sub: false,
                        //     allow: false,
                        //     subs: [],
                        //     route: "../mobile/kept_for_ref"
                        // },
                        {
                            id: 1.11,
                            name: "Job Offer",
                            icn: "id-card-alt",
                            tooltipID: "tooltip-offer",
                            collapseID: "",
                            sub: false,
                            allow: false,
                            subs: [],
                            route: "../mobile/job_offer"
                        },
                        // {
                        //     id: 1.12,
                        //     name: "Deployed",
                        //     icn: "check-circle",
                        //     tooltipID: "tooltip-deployed",
                        //     collapseID: "",
                        //     sub: false,
                        //     allow: false,
                        //     subs: [],
                        //     route: "../mobile/deployed"
                        // },
                    ]
                },
                {
                    id: 2,
                    name: "End Stages",
                    icn: "copy",
                    tooltipID: "tooltip-reports",
                    collapseID: "collapse-reports",
                    sub: false,
                    allow: "12543",
                    route: "",
                    subs: [
                        {
                            id: 2.1,
                            name: "Rejected",
                            icn: "times-circle",
                            tooltipID: "tooltip-actions",
                            collapseID: "",
                            sub: false,
                            allow: true,
                            subs: [],
                            route: "../mobile/rejected"
                        },
                        {
                            id: 2.2,
                            name: "Blacklisted",
                            icn: "ban",
                            tooltipID: "tooltip-actions",
                            collapseID: "",
                            sub: false,
                            allow: true,
                            subs: [],
                            route: "../mobile/blacklisted"
                        },
                        {
                            id: 2.3,
                            name: "Kept for Reference",
                            icn: "archive",
                            tooltipID: "tooltip-actions",
                            collapseID: "",
                            sub: false,
                            allow: true,
                            subs: [],
                            route: "../mobile/kept_for_ref"
                        },
                        {
                            id: 2.4,
                            name: "Deployed",
                            icn: "check-circle",
                            tooltipID: "tooltip-actions",
                            collapseID: "",
                            sub: false,
                            allow: true,
                            subs: [],
                            route: "../mobile/deployed"
                        },
                        // {
                        //     id: 2.5,
                        //     name: "User Logs",
                        //     icn: "chart-line",
                        //     tooltipID: "tooltip-actions",
                        //     collapseID: "",
                        //     sub: false,
                        //     allow: true,
                        //     subs: [],
                        //     route: ""
                        // },
                    ]
                },
                {
                    id: 3,
                    name: "Log Out",
                    icn: "power-off",
                    tooltipID: "tooltip-logout",
                    collapseID: "collapse-logout",
                    sub: false,
                    allow: "12543",
                    subs: [],
                    route: "/"
                },
            ],
        }
    },
    mounted() {
        // // CLOSE IF CLICKED OUTSIDE
        // var self = this;
        // var el = document.getElementById("menuHolder");
        // window.addEventListener(
        // "click",
        // function(e) {
        //     if (!el.contains(e.target) == true) {
        //         self.hideMenu();
        //     }
        // },
        // false
        // );
    },
    methods: {
        logout() {
            this.$router.push('/');
        },
        notifs() {
            console.log("Notifs");
            this.getNotifs();
            this.$router.push('/mobile/notifs');
        },
        navigateTo(route, stage) {
            if(route != '') {
                this.showMenuList = false;
                this.$router.push({ path: route });
                // HIDE SIDEBAR
                setTimeout(() => {
                    document.getElementById("side_bg_id").classList.add("hider");
                }, 200);

                // SHOW ACTIONS BUTTONS AND HEADER BUTTONS
                this.$store.commit("mob_hide_actions", false);
                this.$store.commit("mob_hide_header_btns", false);
            }
            if(stage != '') {
                this.$store.commit("mob_set_active_tab", stage);
                localStorage.mob_tab_current = stage;
            }
        },
        // hideMenu() {
        //     this.showMenuList = false;
        // },
        showMenu() {
            this.justLoaded = false;
            this.showMenuList = !this.showMenuList;
            if(this.showMenuList == false) {
                // SET TO DEFAULT: ACTIONS BUTTONS AND HEADER BUTTONS
                this.$store.commit("mob_hide_actions", false);
                this.$store.commit("mob_hide_header_btns", false);

                // SIDEBAR
                setTimeout(() => {
                    document.getElementById("side_bg_id").classList.add("hider");
                }, 200);
            }
            else {
                // HIDE: ACTIONS BUTTONS AND HEADER BUTTONS
                this.$store.commit("mob_hide_actions", true);
                this.$store.commit("mob_hide_header_btns", true);

                // SIDEBAR
                document.getElementById("side_bg_id").classList.remove("hider");
            }

            // HEIGHT OF SCREEN MINUS 50 FROM CHOME/BROWSER HEADER
            // console.log(screen.height);
            this.side_height = parseInt(screen.height) * 0.60;
            // console.log(this.side_height);
        },
        getNotifs() {
            // GET NOTIFS
            let cred = [];
            cred.push({
                role: localStorage.role,
                deptID: localStorage.deptId,
                teamID: localStorage.teamId,
                id: localStorage.id
            });
            const socket = io.connect(localStorage.serverLink, { secure: true });
            // console.log("cred notif", cred);
            socket.emit("fetchNotifications", cred);
        },
        async checkTokenAPI(token) {
            await axios({
                method: "GET",
                url: `${this.$axios.defaults.baseURL}/users/check-token/${localStorage.token}`,
                headers: { Authorization: `Bearer ${token}` }
            }).then(res => {
                const count = res.data.view;
                if (count === 0) { this.loggedByOthers = true; }
            });
        },
    },
    created() {
        // SET SERVER LINK
        let serverLink = `${process.env.baseURL}`;
        localStorage.serverLink = serverLink;

        // INITIATE SOCKET.IO CONNECTION
        const socket = io.connect(serverLink, {secure: true});

        // GET NOTIFS
        this.getNotifs();

        let stat = "Connecting...";
        this.$store.commit("statusServe", stat); // IGNORE FOR NOW

        // RECEIVE NOTIFICATIONS LIST
        socket.on("fetchNotifications", notifs => {
            // SEE IF LIST ISN'T EMPTY
            if(notifs != undefined) {
                // GET NOTIFS ONLY FROM CURRENT AND PREVIOUS MONTH
                var newList = [];
                for(var n=0; n < notifs.length; n++) {
                    var notifMon = moment(notifs[n].date).format("MM");
                    if(notifMon == this.currentMonth || notifMon == this.prevMonth) {
                        newList[n] = notifs[n];
                    }
                }
                // DISPLAY NOTIFS ONLY FROM CURRENT AND PREVIOUS MONTH
                this.listOfNotifs = newList;
                var cnt = 0;
                for (let c = 0; c < this.listOfNotifs.length; c++) {
                    let temp = String(this.listOfNotifs[c].isViewedBy).includes(this.haveSeen);
                    if (temp == false) {cnt = cnt + 1;}
                }
            }
            else {
                this.listOfNotifs = [];
            }
            this.notifCount = cnt;
        });

        // RECEIVE TOKEN CHECKING
        socket.on("verifyToken", tokenCheck => {
            if (tokenCheck == true) {
                this.loggedByOthers = true;
            }
        });

        // CHECK TOKEN EVERY 3 SEC
        setInterval(() => {
            this.checkTokenAPI();
        }, 3000);

        // GET CURRENT TABS FROM this.users[0].subs
        var curr_tabs = this.users[0].subs;

        setTimeout(() => {
            // GET CURRENT MOBILE TAB
            this.$store.commit("mob_set_active_tab", localStorage.mob_tab_current);

            // GET ACTIONS FROM ACCESS RIGHTS - LOOK FOR THE "APPLICATION STAGES MODULE" (module_id: 5)
            var access_rights = JSON.parse(localStorage.access_rights_details);
            for (var a = 0; a < access_rights.length; a++) {
                if (access_rights[a].module_id == 5) {
                    var acts = access_rights[a].access;
                }
            }

            // FILTER OUT TABS FROM ACCESS RIGHTS
            var temp_tabs = [];
            for(var v=0; v < acts.length; v++) {
                if(acts[v].action_name.split(' - ')[0].toLowerCase().includes('view tab') && acts[v].status == 'active') {
                    temp_tabs.push({ name: acts[v].action_name.split(' - ')[1] });
                }
            }

            // ALLOW ACCESS TO TABS BASED ON ACCESS RIGHTS
            for(var t=0; t < curr_tabs.length; t++) {
                var existing = temp_tabs.filter(data => {return (data.name == curr_tabs[t].name)});
                // SET allow TO TRUE
                if(existing.length > 0) {
                    this.users[0].subs[t].allow = true;
                }
            }

            // SET USER NAME TO SIDEBAR
            this.profile_name = localStorage.fname +' '+ localStorage.lname;
            this.profile_role = localStorage.role;

            // HIDE SIDEBAR
            document.getElementById("side_bg_id").classList.add("hider");

            // LOAD ALL DEPARTMENTS
            this.$store.dispatch("viewAllDepartments", {
                token: localStorage.token
            });

        }, 501);

    },
    computed: {
        mob_modal() {
            var action = this.$store.state.mob_modal;
            if(action) {
                return action.toLowerCase();
            }
            else {
                return "";
            }
        },
        currentMonth() {
            return moment(new Date()).format("MM");
        },
        prevMonth() {
            return moment(new Date()).subtract(1, "months").format("MM");
        },
        get_stage() {
            var stage = this.$store.state.mob_active_tab;
            if(stage.toLowerCase().includes("all")) { this.tab_styler = "background: #62c3d3;"; }
            else if(stage.toLowerCase().includes("received")) { this.tab_styler = "background: #FEC006;"; }
            else if(stage.toLowerCase().includes("quick")) { this.tab_styler = "background: #889E81;"; }
            else if(stage.toLowerCase().includes("online")) { this.tab_styler = "background: #EE8400;"; }
            else if(stage.toLowerCase().includes("endorsement")) { this.tab_styler = "background: #eba6dc;"; }
            else if(stage.toLowerCase().includes("schedule")) { this.tab_styler = "background: #3E9F85;"; }
            else if(stage.toLowerCase() == "assessment") { this.tab_styler = "background: #1fbbeb;"; }
            else if(stage.toLowerCase().includes("pending")) { this.tab_styler = "background: #a6b8eb;"; }
            else if(stage.toLowerCase().includes("shortlisted")) { this.tab_styler = "background: #5ABC44;"; }
            else if(stage.toLowerCase().includes("kept")) { this.tab_styler = "background: #5c7b7b;"; }
            else if(stage.toLowerCase().includes("job")) { this.tab_styler = "background: #2F6C82;"; }
            else if(stage.toLowerCase().includes("deploy")) { this.tab_styler = "background: #5ABC44;"; }
            else if(stage.toLowerCase().includes("black")) { this.tab_styler = "background: #262C2C;"; }
            else if(stage.toLowerCase().includes("reject")) { this.tab_styler = "background: #E84D2E;"; }
            else {this.tab_styler = "background: #62c3d3;";}
            return this.$store.state.mob_active_tab;
        },
    }
}
</script>

<style scoped lang="scss">
.mob_appLogo {
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    background-image: url(".././assets/bfi_gradient.png");
    height: 40px;
    width: 40px;
    margin-right: 7px;
}
.profile_logo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(".././assets/bfi_gradient.png");
    height: 90px;
    width: 90px;
}
</style>