<template>
  <div class="panelContainer">
    <!-- LOADER -->
    <Loader v-show="server != 'Connected' || doneLoading < 13" />
    <!-- <Loader v-show="server != 'Connected'"/> -->

    <!-- SERVER ERROR -->
    <ServerError v-show="server == 'Server Error'" />

    <div :class="expand == false ? 'sideBar' : 'sidebarExpand'">
      <!-- MENU -->
      <div
        :class="'menu ' + (expand == false ? 'navClose ' : 'navOpen ')"
        @click="expandSide()"
      >
        <div class="iconH">
          <fa :icon="['fa', 'bars']" />
        </div>
        <div class="menuLabel" v-show="expand">Menu</div>
      </div>

      <!-- NAVIGATION -->
      <div class="navCon">
        <div v-for="(nav, x) in users" :key="x">
          <!-- MAIN NAVIGATION -->
          <div
            v-show="nav.allow.includes(accessID)"
            :class="
              (expand == false ? 'navClose ' : 'navOpen ') +
                (nav.id === activeNav ? 'activeNav' : '')
            "
            :id="nav.tooltipID"
            v-b-toggle="nav.collapseID"
            v-b-tooltip.hover.right
            :title="nav.name"
            @click="
              setActive(
                nav.id,
                nav.collapseID,
                `carID` + x,
                users.length,
                nav.route
              )
            "
          >
            <div class="iconH">
              <fa :icon="['fa', nav.icn]" />
            </div>

            <div
              :class="'navLabel ' + (nav.sub == true ? 'navLabelX' : '')"
              v-show="expand"
            >
              {{ nav.name }}
            </div>

            <div class="iconH caretUp" v-show="nav.sub && expand">
              <fa
                :icon="['fa', caretIcon]"
                :id="`carID` + x"
                class="carretcarID"
              />
              <!-- <fa v-else :icon="['fa', 'caret-up']" /> -->
            </div>
          </div>

          <!-- SUB NAVIGATION -->
          <b-collapse
            :id="nav.collapseID"
            accordion="accord"
            :class="expand == false ? 'navCloseCollapse' : 'navOpenCollapse'"
          >
            <div
              v-for="(sub, i) in users[x].subs"
              v-show="sub.allow.includes(accessID)"
              :key="i"
              @click="setActiveSub(nav.id, sub.id, nav.collapseID, sub.route)"
              :id="sub.tooltipID"
              v-b-tooltip.hover.right
              :title="sub.name"
              :class="
                (expand == false ? 'navClose ' : 'navOpen ') +
                  (sub.id === activeSub ? 'activeNav' : '')
              "
            >
              <div class="iconH">
                <fa :icon="['fa', sub.icn]" />
              </div>
              <div class="navLabel" v-show="expand">{{ sub.name }}</div>
            </div>
          </b-collapse>
        </div>
      </div>
    </div>

    <div class="panelCon">
      <div class="headr">
        <div class="headr1">
          <div class="headrLogo"></div>
          <div>
            <div class="sysName">RecTrack</div>
            <div class="sysSub">
              Recruitment Tracking System, Biotech Farms Inc. &copy;{{ year }}
            </div>
          </div>
        </div>
        <div class="headr2">
          <!-- NOTIFICATIONS LIST -->
          <!-- <div class="redBadge"> 000 </div> -->
          <div class="redBadge" v-show="parseInt(notifCount) > 0">
            {{ notifCount }}
          </div>
          <button class="headrButtons">
            <fa :icon="['fa', 'bell']" @click="showNotifs()" />
            <div v-show="showNotif" class="notif_holder">
              <div id="outsideNotif">
                <div class="notifs_arrowDown"></div>
                <div class="notifs_container">
                  <div class="notifs_row">
                    <div class="notif_header alignCenter">
                      <b> Notifications </b>
                    </div>
                    <!-- <fa :icon="['fa', 'times-circle']" class="notif_x"/> -->
                  </div>
                  <div class="notifs_scroll">
                    <b-spinner
                      small
                      variant="warning"
                      type="grow"
                      v-show="!listOfNotifs"
                    ></b-spinner>

                    <div
                      class="notifs_row rowExtra"
                      v-for="(data, x) in listOfNotifs"
                      :key="'n' + x"
                      @click="viewNotif(x, data)"
                    >
                      <div class="notif_header">
                        <div class="notif_mainT">
                          <span
                            :class="
                              String(data.isViewedBy).includes(haveSeen)
                                ? 'notif_dot'
                                : 'redDot'
                            "
                          >
                            &bullet;
                          </span>
                          <span
                            v-if="!String(data.isViewedBy).includes(haveSeen)"
                            ><b> {{ data.applicant }} </b></span
                          >
                          <span v-else>{{ data.applicant }}</span>
                        </div>
                        <div class="notif_action">
                          &ensp;|&ensp;{{
                            data.action.split(" - ")[1]
                              ? data.action.split(" - ")[1]
                              : "Walk-in Applicant"
                          }}
                        </div>
                        <div class="notif_date">
                          {{ formatDate(data.date) }}
                        </div>
                      </div>
                      <div class="notif_content">
                        {{ data.desc }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- SEE ALL NOTIFICATIONS -->
              <div class="notifs_row">
                <div class="notif_header alignCenter notif_foot">
                  <div
                    class="see_all_notifs"
                    @click="setActiveSub(2, 2.7, ``, `../admin/activity_logs`)"
                  >
                    See all activities
                  </div>
                  <div class="mark_all_as_read" @click="markAllRead()">
                    Mark all as read
                  </div>
                </div>
              </div>
              <!-- END OF NOTIF HOLDER -->
            </div>
          </button>
          <div class="userTitle">
            <div class="userName">{{ user }}</div>
            <div class="userRole">
              <div
                style="z-index: 10006;"
                :class="
                  (server == 'Connecting...' ? 'server ' : '') +
                    (server == 'Disconnected' || server == 'Server Error'
                      ? 'down '
                      : 'up ') +
                    (server == 'Network Error' ? 'netError ' : '')
                "
              >
                {{ server }}
              </div>

              &ensp;|&ensp;{{ role }}
            </div>
          </div>
          <button class="headrButtons" @click="logout()">
            <fa :icon="['fa', 'power-off']" />
          </button>
        </div>
      </div>

      <div class="module">
        <Nuxt />
      </div>
    </div>

    <!-- LOGGED ON OTHER BROWSERS -->
    <div class="freeze" v-show="loggedByOthers">
      <div class="freezeHold">
        <div class="freezeContent">
          <div class="freezeHeader">
            <fa :icon="['fa', 'exclamation-triangle']" /> &ensp; Multiple Login
          </div>
          <div class="freezeBody">
            Your account has been logged to another browser.
            <br />
            <br />
            RecTrack user accounts are only allowed to login one browser at a
            time, thank you.
          </div>
          <div class="freezeFooter">
            <button @click="logout()">
              Got it!
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- ===============================  NOTIFICATIONS =================================  -->

    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <!-- <fa :icon=" alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle' " class="mr-1" style="font-size:20px" /> -->

      <div class="notif_container">
        <div class="notif_header">
          <b>{{ notif_header(alert.message) }}</b>
          <span class="notif_date">
            {{ formatDate(todaysDate) }}
          </span>
        </div>
        <div class="notif_content">
          {{ notif_desc(alert.message) }}
        </div>
      </div>
    </b-alert>

    <!-- ===============================  MODALS PER ACTIONS  ===========================  -->

    <!-- ENDORSE TO OTHER DEPARTMENT -->
    <EndorseToOtherDep />

    <!-- KEEP FOR REFERENCE -->
    <KeepForRef />

    <!-- BLACKLIST -->
    <Blacklist />

    <!-- REJECT -->
    <Reject />

    <!-- ONLINE EXAM -->
    <OnlineExam />

    <!-- ENDORSE FOR ASSESSMENT -->
    <EndorseForAssessment />

    <!-- RETAKE -->
    <Retake />

    <!-- CREATE SCHEDULE -->
    <CreateSched />

    <!-- UPDATE POSITION -->
    <UpdatePosition />

    <!-- SHORTLIST -->
    <Shortlist />

    <!-- JOB OFFER -->
    <JobOffer />

    <!-- DEPLOY -->
    <Deploy />

    <!-- CHANGE DEPLOYMENT DATE -->
    <ChangeDeploymentDate />

    <!-- RATE IAF -->
    <RateIAF />

    <!-- ADD REFERRAL -->
    <AddReferral />

    <!-- RETURN APPLCIANT -->
    <ReturnApplicant />

    <!-- VIEW APPLICANT -->
    <ViewApplicant v-show="!closeFullInfo" />

    <!-- VIEW USER USAGE -->
    <ViewUserUsageData v-show="!closeUserUsageData" />

    <!-- RATE ONLINE EXAM -->
    <RateExam v-show="!closeExamRating" />

    <!-- RATE IQBE -->
    <RateIQBE v-show="!closeIQBERating" />
  </div>
</template>

<script>
// import Dashboard from "../pages/dashboard/dashboard";
import Loader from "../components/loader";
import ServerError from "../components/serverError";
import EndorseToOtherDep from "../components/actions/act_selectDep_Pos.vue";
import KeepForRef from "../components/actions/act_keepForRef.vue";
import Blacklist from "../components/actions/act_blacklist.vue";
import Reject from "../components/actions/act_reject.vue";
import OnlineExam from "../components/actions/act_onlineExam.vue";
import EndorseForAssessment from "../components/actions/act_endorseForAssessment.vue";
import Retake from "../components/actions/act_retake.vue";
import CreateSched from "../components/actions/act_createSched.vue";
import UpdatePosition from "../components/actions/act_updatePosition.vue";
import Shortlist from "../components/actions/act_shortlist.vue";
import JobOffer from "../components/actions/act_jobOffer.vue";
import Deploy from "../components/actions/act_deploy.vue";
import ChangeDeploymentDate from "../components/actions/act_ChangeDeploymentDate.vue";
import RateIAF from "../components/actions/act_rateIAF.vue";
import AddReferral from "../components/actions/act_addReferral.vue";
import ReturnApplicant from "../components/actions/act_returnApplicant.vue";
import ViewUserUsageData from "../components/viewUserUsage.vue";
import ViewApplicant from "../components/viewApplicant.vue";
import RateExam from "../components/rate_onlineExam.vue";
import RateIQBE from "../components/rate_iqbeExam.vue";
import io from "socket.io-client";
import moment from "moment";
import axios from "axios";

export default {
  components: {
    Loader,
    ServerError,
    EndorseToOtherDep,
    KeepForRef,
    Blacklist,
    Reject,
    OnlineExam,
    EndorseForAssessment,
    Retake,
    CreateSched,
    UpdatePosition,
    Shortlist,
    JobOffer,
    Deploy,
    ChangeDeploymentDate,
    RateIAF,
    AddReferral,
    ReturnApplicant,
    ViewApplicant,
    ViewUserUsageData,
    RateExam,
    RateIQBE
  },
  data() {
    return {
      caretChange: false,
      caretIcon: "caret-down",
      expand: false,
      nonAccord: false,
      role: localStorage.role,
      user: "Unknown User",
      accessID: localStorage.access_rights_id,
      loggedByOthers: false,
      logOutModal: false,
      server: "Connecting...",
      statusCode: "",
      // cnt: 0,
      users: [
        {
          id: 1,
          name: "Applicant Stages",
          icn: "folder",
          tooltipID: "tooltip-dashboard",
          collapseID: "collapse-none",
          sub: false,
          allow: "12543",
          subs: [],
          route: "../dashboard"
        },
        {
          id: 2,
          name: "Admin Access",
          icn: "user-shield",
          tooltipID: "tooltip-adminAccess",
          collapseID: "collapse-adminAccess",
          sub: true,
          adminExpand: false,
          allow: "1",
          subs: [
            {
              id: 2.1,
              name: "Actions",
              icn: "mouse",
              tooltipID: "tooltip-actions",
              collapseID: "",
              sub: false,
              allow: "1",
              subs: [],
              route: "../admin/action"
            },
            {
              id: 2.2,
              name: "Roles & Access Rights",
              icn: "key",
              tooltipID: "tooltip-accessRights",
              collapseID: "",
              sub: false,
              allow: "1",
              subs: [],
              route: "../admin/access_rights"
            },
            {
              id: 2.3,
              name: "Departments",
              icn: "building",
              tooltipID: "tooltip-departments",
              collapseID: "",
              sub: false,
              allow: "1",
              subs: [],
              route: "../admin/departments"
            },
            {
              id: 2.4,
              name: "Teams",
              icn: "users",
              tooltipID: "tooltip-teams",
              collapseID: "",
              sub: false,
              allow: "1",
              subs: [],
              route: "../admin/teams"
            },
            {
              id: 2.5,
              name: "Positions",
              icn: "id-card",
              tooltipID: "tooltip-positions",
              collapseID: "",
              sub: false,
              allow: "1",
              subs: [],
              route: "../admin/positions"
            },
            {
              id: 2.6,
              name: "User Accounts",
              icn: "user-cog",
              tooltipID: "tooltip-userAccounts",
              collapseID: "",
              sub: false,
              allow: "1",
              subs: [],
              route: "../admin/user_accounts"
            },
            {
              id: 2.7,
              name: "Logs",
              icn: "clipboard-list",
              tooltipID: "tooltip-logs",
              collapseID: "",
              sub: false,
              allow: "1",
              subs: [],
              route: "../admin/activity_logs"
            }
          ],
          route: ""
        },
        {
          id: 3,
          name: "Online Exam",
          icn: "list-ol",
          tooltipID: "tooltip-onlineExam",
          collapseID: "collapse-onlineExam",
          sub: true,
          allow: "12543",
          subs: [
            {
              id: 3.1,
              name: "Categories",
              icn: "sitemap",
              tooltipID: "tooltip-categories",
              collapseID: "",
              sub: false,
              allow: "12543",
              subs: [],
              route: "../online_exam/categories"
            },
            {
              id: 3.2,
              name: "Questionnaires",
              icn: "file-alt",
              tooltipID: "tooltip-questionaires",
              collapseID: "",
              sub: false,
              allow: "12543",
              subs: [],
              route: "../online_exam/questionaires"
            },
            {
              id: 3.3,
              name: "IQ Test",
              icn: "brain",
              tooltipID: "tooltip-iqTest",
              collapseID: "",
              sub: false,
              allow: "125",
              subs: [],
              route: "../online_exam/IQTests"
            }
          ],
          route: ""
        },
        {
          id: 4,
          name: "Exports",
          icn: "file-export",
          tooltipID: "tooltip-exports",
          collapseID: "collapse-exports",
          sub: true,
          allow: "12543",
          subs: [
            {
              id: 4.1,
              // name: "Reports",
              name: "End Stages",
              icn: "copy",
              tooltipID: "tooltip-reports",
              collapseID: "",
              sub: false,
              allow: "12543",
              subs: [],
              route: "../exports/reports"
            },
            {
              id: 4.2,
              name: "Jeonsoft",
              icn: "address-card",
              tooltipID: "tooltip-jeonsoft",
              collapseID: "",
              sub: false,
              allow: "125",
              subs: [],
              route: "../exports/jeonsoft"
            },
            {
              id: 4.3,
              name: "Referral Forms",
              icn: "file-signature",
              tooltipID: "tooltip-referal",
              collapseID: "",
              sub: false,
              allow: "125",
              subs: [],
              route: "../exports/referral_forms"
            }
          ],
          route: ""
        }
        // {
        //   id: 5,
        //   name: "Walk-in Applicant",
        //   icn: "walking",
        //   tooltipID: "tooltip-walkin",
        //   collapseID: "collapse-none2",
        //   sub: false,
        //   subs: []
        // }
      ],
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },

      showNotif: false,
      listOfNotifs: "",
      haveSeen: localStorage.id + "-",
      notifCount: 0
    };
  },
  created() {
    // console.log( "Hostname: " + window.location.protocol + "//" + window.location.hostname + ":" + window.location.port );
    let serverLink = `${process.env.baseURL}`;
    // let serverLink = "http://172.16.28.2:5095";
    localStorage.serverLink = serverLink;
    // console.log(localStorage.serverLink);
    // CONNECT TO SERVER ============================================================
    const socket = io.connect(serverLink, {
      // path: "/socket.io",
      // transports: ["websocket"],
      secure: true
    });

    let stat = "Connecting...";
    this.$store.commit("statusServe", stat); // IGNORE FOR NOW

    // IF SERVER IS DISCONNECTED
    socket.on("disconnect", () => {
      // console.log("Disconnected");
      // console.log(socket.disconnected);
      this.server = "Disconnected";
      // console.log("=================================");
    });

    // IF SERVER IS CONNECTED
    socket.on("connect", () => {
      // console.log("Connected", socket);
      // console.log(socket.id);
      // console.log("socket connected to server?", socket.connected);
      // console.log(socket.connected);
      this.server = "Connected";
      // console.log("=================================");
    });

    // RECONNECT SERVER
    socket.on("reconnect", () => {
      // console.log("Reconnected");
      // console.log(socket.reconnect);
      this.server = "Connecting...";
      // console.log("=================================");
    });

    // RECEIVE NOTIFICATION ALERTS ===================================================
    socket.on("notificationAlerts", notisAlert => {
      // console.log(notisAlert);
      // console.log("===============================");
      // console.log("notisAlert.data[0]");
      // console.log("===============================");
      // console.log(notisAlert.data[0]);
      // console.log("===============================");
      this.getNotifs();
      this.showAlert(notisAlert.data[0], "Warning");
      this.reloadAllApplicantsTable();
      this.reloadRelatedTable(notisAlert);
    });

    // RECEIVE NOTIFICATIONS LIST
    socket.on("fetchNotifications", notifs => {
      // SEE IF LIST ISN'T EMPTY
      if (notifs != undefined) {
        // GET NOTIFS ONLY FROM CURRENT AND PREVIOUS MONTH
        var newList = [];
        for (var n = 0; n < notifs.length; n++) {
          var notifMon = moment(notifs[n].date).format("MM");
          if (notifMon == this.currentMonth || notifMon == this.prevMonth) {
            newList[n] = notifs[n];
          }
        }
        // DISPLAY NOTIFS ONLY FROM CURRENT AND PREVIOUS MONTH
        this.listOfNotifs = newList;
        var cnt = 0;
        for (let c = 0; c < this.listOfNotifs.length; c++) {
          let temp = String(this.listOfNotifs[c].isViewedBy).includes(
            this.haveSeen
          );
          if (temp == false) {
            cnt = cnt + 1;
          }
        }
      } else {
        this.listOfNotifs = [];
      }
      this.notifCount = cnt;
    });

    // RECEIVE TOKEN CHECKING
    socket.on("verifyToken", tokenCheck => {
      // console.log(" loggedByOthers ");
      // console.log(tokenCheck);

      if (tokenCheck == true) {
        this.loggedByOthers = true;
      }
      // console.log("=================================");
    });

    // FETCH NOTIFS LIST AFTER VIEWING
    socket.on("updateNotification", updateNotif => {
      console.log("updateNotification", updateNotif);
      // console.log(tokenCheck);
      // FETCH NOTIFS AGAIN
      // this.getNotifs();
      // console.log("=================================");
    });
    // socket.on("connect_error", err => {
    //   console.log(`connect_error due to ${err.message}`);
    // });
    // FETCH NOTIFICATIONS
    this.getNotifs();

    setInterval(() => {
      // CHECK TOKEN ===================================================================
      // this.checkToken();
      this.checkTokenAPI();
    }, 3000);

    // ===============================================================================
  },
  beforeCreate() {
    this.$store.dispatch("getUserNameAction", {
      token: localStorage.token
    });
  },
  computed: {
    todaysDate() {
      return moment().format();
    },
    currentMonth() {
      return moment().format("MM");
    },
    prevMonth() {
      return moment()
        .subtract(1, "months")
        .format("MM");
      // return moment().format("MM");
    },
    closeUserUsageData() {
      return this.$store.state.closeUserUsageDataView;
    },
    closeExamRating() {
      return this.$store.state.closeExamRating;
    },
    closeIQBERating() {
      return this.$store.state.closeIQBERating;
    },
    closeFullInfo() {
      return this.$store.state.closeViewApplicant;
    },
    doneLoading() {
      // GET USER NAME
      if (localStorage.fname != "" && localStorage.lname != "") {
        this.user = localStorage.fname + " " + localStorage.lname;
      } else if (localStorage.fname != "" && localStorage.lname == "") {
        this.user = localStorage.fname;
      } else if (localStorage.fname == "" && localStorage.lname != "") {
        this.user = localStorage.lname;
      } else {
        this.user = "Unknown";
      }
      // RETURN THE NUMBER OF STAGES THAT HAS BEEN LOADED
      return this.$store.state.doneLoading;
    },
    year() {
      return new Date().getFullYear();
    },
    activeNav() {
      // console.log("activeNav: " + this.$store.state.activeN);
      // console.log("collapseID: " + this.$store.state.collapseID);
      this.$root.$emit("bv::toggle::collapse", this.$store.state.collapseID);
      return this.$store.state.activeN;
    },
    activeSub() {
      // console.log("activeSub: " + this.$store.state.activeS);
      return this.$store.state.activeS;
    },
    log() {
      return localStorage.role;
    }
  },
  mounted() {
    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.hideNotifs();
        }
      },
      false
    );
  },
  methods: {
    reloadAllApplicantsTable() {
      this.$root.$refs.allApplicantComponent.getAllApplicants();
    },
    reloadQuickApplicantTable() {
      this.$root.$refs.quickApplicantsComponent.getQuickApplicants(
        localStorage.token
      );
    },
    reloadReceivedTable() {
      this.$root.$refs.receivedComponent.getReceived();
    },
    reloadOnlineExamTable() {
      this.$root.$refs.onlineExamComponent.getData();
    },
    reloadAssessmentTable() {
      this.$root.$refs.assessmentComponent.getData(localStorage.token);
    },
    reloadEndorsementTable() {
      this.$root.$refs.endorsementComponent.getData(localStorage.token);
    },
    reloadScheduleAssessmentTable() {
      this.$root.$refs.scheduleAssessmentComponent.getData(localStorage.token);
    },
    reloadPendingTable() {
      this.$root.$refs.pendingComponent.getData(localStorage.token);
    },
    reloadShortlistedTable() {
      this.$root.$refs.shortlistedComponent.getData(localStorage.token);
    },
    reloadJobOfferTable() {
      this.$root.$refs.jobOfferComponent.getData(localStorage.token);
    },
    reloadDeployedTable() {
      this.$root.$refs.rowDeter.getData(localStorage.token);
    },
    reloadKeptForRefTable() {
      this.$root.$refs.keepForRefComponent.getData(localStorage.token);
    },
    reloadRelatedTable(data) {
      let appliData = data.data[0];
      let stage = appliData.stage;
      console.log("stage", stage);

      switch (stage) {
        case "Quick Applicant":
          this.reloadQuickApplicantTable();
          break;

        case "Received":
          this.reloadReceivedTable();
          this.reloadOnlineExamTable();
          this.reloadScheduleAssessmentTable();
          break;

        case "Online Exam":
          this.reloadOnlineExamTable();
          break;

        case "Assessment":
          this.reloadAssessmentTable();
          this.reloadPendingTable();
          this.reloadReceivedTable();
          break;

        case "Endorsement":
          this.reloadEndorsementTable();
          this.reloadScheduleAssessmentTable();
          break;

        case "Schedule for Assessment":
          this.reloadScheduleAssessmentTable();
          this.reloadAssessmentTable();
          break;

        case "Pending for Review":
          this.reloadPendingTable();
          this.reloadShortlistedTable();
          break;

        case "Shortlisted":
          this.reloadShortlistedTable();
          this.reloadJobOfferTable();
          break;

        case "Job Offer":
          this.reloadJobOfferTable();
          this.reloadDeployedTable();
          break;

        case "Kept for Reference":
          this.reloadReceivedTable();
          this.reloadKeptForRefTable();
          break;
      }
    },
    markAllRead() {
      console.log(this.listOfNotifs.length);
      for (var s = 0; s < this.listOfNotifs.length; s++) {
        // CHECK IF NOTIF HAVE ALREADY BEEN VIEWED
        if (String(this.listOfNotifs[s].isViewedBy).includes(this.haveSeen)) {
          // console.log("Already Viewed");
        } else {
          // VIEW NOTIF (to store user id who viewed the notifications)
          const socket = io.connect(localStorage.serverLink, { secure: true });
          socket.emit("updateNotification", [
            {
              notificationID: this.listOfNotifs[s].notificationID,
              userID: this.haveSeen
            }
          ]);
        }
      }
      // REQUEST FOR NOTIFICATIONS LIST, AGAIN
      this.getNotifs();
    },
    hideNotifs() {
      this.showNotif = false;
    },
    showNotifs() {
      this.showNotif = true;
      // REQUEST FOR NOTIFICATIONS LIST
      this.getNotifs();
    },
    viewNotif(ind, data) {
      // console.log(ind);
      // console.log(data);
      this.$store.commit("closeViewApplicants", false);
      this.$store
        .dispatch("viewApplicantDetails", {
          applicantID: data.applicantID,
          token: localStorage.token
        })
        .then(res => {
          // console.log("Close View Applicants: " + this.closeFullInfo);
          // console.log("===============================");
        });

      // CHECK IF NOTIF HAVE ALREADY BEEN VIEWED
      if (String(data.isViewedBy).includes(this.haveSeen)) {
        // console.log("Already Viewed");
      } else {
        // VIEW NOTIF (to store user id who viewed the notifications)
        const socket = io.connect(localStorage.serverLink, { secure: true });
        socket.emit("updateNotification", [
          {
            notificationID: data.notificationID,
            userID: this.haveSeen
          }
        ]);
        // REQUEST FOR NOTIFICATIONS LIST
        this.getNotifs();
      }
    },
    checkToken() {
      let data = [];
      data.push({
        token: localStorage.token
      });
      const socket = io.connect(localStorage.serverLink, { secure: true });
      socket.emit("verifyToken", data);
    },
    async checkTokenAPI(token) {
      await axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/users/check-token/${localStorage.token}`,
        headers: {
          Authorization: `Bearer ${token}`
        }
      }).then(res => {
        const count = res.data.view;
        if (count === 0) {
          this.loggedByOthers = true;
        }
      });
    },
    // checkTokenAlways(token) {
    //   setInterval(() => {
    //     this.checkTokenAPI(token);
    //   }, 10000);
    // },
    notif_header(data) {
      return data.actionName;
    },
    notif_desc(data) {
      return data.desc;
    },
    formatDate(data) {
      // return data;

      return moment(data).format("MMMM DD, YYYY");
    },
    getNotifs() {
      // GET NOTIFS
      let cred = [];
      cred.push({
        role: localStorage.role,
        deptID: localStorage.deptId,
        teamID: localStorage.teamId,
        id: localStorage.id
      });
      const socket = io.connect(localStorage.serverLink, { secure: true });
      // console.log("cred notif", cred);

      socket.emit("fetchNotifications", cred);
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 5,
        variant,
        message
      };
    },
    expandSide() {
      this.expand = !this.expand;
      localStorage.expand = this.expand;
      // console.log(this.expand);
      if (this.expand == true) {
        this.$root.$emit("bv::disable::tooltip");
      } else {
        this.$root.$emit("bv::enable::tooltip");
      }
    },
    setActive(id, colID, carID, navLength, route) {
      // console.log("id: " + id);
      // console.log("route: " + route);

      // UNCHOSEN IDs WILL BE 0deg
      for (let j = 0; j < navLength; j++) {
        let temp = "carID" + j;
        if (carID != temp) {
          // console.log(temp);
          // console.log(document.getElementById(temp));
          document.getElementById(temp).style.transform = "rotate(0deg)";
          // console.log(document.getElementById(temp).style.transform);
        } else {
          // console.log(document.getElementById(temp).style.transform);
          if (
            document.getElementById(temp).style.transform == "rotate(180deg)"
          ) {
            document.getElementById(temp).style.transform = "rotate(0deg)";
          } else {
            document.getElementById(temp).style.transform = "rotate(180deg)";
          }
        }
      }
      // var opened = document.getElementById(temp).style.transform;
      var open = [];
      open.push({
        id: id,
        subID: "none",
        colID: colID,
        route: route,
        open: true
      });
      this.$store.commit("openPage", open);

      this.$router.push({ path: route });
    },
    setActiveSub(id, subID, colID, route) {
      // console.log("id: " + id);
      // console.log("subID: " + subID);
      // console.log("route: " + route);
      this.$router.push({ path: route });
      var open = [];
      open.push({
        id: id,
        subID: subID,
        colID: colID,
        route: route,
        open: false
      });
      this.$store.commit("openPage", open);
    },
    logout() {
      localStorage.clear();
      // this.$routes.push({
      //   name: 'custom',
      //   path: '*',
      //   component: resolve(__dirname, 'pages')
      // })
      this.$router.push("/");
      // window.location.reload(); //to reload login page
      return false;
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}

.headrLogo {
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: center;
  background-image: url("../assets/bfi_gradient.png");
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
</style>
