<template>
  <div class="moduleContainer">
    <div class="moduleName">Teams</div>
    <div class="moduleContent2" ref="rowDeter">
      <!-- HEADER TOOLS -->
      <div class="tabTools">
        <!-- ADD NEW DEPARTMENT -->
        <div class="tabToolsDiv">
          <button
            v-b-modal.addTeamModal
            class="btn-positive2"
            v-b-tooltip.hover
            title="Add new Team"
          >
            <fa :icon="['fa', 'plus']" /> &nbsp; New Team
          </button>
        </div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>
        <!-- EXTRA SLOT -->
        <div class="tabToolsDiv tabToolsDivX"></div>

        <!-- SEARCH -->
        <div class="tabToolsDiv">
          <button class="toolSearchIco" disabled>
            <fa :icon="['fa', 'search']" />
          </button>
          <input
            class="toolSearch fa"
            type="text"
            name=""
            placeholder="Type to search"
            v-model="find"
          />
          <b-button
            class="toolClear"
            @click="find = ''"
            v-b-tooltip.hover
            title="Clear Search"
          >
            <fa :icon="['fa', 'eraser']" />
          </b-button>
        </div>
        <!-- RELOAD DATA -->
        <!-- <div class="tabToolsDiv" v-b-tooltip.hover title="Refresh Table">
          <button class="btn-keep" @click="getTeams(token)">
            <fa :icon="['fa', 'redo-alt']" :spin="isBusy" />
          </button>
        </div> -->
      </div>

      <!-- TABLE @row-clicked="rowData"  -->
      <div class="tabTable">
        <b-table
          hover
          class="table"
          id="allApplicantsTable"
          select-mode="single"
          :filter="find"
          :items="tableDataComputed"
          :per-page="perPage"
          :fields="fieldHeaders"
          :busy="isBusy"
          :current-page="computedCurrentPage"
          show-empty
        >
          <!-- LOADERS IF isBusy == true -->
          <template #table-busy>
            <div class="text-center text-secondary">
              <b-spinner small class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

          <!-- Custom display for Team -->
          <template #cell(teamname)="row">
            <div class="text-main">
              <b>{{ row.value }}</b>
            </div>
          </template>

          <!-- Custom display for Description -->
          <template #cell(description)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for Department-->
          <template #cell(department)="row">
            <div class="text-sub">
              {{ row.value }}
            </div>
          </template>

          <!-- Custom display for status -->
          <template #cell(status)="row">
            <div class="text-sub">
              <div
                class="stage text-reject-pill"
                v-if="row.value == 'inactive'"
              >
                {{ row.value }}
              </div>
              <div
                class="stage text-pos2-pill"
                v-else-if="row.value == 'active'"
              >
                {{ row.value }}
              </div>
            </div>
          </template>

          <!-- BUTTON PER ROW -->
          <template #cell(extra)="row">
            <div class="rowmenuHold" v-show="showMenu && row.index == rowIndex">
              <div class="rowmenu">
                <div class="actionFor">
                  <div class="pointing">
                    <div><fa :icon="['fa', 'users']" /></div>
                    {{ row.item.teamname }}
                  </div>
                  <!-- <div class="pointRight"></div> -->
                </div>
                <div class="line"></div>

                <div class="rowMenuScroll">
                  <div v-for="(act, a) in actions" :key="a">
                    <button
                      ref="teamModal"
                      v-show="
                        act.action_name != 'Add Team' &&
                          act.action_name != 'Search Team' &&
                          act.action_name != 'View All Team'
                      "
                      class="bX b-keep"
                      @click="
                        takeAct(
                          act.id,
                          act.action_name,
                          row.item,
                          row,
                          row.index
                        )
                      "
                    >
                      &ensp; {{ act.action_name }}
                    </button>
                  </div>
                </div>
              </div>

              <!-- <div class="pointRight"></div> -->
            </div>

            <button class="btn-actions" @click="selectRow(row, row.index)">
              <fa :icon="['fa', 'ellipsis-v']" />
            </button>
          </template>
        </b-table>
      </div>

      <!-- FOOTER TOOLS -->
      <div class="footer">
        <div class="tabTools">
          <div class="tabToolsDiv">
            Total no. of records: {{ records }} | Page
            {{ computedCurrentPage }} of {{ computedTotalPage }}
          </div>
          <div class="tabToolsDiv tabToolsDivX"></div>
          <div class="tabToolsDiv tabEx">
            <div class="overflow-auto">
              <div>
                <b-pagination
                  size="sm"
                  v-model="currentPage"
                  :total-rows="records"
                  :per-page="perPage"
                  aria-controls="allApplicantsTable"
                ></b-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal for team details and edit -->
    <div>
      <b-modal id="teamModal" no-close-on-backdrop>
        <template #modal-header="{close}" class="headr">
          <div class="deptIcn">
            <fa :icon="['fa', 'users']" />
          </div>
          <div class="deptTitleDiv">
            <b> {{ team.name }}</b>
          </div>
          <div class="iconBtn" @click="close()">
            <fa :icon="['fa', 'times-circle']" />
          </div>
        </template>
        <div class="mdlBody">
          <div>
            <b-row>
              <b class="modalText">Team ID:&nbsp;{{ team.id }}</b>
              <br />
            </b-row>
          </div>
          <div>
            <b-row><b class="modalText">Team Name:</b> </b-row>
            <b-row>
              <input
                type="text"
                class="modalEdit"
                v-model="team.name"
                :disabled="editTeam"
            /></b-row>
          </div>
          <div>
            <b-row
              ><b class="modalText"
                >Description <em class="optional">( optional )</em></b
              >
            </b-row>
            <b-row>
              <input
                class="modalEdit"
                type="text"
                v-model="team.desc"
                :disabled="editTeam"
            /></b-row>
          </div>
          <div>
            <b-row> <b class="modalText">Number of items: </b></b-row>
            <b-row>
              <input
                type="number"
                class="modalEdit"
                v-model="team.no_of_items"
                :disabled="editTeam"
                placeholder="0"
            /></b-row>
          </div>
          <!-- <div>
            <b-row><b class="modalText">Team Head:</b> </b-row>
            <b-row>
              <input
                class="modalEdit"
                type="text"
                v-model="team.deptHead"
                :disabled="editTeam"
            /></b-row>
          </div> -->
          <!-- <div v-show="editTeam == true">
            <b-row><b class="modalText">Department Name:</b> </b-row>
            <b-row>
              <input
                class="modalEdit"
                type="text"
                v-model="team.deptName"
                :disabled="editTeam"
            /></b-row>
          </div> -->
          <div>
            <b-row v-show="editTeam == true"
              ><b class="modalText">Department Name:</b>
            </b-row>

            <b-row v-show="editTeam == false"
              ><b class="modalText">Select Department Name: </b>
            </b-row>

            <b-row v-show="editTeam == false"
              ><multiselect
                v-model="selectedDept"
                track-by="id"
                label="name"
                placeholder="Select a Department"
                :options="filterActiveDept"
                :searchable="true"
                :allow-empty="false"
                class="selectInput"
                @input="selectDepts()"
                :disabled="editTeam"
              >
              </multiselect
            ></b-row>
            <b-row v-show="editTeam == true">
              <input
                type="text"
                class="modalEdit"
                v-model="team.deptName"
                :disabled="editTeam"
            /></b-row>
          </div>
          <div>
            <b-row
              ><b class="modalText">Team Status: {{ team.status }}</b>
            </b-row>
            <b-form-radio
              v-show="editTeam == false"
              class="radioBtn"
              size="sm"
              v-model="team.status"
              name="some-radios"
              value="active"
              >Active</b-form-radio
            >
            <b-form-radio
              v-show="editTeam == false"
              class="radioBtn"
              size="sm"
              v-model="team.status"
              name="some-radios"
              value="inactive"
              >Inactive</b-form-radio
            >
          </div>
        </div>
        <template #modal-footer>
          <!-- CANCEL -->
          <button
            v-show="editTeam == false"
            @click="cancel()"
            class="btn-deact"
          >
            <fa :icon="['fa', 'times']" />
            &nbsp; Cancel
          </button>

          <!-- EDIT & SAVE -->
          <button
            @click="edit()"
            :class="editTeam ? 'btn-edit' : 'btn-positive2'"
          >
            <fa :icon="['fa', editTeam ? 'edit' : 'save']" />
            &nbsp;
            {{ editTeam ? "Edit" : "Save" }}
          </button>
        </template>
      </b-modal>
      <div>
        <!-- add new team -->
        <b-modal id="addTeamModal" no-close-on-backdrop>
          <template #modal-header="{close}" class="headr">
            <div class="deptIcn">
              <fa :icon="['fa', 'plus']" />
            </div>
            <div class="deptTitleDiv">
              <b>Add New Team</b>
            </div>
            <div class="iconBtn" @click="close()">
              <fa :icon="['fa', 'times-circle']" />
            </div>
          </template>
          <div class="mdlBody">
            <div>
              <b-row>
                <b class="modalText">Select Department: </b>
              </b-row>
              <b-row
                ><multiselect
                  v-model="newTeam.dept"
                  deselect-label=""
                  select-label=""
                  track-by="name"
                  label="name"
                  placeholder="Select a Department"
                  :options="filterActiveDept"
                  :searchable="true"
                  :allow-empty="false"
                  class="selectInput"
                >
                </multiselect
              ></b-row>
            </div>
            <div>
              <b-row>
                <b class="modalText">Team Name: </b>
              </b-row>
              <b-row>
                <input type="text" class="modalEdit" v-model="newTeam.name"
              /></b-row>
            </div>
            <div>
              <b-row>
                <b class="modalText"
                  >Description <em class="optional">( optional )</em></b
                ></b-row
              >
              <b-row>
                <input type="text" class="modalEdit" v-model="newTeam.desc"
              /></b-row>
            </div>
            <div>
              <b-row> <b class="modalText">Number of items: </b></b-row>
              <b-row>
                <input
                  type="number"
                  class="modalEdit"
                  v-model="newTeam.no_of_items"
                  placeholder="0"
              /></b-row>
            </div>
          </div>
          <template #modal-footer>
            <button class="btn-deact" @click="closeAddTeam()">
              Cancel
            </button>
            <button class="btn-positive2" @click="addTeam(token)">
              Submit
            </button>
          </template>
        </b-modal>
      </div>
    </div>

    <!-- ALERT -->
    <div>
      <b-alert
        :show="alert.showAlert"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <fa
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Multiselect from "vue-multiselect";
import { mapGetters } from "vuex";

export default {
  layout: "sideBar",
  components: { Multiselect },
  data() {
    return {
      selectedDept: {
        deptHead: "",
        description: "",
        id: null,
        name: "",
        status: null,
        userId: null
      },
      editTeam: true,
      status: false,
      isBusy: false,
      token: localStorage.token,
      find: "",
      tableData: [],
      perPage: 1,
      currentPage: 1,
      rowIndex: -1,
      prevIndex: -1,
      showMenu: false,
      screenHeight: 0,
      tableHeight: 0,
      rowDeterm: 0,
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      departments: [],
      team: {
        title: "",
        id: "",
        name: "",
        desc: "",
        status: "",
        deptName: "",
        deptId: "",
        no_of_items: ""
      },
      newTeam: {
        dept: "",
        name: "",
        desc: "",
        no_of_items: ""
      },
      actions: [],
      fieldHeaders: [
        // TABLE HEADERS
        {
          key: "teamname",
          label: "Team Name",
          sortable: true
        },
        {
          key: "description",
          label: "Description",
          sortable: false
        },
        {
          key: "deptname",
          label: "Team's Department",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: false
        },
        {
          key: "extra", // column name from API
          label: "", // custom name set
          sortable: false // sort data by column
        }
      ]
    };
  },
  methods: {
    selectRow(row, ind) {
      this.applicant = row;
      this.rowIndex = ind;
      // console.log("this.prevIndex: " + this.prevIndex);
      // console.log("this.rowIndex: " + this.rowIndex);
      // console.log("this.showMenu: " + this.showMenu);
      row.toggleDetails();
      // console.log(row);
      if (this.prevIndex != this.rowIndex) {
        this.prevIndex = this.rowIndex;
        this.showMenu = true;
      } else {
        this.showMenu = !this.showMenu;
      }
    },
    takeAct(actID, actName, team, row, ind) {
      this.selectedDept = this.allDepartments.filter(dept => {
        if (dept.name == team.deptname) {
          return dept;
        }
      });
      // console.log(" this.selectedDept ", this.selectedDept);
      this.selectRow(row, ind);
      // console.log(row);
      console.log("===============================");
      // console.log("Team Details: ");
      // console.log("===============================");
      // // console.log(team);
      // console.log("id: " + team.id);
      // console.log("teamname: " + team.teamname);
      // console.log("deptname: " + team.deptname);
      // console.log("description: " + team.description);
      // console.log("status: " + team.status);
      // console.log("===============================");
      // console.log("Action ID: " + actID);
      // console.log("Action Name: " + actName);
      // console.log("===============================");
      this.team.title = team.teamname;
      this.team.id = team.id;
      this.team.name = team.teamname;
      this.team.desc = team.description;
      this.team.status = team.status;
      this.team.deptName = team.deptname;
      this.getTeamDetails(team.id);

      if (actName == "View Team Details") {
        this.$root.$emit("bv::show::modal", "teamModal", "#teamModal");
      } else {
        this.editTeam = false;
        this.$root.$emit("bv::show::modal", "teamModal", "#teamModal");
      }
      if (this.team.status == "active") {
        this.status = true;
        // console.log(this.status);
      } else {
        this.status = false;
        // console.log(this.status);
      }
    },
    //close edit and view actions | clear edit
    close() {
      this.editTeam = true;
      this.$root.$emit("bv::hide::modal", "teamModal", "#teamModal");
    },
    // close add team modal and clear inputs
    closeAddTeam() {
      this.clearFields();
      this.$root.$emit("bv::hide::modal", "addTeamModal", "#addTeamModal");
    },
    edit() {
      this.editTeam = !this.editTeam;
      if (this.editTeam == true) {
        this.editTeamDetails(this.token);
      } else {
        // console.log("edit");
      }
    },
    cancel() {
      this.editTeam = !this.editTeam;
      // console.log("canceled");
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    rowDet() {
      // INITIALIZE perPage
      this.perPage = 1;

      // DETERMINE HOW MANY ROWS TO SHOW DEPENDING ON moduleContent HEIGHT
      var rowCounter = setInterval(() => {
        if (this.$refs.rowDeter == undefined) {
          clearInterval(rowCounter);
        } else {
          this.screenHeight = screen.height; // SCREEN HEIGHT / MONITOR HEIGHT
          this.rowDeterm = this.$refs.rowDeter.clientHeight; // moduleContent HEIGHT (px)
          this.tableHeight = ((this.rowDeterm - 50) / screen.height) * 100; // moduleContent HEIGHT (%)

          if (this.tableHeight < 65) {
            this.perPage++;
            // console.log(this.perPage);
          } else {
            // SET DEFAULT ROWS PER PAGE IN ALL TABS
            this.$store.commit("setPerPage", this.perPage);

            // STOP INTERVAL AFTER this.tableHeight == 60
            clearInterval(rowCounter);
          }
        }
      }, 1);
    },

    //FETCH TEAM Details
    async getTeamDetails(id) {
      // console.log("object");
      await this.$store
        .dispatch("admin/viewTeamAction", {
          token: localStorage.token,
          id: id
        })
        .then(
          result => {
            // console.log("getteam", result);
            this.team.name = result[0].name;
            this.team.desc = result[0].description;
            this.team.no_of_items = result[0].no_of_items;
            this.team.deptName = result[0].deptname;
            this.team.status = result[0].status;
            this.team.deptId = result[0].department_id;
            // this.team.name = result[0].name
            // console.log(
            //   " this.team.deptName",
            //   this.team.deptName,
            //   this.team.deptId
            // );
          },
          error => {
            console.log(error);
          }
        );
    },
    //FETCH DEPARTMENTS
    async getDepts(token) {
      await this.$store
        .dispatch("admin/getDeptAction", {
          token
        })
        .then(result => {
          console.log("dept", result);
        });
    },
    //FETCH TEAMS
    async getTeams(token) {
      await this.$store
        .dispatch("admin/getTeamAction", {
          token
        })
        .then(
          result => {
            console.log("=======================================");
            console.log("Successfully fetched teams");
            console.log("=======================================");
            this.tableData = result;
            this.isBusy = false;

            // IMPORTANT!
            this.rowDet();
          },
          error => {
            console.log("=======================================");
            console.log("Failed to fetch teamss");
            console.log("=======================================");
            console.log(error);
            this.showAlert(error, "danger");
            console.log("=======================================");
          }
        );
    },
    customLabel() {
      return `${this.team.deptName}`;
    },
    // add new team
    addTeam(token) {
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/teams/admin/add`,
        data: {
          name: this.newTeam.name,
          description: this.newTeam.desc,
          department_id: this.newTeam.dept.id,
          no_of_items: this.newTeam.no_of_items
        },
        headers: {
          Authorization: `Bearer ${token}`
        }
      }).then(
        res => {
          // console.log(res);
          if (res.data.posted.msg === "Team already exists!") {
            let msg = res.data.posted.msg;
            this.showAlert(msg, "danger");
          } else {
            let msg = "Successfully Added";
            this.showAlert(msg, "success");
            this.closeAddTeam();
            this.getTeams(this.token);
            this.addTeamActivityLogs(this.token, this.newTeam.name);
          }
        },
        error => {
          console.log(error.response.data.error);
          let msg = error.response.data.error;
          this.showAlert(msg, "danger");
        }
      );
    },
    //update team details
    async editTeamDetails(token) {
      await this.$store
        .dispatch("admin/editTeamAction", {
          token,
          id: this.team.id,
          name: this.team.name,
          description: this.team.desc,
          department_id: this.selectedDept.id,
          no_of_items: this.team.no_of_items,
          status: this.team.status
        })

        .then(res => {
          // console.log(res);
          let msg = res.data.patched.msg;
          this.showAlert(msg, "success");
          this.close();
          this.getTeams(this.token);
        })
        .catch(err => {
          console.log(err.response.data.error);
          let msg = err.response.data.error;
          this.showAlert(msg, "danger");
        });
    },
    //activity log for adding team
    async addTeamActivityLogs(token, name) {
      await this.$store
        .dispatch("activityLogsAction", {
          token,
          module: "Add Team",
          table_affected: "teams",
          activity: `Added new team: ${name}`
        })
        .then();
    },
    //PASS DEPT ID FOR UPDATING TEAM DETAILS
    selectDepts() {
      // console.log("object", this.team.deptName);
      this.team.deptId = this.team.deptName.id;
    },
    clearFields() {
      this.newTeam.name = "";
      this.newTeam.desc = "";
      this.newTeam.dept = "";
      this.newTeam.no_of_items = "";
    },
    closeMenu() {
      this.showMenu = false;
    }
  },
  mounted() {
    // CLOSE IF CLICKED OUTSIDE
    var self = this;
    var el = document.getElementById("outsideNotif");
    window.addEventListener(
      "click",
      function(e) {
        if (!el.contains(e.target) && e.target instanceof HTMLElement) {
          self.closeMenu();
        }
      },
      false
    );
  },
  created() {
    this.getDepts(this.token);
    // SET DEFAULT OPEN TAB IN SIDEBAR
    if (localStorage.activeN) {
      var open = [];
      open.push({
        id: 2,
        subID: 2.4,
        colID: "collapse-adminAccess",
        open: false
      });
      this.$store.commit("openPage", open);
    }
    setTimeout(() => {
      // CHECK IF USER IS ALLOWED TO ACCESS THIS PAGE
      var admin_access = localStorage.role;
      if (admin_access.toLowerCase().includes("admin")) {
        console.log("Welcome, admin " + localStorage.fname);

        this.token = localStorage.token;
        // FETCH DEPARTMENTS
        this.getTeams(localStorage.token);

        // ADD TO doneLoader STATE
        this.$store.commit("doneLoad", 13);

        // LOOK FOR THE "ADMIN MODULE" (module_id: 1)
        var access_rights = JSON.parse(localStorage.access_rights_details);
        for (var a = 0; a < access_rights.length; a++) {
          if (access_rights[a].module_id == 1) {
            for (var v = 0; v < access_rights[a].access.length; v++) {
              // GET TEAMS ACTIONS
              if (
                access_rights[a].access[v].action_name
                  .toLowerCase()
                  .includes("team")
              ) {
                this.actions.push({
                  ...access_rights[a].access[v]
                });
              }
            }
          }
        }
      } else {
        this.$router.push({ path: "../../dashboard" });
      }
    }, 501);
  },
  computed: {
    ...mapGetters({
      allDepartments: "admin/getDepartmentList"
    }),
    filterActiveDept() {
      return this.allDepartments.filter(dept => {
        return dept.status == "active";
      });
    },
    records() {
      return this.tableDataComputed.length;
    },
    computedCurrentPage() {
      // console.log(this.currentPage);
      if (this.records == 0) {
        return 0;
      } else {
        return this.currentPage;
      }
    },
    computedTotalPage() {
      if (this.records <= this.currentPage) {
        if (this.records == 0) {
          return 0;
        } else {
          return 1;
        }
      } else {
        let totalPage = this.records % this.perPage;
        if ((totalPage = 0)) {
          return parseInt(this.records / this.perPage);
        } else {
          return parseInt(this.records / this.perPage) + 1;
        }
      }
    },
    tableDataComputed() {
      // return this.tableData
      return this.tableData.filter(data => {
        return (
          data.teamname.toLowerCase().includes(this.find.toLowerCase()) ||
          data.deptname.toLowerCase().includes(this.find.toLowerCase()) ||
          data.status.toLowerCase().includes(this.find.toLowerCase())
        );
      });
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
