<template>
  <div class="pageNotFound">
        <div class="cont">
            <div class="pageNotFoundTitle">
                404
            </div>
            <div class="reasons">
                    It seems like the page you're trying to navigate is missing or perhaps 
                    it doesn't exist in the first place.
                    <br>
                    <div> Make sure that the URL is correct but if you think a page is missing, please contact the <strong>ITG</strong> for assisstance. <br> Thank you. <span> &emsp;- Information Technology Group, Biotech Farms Inc.</span></div>
                    <br><br>
                    <button class="btn-positive2" v-b-tooltip.hover title="Go to Dashboard" @click="goHome()">
                        <fa :icon="['fa', 'desktop']" /> &nbsp; Go to Dashboard
                    </button>
            </div>
        </div>
  </div>
</template>

<script>
export default {
    methods: {
        goHome() {
            this.$router.push('../dashboard');
        }
    }
}
</script>

<style scoped lang="scss">
.pageNotFound {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont {
    width: 50%;
    height: fit-content;
}
.pageNotFoundTitle {
    font-size: 150px;
}
.reasons {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
.reasons button {
    line-height: initial;
}
.reasons div {
    font-weight: normal;
    font-size: 14px;
    margin-top: 20px;
}
.reasons div span{
    font-style: italic;
    font-size: 12px;
    color: #adadad;
}
</style>