<template>
<div id="scrollrr" class="scrollrr">
    <div class="formCont">
        <section>
            <div class="formSection">
                <div class="formArticle">
                    <!-- <header> </header> -->
                    <table class=paging>
                        <thead>
                            <tr class="tab_no_border">
                                <td colspan="18" class="tab_no_border" align="left">
                                    <div class="formHeader">
                                        <div>  <img class="formLogo1" src="/logos/bfi_full_1.png" alt="applicant name"> </div>
                                        <div> <div class="formSub"><b>{{ dates }}</b></div> </div>
                                        <br>
                                    </div>
                                </td>
                            </tr>
                            <tr class="tab_head">
                                <td ><div class="tab_name text_b">System Users</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Registered walk ins</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Permitted to TAKE exams</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Permiited to RETAKE exams</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Endorsed to other dept.</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Endorse for assessment</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Scheduled for assessment</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Rated AIFs</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Shortlisted</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Job Offers</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Deployed</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Changed deployment date</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Added Referrals</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Kept for Reference</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Returned Applicants</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Blacklisted</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Rejected</div></td>
                                <td class="tab_extra text_b"><div class="tab_name_rotate">Log ins</div></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(data, d) in fData" :key="'d'+d">
                                <!-- <td class="tab_value">Employee Name Here</td> -->
                                <td class="tab_value text_b">
                                    <div class="tab_name">
                                        {{ (data.FNM == ''? 'Unknown User : '+data.EID : data.FNM)}}
                                    </div>
                                </td>
                                <td :class="`tab_value `+(data.WIR > 0? `text_b_nums`:'')">{{ data.WIR }}</td>
                                <td :class="`tab_value `+(data.ONX > 0? `text_b_nums`:'')">{{ data.ONX }}</td>
                                <td :class="`tab_value `+(data.RTK > 0? `text_b_nums`:'')">{{ data.RTK }}</td>
                                <td :class="`tab_value `+(data.EOD > 0? `text_b_nums`:'')">{{ data.EOD }}</td>
                                <td :class="`tab_value `+(data.EFA > 0? `text_b_nums`:'')">{{ data.EFA }}</td>
                                <td :class="`tab_value `+(data.SHL > 0? `text_b_nums`:'')">{{ data.SHL }}</td>
                                <td :class="`tab_value `+(data.IAF > 0? `text_b_nums`:'')">{{ data.IAF }}</td>
                                <td :class="`tab_value `+(data.SHL > 0? `text_b_nums`:'')">{{ data.SHL }}</td>
                                <td :class="`tab_value `+(data.JOB > 0? `text_b_nums`:'')">{{ data.JOB }}</td>
                                <td :class="`tab_value `+(data.DPL > 0? `text_b_nums`:'')">{{ data.DPL }}</td>
                                <td :class="`tab_value `+(data.CDD > 0? `text_b_nums`:'')">{{ data.CDD }}</td>
                                <td :class="`tab_value `+(data.ADR > 0? `text_b_nums`:'')">{{ data.ADR }}</td>
                                <td :class="`tab_value `+(data.KFR > 0? `text_b_nums`:'')">{{ data.KFR }}</td>
                                <td :class="`tab_value `+(data.RAP > 0? `text_b_nums`:'')">{{ data.RAP }}</td>
                                <td :class="`tab_value `+(data.BLK > 0? `text_b_nums`:'')">{{ data.BLK }}</td>
                                <td :class="`tab_value `+(data.RJC > 0? `text_b_nums`:'')">{{ data.RJC }}</td>
                                <td :class="`tab_value `+(data.LOG > 0? `text_b_nums`:'')">{{ data.LOG }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <!-- <tr><td>Generated by: {{ generatedBy }}</td></tr> -->
                        </tfoot>
                    </table>
                    <!-- <footer>(repeated footer)</footer> -->
                </div>
            </div>
        </section>
    </div>

    <button id="printr" class="printr" @click="prints()">
        <fa :icon="['fa', 'print']" />
    </button>
</div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import io from "socket.io-client";

export default {
    data() {
        return {
            reportData: [],
            errorMess: "",
            dates: "",
            repID: "",
            generatedBy: "",
            generatorInfo: [],
            today: moment(new Date()).format("MMMM, DD YYYY"),
            userActivities: [],
            usage: [],
            logs: [],

            fData: []
        }
    },
    methods: {
        prints() {
            // this.notifyAll();
            document.getElementById("scrollrr").classList.remove("scrollrr");
            document.getElementById("printr").style.display = "none";
            window.print();
        },
        async getReportData(token, from, to, userID) {

            // GET LIST
            await axios({
                method: "GET",
                url: `${this.$axios.defaults.baseURL}/users/notifications/get?from=${from}&to=${to}`,
                headers: {
                    Authorization: `Bearer ${token}`
                }
                }).then(
                    res => {
                        this.usage = res.data.get;
                        var usage = this.usage;
                        if(usage.length > 0) {
                            // GET ALL LIST OF EMPLOYEE IDs
                            var empIDs = usage.map(data => data.userID).filter((value, index, self) => self.indexOf(value) === index);

                            // GET ALL ACTIONS MADE BY EACH EMPLOYEE BY ID
                            var acts = [];
                            for(var i=0; i < empIDs.length; i++) {
                                var act = usage.filter(data => {
                                    // if(data.userID == empIDs[i]) {
                                    //     console.log(data.userID+" - "+empIDs[i]);
                                    // }
                                    return ( data.userID == empIDs[i] );
                                });
                                acts.push( { act: act, id: empIDs[i] } );
                            }
                            
                            // COUNT UNIQUE ACTIONS MADE PER EMPLOYEE
                            var empData = [];
                            for(var e=0; e < acts.length; e++) {
                                var temp = acts[e].act;
                                // console.log(temp);
                                for(var a=0; a < temp.length; a++) {
                                    // Walk-in Registration
                                    var WIR = temp.filter(data => { return ( data.action.split(" - ")[1] == "Walk-in Registration"); });
                                    var ONX = temp.filter(data => { return ( data.action.split(" - ")[1] == "Online Exam"); });
                                    var RTK = temp.filter(data => { return ( data.action.split(" - ")[1] == "Retake"); });
                                    var EOD = temp.filter(data => { return ( data.action.split(" - ")[1] == "Endorse to other Department"); });
                                    var EFA = temp.filter(data => { return ( data.action.split(" - ")[1] == "Endorse For Assessment"); });
                                    var SHL = temp.filter(data => { return ( data.action.split(" - ")[1] == "Shortlist"); });
                                    var JOB = temp.filter(data => { return ( data.action.split(" - ")[1] == "Job Offer"); });
                                    var DPL = temp.filter(data => { return ( data.action.split(" - ")[1] == "Deploy"); });
                                    var KFR = temp.filter(data => { return ( data.action.split(" - ")[1] == "Keep for Reference"); });
                                    var BLK = temp.filter(data => { return ( data.action.split(" - ")[1] == "Blacklist"); });
                                    var RJC = temp.filter(data => { return ( data.action.split(" - ")[1] == "Reject"); });
                                    var RAP = temp.filter(data => { return ( data.action.split(" - ")[1] == "Return Applicant"); });
                                    var CRS = temp.filter(data => { return ( data.action.split(" - ")[1] == "Create Schedule"); });
                                    var IAF = temp.filter(data => { return ( data.action.split(" - ")[1] == "Rate IAF"); });
                                    var ADR = temp.filter(data => { return ( data.action.split(" - ")[1] == "Add Referral"); });
                                    var CDD = temp.filter(data => { return ( data.action.split(" - ")[1] == "Change Deployed Date"); });
                                    var FNM = temp[a].userFirstName+' '+temp[a].userLastName;
                                    var EID = temp[a].userID;
                                }

                                empData.push( {
                                    WIR: WIR.length,
                                    ONX: ONX.length,
                                    RTK: RTK.length,
                                    EOD: EOD.length,
                                    EFA: EFA.length,
                                    SHL: SHL.length,
                                    JOB: JOB.length,
                                    DPL: DPL.length,
                                    KFR: KFR.length,
                                    BLK: BLK.length,
                                    RJC: RJC.length,
                                    RAP: RAP.length,
                                    CRS: CRS.length,
                                    IAF: IAF.length,
                                    ADR: ADR.length,
                                    CDD: CDD.length,
                                    LOG: 0, // Usage Data has no records with user logins (can be found in the logs)
                                    FNM: FNM,
                                    EID: parseInt(EID),
                                });
                            }
                            // MOVE TI FINAL VARIABLE
                            this.fData = empData;
                        }
                    },
                    error => {console.log(error);});

            // GET ALL LOGS
            await axios({
                method: "POST",
                url: `${this.$axios.defaults.baseURL}/users/view/logs`,
                headers: { "Content-Type": "application/json",  Authorization: "Bearer " + token },
                data: { date: from, dateTo: to }
                }).then(
                    result => {
                        this.logs = result.data.posted;
                        var logs = this.logs;
                        // console.log(logs);
                        if(logs.length > 0) {
                            // GET ALL LIST OF EMPLOYEE IDs
                            var empIDs = logs.map(data => data.id).filter((value, index, self) => self.indexOf(value) === index);

                            // GET ALL ACTIONS MADE BY EACH EMPLOYEE BY ID
                            var acts = [];
                            for(var i=0; i < empIDs.length; i++) {
                                var act = logs.filter(data => {
                                    // if(data.userID == empIDs[i]) {
                                    //     console.log(data.userID+" - "+empIDs[i]);
                                    // }
                                    return ( data.id == empIDs[i] );
                                });
                                acts.push( { act: act, id: empIDs[i] } );
                            }

                            // COUNT UNIQUE ACTIONS MADE PER EMPLOYEE
                            var empData = [];
                            for(var e=0; e < acts.length; e++) {
                                var temp = acts[e].act;
                                // console.log(temp);
                                for(var a=0; a < temp.length; a++) {
                                    var EID = temp[a].id;
                                    var FNM = temp[a].name;
                                    var LOG = temp.filter(data => { return ( data.activity.includes("Logged")); });
                                    var EOD = temp.filter(data => { return ( 
                                        data.activity.includes("Endorsed applicant") || data.activity.includes("Endorsed to"));
                                    });
                                    var CRS = temp.filter(data => { return ( data.activity.includes("Created assessment")); });
                                    var KFR = temp.filter(data => { return ( data.activity.includes("changed status to kept for")); });
                                    var ONX = temp.filter(data => { return ( 
                                        data.activity.includes("to online exam") || data.activity.includes("Online exam for"));
                                    });
                                    var BLK = temp.filter(data => { return ( data.activity.includes("Blacklisted applicant")); });
                                    var EFA = temp.filter(data => { return ( data.activity.includes("Endorsed for assessment")); });
                                    var RTK = temp.filter(data => { return ( data.activity.includes("Retake online exam")); });
                                    var SHL = temp.filter(data => { return ( data.activity.includes("Shortlisted applicant")); });
                                    var JOB = temp.filter(data => { return ( data.activity.includes("Job offer")); });
                                    var DPL = temp.filter(data => { return ( data.activity.includes("Deployed applicant")); });
                                    var RJC = temp.filter(data => { return ( 
                                        data.activity.includes("status to reject") || data.activity.includes("Rejected applicant"));
                                    });
                                    var RAP = temp.filter(data => { return ( data.activity.includes("Return applicant")); });
                                    var IAF = temp.filter(data => { return ( data.activity.includes("Rated IAF of applicant")); });
                                    var ADR = temp.filter(data => { return ( data.activity.includes("Added referral for")); });
                                    var CDD = temp.filter(data => { return ( data.activity.includes("Changed deployment date")); });
                                    var LOG = temp.filter(data => { return ( data.activity.includes("Log")); });
                                    var WIR = temp.filter(data => { return ( data.activity.includes("Receive")); });
                                }

                                this.fData.push( {
                                    ONX: ONX.length,
                                    RTK: RTK.length,
                                    EOD: EOD.length,
                                    EFA: EFA.length,
                                    SHL: SHL.length,
                                    JOB: JOB.length,
                                    DPL: DPL.length,
                                    KFR: KFR.length,
                                    BLK: BLK.length,
                                    RJC: RJC.length,
                                    RAP: RAP.length,
                                    CRS: CRS.length,
                                    IAF: IAF.length,
                                    ADR: ADR.length,
                                    CDD: CDD.length,
                                    LOG: LOG.length,
                                    WIR: WIR.length,
                                    FNM: FNM,
                                    EID: parseInt(EID),
                                });
                            }

                            // RESORT DATA TO AVOID DUCPLICATES
                            // GET ALL LIST OF EMPLOYEE IDs
                            var tempo = this.fData;
                            var empIDs = tempo.map(data => data.EID).filter((value, index, self) => self.indexOf(value) === index);

                            // GET ALL ACTIONS MADE BY EACH EMPLOYEE BY ID
                            var acts = [];
                            for(var i=0; i < empIDs.length; i++) {
                                var act = tempo.filter(data => {
                                    return ( data.EID == empIDs[i] );
                                });
                                acts.push( { act: act, id: parseInt(empIDs[i]) } );
                            }

                            // SEPARATE DUCPLICATED ARRAYS FROM SINGLE ARRAYs VALUES 
                            // console.log(this.fData);
                            var tem = [];
                            var tem2 = [];
                            var tem3 = [];
                            for(var a=0; a < acts.length; a++) {
                                tem = acts[a].act;
                                if(tem.length == 2) { // specified to 2 because there are only 2 sets of data to be meregs per user

                                    tem3.push({act: acts[a].act, id: acts[a].id});
                                }
                                else {
                                    tem2.push(...acts[a].act); // THIS WILL BE USED AS TEH FINAL DATA THAT HAS NO DUPLICATE
                                }
                            }
                            

                            // console.log("===============================");
                            // console.log("Sample Data");
                            // console.log("===============================");
                            // console.log(tem2);
                            // console.log(tem3);
                            // console.log("===============================");
                            

                            // POPULATE fData 
                            this.fData = tem2;

                            // MERGE DUPLICATED DATA
                            for(var r=0; r < tem3.length; r++) {
                                // console.log(tem3[r].act[0].FNM+' - '+tem3[r].act[0].ONX+' - '+tem3[r].act[1].ONX);
                                // console.log("===============================");

                                // ONLINE EXAM
                                if( parseInt(tem3[r].act[0].ONX) > parseInt(tem3[r].act[1].ONX)) { var t_ONX = parseInt(tem3[r].act[0].ONX) }
                                else { var t_ONX = parseInt(tem3[r].act[1].ONX); }

                                // RETAKE EXAM
                                if( parseInt(tem3[r].act[0].RTK) > parseInt(tem3[r].act[1].RTK)) { var t_RTK = parseInt(tem3[r].act[0].RTK) }
                                else { var t_RTK = parseInt(tem3[r].act[1].RTK); }

                                // ENDORSE TO OTHER DEPARTMENT 
                                if( parseInt(tem3[r].act[0].EOD) > parseInt(tem3[r].act[1].EOD)) { var t_EOD = parseInt(tem3[r].act[0].EOD); }
                                else { var t_EOD = parseInt(tem3[r].act[1].EOD); }

                                // ENDORSE FOR ASSESSMENT
                                if( parseInt(tem3[r].act[0].EFA) > parseInt(tem3[r].act[1].EFA)) { var t_EFA = parseInt(tem3[r].act[0].EFA); }
                                else { var t_EFA = parseInt(tem3[r].act[1].EFA); }

                                // SHORTLISTED
                                if( parseInt(tem3[r].act[0].SHL) > parseInt(tem3[r].act[1].SHL)) { var t_SHL = parseInt(tem3[r].act[0].SHL); }
                                else { var t_SHL = parseInt(tem3[r].act[1].SHL); }

                                // JOB OFFER
                                if( parseInt(tem3[r].act[0].JOB) > parseInt(tem3[r].act[1].JOB)) { var t_JOB = parseInt(tem3[r].act[0].JOB); }
                                else { var t_JOB = parseInt(tem3[r].act[1].JOB); }

                                // DEPLOYED
                                if( parseInt(tem3[r].act[0].DPL) > parseInt(tem3[r].act[1].DPL)) { var t_DPL = parseInt(tem3[r].act[0].DPL); }
                                else { var t_DPL = parseInt(tem3[r].act[1].DPL); }

                                // KEEP FOR REFERRENCE
                                if( parseInt(tem3[r].act[0].KFR) > parseInt(tem3[r].act[1].KFR)) { var t_KFR = parseInt(tem3[r].act[0].KFR); }
                                else { var t_KFR = parseInt(tem3[r].act[1].KFR); }

                                // BLACKLISTED
                                if( parseInt(tem3[r].act[0].BLK) > parseInt(tem3[r].act[1].BLK)) { var t_BLK = parseInt(tem3[r].act[0].BLK); }
                                else { var t_BLK = parseInt(tem3[r].act[1].BLK); }

                                // REJECTED
                                if( parseInt(tem3[r].act[0].RJC) > parseInt(tem3[r].act[1].RJC)) { var t_RJC = parseInt(tem3[r].act[0].RJC); }
                                else { var t_RJC = parseInt(tem3[r].act[1].RJC); }

                                // RETURNED APPLICANT
                                if( parseInt(tem3[r].act[0].RAP) > parseInt(tem3[r].act[1].RAP)) { var t_RAP = parseInt(tem3[r].act[0].RAP); }
                                else { var t_RAP = parseInt(tem3[r].act[1].RAP); }

                                // RETURNED APPLICANT
                                if( parseInt(tem3[r].act[0].CRS) > parseInt(tem3[r].act[1].CRS)) { var t_CRS = parseInt(tem3[r].act[0].CRS); }
                                else { var t_CRS = parseInt(tem3[r].act[1].CRS); }

                                // RATED IAF
                                if( parseInt(tem3[r].act[0].IAF) > parseInt(tem3[r].act[1].IAF)) { var t_IAF = parseInt(tem3[r].act[0].IAF); }
                                else { var t_IAF = parseInt(tem3[r].act[1].IAF); }

                                // ADDED REFERRAL
                                if( parseInt(tem3[r].act[0].ADR) > parseInt(tem3[r].act[1].ADR)) { var t_ADR = parseInt(tem3[r].act[0].ADR); }
                                else { var t_ADR = parseInt(tem3[r].act[1].ADR); }

                                // CHANGED DEPLOYMENT DATE
                                if( parseInt(tem3[r].act[0].CDD) > parseInt(tem3[r].act[1].CDD)) { var t_CDD = parseInt(tem3[r].act[0].CDD); }
                                else { var t_CDD = parseInt(tem3[r].act[1].CDD); }

                                // LOG INS
                                if( parseInt(tem3[r].act[0].LOG) > parseInt(tem3[r].act[1].LOG)) { var t_LOG = parseInt(tem3[r].act[0].LOG); }
                                else { var t_LOG = parseInt(tem3[r].act[1].LOG); }

                                // REGISTERED APPLICANT WALK INS
                                if( parseInt(tem3[r].act[0].WIR) > parseInt(tem3[r].act[1].WIR)) { var t_WIR = parseInt(tem3[r].act[0].WIR); }
                                else { var t_WIR = parseInt(tem3[r].act[1].WIR); }

                                // PUSH TEH REMAINING DATA
                                this.fData.push(
                                    {
                                        ONX: t_ONX,
                                        RTK: t_RTK,
                                        EOD: t_EOD,
                                        EFA: t_EFA,
                                        SHL: t_SHL,
                                        JOB: t_JOB,
                                        DPL: t_DPL,
                                        KFR: t_KFR,
                                        BLK: t_BLK,
                                        RJC: t_RJC,
                                        RAP: t_RAP,
                                        CRS: t_CRS,
                                        IAF: t_IAF,
                                        ADR: t_ADR,
                                        CDD: t_CDD,
                                        LOG: t_LOG,
                                        WIR: t_WIR,
                                        FNM: tem3[r].act[1].FNM,
                                        EID: parseInt(tem3[r].act[1].EID),
                                    }
                                );
                            }

                            // SORT ALPHABETICALLY
                            console.log("===============================");
                            this.fData.sort((a, b) => a.FNM.localeCompare(b.FNM))
                            console.log("===============================");
                        }
                    },
                    error => {console.log(error);});
        },
        // generator(token, repID) {
        //     var id = repID.split("_")[1];
        //     axios({
        //         method: "GET",
        //         url: `${this.$axios.defaults.baseURL}/users/find?u=${id}`,
        //         headers: { "Content-Type": "application/json",  Authorization: "Bearer " + token },
        //         }).then(
        //             result => {
        //                 var info = result.data.view;
        //                 this.generatorInfo = {
        //                     name: info[0].firstName +" "+ info[0].lastName,
        //                     role: info[0].role,
        //                     pos: info[0].position,
        //                     dept: info[0].department,
        //                     team: info[0].team,
        //                     mobile: info[0].mobile,
        //                     email: info[0].email,
        //                     id: info[0].userID
        //                 };
        //                 console.log("============================================");
        //                 console.log("Reporter's Info");
        //                 console.log("============================================");
        //                 console.log(this.generatorInfo);
        //                 console.log("============================================");
        //             },
        //             error => { 
        //                 console.log(error);  
        //             });
        // },
    },
    created() {
        var token = this.$route.query.token;
        var from = this.$route.query.from;
        var to = this.$route.query.to;
        var userID = this.$route.query.userID;
        var reportID = this.$route.query.repID;
        this.repID = reportID;

        if(from == "" || to == "") {
            this.dates = "No dates";
        }
        else {
            this.dates = String(moment(from).format("MMMM, DD YYYY")+" - "+moment(to).format("MMMM, DD YYYY"));

            // GET ALL REPORTS
            this.getReportData(token, from, to, userID);

            // GET GENERATOR'S INFO
            // this.generator(token, reportID);
        }

        // ADD SCROLLER
        window.addEventListener("afterprint", function() {
            document.getElementById("printr").style.display = "block";
            document.getElementById("scrollrr").classList.add("scrollrr");
        });

        // REMOVE SCROLLER (To automatically break pages)
        document.addEventListener("keydown", function(e) {
                // CTRL + P
                if (e.ctrlKey && e.keyCode == 80) {
                    document.getElementById("printr").style.display = "none";
                    document.getElementById("scrollrr").classList.remove("scrollrr");
                }
            },
            false
        );
    },
    computed: {

    }
}
</script>

<style scoped lang="scss">

.formLogo {
    width: auto;
    height: 90px;
    -webkit-print-color-adjust: exact;
    // border: 1px solid red;
}
header, footer {
    width: 100%; height: .4in;
}

header {
    position: absolute;
    top: 0;
}
</style>