<template>
    <div class="doneCenter">
        <div class="doneHold">
            <div class="doneDiv">
                <div class="doneLogoBG"></div>
            </div>
            <div class="doneDiv">
                <div class="doneLogo"></div>
            </div>
            <div class="doneText">
              <div class="doneMain">
                You're almost done!
              </div>
              <div class="doneSub">
                Thank you for taking the Online Exam. Please click the botton below to proceed to <br> IQ and Behavioral Exam.
              </div>
              <button class="btn-positive2 xtra" @click="proceedToIQBE()">
                  Proceed &nbsp; <fa :icon="['fa', 'arrow-alt-circle-right']" />
              </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  methods: {
    proceedToIQBE() {
      this.$router.push({ path: "iqbeLogin" });
    }
  }
}
</script>

<style lang="scss" scoped>
.xtra {
  z-index: 2000;
}
.doneText {
  height: 200px;
  width: 600px;
  text-align: center;
  padding: 10px;
  padding-top: 30px;
}
.doneHold {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doneDiv {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doneCenter {
  height: 100vh;
  width: 100%;
} 
.doneLogo {
  background-image: url("/logos/bfiLeafCenterW.png");
  background-size: cover;
  width: 100px;
  height: 100px;
}
.doneLogoBG {
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, #005e2d, #00a651, #a6ce39, #f7ffe0);
  background-size: 300% 300%;
  border-radius: 100px;
  animation: gradient 4s ease infinite;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
</style>