<template>
<div id="scrollrr" class="scrollrr">
    <div class="formCont">
        <section>
            <div class="formSection">
                <div class="formArticle">
                    <div class="formHeader">
                        <div class="centerAl">  <img class="formLogo" src="/logos/bfi_full.png" alt="applicant name"> </div>
                        <div class="centerAl"> <div class="formLabel"> BO.6, BANGA, SOUTH COTABATO </div> </div>
                        <div class="centerAl"> <div class="formSub"> EMPLOYMENT REFERRAL FORM </div> </div>
                        <br>
                    </div>
                    <div class="formData">

                        <table class="formBorder">
                            <tr class="rowMargin">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <!-- REFERRER -->
                            <tr class="rowMargin">
                                <td class="formDivide" colspan="12">
                                    <div class="formLabel2">Referrer's Information</div>
                                </td>
                            </tr>
                            <tr class="rowMargin">
                                <td colspan="3" class="formLabel">Name</td>
                                <td colspan="9" class="formAnswer">: {{ referrence.referrer_name}}</td>
                            </tr>
                            <tr class="rowMargin">
                                <td colspan="3" class="formLabel">Department </td>
                                <td colspan="9" class="formAnswer">: {{ referrence.referrer_dept}}</td>
                            </tr>
                            <tr class="rowMargin">
                                <td colspan="3" class="formLabel">Position</td>
                                <td colspan="9" class="formAnswer">: {{ referrence.referrer_position}}</td>
                            </tr>
                            <tr class="rowMargin">
                                <td colspan="3" class="formLabel">Employee ID Number </td>
                                <td colspan="9" class="formAnswer">: {{ referrence.referrer_id}}</td>
                            </tr>
                            <tr class="rowMargin">
                                <td colspan="3" class="formLabel">Contact Number</td>
                                <td colspan="9" class="formAnswer">: {{ referrence.referrer_contact}}</td>
                            </tr>

                            <!-- REFERRAL -->
                            <tr class="rowMargin">
                                <td class="formDivide" colspan="12">
                                    <div class="formLabel2">Referral's Information</div>
                                </td>
                            </tr>
                            <tr class="rowMargin">
                                <td colspan="3" class="formLabel">Name</td>
                                <td colspan="9" class="formAnswer">: {{ referrence.referral_name}}</td>
                            </tr>
                            <tr class="rowMargin">
                                <td colspan="3" class="formLabel">Contact Number </td>
                                <td colspan="9" class="formAnswer">: {{ referrence.referral_contact}}</td>
                            </tr>
                            <tr class="rowMargin">
                                <td colspan="3" class="formLabel">Position Applying for</td>
                                <td colspan="9" class="formAnswer">: {{ referrence.referral_position_applying}}</td>
                            </tr>
                            <tr class="rowMargin">
                                <td colspan="3" class="formLabel">Relationship to Referrer </td>
                                <td colspan="9" class="formAnswer">: {{ referrence.referral_relationship_referrer}}</td>
                            </tr>

                            <tr class="rowMargin"> <th colspan="12"> <div class="spacr"></div> </th> </tr>

                            <tr class="rowMargin">
                                <th colspan="6">
                                    <div class="alignRight">
                                        <div class="applicantName">
                                            {{ referrence.referrer_name }}
                                        </div>
                                    </div>
                                    <div class="alignRight">
                                        <div class="applicantSignature">
                                            Referrer's Signature
                                        </div>
                                    </div>
                                </th>
                                <th colspan="6">
                                    <div class="alignLeft">
                                        <div class="applicantName">
                                            -
                                        </div>
                                    </div>
                                    <div class="alignLeft">
                                        <div class="applicantSignature">
                                            Hiring Officer | Signature/Date of Application
                                        </div>
                                    </div>
                                </th>
                            </tr>

                            <tr class="rowMargin">
                                <th colspan="12">
                                    <div class="noterr">
                                        In order to be eligible for a cash incentive, this form must be completed, signed and attached to the original resume or application before submission to Biotech Farms Inc. Hiring Center or People Group Office.
                                    </div>
                                </th>
                            </tr>

                            <tr class="rowMargin">
                                <th colspan="12">
                                    <div class="noterr" style="font-style: italic; text-align: left">
                                        Disclaimer: This form is intended for KCC Malls and its Business Affiliates' use only. The company is not liable for any unauthorized use of this form and it's strictly not for sale.
                                    </div>
                                </th>
                            </tr>
                            
                        </table>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <button id="printr" class="printr" @click="prints()">
        <fa :icon="['fa', 'print']" />
    </button>
</div>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
    data() {
        return {
            refData: []
        }
    },
    methods: {
        prints() {
            document.getElementById("scrollrr").classList.remove("scrollrr");
            document.getElementById("printr").style.display = "none";
            window.print();
        }
    },
    created() {
        var token = this.$route.query.token;
        var id = this.$route.query.id;

        // ADD SCROLLER
        window.addEventListener("afterprint", function() {
            document.getElementById("printr").style.display = "block";
            document.getElementById("scrollrr").classList.add("scrollrr");
        });

        // REMOVE SCROLLER (To automatically break pages)
        document.addEventListener("keydown", function(e) {
                // CTRL + P
                if (e.ctrlKey && e.keyCode == 80) {
                    document.getElementById("printr").style.display = "none";
                    document.getElementById("scrollrr").classList.remove("scrollrr");
                }
            },
            false
        );

        axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/users/referral-form/${id}`,
            headers: {
            Authorization: `Bearer ${token}`
            },
        })
        .then(
            res => {
                this.refData = res.data.view[0];
            }
        );
    },
    computed: {
        referrence() {
            // REFERRAL FORM DATA
            // console.log(this.refData);
            if(this.refData != undefined) {
                return this.refData;
            }
            else {
                return [];
            }
        }
    }
}
</script>

<style scoped lang="scss">

.formLogo {
    width: auto;
    height: 90px;
    -webkit-print-color-adjust: exact;
    // border: 1px solid red;
}
</style>