<template>
  <div>
      <TakeExam/>
  </div>
</template>

<script>
import TakeExam from "../components/Exams/takeExam";

export default {
    layout: "examTaking",
    components: {
        TakeExam
    }
}
</script>

<style>

</style>