<template>
  <div class="mainContainer">
    <loader v-show="loader" />
    <div class="cardBody2">
      <div>
        <h1>First Time Login</h1>
        <p>Please reset your password</p>
      </div>
      <!-- <hr class="hrLine" /> -->
      <br>
      <div>
        <!-- <label for="" class="formLabel">Enter new password</label> -->
        <b-row class="formRow">
          <input
            class="inputFirstLogin2"
            :type="inpType"
            placeholder="Enter new password"
            @keyup.enter="checkSubmit()"
            v-model="$v.form.password.$model"
          />

          <fa :icon="['fa', icn]" class="eyeIconPass" @click="show()" />
        </b-row>

        <div class="error" v-if="!$v.form.password.minLength">
          <p class="errorMessageField">
            Password must have at least 8 characters.
          </p>
        </div>
        <!-- <label for="">Re-enter new Password:</label> -->
        <b-row>
          <input
            class="inputFirstLogin2"
            :type="inpType2"
            placeholder="Re-enter new password"
            @keyup.enter="checkSubmit()"
            v-model="$v.form.repassword.$model"
          />

          <fa :icon="['fa', icn2]" class="eyeIconPass" @click="show2()" />
        </b-row>
        <div class="error" v-if="!$v.form.repassword.sameAsPassword">
          <p class="errorMessageField">Passwords must be identical.</p>
        </div>
        <button class="submitButton2" type="submit" @click="checkSubmit()">
          Submit
        </button>
        <!-- TODO <label for="">Enter new password:</label> -->
      </div>
    </div>
    <div>
      <b-alert
        :show="alert.showAlert"
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <fa
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}</b-alert
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { required, minLength, between, sameAs } from "vuelidate/lib/validators";
import loader from "../components/loader";

export default {
  components: {
    loader
  },
  data() {
    return {
      loader: false,
      icn: "eye-slash",
      icn2: "eye-slash",
      inpType: "password",
      inpType2: "password",

      form: {
        password: "",
        repassword: ""
      },
      userId: "",
      token: "",
      alert: {
        showAlert: 0,
        variant: "success",
        message: "Please check password."
      }
    };
  },
  validations: {
    form: {
      password: { required, minLength: minLength(8) },
      repassword: { sameAsPassword: sameAs("password") }
    }
  },
  created() {
    this.token = localStorage.token;
    this.userId = localStorage.id;
    this.preventBack();
  },
  methods: {
    checkSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$invalid) {
        console.log("object");
        this.showAlert(this.alert.message, "danger");
      } else {
        console.log("ok");
        this.submitPassword();
      }
    },
    async submitPassword() {
      this.loader = true;
      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/users/change-password/${this.userId}/${this.form.password}`,
        headers: {
          Authorization: `Bearer ${this.token}`
        },
        data: {}
      }).then(
        res => {
          console.log("msg", res.data.patched);
          const msg = res.data.patched.msg;
          this.showAlert(msg, "success");

          // logout after 3 sec..
          setTimeout(() => {
            this.logOuts();
            this.loader = false;
          }, 3000);
        },
        error => {
          console.log(error);
          this.loader = false;
        }
      );
    },
    logOuts() {
      localStorage.removeItem("token");
      localStorage.removeItem("roles");
      localStorage.removeItem("id");
      localStorage.removeItem("deptId");
      localStorage.removeItem("access");

      // window.open(`${process.env.VUE_APP_APP}/index`, "_blank");
      // TODO
      this.$router.push({ path: "/" });

      // window.setTimeout(function() {
      //   this.close();
      //   // window.location.reload();
      // }, 1000);
    },
    show() {
      this.password = !this.password;
      if (this.password == true) {
        this.icn = "eye";
        this.inpType = "text";
      } else {
        this.icn = "eye-slash";
        this.inpType = "password";
      }
    },
    show2() {
      this.password = !this.password;
      if (this.password == true) {
        this.icn2 = "eye";
        this.inpType2 = "text";
      } else {
        this.icn2 = "eye-slash";
        this.inpType2 = "password";
      }
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    preventBack() {
      window.location.hash = "no-back-button";
      window.location.hash = "Again-No-back-button"; //again because google chrome don't insert first hash into history
      window.onhashchange = function() {
        window.location.hash = "no-back-button";
      };
      window.history.forward();
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
