<template>
  <div>
      <IQBE/>
  </div>
</template>

<script>
import IQBE from "../components/Exams/takeIQBE.vue";

export default {
    layout: "examTaking",
    components: {
        IQBE
    }
}
</script>

<style>

</style>