<template>
  <div class="mainContainer">
    <div class="loginForm">
      <div class="logo"></div>

      <div class="appName">IQBE</div>

      <div class="subName">IQ and Behavioral Examination</div>

      <div>
        <input
          type="text"
          class="loginFields"
          placeholder="Enter your email"
          v-model="user.email"
          @keyup.enter="login()"
          :input-attrs="{ autocomplete: true }"
        />

        <div class="passCons">
          <input
            :type="inpType"
            class="loginFields pass"
            placeholder="Enter the given password"
            v-model="user.pass"
            @keyup.enter="login()"
          />

          <div class="eye" @click="show()">
            <fa :icon="['fa', icn]" />
          </div>
        </div>

        <button class="loginButton loginBX" @click="login()">
          <span class="buttonName">Login</span>
        </button>

        <div class="sysLabel">&copy;{{ year }} Biotech Farms Inc.</div>
      </div>
      <div>
        <b-alert
          :show="alert.showAlert"
          :variant="alert.variant"
          @dismissed="alert.showAlert = null"
        >
          <fa
            :icon="
              alert.variant == 'success'
                ? 'check-circle'
                : 'exclamation-triangle'
            "
            class="mr-1"
            style="font-size:20px"
          />
          {{ alert.message }}</b-alert
        >
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      pass: false,
      icn: "eye",
      inpType: "password",
      user: {
        email: "",
        pass: ""
      },
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      }
    };
  },
  created() {
    // CLEAR LOCAL STORAGE
    // localStorage.clear(); // REMOVED SO PEOPLE CAN STILL CONTINUE DOING EXAMS IF BROWSERS OR BROWSER TABS ARE "ACCIDENTALLY CLOSED"
  },
  computed: {
    year() {
      return new Date().getFullYear();
    }
  },
  methods: {
    login() {
      axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/users/applicant/login/IQ-behavioral-exam`,
        data: {
          email: this.user.email.trim(),
          password: this.user.pass.trim()
        }
      }).then(
        result => {
          console.log("GET CATEGORIES: Success");
          console.log(result.data);
          localStorage.catgories = JSON.stringify(
            result.data.patched.categoryArr
          );
          localStorage.token = result.data.patched.token;
          localStorage.applicantID = result.data.patched.applicantID;
          console.log(result.data.patched);

          var catg = result.data.patched.categoryArr;
          var catgID = [];
          var temp = [];
          // ISOLATE CATEGORY IDs
          for (var x = 0; x < catg.length; x++) {
            // PUSH CATEGORY IDs
            catgID.push(catg[x].id);
          }
          // COPY CATEGORY IDs
          temp.push(catgID[0]);
          localStorage.categoryIDs = JSON.stringify(catgID);
          // SET CURRENT CATEGORY
          localStorage.currentCat = catgID[0];
          // SET FINISHED CATEGORY
          localStorage.finished = JSON.stringify(temp);
          // SET UNFINISHED CATEFORIES
          var temp2 = [];
          var categories = JSON.parse(localStorage.categoryIDs);
          for (let c = 0; c < categories.length; c++) {
            if (
              localStorage.currentCat != categories[c] ||
              categories.length == 1
            ) {
              // FETCH & PUSH UNFINFISHED CATEGORIES
              temp2.push(categories[c]);
              localStorage.unfinished = JSON.stringify(temp2);
            }
          }

          // GO TO EXAM
          this.$router.push({ path: "../iqbe" });
        },
        error => {
          localStorage.catgories = [];
          console.log("GET CATEGORIES: Error");
          console.log(error);
          console.log(this.user.email);
          console.log(this.user.pass);
          if (error.response.data.error) {
            this.showAlert(error.response.data.error, "danger");
          } else {
            this.showAlert(error.response.data.patched.msg, "danger");
          }
        }
      );
    },
    show() {
      this.pass = !this.pass;
      console.log(this.pass);
      if (this.pass == true) {
        this.icn = "eye-slash";
        this.inpType = "text";
      } else {
        this.icn = "eye";
        this.inpType = "password";
      }
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    }
  }
};
</script>

<style scoped lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;
.logo {
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  background-image: url("../assets/bfi_gradient.png");
  height: 80px;
  width: 100%;
}
@media only screen and (max-width: 320px), (max-width: 1000px) {
  .logo {
    background-size: 60px;
  }
}
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
