<template>
  <div id="scrollrr" class="scrollrr">
    <div class="formCont">
      <section>
        <div class="formSection">
          <div class="formArticle">
            <!-- BODY / CONTENT -->
            <b-row>
              <b-col v-if="this.data1.length > 0">
                <b-row>
                  <b-col>
                    <div class="formHeader">
                      <div class="centerAl">
                        <img
                          class="formLogo"
                          src="/logos/bfi_full.png"
                          alt="applicant name"
                        />
                      </div>
                      <div class="centerAl">
                        <div class="formLabel">
                          Online Exam &amp; IQBE Results
                        </div>
                      </div>
                      <br />
                    </div>
                  </b-col>
                </b-row>

                <br />

                <b-row>
                  <b-col>
                    <span class="applicantName">
                      Name: <b> {{ applicantName }} </b>
                    </span>
                  </b-col>
                </b-row>

                <br />

                <!-- CATEGORY HEADER -->
                <b-row class="rateExam_header2">
                  <b-col>
                    <b-row>
                      <b-col></b-col>
                      <b-col> Correct Answers </b-col>
                      <b-col> Wrong Answers </b-col>
                      <b-col> Total No. of Items </b-col>
                    </b-row>
                  </b-col>
                </b-row>

                <br />

                <!-- CATEGORIES -->
                <b-row
                  class="rateExam_row3 row3Ex"
                  v-for="(data, e) in data1"
                  :key="'e' + e"
                >
                  <b-col>
                    <b-row>
                      <b-col> {{ data.catgname }} </b-col>
                      <b-col> {{ data.correctanswer }} </b-col>
                      <b-col> {{ data.wronganswer }} </b-col>
                      <b-col> {{ data.total }} </b-col>
                    </b-row>
                  </b-col>
                </b-row>

                <!-- OTHERS -->
                <b-row class="rateExam_row3">
                  <b-col>
                    <b-row v-for="(data, o) in others" :key="'o' + o">
                      <b-col> {{ data.desc }} </b-col>
                      <b-col> {{ data.score }} </b-col>
                      <b-col></b-col>
                      <b-col></b-col>
                    </b-row>
                  </b-col>
                </b-row>

                <!-- FINAL SCORE -->
                <b-row class="rateExam_row3">
                  <b-col>
                    <b-row v-for="(data, s) in totalScores" :key="'s' + s">
                      <b-col>
                        <b>Online Exam {{ data.desc }} </b>
                      </b-col>
                      <b-col>
                        <b> {{ data.score }} </b></b-col
                      >
                      <b-col></b-col>
                      <b-col></b-col>
                    </b-row>
                  </b-col>
                </b-row>
              </b-col>
              <b-col v-else>
                <b-row>
                  <b-col>
                    No Exam Data
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
            <br />

            <!-- IQBE-->
            <b-row>
              <b-col v-if="this.data2.length > 0">
                <br />

                <!-- CATEGORY HEADER -->
                <b-row class="rateExam_header2">
                  <b-col>
                    <b-row>
                      <b-col></b-col>
                      <b-col> Correct Answers </b-col>
                      <b-col> Wrong Answers </b-col>
                      <b-col> Total No. of Items </b-col>
                    </b-row>
                  </b-col>
                </b-row>

                <br />

                <!-- CATEGORIES -->
                <b-row
                  class="rateExam_row3 row3Ex"
                  v-for="(data, e) in data2"
                  :key="'e' + e"
                >
                  <b-col>
                    <b-row>
                      <b-col> {{ data.catgname }} </b-col>
                      <b-col> {{ data.correctanswer }} </b-col>
                      <b-col> {{ data.wronganswer }} </b-col>
                      <b-col> {{ data.total }} </b-col>
                    </b-row>
                  </b-col>
                </b-row>

                <!-- OTHERS -->
                <b-row class="rateExam_row3">
                  <b-col>
                    <b-row v-for="(data, o) in others" :key="'o' + o">
                      <b-col> {{ data.desc }} </b-col>
                      <b-col> {{ data.score }} </b-col>
                      <b-col></b-col>
                      <b-col></b-col>
                    </b-row>
                  </b-col>
                </b-row>

                <!-- FINAL SCORE -->
                <b-row class="rateExam_row3">
                  <b-col>
                    <b-row v-for="(data, s) in totalScoresIQBE" :key="'s' + s">
                      <b-col>
                        <b>IQBE {{ data.desc }} </b>
                      </b-col>
                      <b-col>
                        <b> {{ data.score }} </b></b-col
                      >
                      <b-col></b-col>
                      <b-col></b-col>
                    </b-row>
                  </b-col>
                </b-row>
              </b-col>
              <b-col v-else>
                <b-row>
                  <b-col>
                    No Exam Data
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </div>
        </div>
      </section>
    </div>

    <!-- ALERT MESSAGE -->
    <b-alert
      :show="alert.showAlert"
      :variant="alert.variant"
      @dismissed="alert.showAlert = null"
    >
      <fa
        :icon="
          alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
        "
        class="mr-1"
        style="font-size:20px"
      />
      {{ alert.message }}
    </b-alert>

    <!-- PRINT BUTTON -->
    <button id="printr" class="printr" @click="prints()">
      <fa :icon="['fa', 'print']" />
    </button>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect
  },
  data() {
    return {
      url: this.$axios.defaults.baseURL + "/",
      alert: {
        showAlert: 0,
        variant: "success",
        message: "The username and / or password is Incorrect"
      },
      score: [],
      showButtons: []
    };
  },
  created() {
    var token = this.$route.query.token;
    var id = this.$route.query.id;
    // GET DATA
    this.getExamResults(id, token);
    this.getIQBEData(id, token);

    // ADD SCROLLER
    window.addEventListener("afterprint", function() {
      document.getElementById("printr").style.display = "block";
      document.getElementById("scrollrr").classList.add("scrollrr");
    });

    // REMOVE SCROLLER (To automatically break pages)
    document.addEventListener(
      "keydown",
      function(e) {
        // CTRL + P
        if (e.ctrlKey && e.keyCode == 80) {
          document.getElementById("printr").style.display = "none";
          document.getElementById("scrollrr").classList.remove("scrollrr");
        }
      },
      false
    );
  },
  methods: {
    getExamResults(id, token) {
      this.$store.dispatch("viewExamData", {
        applicantID: id,
        token: token
      });
    },
    getIQBEData(id, token) {
      this.$store.dispatch("viewIQBEData", {
        applicantID: id,
        token: token
      });
    },
    prints() {
      document.getElementById("scrollrr").classList.remove("scrollrr");
      document.getElementById("printr").style.display = "none";
      window.print();
    },
    changeScore(ind) {
      for (let c = 0; c < this.examData.data2.result2s.length; c++) {
        if (ind == c) {
          this.showButtons[c].show = true;
        } else {
          this.showButtons[c].show = false;
        }
      }
      this.showButtons[ind].show = true;
    },
    cancelRating(ind) {
      this.showButtons[ind].show = false;
    },
    saveRating(ind, qID) {
      // console.log(this.score[ind] +" - "+ qID);
      if (this.score[ind]) {
        axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/users/exam/rate`,
          headers: { Authorization: `Bearer ${localStorage.token}` },
          data: {
            id: qID,
            is_correct: this.score[ind]
          }
        }).then(
          res => {
            this.showAlert("Score successfully saved", "success");
            this.$store.dispatch("viewExamData", {
              applicantID: this.applicantID,
              token: localStorage.token
            });
          },
          error => {
            this.showAlert("Failed save the score: " + error, "danger");
          }
        );
      } else {
        this.showAlert("Please enter a score", "danger");
      }
    },
    close() {
      this.$store.commit("closeExamRating", true);
    },
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    }
  },
  computed: {
    examData() {
      return this.$store.state.rateExam;
    },
    iqbeData() {
      return this.$store.state.rateIQBE;
    },
    applicantName() {
      if (this.examData.data) {
        if (
          this.examData.data.applicantFname &&
          this.examData.data.applicantLname
        ) {
          this.applicantID = this.examData.data.userId;
          return (
            this.examData.data.applicantFname +
            " " +
            this.examData.data.applicantLname
          );
        } else {
          return "No Name";
        }
      } else {
        return "No Data";
      }
    },
    data1() {
      if (this.examData.data) {
        if (this.examData.data.results) {
          var final = [];
          for (let d = 0; d < this.examData.data.results.length; d++) {
            var corrects = parseInt(
              this.examData.data.results[d].correctanswer
            );
            var wrongs = parseInt(this.examData.data.results[d].wronganswer);
            var totals = corrects + wrongs;
            final.push({
              catgname: this.examData.data.results[d].catgname,
              correctanswer: this.examData.data.results[d].correctanswer,
              wronganswer: this.examData.data.results[d].wronganswer,
              total: totals
            });
          }
          return final;
        } else {
          return [
            {
              catgname: "No Exam Results",
              correctanswer: "",
              wronganswer: "",
              total: ""
            }
          ];
        }
      } else {
        return [
          {
            catgname: "No Exam Results",
            correctanswer: "",
            wronganswer: "",
            total: ""
          }
        ];
      }
    },
    data2() {
      if (this.iqbeData.data) {
        if (this.iqbeData.data.results) {
          var final = [];
          for (let d = 0; d < this.iqbeData.data.results.length; d++) {
            var corrects = parseInt(
              this.iqbeData.data.results[d].correctanswer
            );
            var wrongs = parseInt(this.iqbeData.data.results[d].wronganswer);
            var totals = corrects + wrongs;
            final.push({
              catgname: this.iqbeData.data.results[d].catgname,
              correctanswer: this.iqbeData.data.results[d].correctanswer,
              wronganswer: this.iqbeData.data.results[d].wronganswer,
              total: totals
            });
          }
          return final;
        } else {
          return [
            {
              catgname: "No Exam Results",
              correctanswer: "",
              wronganswer: "",
              total: ""
            }
          ];
        }
      } else {
        return [
          {
            catgname: "No Exam Results",
            correctanswer: "",
            wronganswer: "",
            total: ""
          }
        ];
      }
    },
    others() {
      if (this.examData.data2) {
        if (this.examData.data2.result2s) {
          var Fscore = 0;
          for (let c = 0; c < this.examData.data2.result2s.length; c++) {
            // console.log("Others: "+ this.examData.data2.result2s[c].score);
            if (
              this.examData.data2.result2s[c].score != null ||
              this.examData.data2.result2s[c].score == ""
            ) {
              var score = parseInt(this.examData.data2.result2s[c].score);

              Fscore = Fscore + score;
            } else {
              Fscore = Fscore + 0;
            }
          }
          return [
            {
              desc: "Others",
              score: Fscore
            }
          ];
        } else {
          return [
            {
              desc: "Others",
              score: ""
            }
          ];
        }
      } else {
        return [
          {
            desc: "Others",
            score: ""
          }
        ];
      }
    },
    totalScores() {
      if (this.others) {
        var Fcorrect = 0;
        var Fwrong = 0;
        var Items = 0;
        var totalItems = [];
        if (this.examData.data) {
          for (let c = 0; c < this.examData.data.results.length; c++) {
            if (
              this.examData.data.results[c].correctanswer != null ||
              (this.examData.data.results[c].correctanswer != "" &&
                this.examData.data.results[c].wronganswer != null) ||
              this.examData.data.results[c].wronganswer != ""
            ) {
              // console.log("Correct: "+ this.examData.data.results[c].correctanswer);
              // console.log("Wrong: "+ this.examData.data.results[c].wronganswer);
              var correct = parseInt(
                this.examData.data.results[c].correctanswer
              );
              var wrong = parseInt(this.examData.data.results[c].wronganswer);

              Fcorrect = Fcorrect + correct;
              Fwrong = Fwrong + wrong;
            } else {
              Fcorrect = Fcorrect + 0;
              Fwrong = Fwrong + 0;
            }
          }
          Items = Fcorrect + Fwrong;
          totalItems.push({
            correctanswer: Fcorrect,
            wronganswer: Fwrong,
            items: Items
          });
        } else {
          totalItems.push({
            correctanswer: 0,
            wronganswer: 0,
            items: 0
          });
        }
        var total =
          parseInt(this.others[0].score) +
          parseInt(totalItems[0].correctanswer);
        return [
          {
            desc: "Final Score",
            score: total
          }
        ];
      } else {
        return [
          {
            desc: "Final Score",
            score: ""
          }
        ];
      }
    },
    totalScoresIQBE() {
      if (this.others) {
        var Fcorrect = 0;
        var Fwrong = 0;
        var Items = 0;
        var totalItems = [];
        if (this.iqbeData.data) {
          for (let c = 0; c < this.iqbeData.data.results.length; c++) {
            if (
              this.iqbeData.data.results[c].correctanswer != null ||
              (this.iqbeData.data.results[c].correctanswer != "" &&
                this.iqbeData.data.results[c].wronganswer != null) ||
              this.iqbeData.data.results[c].wronganswer != ""
            ) {
              // console.log("Correct: "+ this.examData.data.results[c].correctanswer);
              // console.log("Wrong: "+ this.examData.data.results[c].wronganswer);
              var correct = parseInt(
                this.iqbeData.data.results[c].correctanswer
              );
              var wrong = parseInt(this.iqbeData.data.results[c].wronganswer);

              Fcorrect = Fcorrect + correct;
              Fwrong = Fwrong + wrong;
            } else {
              Fcorrect = Fcorrect + 0;
              Fwrong = Fwrong + 0;
            }
          }
          Items = Fcorrect + Fwrong;
          totalItems.push({
            correctanswer: Fcorrect,
            wronganswer: Fwrong,
            items: Items
          });
        } else {
          totalItems.push({
            correctanswer: 0,
            wronganswer: 0,
            items: 0
          });
        }
        var total =
          parseInt(this.others[0].score) +
          parseInt(totalItems[0].correctanswer);
        return [
          {
            desc: "Final Score",
            score: total
          }
        ];
      } else {
        return [
          {
            desc: "Final Score",
            score: ""
          }
        ];
      }
    },
    rating() {
      if (this.examData.data2) {
        for (let c = 0; c < this.examData.data2.result2s.length; c++) {
          this.showButtons.push({
            show: false
          });
        }
        // console.log(this.showButtons);
        return this.examData.data2.result2s;
      }
    }
  }
};
</script>

<style lang="scss">
$colReject: #e84d2e;
$colPos2: #00a651;

.formLogo {
  width: auto;
  height: 90px;
  -webkit-print-color-adjust: exact;
  // border: 1px solid red;
}
.alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10000;
  animation: fadein 0.4s;
}
.alert svg path {
  color: white;
}
.alert-danger {
  color: #fff;
  background-color: $colReject;
  border-color: transparent;
}
.alert-success {
  color: white;
  background-color: $colPos2;
  border-color: transparent;
}
@keyframes fadein {
  0% {
    opacity: 0%;
    bottom: 1%;
    right: 5%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1000%;
    bottom: 5%;
    right: 5%;
  }
}
</style>
