<template>
<div id="scrollrr" class="scrollrr">
    <div class="formCont">
        <section>
            <div class="formSection">
                <div class="formArticle">
                    <div class="formHeader">
                        <div class="centerAl">  <img class="formLogo" src="/logos/bfi_full.png" alt="applicant name"> </div>
                        <div class="centerAl"> <div class="formLabel"> {{ typeOfreport }} </div> </div>
                        <div class="centerAl"> <div class="formSub"> {{ dates }} </div> </div>
                        <br>
                    </div>
                    <div class="formData">
                        <div class="userRowMain">
                            <div class="userFName noBord">{{ user.name }}</div>
                            <div class="reportID">{{ repID }}</div>
                        </div>
                        <div class="userRow">
                            <div class="userCol"><div class="labelr">Position :</div>{{ user.pos }}</div>
                            <div class="userCol"><div class="labelr">User Role :</div>{{ user.role }}</div>
                        </div>
                        <div class="userRow">
                            <div class="userCol"><div class="labelr">Department :</div>{{ user.dept }}</div>
                            <div class="userCol"><div class="labelr">Mobile :</div>{{ user.mobile }}</div>
                        </div>
                        <div class="userRow borderBottom">
                            <div class="userCol"><div class="labelr">Team :</div>{{ user.team }}</div>
                            <div class="userCol"><div class="labelr">Email :</div>{{ user.email }}</div>
                        </div>

                        <br><br>

                        <div class="actRow cbg">
                            <div class="actCol"><div class="cSplit">List of actions</div><div class="cSplit cen">No. of times the action is made</div></div>
                            <div class="actCol"><div class="cSplit">List of actions</div><div class="cSplit cen">No. of times the action is made</div></div>
                        </div>
                        <div class="actRow ">
                            <div class="actCol"><div class="cSplit">Registered Walk ins</div><div class="cSplit cen">{{ registered }}</div></div>
                            <div class="actCol"><div class="cSplit">Permitted to TAKE exams</div><div class="cSplit cen">{{ permitted }}</div></div>
                        </div>
                        <div class="actRow ">
                            <div class="actCol"><div class="cSplit">Endorsed to other department</div><div class="cSplit cen">{{ endorseToDep }}</div></div>
                            <div class="actCol"><div class="cSplit">Permitted to RETAKE exams</div><div class="cSplit cen">{{ retake }}</div></div>
                        </div>
                        <div class="actRow ">
                            <div class="actCol"><div class="cSplit">Endorsed for assessment</div><div class="cSplit cen">{{ endorsedForAssessment }}</div></div>
                            <div class="actCol"><div class="cSplit">Scheduled for assessment</div><div class="cSplit cen">{{ createSchedule }}</div></div>
                        </div>
                        <div class="actRow ">
                            <div class="actCol"><div class="cSplit">Shortlisted</div><div class="cSplit cen">{{ shortlisted }}</div></div>
                            <div class="actCol"><div class="cSplit">Rated IAFs</div><div class="cSplit cen">{{ ratedIAF }}</div></div>
                        </div>
                        <div class="actRow ">
                            <div class="actCol"><div class="cSplit">Job Offers</div><div class="cSplit cen">{{ jobOffer }}</div></div>
                            <div class="actCol"><div class="cSplit">Deployed</div><div class="cSplit cen">{{ deployed }}</div></div>
                        </div>
                        <div class="actRow ">
                            <div class="actCol"><div class="cSplit">Added Referrals</div><div class="cSplit cen">{{ addReferral }}</div></div>
                            <div class="actCol"><div class="cSplit">Changed Deployment Date</div><div class="cSplit cen">{{ changeDeployedDate }}</div></div>
                        </div>
                        <div class="actRow ">
                            <div class="actCol"><div class="cSplit">Kept for referrence</div><div class="cSplit cen">{{ kept }}</div></div>
                            <div class="actCol"><div class="cSplit">Returned applicant (as Received)</div><div class="cSplit cen">{{ returned }}</div></div>
                        </div>
                        <div class="actRow borderBottom">
                            <div class="actCol"><div class="cSplit">Blacklisted</div><div class="cSplit cen">{{ blacklisted }}</div></div>
                            <div class="actCol"><div class="cSplit">Rejected</div><div class="cSplit cen">{{ rejected }}</div></div>
                        </div>

                        <br>

                        <div class="userRowMain">
                            <div class="totalA">Total no. of log ins : {{ logins }}</div>
                            <div class="reportID"><i>This report is generated by: {{ generatorInfo.name }}</i></div>
                        </div>
                        <!-- <div class="userRowMain">
                            <div class="totalA">Total no. of actions used : {{ totalActions }}</div>
                            <div class="reportID"><i>{{ today }}</i></div>
                        </div> -->
                        <div class="userRowMain">
                            <div class="totalA">Total no. of applications assisted : {{ assisted }}</div>
                            <div class="reportID"><i>{{ today }}</i></div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <button id="printr" class="printr" @click="prints()">
        <fa :icon="['fa', 'print']" />
    </button>
</div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import io from "socket.io-client";

export default {
    data() {
        return {
            reportData: [],
            errorMess: "",
            dates: "",
            typeOfreport: "",
            repID: "",
            generatorInfo: [],
            today: moment(new Date()).format("MMMM, DD YYYY"),
            userActivities: [],
            userLogs: [],
            userInfo: [],
            notifData: [],
        }
    },
    methods: {
        notifyAll() {
            // NOTIFY OTHER USERS
            const socket = io.connect(localStorage.serverLink, { secure: true });
            var userName = this.generatorInfo.name;
            // var userInfo = {
            //     id: this.generatorInfo.id,
            //     role: this.generatorInfo.role,
            //     teamID: localStorage.teamId,
            //     deptID: localStorage.deptId,
            //     name: userName
            // };
            // var sysUser = {
            //     id: this.userInfo[0].id,
            //     name: this.userInfo[0].name,
            //     position: this.userInfo[0].pos,
            //     dpetID: this.userInfo[0].deptID,
            // };
            this.notifData.push({
                date: moment(new Date()).format("YYYY-MM-DD"),
                stage: "",
                actionID: 185161518207, //R E P O R T G (no id in access rights)
                actionName: "Report",
                action: "Report - Generate",
                desc: userName + " generated a report",
                user: {
                    id: this.generatorInfo.id,
                    role: this.generatorInfo.role,
                    teamID: localStorage.teamId,
                    deptID: localStorage.deptId,
                    name: userName
                },
                applicant: {
                    id: this.userInfo[0].id,
                    name: this.userInfo[0].name,
                    position: this.userInfo[0].pos,
                    dpetID: this.userInfo[0].deptID,
                } // System User's Info ()
            });
            socket.emit("notificationAlerts", this.notifData);
            console.log(notifData);
        },
        prints() {
            // this.notifyAll();
            document.getElementById("scrollrr").classList.remove("scrollrr");
            document.getElementById("printr").style.display = "none";
            window.print();
        },
        async getReportData(token, from, to, userID) {

            // GET USER INFO
            await axios({
                method: "GET",
                url: `${this.$axios.defaults.baseURL}/users/find?u=${userID}`,
                headers: { "Content-Type": "application/json",  Authorization: "Bearer " + token },
                }).then(
                    result => {
                        var info = result.data.view;
                        this.userInfo.push(
                            {
                                name: info[0].firstName +" "+ info[0].lastName,
                                role: info[0].role,
                                pos: info[0].position,
                                posID: info[0].positionID,
                                dept: info[0].department,
                                deptID: info[0].departmentID,
                                team: info[0].team,
                                teamID: info[0].teamID,
                                mobile: info[0].mobile,
                                email: info[0].email,
                                id: info[0].userID
                            }
                        );
                        console.log("============================================");
                        console.log("User Info");
                        console.log("============================================");
                        console.log(this.userInfo);
                        console.log("============================================");
                    },
                    error => { 
                        console.log(error);  
                    });

            // GET TOTAL LOGINS
            await axios({
                method: "POST",
                url: `${this.$axios.defaults.baseURL}/users/view/logs`,
                headers: { "Content-Type": "application/json",  Authorization: "Bearer " + token },
                data: { date: from, dateTo: to }
                }).then(
                    result => {
                        var list = result.data.posted;
                        
                        if(list.length > 0 && this.userInfo.length > 0) {
                            var name = this.userInfo[0].name;
                            var filteredLogs = list.filter(data => { return ( data.name == name && data.module == "Login"); });
                        }
                        else {
                            var filteredLogs = [];
                        }
                        this.userLogs = filteredLogs;
                        // console.log("============================================");
                        // console.log("User Logs");
                        // console.log("============================================");
                        // console.log(list);
                        // console.log(this.userLogs);
                        // console.log("============================================");
                    },
                    error => {console.log(error);});

            // GET LIST
            await axios({
                method: "GET",
                url: `${this.$axios.defaults.baseURL}/users/notifications/get?from=${from}&to=${to}`,
                headers: {
                    Authorization: `Bearer ${token}`
                }
                }).then(
                    res => {
                        var list = res.data.get;

                        // FILTER USER'S ACTIVITY DATA ONLY
                        if(list.length > 0 && this.userInfo.length > 0) {
                            var id = this.userInfo[0].id;
                            var filteredData = list.filter(data => { return data.userID == id; });
                        }
                        else {
                            var filteredData = [];
                        }
                        this.userActivities = filteredData;
                        // console.log("============================================");
                        // console.log("User Activities");
                        // console.log("============================================");
                        // console.log(this.userActivities);
                        // console.log("============================================");
                    },
                    error => {console.log(error);});
        },
        generator(token, repID) {
            var id = repID.split("_")[1];
            axios({
                method: "GET",
                url: `${this.$axios.defaults.baseURL}/users/find?u=${id}`,
                headers: { "Content-Type": "application/json",  Authorization: "Bearer " + token },
                }).then(
                    result => {
                        var info = result.data.view;
                        this.generatorInfo = {
                            name: info[0].firstName +" "+ info[0].lastName,
                            role: info[0].role,
                            pos: info[0].position,
                            dept: info[0].department,
                            team: info[0].team,
                            mobile: info[0].mobile,
                            email: info[0].email,
                            id: info[0].userID
                        };
                        console.log("============================================");
                        console.log("Reporter's Info");
                        console.log("============================================");
                        console.log(this.generatorInfo);
                        // console.log(repID);
                        // console.log(id);
                        // console.log(this.info);
                        console.log("============================================");
                    },
                    error => { 
                        console.log(error);  
                    });
        },
    },
    created() {
        var token = this.$route.query.token;
        var from = this.$route.query.from;
        var to = this.$route.query.to;
        var userID = this.$route.query.userID;
        var reportType = this.$route.query.type;
        var reportID = this.$route.query.rp;

        // console.log("======================================");
        // console.log("DATA PASSED");
        // console.log("======================================");
        // // console.log("toke: " + token);
        // console.log("from: " + from);
        // console.log("to: " + to);
        // console.log("userID: " + userID);
        // console.log("reportType: " + reportType);
        // console.log("======================================");
        // SET DATES
        if(from == "" || to == "") {
            this.dates = "No dates";
        }
        else {
            this.dates = String(moment(from).format("MMMM, DD YYYY")+" - "+moment(to).format("MMMM, DD YYYY"));

            // GET ALL REPORTS
            this.getReportData(token, from, to, userID);

            // GET GENERATOR'S INFO
            this.generator(token, reportID);
        }
        // SET REPORT TYPE
        if(reportType == 1) {
            this.typeOfreport = "DAILY REPORT"
        }
        else if(reportType == 2) {
            this.typeOfreport = "WEEKLY REPORT"
        }
        else if(reportType == 3) {
            this.typeOfreport = "MONTHLY REPORT"
        }
        else if(reportType == 4) {
            this.typeOfreport = "ANNUAL REPORT"
        }
        // SET REPORT ID
        if(reportID != "") {
            this.repID = reportID;
        }

        // ADD SCROLLER
        window.addEventListener("afterprint", function() {
            document.getElementById("printr").style.display = "block";
            document.getElementById("scrollrr").classList.add("scrollrr");
        });

        // REMOVE SCROLLER (To automatically break pages)
        document.addEventListener("keydown", function(e) {
                // CTRL + P
                if (e.ctrlKey && e.keyCode == 80) {
                    document.getElementById("printr").style.display = "none";
                    document.getElementById("scrollrr").classList.remove("scrollrr");
                }
            },
            false
        );
    },
    computed: {
        user() {
            if(this.userInfo.length > 0) { return this.userInfo[0]; }
            else { return [] }
        },
        registered() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID == 198 && data.action == "Walk-in Registration");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        permitted() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Online Exam");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        retake() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Retake");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        endorseToDep() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Endorse to other Department");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        endorsedForAssessment() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Endorse For Assessment");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        shortlisted() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Shortlist");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        jobOffer() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Job Offer");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        deployed() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Deploy");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        kept() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Keep for Reference");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        blacklisted() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Blacklist");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        rejected() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Reject");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        returned() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Return Applicant");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        createSchedule() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Create Schedule");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        ratedIAF() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Rate IAF");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        changeDeployedDate() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Change Deployed Date");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        addReferral() {
            if(this.userActivities.length > 0) {
                var filterData = this.userActivities.filter(data => {
                    return ( data.actionID != 198 && data.action.split(" - ")[1] == "Add Referral");
                });

                return filterData.length;
            }
            else { return 0 }
        },
        logins() {
            var data = this.userLogs;
            return data.length;
        },
        assisted() {
            const list = this.userActivities;
            if(list.length < 1) {
                return 0;
            }
            else {
                const applicants = new Set();

                for(var c=0; c < list.length; c++) {
                    applicants.add(list[c].applicantID);
                }
                var temp = Array.from(applicants);
                return temp.length;
            }
        },
        totalActions() {
            const list = this.userActivities;
            if(list.length < 1) {
                return 0;
            }
            else {
                const actions = new Set();

                for(var c=0; c < list.length; c++) {
                    actions.add(list[c].action);
                }
                var temp = Array.from(actions);
                return temp.length;
            }
        },
    }
}
</script>

<style scoped lang="scss">

.formLogo {
    width: auto;
    height: 90px;
    -webkit-print-color-adjust: exact;
    // border: 1px solid red;
}
</style>