<template>
    <div class="m_mod_cont">
        <Exams/>
    </div>
</template>

<script>
import io from "socket.io-client";
import moment from "moment";
import axios from "axios";

import Exams from "../../../components/mob/view/viewExamResults.vue";

export default {
    layout: "m_sideBar",
    components: {
      Exams
    },
}
</script>

<style>

</style>