<template>
    <div class="mob_act_bg">
        <!-- SHOW IF DONE -->
        <div class="mob_act_done" v-show="done == true">
            <div class="mob_act_done_icon">
                <fa :icon="['fa', 'check']" />
            </div>
            <div class="mob_act_done_text">Done!</div>
        </div>

        <!-- ERROR -->
        <!-- <div class="mob_act_err" > -->
        <div class="mob_act_err" v-show="erro == true">
            <div class="mob_act_err_title">Error</div>
            <br>
            <div class="mob_act_err_text">
                Something went wrong <br> {{errMsg}}
            </div>
        </div>

        <!-- DATE PICKER -->
        <DatePick v-if="open_dateP == true"/>

        <!-- TIME PICKER -->
        <TimePick v-if="open_timeP == true"/>

        <!-- SHOW IF NOT DONE -->
        <div class="mob_act_cont" v-show="done == false && erro == false">
            <div class="mob_act_head">
                <div class="mob_act_icon"> <fa :icon="['fa', 'rocket']" /> </div>
                <div class="mob_act_title"> Deploy </div>
            </div>
            <div class="mob_act_body">
                <div class="mob_act_panel">
                    <div class="act_panel">
                        <div class="act_title">{{ applicant.name }}</div>
                        <div class="act_sub">{{ applicant.position }}</div>
                    </div>
                </div>
                <div class="mob_act_body_scroll">  
                    <div class="mob_act_panel">
                        <div class="mob_act_panel_name">Deplyment Date: {{ determineDate(pickedDate) }}</div>
                        <div class="mob_act_panel_col">
                            <div :class="`mob_act_panel_select ${date_deploy != 'No Date' ? 'text_green':''}`" @click="open_date(1)" >
                                {{ date_deploy }}
                            </div>
                        </div>
                    </div>
                    <div class="mob_act_panel">
                        <div class="mob_act_panel_name">Deadline Date: </div>
                        <div class="mob_act_panel_col">
                            <div :class="`mob_act_panel_select ${date_deadline != 'No Date' ? 'text_green':''}`" @click="open_date(2)" >
                                {{ date_deadline }}
                            </div>
                        </div>
                    </div>
                    <div class="mob_act_panel">
                        <div class="mob_act_panel_name">Orientation date &amp; time: </div>
                        <div class="mob_act_panel_row">
                            <div class="mob_act_panel_col">
                                <div :class="`mob_act_panel_select ${date_orientation != 'No Date' ? 'text_green':''}`" @click="open_date(3)" >
                                    {{ date_orientation }}
                                </div>
                            </div>
                            <div class="mob_act_panel_col">
                                <div :class="`mob_act_panel_select ${time_orientation != 'No Time' ? 'text_green':''}`" @click="open_time()" >
                                    {{ timeFormat(pickedTime) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mob_act_panel">
                        <div class="mob_act_panel_name">Enter location: </div>
                        <input type="text" class="mob_act_input" v-model="assess_location"/>
                    </div>
                    <div class="mob_act_panel">
                        <div class="mob_act_panel_name">Enter contact person's number: </div>
                        <input type="text" class="mob_act_input" v-model="assess_contact_number" placeholder="09XXXXXXXXX"/>
                    </div>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_note">
                        Please proceed with caution.
                    </div>

                    <div class="mob_note_red" v-show="msg">{{ msg }}</div>
                </div>
            </div>
            <div class="mob_act_foot" v-show="loader == false">
                <button class="mob_btn1 mob_cancel" @click="hide()"> <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel </button>
                <button class="mob_btn1 mob_done" @click="proceed()"> <fa :icon="['fa', 'check-circle']" /> &ensp; Endorse </button>
            </div>

            <!-- LOADER -->
            <div class="mob_act_foot" v-show="loader == true">
                <b-spinner small variant="warning" type="grow"></b-spinner> &emsp;
                <div class="mob_note">
                    Processing action, please wait...
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
import DatePick from "../view/datePicks.vue";
import TimePick from "../view/timePicks.vue";

export default {
    components: {
        DatePick,
        TimePick
    },
    data() {
        return {
            done: false,
            erro: false,
            loader: false,
            errMsg: "",
            msg: "",
            notifData: [],
            
            date_deploy: "No Date",
            date_deploy_2: "",
            date_deadline: "No Date",
            date_deadline_2: "",
            date_orientation: "No Date",
            date_orientation_2: "",
            time_orientation: "No Time",
            time_orientation_2: "",

            dateType: 0,
            
            assess_location: "",
            assess_contact_number: "",
        }
    },
    methods: {
        determineDate(date) {
            if(date != "No Date") {
                if(this.dateType == 1) {
                    this.date_deploy_2 = date;
                    this.date_deploy = moment(date).format("MMMM DD, YYYY");
                }
                else if(this.dateType == 2) {
                    this.date_deadline_2 = date;
                    this.date_deadline = moment(date).format("MMMM DD, YYYY");
                }
                else if(this.dateType == 3) {
                    this.date_orientation_2 = date;
                    this.date_orientation = moment(date).format("MMMM DD, YYYY");
                }
            }
        },
        timeFormat(time) {
            this.time_orientation = time;
            var temp = `${this.date_orientation_2} ${time}`
            this.time_orientation_2 = moment(temp).format();
            return time;
        },
        open_date(dateType) {
            this.msg = "";
            this.open_dateP == true;
            var temp = {
                date:  moment(new Date()).format("YYYY-MM-DD"),
                open: true
            };
            this.$store.commit("mob_select_date", temp);
            this.dateType = dateType;
        },
        open_time() {
            this.msg = "";
            if(this.pickedDate == "No Date") {
                this.msg =  "Please select a date first, thank you...";
            }
            else {
                // console.log("Open Time Picker");
                var today = moment(new Date()).format();
                var thisDay = moment(today).format("YYYY-MM-DD hh:mm:ss A");
                var getTime = String(today).split("T")[1];
                var getHrs = String(getTime).split(":")[0];
                var getMin = String(getTime).split(":")[1];
                var getMer = String(thisDay).split(" ")[2];
                // console.log(thisDay);
                // console.log("Hr: "+getHrs, " Min: "+getMin, " "+getMer);

                var temp = {
                    thisTime: {
                        today: today,
                        time:  getTime,
                        hour: getHrs,
                        Min: getMin,
                        Mer: getMer
                    },
                    open: true
                };
                this.$store.commit("mob_select_time", temp);
            }
        },
        proceed() {
            console.log("Deployment Date: ", this.date_deploy, " | ", this.date_deploy_2);
            console.log("Deadline Date: ", this.date_deadline, " | ", this.date_deadline_2);
            console.log("Orientation Date: ", this.date_orientation, " | ", this.date_orientation_2);
            console.log("Orientation Time: ", this.time_orientation, " | ", this.time_orientation_2);
            this.msg = "";
            this.loader = true;
            // SETUP DATA FOR NOTIFICATION ALERT
            this.notifData = [];
            let user = localStorage.fname + " " + localStorage.lname;
            let applicantName = this.applicant.name;
            this.notifData.push({
                date: moment(new Date()).format("YYYY-MM-DD"),
                stage: localStorage.actionName.split(" - ")[0],
                actionID: localStorage.actionID,
                actionName: localStorage.actionName.split(" - ")[1],
                action: localStorage.actionName,
                desc: user + " shortlisted " + applicantName,
                user: {
                    id: localStorage.id,
                    role: localStorage.role,
                    teamID: localStorage.teamId,
                    deptID: localStorage.deptId,
                    name: localStorage.fname + " " + localStorage.lname
                },
                applicant: {
                    id: this.applicant.id,
                    name: this.applicant.name,
                    position: this.applicant.position,
                    dpetID: this.applicant.deptId
                }
            });

            // ACTION
            var token = localStorage.token;
            var data = [];
            data.push({
                deployment: this.date_deploy_2,
                orientation: this.time_orientation_2,
                deadline: this.date_deadline_2,
                location: this.assess_location,
                contactN: this.assess_contact_number,
                notifData: this.notifData
            });
            console.log(data);
            this.$store.dispatch("dashboard/deploy", {
                token: token,
                applicant: this.applicant,
                data: data[0],
                notifData: this.notifData
            });

            // CHECK TOKEN EVERY 3 SEC
            var bomber = setInterval(() => {
                var status = this.doneDeploy;
                console.log(status);
                if(status == "Done") {
                    this.done = true;
                    this.doner();
                    // LOG
                    this.logActivity();
                    clearInterval(bomber);
                }
                else if(status != ""){
                    this.done = false;
                    this.erro = true;
                    this.errMsg = status;
                    this.errorExit();
                    clearInterval(bomber);
                }
            }, 1000);
        },
        doner() {
            setTimeout(() => {
                this.hide();
                this.loader = false;
                // this.done = false;
                this.remarks = "";
                location.reload();
            }, 3000);
        },
        errorExit() {
            setTimeout(() => {
                this.loader = false;
                this.erro = false;
            }, 3000);
        },
        logActivity() {
            this.$store.dispatch("activityLogsAction", {
                token: localStorage.token,
                module: "Applicant Stages",
                table_affected: "Users",
                activity: `Shortlisted applicant: ${this.applicant.name}`
            });
        },
        hide() {
            // SET TO DEFAULT: ACTIONS BUTTONS
            this.$store.commit("mob_hide_actions", false);
            // CLOSE MODAL BY PASSING EMPTY STRING
            var none = {
                act_name: "",
                applicant: {}
            }
            this.$store.commit("mob_open_modal", none);
            this.msg = "";
        }
    },
    computed: {
        ...mapGetters({ doneDeploy: "dashboard/doneDeploy" }),
        applicant() {
            return this.$store.state.mob_applicant;
        },
        open_dateP() {
            if(this.$store.state.mob_selected_date_open == true ) { return true; }
            else { return false; }
        },
        open_timeP() {
            if(this.$store.state.mob_selected_time_open == true ) { return true; }
            else { return false; }
        },
        pickedDate() {
            if(this.$store.state.mob_selected_date != "") { 
                return this.$store.state.mob_selected_date; 
            }
            else { return "No Date"; }
        },
        pickedTime() {
            if(this.$store.state.mob_selected_time != "") {
                var temp = this.$store.state.mob_selected_time;
                var time = `${temp.hour}:${temp.Min} ${temp.Mer}`
                this.ch_time = time;
                return time;
            }
            else {
                this.ch_time = "";
                return "No Time"; 
            }
        }
    }
}
</script>

<style>

</style>