<template>
    <div class="mob_act_bg">
        <!-- SHOW IF DONE -->
        <div class="mob_act_done" v-show="done == true">
            <div class="mob_act_done_icon">
                <fa :icon="['fa', 'check']" />
            </div>
            <div class="mob_act_done_text">Done!</div>
        </div>
        <!-- ERROR -->
        <!-- <div class="mob_act_err" > -->
        <div class="mob_act_err" v-show="erro == true">
            <div class="mob_act_err_title">Error</div>
            <br>
            <div class="mob_act_err_text">
                Something went wrong <br> {{errMsg}}
            </div>
        </div>

        <!-- DATE PICKER -->
        <DatePick v-if="open_dateP == true"/>

        <!-- TIME PICKER -->
        <TimePick v-if="open_timeP == true"/>

        <!-- SHOW IF NOT DONE -->
        <div class="mob_act_cont" v-show="done == false && erro == false">
            <div class="mob_act_head">
                <div class="mob_act_icon"> <fa :icon="['fa', 'briefcase']" /> </div>
                <div class="mob_act_title"> Job Offer </div>
            </div>
            <div class="mob_act_body">
                <div class="mob_act_panel">
                    <div class="act_panel">
                        <div class="act_title">{{ applicant.name }}</div>
                        <div class="act_sub">{{ applicant.position }}</div>
                    </div>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_act_panel_name">Choose a date &amp; time: </div>
                    <div class="mob_act_panel_row">
                        <div class="mob_act_panel_col">
                            <div :class="`mob_act_panel_select ${ch_date != '' ? 'text_green':''}`" @click="open_date()" >
                                {{ dateFormat(pickedDate) }}
                            </div>
                        </div>
                        <div class="mob_act_panel_col">
                            <div :class="`mob_act_panel_select ${ch_time != '' ? 'text_green':''}`" @click="open_time()" >
                                {{ timeFormat(pickedTime) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_act_panel_name">Enter location: </div>
                    <input type="text" class="mob_act_input" v-model="assess_location"/>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_act_panel_name">Enter contact person's name: </div>
                    <input type="text" class="mob_act_input" v-model="assess_contact_name"/>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_act_panel_name">Enter contact person's number: </div>
                    <input type="text" class="mob_act_input" v-model="assess_contact_number" placeholder="09XXXXXXXXX"/>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_note">
                        By clicking "Endorse", the <b>chosen date and time</b> will be set as the applicant's <b>Assessment Date</b>. Please proceed with caution.
                    </div>

                    <div class="mob_note_red" v-show="msg">{{ msg }}</div>
                </div>
            </div>
            <div class="mob_act_foot" v-show="loader == false">
                <button class="mob_btn1 mob_cancel" @click="hide()"> <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel </button>
                <button class="mob_btn1 mob_done" @click="proceed()"> <fa :icon="['fa', 'check-circle']" /> &ensp; Endorse </button>
            </div>

            <!-- LOADER -->
            <div class="mob_act_foot" v-show="loader == true">
                <b-spinner small variant="warning" type="grow"></b-spinner> &emsp;
                <div class="mob_note">
                    Processing action, please wait...
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
import DatePick from "../view/datePicks.vue";
import TimePick from "../view/timePicks.vue";

export default {
    components: {
        DatePick,
        TimePick
    },
    data() {
        return {
            done: false,
            erro: false,
            loader: false,
            errMsg: "",
            msg: "",
            notifData: [],
            ch_date: "",
            ch_time: "",
            assess_location: "",
            assess_contact_name: "",
            assess_contact_number: "",
        }
    },
    methods: {
        dateFormat(date) {
            if(date == "No Date") {
                this.ch_date = "";
                return "No Date";
            }
            else {
                this.ch_date = date;
                return moment(date).format("MMM. DD, YYYY");
            }
        },
        timeFormat(time) {
            return time;
        },
        open_date() {
            this.msg = "";
            this.open_dateP == true;
            var temp = {
                date:  moment(new Date()).format("YYYY-MM-DD"),
                open: true
            };
            this.$store.commit("mob_select_date", temp);
        },
        open_time() {
            this.msg = "";
            if(this.pickedDate == "No Date") {
                this.msg =  "Please select a date first, thank you..."
            }
            else {
                // console.log("Open Time Picker");
                var today = moment(new Date()).format();
                var thisDay = moment(today).format("YYYY-MM-DD hh:mm:ss A");
                var getTime = String(today).split("T")[1];
                var getHrs = String(getTime).split(":")[0];
                var getMin = String(getTime).split(":")[1];
                var getMer = String(thisDay).split(" ")[2];
                // console.log(thisDay);
                // console.log("Hr: "+getHrs, " Min: "+getMin, " "+getMer);

                var temp = {
                    thisTime: {
                        today: today,
                        time:  getTime,
                        hour: getHrs,
                        Min: getMin,
                        Mer: getMer
                    },
                    open: true
                };
                this.$store.commit("mob_select_time", temp);
            }
        },
        proceed() {
            // console.log("Proceed");
            // console.log(this.ch_date);
            // console.log(this.ch_time);
            // console.log(this.assess_location);
            // console.log(this.assess_contact_name);
            // console.log(this.assess_contact_number);
            if(this.ch_date == "") {
                this.msg = "Please select a date";
            }
            else if(this.ch_time == "") {
                this.msg = "Please select a time";
            }
            else if(this.assess_location == "") {
                this.msg = "Please enter a location";
            }
            else if(this.assess_contact_name == "") {
                this.msg = "Please enter the contact person's name";
            }
            else if(this.assess_contact_number == "") {
                this.msg = "Please enter the contact person's number";
            }
            else {
                this.msg = "";
                this.loader = true;
                // SETUP DATA FOR NOTIFICATION ALERT
                this.notifData = [];
                let user = localStorage.fname + " " + localStorage.lname;
                let applicantName = this.applicant.name;
                this.notifData.push({
                    date: moment(new Date()).format("YYYY-MM-DD"),
                    stage: localStorage.actionName.split(" - ")[0],
                    actionID: localStorage.actionID,
                    actionName: localStorage.actionName.split(" - ")[1],
                    action: localStorage.actionName,
                    desc: user + " qualified " + applicantName + " for Job Offer",
                    user: {
                        id: localStorage.id,
                        role: localStorage.role,
                        teamID: localStorage.teamId,
                        deptID: localStorage.deptId,
                        name: localStorage.fname + " " + localStorage.lname
                    },
                    applicant: {
                        id: this.applicant.id,
                        name: this.applicant.name,
                        position: this.applicant.position,
                        dpetID: this.applicant.deptId
                    }
                });

                var token = localStorage.token;
                this.$store.dispatch("dashboard/jobOffer", {
                    token: token,
                    applicant: this.applicant,
                    date: localStorage.sched_date,
                    time: localStorage.sched_finalDate,
                    location: this.assess_location,
                    conP: this.assess_contact_name,
                    conN: this.assess_contact_number,
                    notifData: this.notifData,

                    // token: token,
                    // applicant: this.applicantData,
                    // date: String(localStorage.sched_finalDate).split("T")[0],
                    // time: this.datetime,
                    // location: this.location,
                    // conP: this.contactP,
                    // conN: this.contactN,
                    // notifData: this.notifData
                });

                // CHECK TOKEN EVERY 3 SEC
                var bomber = setInterval(() => {
                    var status = this.doneJobOffer;
                    console.log(status);
                    if(status == "Done") {
                        this.done = true;
                        this.doner();
                        // LOG
                        this.logActivity();
                        clearInterval(bomber);
                    }
                    else if(status != ""){
                        this.done = false;
                        this.erro = true;
                        this.errMsg = status;
                        this.errorExit();
                        clearInterval(bomber);
                    }
                }, 1000);
            }
            // console.log("message", this.msg);
        },
        doner() {
            setTimeout(() => {
                this.hide();
                this.loader = false;
                // this.done = false;
                this.assess_location = "";
                this.assess_contact_name = "";
                this.assess_contact_number = "";
                location.reload();
            }, 3000);
        },
        errorExit() {
            setTimeout(() => {
                this.loader = false;
                this.erro = false;
            }, 3000);
        },
        logActivity() {
            this.$store.dispatch("activityLogsAction", {
                token: localStorage.token,
                module: "Applicant Stages",
                table_affected: "Users",
                activity: `Job offer for applicant: ${this.applicant.name}`
            });
        },
        hide() {
            // SET TO DEFAULT: ACTIONS BUTTONS
            this.$store.commit("mob_hide_actions", false);
            // CLOSE MODAL BY PASSING EMPTY STRING
            var none = {
                act_name: "",
                applicant: {}
            }
            this.$store.commit("mob_open_modal", none);
            this.msg = "";
        }
    },
    computed: {
        ...mapGetters({ doneJobOffer: "dashboard/doneJobOffer" }),
        applicant() {
            return this.$store.state.mob_applicant;
        },
        open_dateP() {
            if(this.$store.state.mob_selected_date_open == true ) { return true; }
            else { return false; }
        },
        open_timeP() {
            if(this.$store.state.mob_selected_time_open == true ) { return true; }
            else { return false; }
        },
        pickedDate() {
            if(this.$store.state.mob_selected_date != "") { return this.$store.state.mob_selected_date; }
            else { return "No Date"; }
        },
        pickedTime() {
            if(this.$store.state.mob_selected_time != "") {
                var temp = this.$store.state.mob_selected_time;
                var time = `${temp.hour}:${temp.Min} ${temp.Mer}`
                this.ch_time = time;
                return time;
            }
            else {
                this.ch_time = "";
                return "No Time"; 
            }
        }
    }
}
</script>

<style>

</style>