<template>
    <div class="mob_act_bg">
        <!-- SHOW IF DONE -->
        <div class="mob_act_done" v-show="done == true">
            <div class="mob_act_done_icon">
                <fa :icon="['fa', 'check']" />
            </div>
            <div class="mob_act_done_text">Done!</div>
        </div>
        <!-- ERROR -->
        <!-- <div class="mob_act_err" > -->
        <div class="mob_act_err" v-show="erro == true">
            <div class="mob_act_err_title">Error</div>
            <br>
            <div class="mob_act_err_text">
                Something went wrong <br> {{errMsg}}
            </div>
        </div>
        <!-- DATE PICKER -->
        <DatePick v-if="open_dateP == true"/>

        <!-- SHOW IF NOT DONE -->
        <div class="mob_act_cont" v-show="done == false && erro == false">
            <div class="mob_act_head">
                <div class="mob_act_icon"> <fa :icon="['fa', 'calendar-check']" /> </div>
                <div class="mob_act_title"> Change Deployment Date </div>
            </div>
            <div class="mob_act_body">
                <div class="mob_act_panel">
                    <div class="act_panel">
                        <div class="act_title">{{ applicant.name }}</div>
                        <div class="act_sub">{{ applicant.position }}</div>
                    </div>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_act_panel_name">Choose a date: </div>
                    <div class="mob_act_panel_col">
                            <div :class="`mob_act_panel_select ${ch_date != '' ? 'text_green':''}`" @click="open_date()" >
                                {{ dateFormat(pickedDate) }}
                            </div>
                        </div>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_note">
                        By clicking "Save", the <b>chosen date</b> will be set as the applicant's new <b>Deployment Date</b>. Please proceed with caution.
                    </div>

                    <div class="mob_note_red" v-show="msg">{{ msg }}</div>
                </div>
            </div>
            <div class="mob_act_foot" v-show="loader == false">
                <button class="mob_btn1 mob_cancel" @click="hide()"> <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel </button>
                <button class="mob_btn1 mob_done" @click="proceed()"> <fa :icon="['fa', 'check-circle']" /> &ensp; Save </button>
            </div>

            <!-- LOADER -->
            <div class="mob_act_foot" v-show="loader == true">
                <b-spinner small variant="warning" type="grow"></b-spinner> &emsp;
                <div class="mob_note">
                    Processing action, please wait...
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
import DatePick from "../view/datePicks.vue";

export default {
    components: {
        DatePick
    },
    data() {
        return {
            done: false,
            erro: false,
            loader: false,
            errMsg: "",
            msg: "",
            notifData: [],
            ch_date: "",
            ch_dateN: "No Date"
        }
    },
    methods: {
        dateFormat(date) {
            if(date == "No Date") {
                this.ch_date = "";
                return "No Date";
            }
            else {
                this.ch_date = date;
                return moment(date).format("MMM. DD, YYYY");
            }
        },
        timeFormat(time) {
            return time;
        },
        open_date() {
            this.msg = "";
            this.open_dateP == true;
            var temp = {
                date:  moment(new Date()).format("YYYY-MM-DD"),
                open: true
            };
            this.$store.commit("mob_select_date", temp);
        },
        proceed() {
            if(this.ch_date == "") {
                this.msg = "Please select a date..."
            }
            else {
                this.msg = "";
                this.loader = true;
                // SETUP DATA FOR NOTIFICATION ALERT
                this.notifData = [];
                let user = localStorage.fname + " " + localStorage.lname;
                let applicantName = this.applicant.name;
                this.notifData.push({
                    date: moment(new Date()).format("YYYY-MM-DD"),
                    stage: localStorage.actionName.split(" - ")[0],
                    actionID: localStorage.actionID,
                    actionName: localStorage.actionName.split(" - ")[1],
                    action: localStorage.actionName,
                    desc: user + " changed " + applicantName + "'s deployment Date",
                    user: {
                        id: localStorage.id,
                        role: localStorage.role,
                        teamID: localStorage.teamId,
                        deptID: localStorage.deptId,
                        name: localStorage.fname + " " + localStorage.lname
                    },
                    applicant: {
                        id: this.applicant.id,
                        name: this.applicant.name,
                        position: this.applicant.position,
                        dpetID: this.applicant.deptId
                    }
                });

                // ACTION
                var token = localStorage.token;
                this.$store.dispatch("dashboard/changeDeployedDate", {
                    token: token,
                    applicant: this.applicant,
                    date: this.ch_date,
                    notifData: this.notifData
                });

                // CHECK TOKEN EVERY 3 SEC
                var bomber = setInterval(() => {
                    var status = this.doneChangeDeployDate;
                    console.log(status);
                    if(status == "Done") {
                        this.done = true;
                        this.doner();
                        // LOG
                        this.logActivity();
                        clearInterval(bomber);
                    }
                    else if(status != ""){
                        this.done = false;
                        this.erro = true;
                        this.errMsg = status;
                        this.errorExit();
                        clearInterval(bomber);
                    }
                }, 1000);
            }
        },
        doner() {
            setTimeout(() => {
                this.hide();
                this.loader = false;
                // this.done = false;
                this.remarks = "";
                location.reload();
            }, 3000);
        },
        errorExit() {
            setTimeout(() => {
                this.loader = false;
                this.erro = false;
            }, 3000);
        },
        logActivity() {
            this.$store.dispatch("activityLogsAction", {
                token: localStorage.token,
                module: "Applicant Stages",
                table_affected: "Users",
                activity: `Changed deployment date of applicant: ${this.applicant.name}`
            });
        },
        hide() {
            // SET TO DEFAULT: ACTIONS BUTTONS
            this.$store.commit("mob_hide_actions", false);
            // CLOSE MODAL BY PASSING EMPTY STRING
            var none = {
                act_name: "",
                applicant: {}
            }
            this.$store.commit("mob_open_modal", none);
            this.msg = "";
        }
    },
    computed: {
        ...mapGetters({ doneChangeDeployDate: "dashboard/doneChangeDeployDate" }),
        applicant() {
            return this.$store.state.mob_applicant;
        },
        open_dateP() {
            if(this.$store.state.mob_selected_date_open == true ) { return true; }
            else { return false; }
        },
        pickedDate() {
            if(this.$store.state.mob_selected_date != "") { return this.$store.state.mob_selected_date; }
            else { return "No Date"; }
        },
    }
}
</script>

<style>

</style>