<template>
<div class="mob_act_bg">
        <!-- SHOW IF DONE -->
        <div class="mob_act_done" v-show="done == true">
            <div class="mob_act_done_icon">
                <fa :icon="['fa', 'check']" />
            </div>
            <div class="mob_act_done_text">Done!</div>
        </div>

        <!-- ERROR -->
        <!-- <div class="mob_act_err" > -->
        <div class="mob_act_err" v-show="erro == true">
            <div class="mob_act_err_title">Error</div>
            <br>
            <div class="mob_act_err_text">
                Something went wrong <br> {{errMsg}}
            </div>
        </div>

        <!-- SHOW IF NOT DONE -->
        <div class="mob_act_cont" v-show="done == false && erro == false">
            <div class="mob_act_head">
                <div class="mob_act_icon"> <fa :icon="['fa', 'user-tie']" /> </div>
                <div class="mob_act_title"> Return Applicant </div>
            </div>
            <div class="mob_act_body">
                <div class="mob_act_panel">
                    <div class="act_panel">
                        <div class="act_title">{{ applicant.name }}</div>
                        <div class="act_sub">{{ applicant.position }}</div>
                    </div>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_note">
                        By clicking "Save" the applicant will be <b>returned to Received stage</b>, clearing all his/her previous exam results and  assessment ratings. Please proceed with caution.
                    </div>

                    <div class="mob_note_red" v-show="msg">{{ msg }}</div>
                </div>
            </div>
            <div class="mob_act_foot" v-show="loader == false">
                <button class="mob_btn1 mob_cancel" @click="hide()"> <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel </button>
                <button class="mob_btn1 mob_done" @click="proceed()"> <fa :icon="['fa', 'check-circle']" /> &ensp; Save </button>
            </div>

            <!-- LOADER -->
            <div class="mob_act_foot" v-show="loader == true">
                <b-spinner small variant="warning" type="grow"></b-spinner> &emsp;
                <div class="mob_note">
                    Processing action, please wait...
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";

export default {
    data() {
        return {
            done: false,
            erro: false,
            loader: false,
            errMsg: "",
            msg: "",
            notifData: [],
        }
    },
    methods: {
        proceed() {
            this.msg = "";
            this.loader = true;
            // SETUP DATA FOR NOTIFICATION ALERT
            this.notifData = [];
            let user = localStorage.fname + " " + localStorage.lname;
            let applicantName = this.applicant.name;
            this.notifData.push({
                date: moment(new Date()).format("YYYY-MM-DD"),
                stage: localStorage.actionName.split(" - ")[0],
                actionID: localStorage.actionID,
                actionName: localStorage.actionName.split(" - ")[1],
                action: localStorage.actionName,
                desc: user + " returned " + applicantName + " to Received stage",
                user: {
                    id: localStorage.id,
                    role: localStorage.role,
                    teamID: localStorage.teamId,
                    deptID: localStorage.deptId,
                    name: localStorage.fname + " " + localStorage.lname
                },
                applicant: {
                    id: this.applicant.id,
                    name: this.applicant.name,
                    position: this.applicant.position,
                    dpetID: this.applicant.deptId
                }
            });

            // ACTION
            var token = localStorage.token;
            this.$store.dispatch("dashboard/returnApplicant", {
                token: token,
                applicant: this.applicant,
                remarks: "",
                notifData: this.notifData
            });

            // CHECK TOKEN EVERY 3 SEC
            var bomber = setInterval(() => {
                var status = this.doneReturnApplicant;
                console.log(status);
                if(status == "Done") {
                    this.done = true;
                    this.doner();
                    // LOG
                    this.logActivity();
                    clearInterval(bomber);
                }
                else if(status != ""){
                    this.done = false;
                    this.erro = true;
                    this.errMsg = status;
                    this.errorExit();
                    clearInterval(bomber);
                }
            }, 1000);
        },
        doner() {
            setTimeout(() => {
                this.hide();
                this.loader = false;
                // this.done = false;
                this.remarks = "";
                location.reload();
            }, 3000);
        },
        errorExit() {
            setTimeout(() => {
                this.loader = false;
                this.erro = false;
            }, 3000);
        },
        logActivity() {
            this.$store.dispatch("activityLogsAction", {
                token: localStorage.token,
                module: "Applicant Stages",
                table_affected: "Users",
                activity: `Return applicant: ${this.applicant.name}`
            });
        },
        hide() {
            // SET TO DEFAULT: ACTIONS BUTTONS
            this.$store.commit("mob_hide_actions", false);
            // CLOSE MODAL BY PASSING EMPTY STRING
            var none = {
                act_name: "",
                applicant: {}
            }
            this.$store.commit("mob_open_modal", none);
            this.msg = "";
        }
    },
    computed: {
        ...mapGetters({ doneReturnApplicant: "dashboard/doneReturnApplicant" }),
        applicant() {
            return this.$store.state.mob_applicant;
        },
    }
}
</script>

<style>

</style>