<template>
<div class="mob_act_bg">
        <!-- SHOW IF DONE -->
        <div class="mob_act_done" v-show="done == true">
            <div class="mob_act_done_icon">
                <fa :icon="['fa', 'check']" />
            </div>
            <div class="mob_act_done_text">Done!</div>
        </div>
        <!-- ERROR -->
        <!-- <div class="mob_act_err" > -->
        <div class="mob_act_err" v-show="erro == true">
            <div class="mob_act_err_title">Error</div>
            <br>
            <div class="mob_act_err_text">
                Something went wrong <br> {{errMsg}}
            </div>
        </div>

        <!-- SHOW IF NOT DONE -->
        <div class="mob_act_cont" v-show="done == false && erro == false">
            <div class="mob_act_head">
                <div class="mob_act_icon"> <fa :icon="['fa', 'edit']" /> </div>
                <div class="mob_act_title"> Update Position </div>
            </div>
            <div class="mob_act_body">
                <!-- APPLICANT INFO -->
                <div class="mob_act_panel">
                    <div class="act_panel">
                        <div class="act_title">{{ applicant.name }}</div>
                        <div class="act_sub">{{ applicant.position }}</div>
                    </div>
                </div>
                <!-- CHOOSE POSITION -->
                <div class="mob_act_panel">
                    <div class="mob_act_panel_name">Position: </div>
                    <div :class="`mob_act_panel_select ${ch_posID != '' ? 'text_green':''}`" @click="open_pos()">
                        {{ ch_pos }}
                    </div>
                </div>
                <!-- POSITIONS LIST -->
                <div class="mob_act_panel_drawer" v-show="open_pos_list">
                    <div class="mob_list_scroll">
                        <button class="mob_list" v-for="(pos, p) in optionsPos" :key="'p'+p" @click="chose_pos(pos)">
                            {{ pos.positionname }}
                        </button>
                    </div>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_note">By clicking "Save", the applicant's
                    <b>position will be changed</b> with the one you selected. Please
                    proceed with caution.</div>

                    <div class="mob_note_red" v-show="msg">{{ msg }}</div>
                </div>
            </div>
            <div class="mob_act_foot" v-show="loader == false">
                <button class="mob_btn1 mob_cancel" @click="hide()"> <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel </button>
                <button class="mob_btn1 mob_clear" @click="clear()"> <fa :icon="['fa', 'eraser']"/> &ensp; Clear </button>
                <button class="mob_btn1 mob_done" @click="proceed()"> <fa :icon="['fa', 'check-circle']" /> &ensp; Save </button>
            </div>

            <!-- LOADER -->
            <div class="mob_act_foot" v-show="loader == true">
                <b-spinner small variant="warning" type="grow"></b-spinner> &emsp;
                <div class="mob_note">
                    Processing action, please wait...
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
import axios from "axios";

export default {
data() {
    return {
        done: false,
        erro: false,
        loader: false,
        errMsg: "",
        msg: "",
        notifData: [],
        open_pos_list: false,
        ch_posID: "",
        ch_pos: "Choose position",
        optionsPos: [],
    }
},
methods: {
    hide() {
        console.log("Hide");
        // SET TO DEFAULT: ACTIONS BUTTONS
        this.$store.commit("mob_hide_actions", false);
        // CLOSE MODAL BY PASSING EMPTY STRING
        var none = {
            act_name: "",
            applicant: {}
        }
        this.$store.commit("mob_open_modal", none);
    },
    open_pos() {
        this.open_pos_list = !this.open_pos_list;
    },
    clear() {
        console.log("Clear"); 
        this.ch_posID = "",
        this.ch_pos = "Choose Position";
        this.msg = "";
    },
    proceed() {
        console.log("Proceed"); 
        if(this.ch_posID == "") {
            this.msg = "Please choose a job position to replace the current one";
        }
        else {
            this.msg = "";
            this.loader = true;
            // SETUP DATA FOR NOTIFICATION ALERT
            this.notifData = [];
            let user = localStorage.fname + " " + localStorage.lname;
            let applicantName = this.applicant.name;
            this.notifData.push({
                date: moment(new Date()).format("YYYY-MM-DD"),
                stage: localStorage.actionName.split(" - ")[0],
                actionID: localStorage.actionID,
                actionName: localStorage.actionName.split(" - ")[1],
                action: localStorage.actionName,
                desc: user + " updated " + applicantName + "'s position",
                user: {
                    id: localStorage.id,
                    role: localStorage.role,
                    teamID: localStorage.teamId,
                    deptID: localStorage.deptId,
                    name: localStorage.fname + " " + localStorage.lname
                },
                applicant: {
                    id: this.applicant.id,
                    name: this.applicant.name,
                    position: this.applicant.position,
                    dpetID: this.applicant.deptId
                }
            });
            // ACTION
            var pos = {
                id: this.ch_posID,
                name: this.ch_pos
            };
            this.$store.dispatch("dashboard/updatePosition", {
                token: localStorage.token,
                applicant: this.applicant,
                pos: pos,
                notifData: this.notifData
            });
            // CHECK TOKEN EVERY 3 SEC
            var bomber = setInterval(() => {
                var status = this.doneUpdate;
                console.log(status);
                if(status == "Done") {
                    this.done = true;
                    this.doner();
                    // LOG
                    this.logActivity();
                    clearInterval(bomber);
                }
                else if(status != ""){
                    this.done = false;
                    this.erro = true;
                    this.errMsg = status;
                    this.errorExit();
                    clearInterval(bomber);
                }
            }, 1000);
        }
    },
    chose_pos(position) {
        this.msg = "";
        console.log(position); 
        this.ch_posID = position.id;
        this.ch_pos = position.positionname;
        this.open_pos_list = false;
    },
    getPositions() {
        axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/positions/view`,
            headers: {
                Authorization: `Bearer ${localStorage.token}`
            }}).then(
            res => {
                // console.log("position", res.data);
                this.optionsPos = res.data;
            },
            error => {
                console.log(error);
            }
        );
    },
    doner() {
        setTimeout(() => {
            this.hide();
            this.loader = false;
            this.done = false;
            this.ch_posID = "";
            this.ch_pos = "Choose position";
            this.optionsPos = [];
            location.reload();
        }, 3000);
    },
    errorExit() {
        setTimeout(() => {
            this.loader = false;
            this.erro = false;
        }, 3000);
    },
    logActivity() {
        this.$store.dispatch("activityLogsAction", {
            token: localStorage.token,
            module: "Applicant Stages",
            table_affected: "Users",
            activity: `Updated position of applicant: ${this.applicant.name}`
        });
    },
},
created() {
    this.getPositions();
},
computed: {
    ...mapGetters({doneUpdate: "dashboard/doneUpdate"}),
    applicant() {
        return this.$store.state.mob_applicant;
    },
},
}
</script>

<style>

</style>