<template>
<div class="mob_act_bg">
        <!-- SHOW IF DONE -->
        <div class="mob_act_done" v-show="done == true">
            <div class="mob_act_done_icon">
                <fa :icon="['fa', 'check']" />
            </div>
            <div class="mob_act_done_text">Done!</div>
        </div>
        <!-- ERROR -->
        <!-- <div class="mob_act_err" > -->
        <div class="mob_act_err" v-show="erro == true">
            <div class="mob_act_err_title">Error</div>
            <br>
            <div class="mob_act_err_text">
                Something went wrong <br> {{errMsg}}
            </div>
        </div>

        <!-- SHOW IF NOT DONE -->
        <div class="mob_act_cont" v-show="done == false && erro == false">
            <div class="mob_act_head">
                <div class="mob_act_icon"> <fa :icon="['fa', 'percentage']" /> </div>
                <div class="mob_act_title"> Rate IAF </div>
            </div>
            <div class="mob_act_body">
                <div class="mob_act_panel">
                    <div class="act_panel">
                        <div class="act_title">{{ applicant.name }}</div>
                        <div class="act_sub">{{ applicant.position }}</div>
                    </div>
                </div>
                <!-- RATING MODAL -->
                <div class="mob_act_panel_drawer" v-show="open_rating_modal">
                    <div class="mob_act_panel_name2" style="text-align: center">{{rateTO_N}} </div>
                    <div class="mob_list_scroll">
                        <button class="mob_list" @click="ratings(1)">Excellent</button>
                        <button class="mob_list" @click="ratings(2)">Very Good</button>
                        <button class="mob_list" @click="ratings(3)">Good</button>
                        <button class="mob_list" @click="ratings(4)">Fair</button>
                        <button class="mob_list" @click="ratings(5)">Poor</button>
                    </div>
                </div>
                <div class="mob_act_body_scroll">       
                    <div class="mob_act_panel">
                        <!-- COMMUNICATION SKILLS -->
                        <div class="mob_act_panel_name2">Communcation Skill: </div>
                        <div class="mob_act_panel_row">
                            <div class="mob_act_panel_col">
                                <div :class="`mob_act_panel_select ${rate_communications != 'Choose Rating' ? 'text_green':''}`" @click="open_rating(1)" >
                                    {{ rate_communications }}
                                </div>
                            </div>
                            <div class="mob_act_panel_col">
                                <input type="text" class="mob_act_input" v-model="remarks_communications" placeholder="Remarks"/>
                            </div>
                        </div>
                        <!-- DEMONSTRADED CONFIDENCE -->
                        <div class="mob_act_panel_name2">Demonstrated Confidence: </div>
                        <div class="mob_act_panel_row">
                            <div class="mob_act_panel_col">
                                <div :class="`mob_act_panel_select ${rate_confidence != 'Choose Rating' ? 'text_green':''}`" @click="open_rating(2)">
                                    {{ rate_confidence }}
                                </div>
                            </div>
                            <div class="mob_act_panel_col">
                                <input type="text" class="mob_act_input" v-model="remarks_confidence" placeholder="Remarks"/>
                            </div>
                        </div>
                        <!-- PHYSICAL APPEARANCE -->
                        <div class="mob_act_panel_name2">Physical Appearance: </div>
                        <div class="mob_act_panel_row">
                            <div class="mob_act_panel_col">
                                <div :class="`mob_act_panel_select ${rate_appearance != 'Choose Rating' ? 'text_green':''}`" @click="open_rating(3)" >
                                    {{ rate_appearance }}
                                </div>
                            </div>
                            <div class="mob_act_panel_col">
                                <input type="text" class="mob_act_input" v-model="remarks_appearance" placeholder="Remarks"/>
                            </div>
                        </div>
                        <!-- KNOWLEDGE AND SKILLS -->
                        <div class="mob_act_panel_name2">Knowledge &amp; Skills: </div>
                        <div class="mob_act_panel_row">
                            <div class="mob_act_panel_col">
                                <div :class="`mob_act_panel_select ${rate_knowledge != 'Choose Rating' ? 'text_green':''}`" @click="open_rating(4)" >
                                    {{ rate_knowledge }}
                                </div>
                            </div>
                            <div class="mob_act_panel_col">
                                <input type="text" class="mob_act_input" v-model="remarks_knowledge" placeholder="Remarks"/>
                            </div>
                        </div>

                        <div class="mob_act_panel_row">
                            <div class="mob_act_panel_col">
                                <div class="mob_act_panel_name2">Asking Rate: </div>
                                <input type="text" class="mob_act_input" v-model="othr_asking_rate" placeholder="Asking Rate"/>
                            </div>
                            <div class="mob_act_panel_col">
                                <div class="mob_act_panel_name2">Availability: </div>
                                <input type="text" class="mob_act_input" v-model="othr_availability" placeholder="Availability"/>
                            </div>
                        </div>
                        <div class="mob_act_panel_row">
                            <div class="mob_act_panel_col">
                                <div class="mob_act_panel_name2">General Remarks </div>
                                <input type="text" class="mob_act_input" v-model="othr_general_remarks" placeholder="General Remarks"/>
                            </div>
                            <div class="mob_act_panel_col">
                                <div class="mob_act_panel_name2">Others: </div>
                                <input type="text" class="mob_act_input" v-model="othr_others" placeholder="Availability"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_note">
                        By clicking "Save", all the data you inputted will be reflected to the applicant's <b>Individual Assessment Form</b>. <br>Please proceed with caution.
                    </div>

                    <div class="mob_note_red" v-show="msg">{{ msg }}</div>
                </div>
            </div>
            <div class="mob_act_foot" v-show="loader == false">
                <button class="mob_btn1 mob_cancel" @click="hide()"> <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel </button>
                <button class="mob_btn1 mob_done" @click="proceed()"> <fa :icon="['fa', 'check-circle']" /> &ensp; Endorse </button>
            </div>

            <!-- LOADER -->
            <div class="mob_act_foot" v-show="loader == true">
                <b-spinner small variant="warning" type="grow"></b-spinner> &emsp;
                <div class="mob_note">
                    Processing action, please wait...
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";

export default {
data() {
    return {
        done: false,
        erro: false,
        loader: false,
        errMsg: "",
        msg: "",
        open_rating_modal: false,
        rate_communications: "Choose Rating",
        rate_confidence: "Choose Rating",
        rate_appearance: "Choose Rating",
        rate_knowledge: "Choose Rating",
        remarks_communications: "",
        remarks_confidence: "",
        remarks_appearance: "",
        remarks_knowledge: "",
        othr_asking_rate: "",
        othr_availability: "",
        othr_general_remarks: "",
        othr_others: "",
        rateTO: "",
        rateTO_N: "",
        notifData: [],
        final_ratings: [
        {
            user_id_applicant: "",
            date_interview: "",
            communication_skills: "",
            communication_skills_note: "",
            confidence: "",
            confidence_note: "",
            physical_appearance: "",
            physical_appearance_note: "",
            knowledge_skills: "",
            knowledge_skills_note: "",
            asking_rate: "",
            availability: "",
            others: "",
            gen_remarks_recommendations: "",
            user_id_interviewer: ""
            }
        ],
    }
},
methods: {
    open_rating(rateFor) {
        this.open_rating_modal = true;
        this.rateTO = rateFor;
        if(rateFor == 1) {
            this.rateTO_N = "Communications Skill"; 
            console.log("Communications Skill", this.rateTO);
        }
        else if(rateFor == 2) {
            console.log("Demonstrated Confidence", this.rateTO);
            this.rateTO_N = "Demonstrated Confidence"; 
        }
        else if(rateFor == 3) {
            console.log("Physical Appearance", this.rateTO);
            this.rateTO_N = "Physical Appearance"; 
        }
        else if(rateFor == 4) {
            console.log("Knowledge and Skills", this.rateTO);
            this.rateTO_N = "Knowledge and Skills"; 
        }
    },
    ratings(rate) {
        if(rate == 1) {
            var rating = "Excellent";
        }
        else if(rate == 2) {
            var rating = "Very Good";
        }
        else if(rate == 3) {
            var rating = "Good";
        }
        else if(rate == 4) {
            var rating = "Fair";
        }
        else if(rate == 5) {
            var rating = "Poor";
        }
        this.finalRate(rating);
    },
    finalRate(rating) {
        if(this.rateTO == 1) {
            this.rate_communications = rating;
        }
        else if(this.rateTO == 2) {
            this.rate_confidence = rating;
        }
        else if(this.rateTO == 3) {
            this.rate_appearance = rating;
        }
        else if(this.rateTO == 4) {
            this.rate_knowledge = rating;
        }
        // console.log(this.rateTO);
        // console.log(rating);
        // console.log("====================================");
        // console.log(this.rate_communications);
        // console.log(this.rate_confidence);
        // console.log(this.rate_appearance);
        // console.log(this.rate_knowledge);
        // console.log("====================================");

        this.open_rating_modal = false;
    },
    hide() {
        // SET TO DEFAULT: ACTIONS BUTTONS
        this.$store.commit("mob_hide_actions", false);
        // CLOSE MODAL BY PASSING EMPTY STRING
        var none = {
            act_name: "",
            applicant: {}
        }
        this.$store.commit("mob_open_modal", none);
        this.msg = "";
    },
    proceed() {
        this.msg = "";
        console.log("Proceed");
        if(this.rate_communications == "Choose Rating") {
            this.msg = "Please rate the applicant's communincation skill";
        }
        else if(this.rate_confidence == "Choose Rating") {
            this.msg = "Please rate the applicant's demonstrated confidence";
        }
        else if(this.rate_appearance == "Choose Rating") {
            this.msg = "Please rate the applicant's physical appearance";
        }
        else if(this.rate_knowledge == "Choose Rating") {
            this.msg = "Please rate the applicant's knowledge & skills";
        }
        else if(this.othr_asking_rate == "") {
            this.msg = "Please fill in the asking rate";
        }
        else if(this.othr_availability == "") {
            this.msg = "Please fill in the availabilty";
        }
        else if(this.othr_general_remarks == "") {
            this.msg = "Please fill in the general remarks";
        }
        else if(this.othr_others == "") {
            this.msg = "Please fill in the 'others' field";
        }
        else {
            // Asking Rate
            this.final_ratings[0].asking_rate = this.othr_asking_rate;

            // Availability
            this.final_ratings[0].availability = this.othr_availability;

            // Others
            this.final_ratings[0].others = this.othr_others;

            // General Remark/Recommendation
            this.final_ratings[0].gen_remarks_recommendations = this.othr_general_remarks;

            // Interview Date
            this.final_ratings[0].date_interview = moment(new Date()).format("YYYY-MM-DD");

            // Applicant ID
            this.final_ratings[0].user_id_applicant = this.applicant.id;

            // User ID / Interviewer ID
            this.final_ratings[0].user_id_interviewer = localStorage.id;

            // Communication skills
            this.final_ratings[0].communication_skills = this.rate_communications;
            this.final_ratings[0].communication_skills_note = this.remarks_communications;

            // Condidence
            this.final_ratings[0].confidence = this.rate_confidence;
            this.final_ratings[0].confidence_note = this.remarks_confidence;

            // Appearance
            this.final_ratings[0].physical_appearance = this.rate_appearance;
            this.final_ratings[0].physical_appearance_note = this.remarks_appearance;

            // Knowledge
            this.final_ratings[0].knowledge_skills = this.rate_knowledge;
            this.final_ratings[0].knowledge_skills_note = this.remarks_knowledge;

            this.msg = "";
            this.loader = true;
            // SETUP DATA FOR NOTIFICATION ALERT
            this.notifData = [];
            let user = localStorage.fname + " " + localStorage.lname;
            let applicantName = this.applicant.name;
            this.notifData.push({
                date: moment(new Date()).format("YYYY-MM-DD"),
                stage: localStorage.actionName.split(" - ")[0],
                actionID: localStorage.actionID,
                actionName: localStorage.actionName.split(" - ")[1],
                action: localStorage.actionName,
                desc: user + " rated " + applicantName + "'s Assessment Form",
                user: {
                    id: localStorage.id,
                    role: localStorage.role,
                    teamID: localStorage.teamId,
                    deptID: localStorage.deptId,
                    name: localStorage.fname + " " + localStorage.lname
                },
                applicant: {
                    id: this.applicant.id,
                    name: this.applicant.name,
                    position: this.applicant.position,
                    dpetID: this.applicant.deptId
                }
            });

            console.log(this.final_ratings);
            console.log(this.notifData);

            // ACTION
            var token = localStorage.token;
            this.$store.dispatch("dashboard/rateIAF", {
                token: token,
                applicant: this.applicant,
                rating: this.final_ratings,
                notifData: this.notifData
            });

            // CHECK TOKEN EVERY 3 SEC
            var bomber = setInterval(() => {
                var status = this.doneRate;
                console.log(status);
                if(status == "Done") {
                    this.done = true;
                    this.doner();
                    // LOG
                    this.logActivity();

                    clearInterval(bomber);
                }
                else if(status != ""){
                    this.done = false;
                    this.erro = true;
                    this.errMsg = status;
                    this.errorExit();
                    clearInterval(bomber);
                }
            }, 1000);
        }
    },
    doner() {
        setTimeout(() => {
            this.hide();
            this.loader = false;
            // this.done = false;
            this.rate_communications = "Choose Rating",
            this.rate_confidence = "Choose Rating",
            this.rate_appearance = "Choose Rating",
            this.rate_knowledge = "Choose Rating",
            this.remarks_communications = "",
            this.remarks_confidence = "",
            this.remarks_appearance = "",
            this.remarks_knowledge = "",
            this.othr_asking_rate = "",
            this.othr_availability = "",
            this.othr_general_remarks = "",
            this.othr_others = "",
            this.final_ratings = [
                {
                    user_id_applicant: "",
                    date_interview: "",
                    communication_skills: "",
                    communication_skills_note: "",
                    confidence: "",
                    confidence_note: "",
                    physical_appearance: "",
                    physical_appearance_note: "",
                    knowledge_skills: "",
                    knowledge_skills_note: "",
                    asking_rate: "",
                    availability: "",
                    others: "",
                    gen_remarks_recommendations: "",
                    user_id_interviewer: ""
                }
            ];
            location.reload();
        }, 3000);
    },
    errorExit() {
        setTimeout(() => {
            this.loader = false;
            this.erro = false;
        }, 3000);
    },
    logActivity() {
        this.$store.dispatch("activityLogsAction", {
            token: localStorage.token,
            module: "Applicant Stages",
            table_affected: "Users",
            activity: `Rated IAF of applicant: ${this.applicant.name}`
        });
    },
},
computed: {
    ...mapGetters({ doneRate: "dashboard/doneRate" }),
    applicant() {
        return this.$store.state.mob_applicant;
    },
}
}
</script>

<style>

</style>