<template>
    <div class="mob_act_bg">
        <!-- SHOW IF DONE -->
        <div class="mob_act_done" v-show="done == true">
            <div class="mob_act_done_icon">
                <fa :icon="['fa', 'check']" />
            </div>
            <div class="mob_act_done_text">Done!</div>
        </div>
        <!-- ERROR -->
        <!-- <div class="mob_act_err" > -->
        <div class="mob_act_err" v-show="erro == true">
            <div class="mob_act_err_title">Error</div>
            <br>
            <div class="mob_act_err_text">
                Something went wrong <br> {{errMsg}}
            </div>
        </div>
        <!-- SHOW IF NOT DONE -->
        <div class="mob_act_cont" v-show="done == false && erro == false">
            <div class="mob_act_head">
                <div class="mob_act_icon"> <fa :icon="['fa', 'people-arrows']" /> </div>
                <div class="mob_act_title"> Endorse to other Department </div>
            </div>
            <div class="mob_act_panel">
                    <div class="act_panel">
                    <div class="act_title">{{ applicant.name }}</div>
                    <div class="act_sub">{{ applicant.position }}</div>
                </div>
            </div>
            <div class="mob_act_body">
                <div class="mob_act_panel">
                    <div class="mob_act_panel_name">Department: </div>
                    <div :class="`mob_act_panel_select ${ch_depID != '' ? 'text_green':''}`" @click="open_dept()" >
                        {{ ch_dep }}
                    </div>
                </div>
                <!-- DEPARTMENTS LIST -->
                <div class="mob_act_panel_drawer" v-show="open_dept_list">
                    <div class="mob_list_scroll">
                        <button class="mob_list" v-for="(dept, d) in optionsDept" :key="'d'+d" @click="chose_dep(dept)">
                            {{ dept.name }}
                        </button>
                    </div>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_act_panel_name">Position: </div>
                    <div :class="`mob_act_panel_select ${ch_posID != '' ? 'text_green':''}`" @click="open_pos()">
                        {{ ch_pos }}
                    </div>
                </div>
                <!-- POSITIONS LIST -->
                <div class="mob_act_panel_drawer" v-show="open_pos_list">
                    <div class="mob_list_scroll">
                        <div v-if="optionsPos == 'No Data'" class="mob_list">
                            No positions under {{ch_dep}}
                        </div>
                        <button v-else class="mob_list" v-for="(pos, p) in optionsPos" :key="'p'+p" @click="chose_pos(pos)">
                            {{ pos.name }}
                        </button>
                    </div>
                </div>
                <div class="mob_act_panel">
                    <div class="mob_note">By clicking "Endorse", the applicant's
                    <b>position will be changed</b> with the one you selected. Please
                    proceed with caution.</div>

                    <div class="mob_note_red" v-show="msg">{{ msg }}</div>
                </div>
            </div>
            <div class="mob_act_foot" v-show="loader == false">
                <button class="mob_btn1 mob_cancel" @click="hide()"> <fa :icon="['fa', 'times-circle']"/> &ensp; Cancel </button>
                <button class="mob_btn1 mob_clear" @click="clear()"> <fa :icon="['fa', 'eraser']"/> &ensp; Clear </button>
                <button class="mob_btn1 mob_done" @click="proceed()"> <fa :icon="['fa', 'check-circle']" /> &ensp; Endorse </button>
            </div>

            <!-- LOADER -->
            <div class="mob_act_foot" v-show="loader == true">
                <b-spinner small variant="warning" type="grow"></b-spinner> &emsp;
                <div class="mob_note">
                    Processing, please wait...
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import { mapGetters } from "vuex";

export default {
    data() {
        return {
            ch_dep: "Select Department",
            ch_depID: "",
            ch_pos: "Select position",
            ch_posID: "",
            loader: false,
            done: false,
            erro: false,
            open_dept_list: false,
            open_pos_list: false,
            notifData: [],
            msg: "",
            errMsg: "",
        }
    },
    methods: {
        tapos(data) {
            console.log(data);
        },
        open_dept() {
            this.msg = "";
            this.open_pos_list = false;
            this.open_dept_list = true;
        },
        open_pos() {
            this.msg = "";
            this.open_pos_list = true;
            this.open_dept_list = false;
        },
        chose_pos(pos) {
            this.open_pos_list = false;
            // console.log(pos);
            this.ch_pos = pos.name;
            this.ch_posID = pos.id;
        },
        chose_dep(dept) {
            this.open_dept_list = false;
            // SET DEPARTMENT
            this.ch_dep = dept.name;
            this.ch_depID = dept.id;
            // RESET POSITION
            this.ch_pos = "Choose Position";
            this.ch_posID = "";
            // GET LIST OF POSITIONS UNDER TEH CHOSEN DEPARTMENT
            var temp = [];
            temp.push({ id: dept.id, token: localStorage.token });
            // VIEW POSITIONS BY DEPARTMENT
            this.$store.dispatch("viewPositionsByDept", { data: temp });
        },
        hide() {
            // SET TO DEFAULT: ACTIONS BUTTONS
            this.$store.commit("mob_hide_actions", false);
            // CLOSE MODAL BY PASSING EMPTY STRING
            var none = {
                act_name: "",
                applicant: {}
            }
            this.$store.commit("mob_open_modal", none);
            this.clear();
        },
        clear() {
            this.msg = "";
            this.loader = false;
            this.done = false;
            this.ch_dep = "Select Department",
            this.ch_depID = "";
            this.ch_pos = "Select Position",
            this.ch_posID = "";
        },
        proceed() {
            // SETUP DATA FOR NOTIFICATION ALERT
            this.notifData = [];
            let user = localStorage.fname + " " + localStorage.lname;
            let applicantName = this.applicant.name;
            this.notifData.push({
                date: moment(new Date()).format("YYYY-MM-DD"),
                stage: localStorage.actionName.split(" - ")[0],
                actionID: localStorage.actionID,
                actionName: localStorage.actionName.split(" - ")[1],
                action: localStorage.actionName,
                desc: user + " endorsed " + applicantName + " to other department",
                user: {
                    id: localStorage.id,
                    role: localStorage.role,
                    teamID: localStorage.teamId,
                    deptID: localStorage.deptId,
                    name: localStorage.fname + " " + localStorage.lname
                },
                applicant: {
                    id: this.applicant.id,
                    name: this.applicant.name,
                    position: this.applicant.position,
                    dpetID: this.applicant.deptId
                }
            });

            // console.log(this.notifData);

            if(this.ch_depID == "") {
                this.msg = "Please select a department first."
            }
            else if(this.ch_posID == "") {
                this.msg = "Please select a position first."
            }
            else {
                this.loader = true;
                // this.done = true;
                // ACTION
                this.$store.dispatch("dashboard/endorseToOtherDepartment", {
                    token: localStorage.token,
                    applicant: this.applicant,
                    pos: this.ch_posID,
                    notifData: this.notifData
                });
                this.note = "Saving, please wait...";
                // if(this.done == true) {
                //     setTimeout(() => {
                //         this.hide();
                //         this.loader = false;
                //         this.done = false;
                //         this.ch_dep = "Select Department",
                //         this.ch_depID = "";
                //         this.ch_pos = "Select Position",
                //         this.ch_posID = "";
                //     }, 2000);
                // }
                // CHECK TOKEN EVERY 3 SEC
                var bomber = setInterval(() => {
                    var status = this.doneEndorseToDep;
                    console.log(status);
                    if(status == "Done") {
                        this.done = true;
                        this.doner();

                        if (this.applicant.position) { 
                            // DO NOTHING
                        } 
                        else {
                            this.emailReceived(this.applicant.id);
                        }
                        this.logActivity();

                        clearInterval(bomber);
                    }
                    else if(status != ""){
                        this.done = false;
                        this.erro = true;
                        this.errMsg = status;
                        this.errorExit();
                        clearInterval(bomber);
                    }
                }, 1000);
            }
        },
        doner() {
            setTimeout(() => {
                this.hide();
                this.loader = false;
                // this.done = false;
                this.ch_dep = "Select Department",
                this.ch_depID = "";
                this.ch_pos = "Select Position",
                this.ch_posID = "";
                location.reload();
            }, 3000);
        },
        errorExit() {
            setTimeout(() => {
                this.loader = false;
                this.erro = false;
                this.ch_dep = "Select Department",
                this.ch_depID = "";
                this.ch_pos = "Select Position",
                this.ch_posID = "";
            }, 3000);
        },
        logActivity() {
            this.$store.dispatch("activityLogsAction", {
                token: localStorage.token,
                module: "Applicant Stages",
                table_affected: "Users",
                activity: `Endorsed to other department: ${this.applicant.name}`
            });
        },
        emailReceived(applicantID) {
            axios({
                method: "POST",
                url: `${this.$axios.defaults.baseURL}/email/applicant/${applicantID}/received`,
                headers: { Authorization: `Bearer ${localStorage.token}` }
            }).then(result => {
                // DO NOTHING
            });
        },
    },
    computed: {
        ...mapGetters({ doneEndorseToDep: "dashboard/doneEndorseToDep" }),
        applicant() {
            return this.$store.state.mob_applicant;
        },
        optionsPos() {
            var temp = this.$store.getters.viewPositionsByDept;
            if(temp.length > 0) { return temp; }
            else { return 'No Data'; }
        },
        optionsDept() {
            var temp = this.$store.getters.viewAllDept;
            if(temp.length > 0) { return temp; }
            else { return 'No Data'; }
        },
    }
}
</script>

<style>

</style>