<template>
    <div class="moduleContainer">
        <div class="moduleName">Activity Logs</div>
        <div class="tabSize" ref="tabsizer">
        <button
            v-for="(tab, i) in tabs"
            :key="i"
            :class="'tab ' + (tab.id == chosenTabs ? 'activeTab' : '')"
            @click="chooseTab(i, tab.id, tab.name)"
            >
            {{ tab.name }}

            </button>
        </div>
        
        <UserActivity v-show="chosenTabs == 1"/>
        <UserLogs v-show="chosenTabs == 2"/>
    </div>
</template>

<script>
import UserLogs from "../../../components/Activity_logs/user_logs.vue";
import UserActivity from "../../../components/Activity_logs/user_activity.vue";
export default {
    layout: "sideBar",
    components: {
        UserLogs,
        UserActivity
    },
    data() {
        return {
            token: "",
            chosenTab: "",
            actionData: "",
            chosenTabs: 1,
            tabs: [
                {
                    id: 1,
                    name: "Notifications"
                },
                {
                    id: 2,
                    name: "User Logs"
                }
            ],
        }
    },
    methods: {
        chooseTab(ind, id, name){
            this.chosenTabs = id;

            // GET ACCESS RIGHTS
            this.token = localStorage.token;
            this.modulez =  null;
            this.accessRights = [];
            // this.getAccessRights(this.token);
        },
    },
    created() {
        // SET DEFAULT OPEN TAB IN SIDEBAR
        if (localStorage.activeN) {
          var open = [];
          open.push({ id: 2, subID: 2.7, colID: "collapse-adminAccess", open: false });
          this.$store.commit("openPage", open);
        }

        // ADD TO doneLoader STATE
        this.$store.commit("doneLoad", 13);
    }
    
}
</script>

<style scoped lang="scss">

</style>